USE [iNuvio001]
GO
/****** Object:  UserDefinedFunction [dbo].[EF_OdZacatkuFiskalu]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ======================================================
-- Author:		Aleš Vintrlík
-- CREATE date: 18.12.2022
-- Description:	Výsledek funkce vrací den od začátku roku
-- ======================================================

CREATE     FUNCTION [dbo].[EF_OdZacatkuFiskalu]()
RETURNS INT
AS
BEGIN
    DECLARE @Den INT;
    DECLARE @Mesic INT;

	SELECT TOP 1
		@Den = DatumOd_D, @Mesic = DatumOd_M        
    FROM TabObdobi
    WHERE Uzavreno != 1 AND DatumOd < GETDATE()
    ORDER BY DatumDo DESC;

	RETURN DATEDIFF(DAY,CONCAT(@Mesic,'.',@Den,'.',DATEPART(YEAR,GETDATE())),GETDATE())
END
GO
