USE [iNuvio001]
GO
/****** Object:  UserDefinedFunction [dbo].[EF_RokPodleData]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[EF_RokPodleData] (@Datum DATETIME)
RETURNS VARCHAR(20)
AS
BEGIN
    DECLARE @Vysledek VARCHAR(20);
	DECLARE @PocetDniOdZacatku INT;

	-- Získání počtu dní od začátku fiskálního roku
	SET @PocetDniOdZacatku = dbo.EF_OdZacatkuFiskalu();

    -- Vyhledání aktuálního fiskálního roku
    DECLARE @AktualniOd DATETIME;
    DECLARE @AktualniDo DATETIME;

    SELECT TOP 1
        @AktualniOd = DatumOd,
        @AktualniDo = DATEADD(DAY, @PocetDniOdZacatku, DatumOd)
    FROM TabObdobi
    WHERE Uzavreno != 1 AND DatumOd < GETDATE()
    ORDER BY DatumDo DESC;

    -- Vyhledání předchozího fiskálního roku
    DECLARE @PredchoziOd DATETIME;
    DECLARE @PredchoziDo DATETIME;

    SELECT TOP 1
        @PredchoziOd = DatumOd,
        @PredchoziDo = DATEADD(DAY, @PocetDniOdZacatku, DatumOd)
    FROM TabObdobi
    WHERE @AktualniOd > DatumDo
    ORDER BY DatumDo DESC;

    -- Určení výsledku
    IF @Datum BETWEEN @AktualniOd AND @AktualniDo
        SET @Vysledek = 'Aktuální rok';
    ELSE IF @Datum BETWEEN @PredchoziOd AND @PredchoziDo
        SET @Vysledek = 'Předchozí rok';
    ELSE
        SET @Vysledek = NULL;

    RETURN @Vysledek;
END;
GO
