USE [iNuvio001]
GO
/****** Object:  UserDefinedFunction [dbo].[ef_DruhPohybuZbo]    Script Date: 08.01.2026 6:20:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[ef_DruhPohybuZbo](@DruhPohybuZbo INT)
RETURNS NVARCHAR(100)
AS
BEGIN
    DECLARE @Nazev NVARCHAR(100);

    SET @Nazev = CASE @DruhPohybuZbo
        WHEN 0 THEN N'Příjem na sklad'
        WHEN 1 THEN N'Storno příjmu'
        WHEN 2 THEN N'Výdej ze skladu'
        WHEN 3 THEN N'Storno výdeje'
        WHEN 4 THEN N'Výdej v evid. ceně'
        WHEN 5 THEN N'Průbežka'
        WHEN 6 THEN N'Vydaná objednávka'
        WHEN 7 THEN N'Reklamace dod'
        WHEN 8 THEN N'Reklamace odb'
        WHEN 9 THEN N'Expediční příkaz'
        WHEN 10 THEN N'Rezervace'
        WHEN 11 THEN N'Nabídka'
        WHEN 12 THEN N'Sestava'
        WHEN 13 THEN N'Faktura vydaná'
        WHEN 14 THEN N'Dobropis vydaný'
        WHEN 15 THEN N'Dopravní služby'
        WHEN 16 THEN N'Výdaj z pokladny'
        WHEN 17 THEN N'Příjem do pokladny'
        WHEN 18 THEN N'Faktura přijatá'
        WHEN 19 THEN N'Dobropis přijatý'
        WHEN 20 THEN N'Majetek-účetní pohyby'
        WHEN 21 THEN N'Účetní deník'
        WHEN 22 THEN N'Mzdy'
        WHEN 23 THEN N'Majetek-umístění'
        WHEN 24 THEN N'Celní sklad - Příjem na sklad'
        WHEN 25 THEN N'Celní sklad - Storno příjmu'
        WHEN 26 THEN N'Celní sklad - Výdej ze skladu'
        WHEN 27 THEN N'Celní sklad - Storno výdeje'
        WHEN 28 THEN N'Saldokonto-kurz.rozdíl k úhradě'
        WHEN 29 THEN N'Saldokonto-kurz.rozdíl k bil.dni'
        WHEN 30 THEN N'Pokladní prodej'
        WHEN 31 THEN N'ŘV - Výdej materiálu'
        WHEN 32 THEN N'ŘV - Výdej polotovaru'
        WHEN 33 THEN N'ŘV - Evidence oper. kmen. střediska'
        WHEN 34 THEN N'ŘV - Evidence oper. jiného střediska'
        WHEN 35 THEN N'ŘV - Evidence kooperací'
        WHEN 36 THEN N'ŘV - Ostatní přímé náklady'
        WHEN 37 THEN N'ŘV - Odvedení na sklad'
        WHEN 38 THEN N'ŘV - Odvedení vedlejšího produktu'
        WHEN 39 THEN N'ŘV - Odvedení do zmetků'
        WHEN 40 THEN N'ŘV - Odvedení do úbytku'
        WHEN 41 THEN N'ŘV - Příjem do nadříz. výr. příkazu'
        WHEN 42 THEN N'ŘV - Odvedení z podříz. výr. příkazu'
        WHEN 56 THEN N'ŘV - Inventurní narovnání'
        WHEN 43 THEN N'Saldokonto-dorovnání setin měny'
        WHEN 44 THEN N'Stav účtu - kurzový rozdíl'
        WHEN 45 THEN N'Penalizační faktury'
        WHEN 46 THEN N'Timesheet'
        WHEN 47 THEN N'Expensheet'
        WHEN 48 THEN N'Kartové centrum'
        WHEN 49 THEN N'Dodatečné související náklady'
        WHEN 50 THEN N'Období DPH'
        WHEN 51 THEN N'Zádržné'
        WHEN 52 THEN N'Opravné položky'
        WHEN 53 THEN N'Došlé objednávky'
        WHEN 54 THEN N'Saldokonto-přeúčtování'
        WHEN 55 THEN N'Leasing'
        WHEN 57 THEN N'Výrobní plán'
        WHEN 58 THEN N'Výrobní příkaz'
        WHEN 59 THEN N'MOSS/OSS'
        WHEN 60 THEN N'Saldokonto-úhrada faktury'
        WHEN 61 THEN N'Saldokonto-srážková daň'
        WHEN 62 THEN N'Proj - Výkaz práce'
        WHEN 63 THEN N'Proj - Výkaz nákladů (nepers. zdroj)'
        WHEN 64 THEN N'Proj - Výkaz nákladů (mat. zdroj)'
        WHEN 65 THEN N'Proj - Odvedení nákladů'
        WHEN 66 THEN N'Proj - Odvedení do úbytku'
        WHEN 67 THEN N'Hlavička aktivity'
        WHEN 68 THEN N'Položka aktivity'
        WHEN 69 THEN N'Kooperační objednávka'
        ELSE N'Neznámý pohyb'
    END;

    RETURN @Nazev;
END;
GO
