USE [iNuvio001]
GO
/****** Object:  Table [dbo].[Tabx_StavyPrechodyServis]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabx_StavyPrechodyServis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Zdroj] [int] NOT NULL,
	[Cil] [int] NOT NULL,
	[Autor] [nvarchar](128) NOT NULL,
	[DatPorizeni] [datetime] NOT NULL,
	[Zmenil] [nvarchar](128) NULL,
	[DatZmeny] [datetime] NULL,
	[BlokovaniEditoru] [smallint] NULL,
 CONSTRAINT [PK__Tabx_StavyPrechodyServis__Zdroj__Cil] PRIMARY KEY CLUSTERED 
(
	[Zdroj] ASC,
	[Cil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tabx_StavyPrechodyServis] ADD  CONSTRAINT [DF__Tabx_StavyPrechodyServis__Autor]  DEFAULT (suser_sname()) FOR [Autor]
GO
ALTER TABLE [dbo].[Tabx_StavyPrechodyServis] ADD  CONSTRAINT [DF__Tabx_StavyPrechodyServis__DatPorizeni]  DEFAULT (getdate()) FOR [DatPorizeni]
GO
