USE [iNuvio001]
GO
/****** Object:  Table [dbo].[Tabx_ZakazkyNakladyZisk]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabx_ZakazkyNakladyZisk](
	[ZakazkaID] [int] NULL,
	[Stav] [tinyint] NULL,
	[CisloZakazky] [nvarchar](50) NULL,
	[NadrizenaZakazka] [nvarchar](50) NULL,
	[Zarizeni] [nvarchar](100) NULL,
	[UkonceniVyroby] [datetime] NULL,
	[ProdejniCenaCZK] [float] NULL,
	[PlNaklMat] [float] NULL,
	[PlNaklMzdy] [float] NULL,
	[PlNaklKoop] [float] NULL,
	[PlNaklOst] [float] NULL,
	[SkNaklMat] [float] NULL,
	[SkNaklMzdy] [float] NULL,
	[SkNaklRez] [float] NULL,
	[SkNaklMzdyVcRez] [float] NULL,
	[SkNaklKoop] [float] NULL,
	[SkNaklOst] [float] NULL,
	[ZbNaklMat] [float] NULL,
	[ZbNaklKoop] [float] NULL,
	[UkonceniVyrobyRok]  AS (datepart(year,[UkonceniVyroby])),
	[UkonceniVyrobyMesic]  AS (datepart(month,[UkonceniVyroby])),
	[BilanceMat]  AS ([PlNaklMat]-([SkNaklMat]+[ZbNaklMat])),
	[BilanceMzdy]  AS ([PlNaklMzdy]-[SkNaklMzdyVcRez]),
	[BilanceKooperace]  AS ([PlNaklKoop]-([SkNaklKoop]+[ZbNaklKoop])),
	[BilanceCelkem]  AS (((([PlNaklMat]+[PlNaklMzdy])+[PlNaklKoop])+[PlNaklOst])-(((((([SkNaklMat]+[SkNaklMzdy])+[SkNaklRez])+[SkNaklKoop])+[SkNaklOst])+[ZbNaklMat])+[ZbNaklKoop])),
	[PlNaklCelkem]  AS ((([PlNaklMat]+[PlNaklMzdy])+[PlNaklKoop])+[PlNaklOst]),
	[SkNaklCelkem]  AS (((((([SkNaklMat]+[SkNaklMzdy])+[SkNaklRez])+[SkNaklKoop])+[SkNaklOst])+[ZbNaklMat])+[ZbNaklKoop]),
	[SkNaklCelkemVcSpravniRezie]  AS ((((((([SkNaklMat]+[SkNaklMzdy])+[SkNaklRez])+[SkNaklKoop])+[SkNaklOst])+[ZbNaklMat])+[ZbNaklKoop])*(1.34)),
	[Zisk]  AS ([ProdejniCenaCZK]-(((((([SkNaklMat]+[SkNaklMzdy])+[SkNaklRez])+[SkNaklKoop])+[SkNaklOst])+[ZbNaklMat])+[ZbNaklKoop])*(1.34)),
	[ZiskProcenta]  AS (case when [ProdejniCenaCZK]>(0) then round((([ProdejniCenaCZK]-(((((([SkNaklMat]+[SkNaklMzdy])+[SkNaklRez])+[SkNaklKoop])+[SkNaklOst])+[ZbNaklMat])+[ZbNaklKoop])*(1.34))/[ProdejniCenaCZK])*(100),(1)) else (0) end)
) ON [PRIMARY]
GO
