USE [iNuvio001]
GO
/****** Object:  Table [dbo].[Tabx_Zakazka_Log]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabx_Zakazka_Log](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ZakazkaID] [int] NOT NULL,
	[OldStatus] [int] NULL,
	[NewStatus] [int] NULL,
	[Autor] [nvarchar](128) NULL,
	[Datum] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tabx_Zakazka_Log] ADD  DEFAULT (getdate()) FOR [Datum]
GO
ALTER TABLE [dbo].[Tabx_Zakazka_Log]  WITH CHECK ADD FOREIGN KEY([ZakazkaID])
REFERENCES [dbo].[TabZakazka] ([ID])
GO
