USE [iNuvio001]
GO
/****** Object:  Table [dbo].[TabxCiselnikInstalaci]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabxCiselnikInstalaci](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MistoInstalace] [nvarchar](100) NOT NULL,
	[Autor] [nvarchar](128) NOT NULL,
	[DatPorizeni] [datetime] NOT NULL,
	[Zmenil] [nvarchar](128) NULL,
	[DatZmeny] [datetime] NULL,
	[BlokovaniEditoru] [smallint] NULL,
 CONSTRAINT [PK__TabxCiselnikInstalaci__ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TabxCiselnikInstalaci] ADD  CONSTRAINT [DF__TabxCiselnikInstalaci__Autor]  DEFAULT (suser_sname()) FOR [Autor]
GO
ALTER TABLE [dbo].[TabxCiselnikInstalaci] ADD  CONSTRAINT [DF__TabxCiselnikInstalaci__DatPorizeni]  DEFAULT (getdate()) FOR [DatPorizeni]
GO
