USE [iNuvio001]
GO
/****** Object:  Table [dbo].[Tabx_Saldo]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabx_Saldo](
	[CisloOrg] [int] NULL,
	[Firma] [nvarchar](255) NULL,
	[Fakturovano] [decimal](18, 2) NULL,
	[Uhrazeno] [decimal](18, 2) NULL,
	[SaldoDokladu] [decimal](18, 2) NULL,
	[Mena] [nvarchar](3) NULL,
	[SaldoOrganizace] [decimal](18, 2) NULL,
	[PrumerneProdleni] [int] NULL,
	[PrumerneProdleniNezaplacenych] [int] NULL,
	[PrumerneProdleniZaplacenych] [int] NULL,
	[AktualniProdleni] [int] NULL,
	[DatumNapoctu] [date] NULL,
	[PovolitVyrobu] [bit] NULL,
	[ProcentoUhrazeno]  AS (CONVERT([int],case when [Fakturovano]=(0) then (0) else ([Uhrazeno]/[Fakturovano])*(100) end))
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tabx_Saldo] ADD  DEFAULT ((0)) FOR [PovolitVyrobu]
GO
