USE [iNuvio001]
GO
/****** Object:  Table [dbo].[Tabx_BlokovaniVyrobyLog]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabx_BlokovaniVyrobyLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[LogTimestamp] [datetime2](3) NOT NULL,
	[ProcedureName] [nvarchar](128) NOT NULL,
	[ZakazkaID] [int] NOT NULL,
	[LogMessage] [nvarchar](512) NOT NULL,
	[LogLevel] [nvarchar](10) NOT NULL,
	[LogUser] [nvarchar](128) NOT NULL,
	[ErrorDetails] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tabx_BlokovaniVyrobyLog] ADD  DEFAULT (sysdatetime()) FOR [LogTimestamp]
GO
ALTER TABLE [dbo].[Tabx_BlokovaniVyrobyLog] ADD  DEFAULT ('Info') FOR [LogLevel]
GO
