USE [iNuvio001]
GO
/****** Object:  Table [dbo].[Tabx_BilanceNakupuVyrobnihoMaterialuNaZakazky]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabx_BilanceNakupuVyrobnihoMaterialuNaZakazky](
	[IDKmenZbozi] [nvarchar](20) NOT NULL,
	[RegCis] [nvarchar](50) NULL,
	[Nazev1] [nvarchar](255) NULL,
	[SkupZbo] [nvarchar](50) NULL,
	[MJEvidence] [nvarchar](10) NULL,
	[Zakazka] [nvarchar](50) NOT NULL,
	[DatumVyroby] [date] NULL,
	[Mnozstvi] [decimal](18, 4) NULL,
	[Skladem] [decimal](18, 4) NULL,
	[ObjednanoDoVyroby] [decimal](18, 4) NULL,
	[VirtualSklad] [decimal](18, 4) NULL,
	[CumulativeMnozstvi] [decimal](18, 4) NULL,
	[TerminPokrytiObjednavkou] [date] NULL,
	[CisloObjednavkyPokryti] [nvarchar](50) NULL,
	[StavPokrytiZakazky] [nvarchar](50) NULL,
	[BarvaPokryti] [nvarchar](10) NULL,
	[ZbyvaPoZakazce] [decimal](18, 4) NULL,
	[KomentarPokryti] [nvarchar](255) NULL,
	[Rozvadec] [bit] NOT NULL,
	[DatumNapoctu] [datetime2](3) NOT NULL,
	[BudePrijato] [decimal](18, 4) NULL,
	[BudeVydano] [decimal](18, 4) NULL,
 CONSTRAINT [PK_Tabx_BilanceNakupuMaterialu] PRIMARY KEY CLUSTERED 
(
	[IDKmenZbozi] ASC,
	[Zakazka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tabx_BilanceNakupuVyrobnihoMaterialuNaZakazky] ADD  DEFAULT ((0)) FOR [Rozvadec]
GO
ALTER TABLE [dbo].[Tabx_BilanceNakupuVyrobnihoMaterialuNaZakazky] ADD  DEFAULT (sysdatetime()) FOR [DatumNapoctu]
GO
