USE [iNuvio001]
GO
/****** Object:  Table [dbo].[Tabx_PropalyPoMesicich]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabx_PropalyPoMesicich](
	[Rok] [int] NOT NULL,
	[Mesic] [int] NOT NULL,
	[Plech] [nvarchar](100) NOT NULL,
	[Pozadovano] [decimal](18, 2) NULL,
	[Realizovano] [decimal](18, 2) NULL,
	[PropalProcento] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Tabx_PropalyPoMesicich] PRIMARY KEY CLUSTERED 
(
	[Rok] ASC,
	[Mesic] ASC,
	[Plech] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Rok_Mesic_Plech] UNIQUE NONCLUSTERED 
(
	[Rok] ASC,
	[Mesic] ASC,
	[Plech] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
