USE [iNuvio001]
GO
/****** Object:  Table [dbo].[Tabx_CisSynt]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabx_CisSynt](
	[CisloSynt] [char](3) NOT NULL,
	[NazevSyntetika] [nvarchar](100) NULL,
	[NazevZjednoduseny] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CisloSynt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
