USE [iNuvio001]
GO
/****** Object:  Table [dbo].[Tabx_PlatebniMoralka]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabx_PlatebniMoralka](
	[CisloFirmy] [int] NOT NULL,
	[Firma] [nvarchar](255) NULL,
	[Trend] [int] NULL,
	[PrProdl_2022] [decimal](18, 2) NULL,
	[MinProdl_2022] [int] NULL,
	[MaxProdl_2022] [int] NULL,
	[Kat_2022] [char](1) NULL,
	[PrProdl_2023] [decimal](18, 2) NULL,
	[MinProdl_2023] [int] NULL,
	[MaxProdl_2023] [int] NULL,
	[Kat_2023] [char](1) NULL,
	[PrProdl_2024] [decimal](18, 2) NULL,
	[MinProdl_2024] [int] NULL,
	[MaxProdl_2024] [int] NULL,
	[Kat_2024] [char](1) NULL,
	[PrProdl_2025] [decimal](18, 2) NULL,
	[MinProdl_2025] [int] NULL,
	[MaxProdl_2025] [int] NULL,
	[Kat_2025] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[CisloFirmy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
