USE [iNuvio001]
GO
/****** Object:  Table [dbo].[TabxKontinent]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabxKontinent](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kontinent] [nvarchar](25) NOT NULL,
	[Continent] [nvarchar](25) NOT NULL,
	[Autor] [nvarchar](128) NOT NULL,
	[DatPorizeni] [datetime] NOT NULL,
	[Zmenil] [nvarchar](128) NULL,
	[DatZmeny] [datetime] NULL,
	[BlokovaniEditoru] [smallint] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TabxKontinent] ADD  CONSTRAINT [DF__TabxKontinent__Autor]  DEFAULT (suser_sname()) FOR [Autor]
GO
ALTER TABLE [dbo].[TabxKontinent] ADD  CONSTRAINT [DF__TabxKontinent__DatPorizeni]  DEFAULT (getdate()) FOR [DatPorizeni]
GO
