USE [iNuvio001]
GO
/****** Object:  Table [dbo].[Tabx_StavyCiselnikServis]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabx_StavyCiselnikServis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDstatus] [int] NOT NULL,
	[Popis] [nvarchar](35) NOT NULL,
	[Autor] [nvarchar](128) NOT NULL,
	[DatPorizeni] [datetime] NOT NULL,
	[Zmenil] [nvarchar](128) NULL,
	[DatZmeny] [datetime] NULL,
	[BlokovaniEditoru] [smallint] NULL,
 CONSTRAINT [PK__Tabx_StavyCiselnikServis__IDstatus] PRIMARY KEY CLUSTERED 
(
	[IDstatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tabx_StavyCiselnikServis] ADD  CONSTRAINT [DF__Tabx_StavyCiselnikServis__Autor]  DEFAULT (suser_sname()) FOR [Autor]
GO
ALTER TABLE [dbo].[Tabx_StavyCiselnikServis] ADD  CONSTRAINT [DF__Tabx_StavyCiselnikServis__DatPorizeni]  DEFAULT (getdate()) FOR [DatPorizeni]
GO
