USE [iNuvio001]
GO
/****** Object:  Table [dbo].[TabxTempZmenaZakazkyVP]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabxTempZmenaZakazkyVP](
	[IDPrikaz] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPrikaz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
