USE [iNuvio001]
GO
/****** Object:  Table [dbo].[Tabx_NormovaneCasyStroju]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabx_NormovaneCasyStroju](
	[IDPostupu] [int] NOT NULL,
	[Alt] [nchar](1) NULL,
	[CisloZakazky] [nvarchar](50) NULL,
	[DruhyNazev] [nvarchar](255) NULL,
	[Nazev1] [nvarchar](255) NULL,
	[Operace] [nvarchar](50) NULL,
	[nazev] [nvarchar](255) NULL,
	[NazevPracoviste] [nvarchar](255) NULL,
	[Tarif] [nvarchar](50) NULL,
	[Vstup_TAC] [numeric](19, 6) NULL,
	[Vstup_TAC_T] [int] NULL,
	[Vstup_TAC_KC] [numeric](19, 6) NULL,
	[vystup_TAC] [numeric](19, 6) NULL,
	[vystup_TAC_T] [int] NULL,
	[vystup_TAC_Obsluhy] [numeric](19, 6) NULL,
	[vystup_TAC_Obsluhy_T] [int] NULL,
	[vystup_TAC_KC] [numeric](19, 6) NULL,
	[vystup_tac_J] [numeric](19, 6) NULL,
	[vystup_tac_J_T] [int] NULL,
	[vystup_tac_Obsluhy_J] [numeric](19, 6) NULL,
	[vystup_tac_Obsluhy_J_T] [int] NULL,
	[vystup_tac_kc_J] [numeric](19, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPostupu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tabx_NormovaneCasyStroju]  WITH CHECK ADD  CONSTRAINT [CHK_Tabx_NormovaneCasyStroju_Alt] CHECK  (([Alt] IS NULL OR [Alt]>=N'A' AND [Alt]<=N'Z'))
GO
ALTER TABLE [dbo].[Tabx_NormovaneCasyStroju] CHECK CONSTRAINT [CHK_Tabx_NormovaneCasyStroju_Alt]
GO
