USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_Rep_Pipeline_Zamestnanec]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[hvw_Rep_Pipeline_Zamestnanec]
AS
SELECT
   TKJ.DatumJednaniOd_Y
   ,TKJ.DatumJednaniOd_M
   ,TKJ.Predmet
   ,TKJE._UcelJednani
   ,TKJT.Popis
   ,TKJE._KJProduktySluzby
   ,TCO.Firma
   ,TCZ.PrijmeniJmeno AS Zamestnanec
   ,TKJE._KJMístoSetkání
   ,TCKOS.PrijmeniJmeno AS KontaktniOsoba
FROM TabKontaktJednani AS TKJ
	LEFT OUTER JOIN TabTypKontJed TKJT ON TKJ.Typ = TKJT.Cislo
	LEFT OUTER JOIN TabCisOrg TCO ON TKJ.CisloOrg = TCO.CisloOrg
	LEFT OUTER JOIN TabCisZam TCZ ON TKJ.CisloZam = TCZ.Cislo
	LEFT OUTER JOIN TabCisKOs TCKOS ON TKJ.CisloKontOsoba = TCKOS.Cislo
	LEFT OUTER JOIN TabKontaktJednani_EXT AS TKJE ON TKJE.ID = TKJ.ID
WHERE TKJ.Kategorie = '0KJ';

GO
