USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_VA_StavSkladu_MinNakCenaZaPolsRok]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[hvw_VA_StavSkladu_MinNakCenaZaPolsRok]
AS
/*
   Stav skladu + FA přijaté (poslední rok):
   - souhrn pohybů FA přijatých (množství, počet řádků)
   - nejnižší nákupní cena JCbezDaniKcPoS (po slevách) a k ní organizace a datum pořízení faktury
*/
WITH FA_SOUHRN
AS
(
	SELECT
		TPZ_FA.IDZboSklad
	FROM TabPohybyZbozi AS TPZ_FA
	INNER JOIN TabDokladyZbozi AS TDZ_FA ON TDZ_FA.ID = TPZ_FA.IDDoklad
	WHERE
		TPZ_FA.DruhPohybuZbo = 18
		AND TPZ_FA.SkupZbo LIKE 'M%'
		AND TDZ_FA.DatPorizeni >= DATEADD(YEAR, -1, CAST(GETDATE() AS DATE))
	GROUP BY
		TPZ_FA.IDZboSklad
)
SELECT
	-- Skladová karta / stav skladu
	TSS.ID AS ID
   ,TSS.IDKMENZBOZI AS IDKmenZbozi
   ,TSS.IDSKLAD AS IDSklad
   ,TSS.Mnozstvi AS MnozstviSkladem
   ,TSS.MNOZSTVIDISPO AS MnozstviDiponibilni
   ,TSS.STAVSKLADU AS FinancniStavSkladu
	-- Pohyby (jen FA přijaté) za poslední rok
	-- Nejnižší nákupní cena (FA přijaté) + organizace + datum pořízení faktury
   ,FA_MIN.MinCenaBezDaneKcPoSl
   ,FA_MIN.CisloOrgFaPrij
   ,TCO_FA.Nazev AS Firma
   ,FA_MIN.DatPorizeni
FROM TabStavSkladu AS TSS
	LEFT JOIN FA_SOUHRN AS FAS ON FAS.IDZBOSKLAD = TSS.ID
	OUTER APPLY (
		SELECT TOP (1)
			TPZ_FA.JCbezDaniKcPoS AS MinCenaBezDaneKcPoSl
			, TDZ_FA.CisloOrg AS CisloOrgFaPrij
			, TDZ_FA.DatPorizeni AS DatPorizeni
		FROM TabPohybyZbozi AS TPZ_FA
		INNER JOIN TabDokladyZbozi AS TDZ_FA ON TDZ_FA.ID = TPZ_FA.IDDoklad
		WHERE
			TPZ_FA.DruhPohybuZbo = 18
			AND TDZ_FA.DruhPohybuZbo = 18
			AND TPZ_FA.IDZBOSKLAD = TSS.ID
			AND TDZ_FA.DatPorizeni >= DATEADD(YEAR, -1, CAST(GETDATE() AS DATE))
		ORDER BY TPZ_FA.JCbezDaniKcPoS ASC
--		, TDZ_FA.DatPorizeni DESC
--		, TPZ_FA.ID DESC
	) AS FA_MIN
	LEFT JOIN TabCisOrg AS TCO_FA ON TCO_FA.CisloOrg = FA_MIN.CisloOrgFaPrij
WHERE
	TSS.IDSKLAD = '00100300040104'
	AND ISNULL(FA_MIN.MinCenaBezDaneKcPoSl,0) != 0;
GO
