USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_ReportPocetObjednavek]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE     VIEW [dbo].[hvw_ReportPocetObjednavek] AS

-- Objednávky
-- U faktur je zaměstnanec definován jinak (tady by měl být správně)

WITH CTE_Objednavky AS (
SELECT DISTINCT TCZ.Cislo AS CisloZam 
FROM TabCisZam AS TCZ
JOIN TabDokladyZbozi AS TDZ ON TDZ.CisloZam = TCZ.Cislo AND TDZ.DruhPohybuZbo = 9 AND TDZ.CisloOrg != 0)

SELECT CTE_Objednavky.CisloZam, TDZ.DatPorizeni_Y AS Rok, TDZ.DatPorizeni_M AS Mesic, dbo.hf_ISOweek (TDZ.DatPorizeni) AS Tyden, COUNT(*) AS PocetObjednavek, SUM(TDZ.SumaKcBezDPH) AS ObjemObjednavek
FROM TabDokladyZbozi AS TDZ
JOIN CTE_Objednavky ON CTE_Objednavky.CisloZam = TDZ.CisloZam
WHERE TDZ.DruhPohybuZbo = 9 AND TDZ.RadaDokladu LIKE '600' AND TDZ.CisloOrg != 0 -- AND ISNULL(TDZ.Splneno,0)=0 /* Brát i splněné */
GROUP BY CTE_Objednavky.CisloZam, TDZ.DatPorizeni_Y, TDZ.DatPorizeni_M, dbo.hf_ISOweek (TDZ.DatPorizeni)
GO
