USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_ReportObchodMesicni_HeO]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_ReportObchodMesicni_HeO] AS SELECT TCZ.Prijmeni,ROM.* FROM hvw_ReportObchodMesicni AS ROM
JOIN TabCisZam AS TCZ ON ROM.CisloZam = TCZ.Cislo
GO
