USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_Rep_ReklamaceZive]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[hvw_Rep_ReklamaceZive]
AS
SELECT 
    TCO.Firma,
    COUNT(*) AS PocetReklamaci
FROM TabZakazka AS TZ
LEFT JOIN TabDokladyZbozi AS TDZ 
    ON TZ.CisloZakazky = TDZ.CisloZakazky 
    AND TDZ.DruhPohybuZbo = 9
LEFT JOIN TabCisOrg AS TCO 
    ON TDZ.CisloOrg = TCO.CisloOrg
WHERE 
    TZ.Rada = 'XR0' 
    AND TZ.CisloZakazky LIKE 'XR%'
	AND TZ.Ukonceno = 0
GROUP BY 
    TCO.Firma,
    YEAR(TZ.DatPorizeni)
GO
