USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_PouzityMaterialProCelnici]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_PouzityMaterialProCelnici] AS SELECT TZ.CisloZakazky
	,TDZ.ParovaciZnak AS Doklad
	,TPZ.RegCis AS Vyrobek
--	,TKZ.RegCis
	,TKZN.RegCis AS Material
	,TKZN.Nazev1
	,COALESCE (TCO.FIRMA, 'IN-EKO')	AS Firma
	,'' AS Faktura
	,'' AS Prohlaseni
	,TKZE._HcvInEkoKlic AS Klic
	,TPK.Cena_real
	,TPK.Mnoz_skut_realizovane
	,ISNULL(ROUND(NULLIF(TPK.Cena_real / NULLIF(TPK.Mnoz_skut_realizovane, 0), 0), 6),0) AS CenaZaMJ
	,TKZN.MJEvidence
	,ISNULL (TKZE._HcvInEkoSklProces, '') AS SkladovyProces
FROM
	dbo.TabPrKVazby AS TPK
	JOIN dbo.TabPrikaz AS TP ON TPK.IDPrikaz = TP.ID AND TP.StavPrikazu > 40
	JOIN dbo.TabKmenZbozi AS TKZ ON TP.IDTabKmen = TKZ.ID
	JOIN dbo.TabKmenZbozi AS TKZV ON TPK.vyssi = TKZV.ID
	JOIN dbo.TabKmenZbozi AS TKZN ON TPK.nizsi = TKZN.ID AND TKZN.Material = 1
	LEFT JOIN dbo.TabKmenZbozi_EXT AS TKZE ON TKZN.ID = TKZE.ID
	JOIN dbo.TabZakazka AS TZ ON TP.IDZakazka = TZ.ID
	LEFT JOIN dbo.TabCisOrg AS TCO ON TKZN.Aktualni_Dodavatel = TCO.CisloOrg
	JOIN dbo.TabPohybyZbozi AS TPZ ON TPZ.RegCis LIKE 'VAA%' AND TPZ.DruhPohybuZbo = 13 AND (TPZ.CisloZakazky IN (SELECT NadrizenaZak FROM TabZakazka WHERE ID = TZ.ID) OR TPZ.CisloZakazky IN (SELECT CisloZakazky FROM TabZakazka WHERE ID = TZ.ID))
	JOIN dbo.TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID
WHERE TPK.Prednastaveno = 1 AND TPK.IDOdchylkyDo IS NULL
GO
