USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_RozdilMeziRezervaciAPrikazem]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_RozdilMeziRezervaciAPrikazem] AS 
SELECT Zakazka,IDPolozky,RegCis,Nazev,ISNULL(SUM(Rezervace),0) AS Rezervace, ISNULL(SUM(Vyroba),0) AS Vyroba, ISNULL(SUM(Objednavka),0) AS Objednavka,
CASE WHEN ISNULL(SUM(Rezervace),0) + ISNULL(SUM(Vyroba),0) = ISNULL(SUM(Objednavka),0) + ISNULL(SUM(Vyroba),0) THEN 'Shoda' ELSE 'Nesoulad' END AS Status 
FROM
(
SELECT 
	COALESCE(Vyroba.Zakazka,Rezervace.Zakazka,Objednavky.Zakazka) AS Zakazka,
	COALESCE(Vyroba.IDPolozky,Rezervace.IDPolozky,Objednavky.IDPolozky) AS IDPolozky,
	COALESCE(Vyroba.RegCis,Rezervace.RegCis,Objednavky.RegCis) AS RegCis,
	COALESCE(Vyroba.Nazev,Rezervace.Nazev,Objednavky.Nazev) AS Nazev,
    ISNULL(Rezervace.Mnozstvi,0) AS Rezervace,
    ISNULL(Vyroba.mnoz_zad,0) AS Vyroba,
	ISNULL(Objednavky.Mnozstvi,0) AS Objednavka
FROM 
    ( -- První dotaz jako Rezervace
      SELECT DISTINCT COALESCE(TPZ.CisloZakazky,TDZ.CisloZakazky) AS Zakazka, TKZ.ID AS IDPolozky, TKZ.RegCis ,TKZ.Nazev1 AS Nazev, SUM(TPZ.Mnozstvi) AS Mnozstvi 
      FROM dbo.TabPohybyZbozi AS TPZ
      JOIN dbo.TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID
      JOIN dbo.TabStavSkladu AS TSS ON TPZ.IDZboSklad = TSS.ID
      JOIN dbo.TabKmenZbozi AS TKZ ON TSS.IDKmenZbozi = TKZ.ID
      JOIN dbo.TabSortiment AS TS ON TKZ.IdSortiment = TS.ID
      WHERE TPZ.DruhPohybuZbo IN (10) AND TS.K1 IN ('M11','M24','M34','M51','M67')
		AND COALESCE(TPZ.CisloZakazky,TDZ.CisloZakazky) IN (SELECT TabZakazka.CisloZakazky FROM TabZakazka WHERE TabZakazka.ID IN (SELECT TabPrikaz.IDZakazka FROM TabPrikaz WHERE TabPrikaz.StavPrikazu IN (20,30)))
		GROUP BY COALESCE(TPZ.CisloZakazky,TDZ.CisloZakazky), TKZ.ID, TKZ.RegCis ,TKZ.Nazev1
    ) Rezervace
FULL OUTER JOIN 
    ( -- Druhý dotaz jako Vyroba
      SELECT TZ.CisloZakazky AS Zakazka, TPK.nizsi AS IDPolozky, TKZ.RegCis ,TKZ.Nazev1 AS Nazev, SUM(TPK.mnoz_zad) AS mnoz_zad 
      FROM dbo.TabPrKVazby AS TPK
      JOIN dbo.TabPrikaz AS TP ON TPK.IDPrikaz = TP.ID
      JOIN dbo.TabKmenZbozi AS TKZ ON TPK.nizsi = TKZ.ID
      JOIN dbo.TabSortiment AS TS ON TKZ.IdSortiment = TS.ID AND TS.K1 IN ('M11','M24','M34','M51','M67')
      JOIN dbo.TabZakazka AS TZ ON TP.IDZakazka = TZ.ID
      WHERE TP.StavPrikazu IN (20,30) 
        AND TZ.CisloZakazky IN 
            (SELECT DISTINCT COALESCE(TPZ.CisloZakazky,TDZ.CisloZakazky) 
             FROM dbo.TabPohybyZbozi AS TPZ 
             JOIN dbo.TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID 
             WHERE TDZ.DruhPohybuZbo IN (10)) AND TPK.Odchylkovano = 0
			 GROUP BY TZ.CisloZakazky, TPK.nizsi, TKZ.RegCis ,TKZ.Nazev1
    ) Vyroba 
ON Rezervace.Zakazka = Vyroba.Zakazka AND Rezervace.IDPolozky = Vyroba.IDPolozky
FULL OUTER JOIN
   ( -- Třetí dotaz jako Objednávky
      SELECT DISTINCT COALESCE(TPZ.CisloZakazky,TDZ.CisloZakazky) AS Zakazka, TKZ.ID AS IDPolozky, TKZ.RegCis ,TKZ.Nazev1 AS Nazev, SUM(TPZ.Mnozstvi) AS Mnozstvi 
      FROM dbo.TabPohybyZbozi AS TPZ
      JOIN dbo.TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID
      JOIN dbo.TabStavSkladu AS TSS ON TPZ.IDZboSklad = TSS.ID
      JOIN dbo.TabKmenZbozi AS TKZ ON TSS.IDKmenZbozi = TKZ.ID
      JOIN dbo.TabSortiment AS TS ON TKZ.IdSortiment = TS.ID
      WHERE TPZ.DruhPohybuZbo IN (6) AND TS.K1 IN ('M11','M24','M34','M51','M67') 
		AND TSS.IDSklad = '00100300040104'
		AND (COALESCE(TPZ.CisloZakazky,TDZ.CisloZakazky) IN (SELECT TabZakazka.CisloZakazky FROM TabZakazka WHERE TDZ.DatSplneni IS NULL) AND (TDZ.Splneno + (CASE WHEN TDZ.StavRezervace <> N' ' THEN 1 ELSE 0 END) + TPZ.SplnenoHlava + TPZ.Splneno + TPZ.Prevedeno) > 0
		OR COALESCE(TPZ.CisloZakazky,TDZ.CisloZakazky) IN (SELECT TabZakazka.CisloZakazky FROM TabZakazka WHERE TabZakazka.ID IN (SELECT TabPrikaz.IDZakazka FROM TabPrikaz WHERE TabPrikaz.StavPrikazu IN (20,30))))
		GROUP BY COALESCE(TPZ.CisloZakazky,TDZ.CisloZakazky), TKZ.ID, TKZ.RegCis ,TKZ.Nazev1
    ) Objednavky
ON Objednavky.Zakazka = Rezervace.Zakazka AND Objednavky.IDPolozky = Rezervace.IDPolozky
) Agregace
GROUP BY Zakazka,IDPolozky,RegCis,Nazev
GO
