USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_PlneniHodZaSkupPracVcProcHeO]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_PlneniHodZaSkupPracVcProcHeO] AS SELECT * FROM dbo.hvw_PlneniHodZaSkupPracVcProc
WHERE Cislozakazky NOT LIKE 'DA%' AND Cislozakazky NOT LIKE 'X%' AND Cislozakazky NOT LIKE 'IN%' AND Cislozakazky NOT LIKE 'SKL%'
GO
