USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_PosledniKooperujiciFirma]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_PosledniKooperujiciFirma] AS SELECT
	TabPrPostup.ID
   ,HSK.Firma
FROM TabPrPostup
	LEFT OUTER JOIN TabPrikaz TP ON TabPrPostup.IDPrikaz = TP.ID
	LEFT OUTER JOIN TabKmenZbozi TKZ ON TabPrPostup.dilec = TKZ.ID
	LEFT OUTER JOIN TabCKoop TCK ON TabPrPostup.IDKooperace = TCK.ID
	OUTER APPLY (
		SELECT TOP 1
			HSK.Firma
		FROM hvw_SeznamKooperaci AS HSK
		WHERE
			HSK.RegCis = TKZ.RegCis
			AND TCK.nazev = HSK.Kooperace
		ORDER BY ID DESC
	) AS HSK
WHERE
	(TabPrPostup.IDOdchylkyDo IS NULL)
	AND (TabPrPostup.typ = 2)
	AND TP.StavPrikazu IN (20,30)
	AND HSK.Firma IS NOT NULL
GO
