USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_PrehledNakupu]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_PrehledNakupu] AS SELECT
	TPZ.SkutecneDatReal_X
   ,TPZ.SkutecneDatReal_Y
   ,TPZ.SkutecneDatReal_M
   ,dbo.ef_DruhPohybuZbo(TPZ.DruhPohybuZbo) AS DruhPohybu
   ,TPZ.SkupZbo
   ,TPZ.RegCis
   ,TPZ.Nazev1
   ,TPZ.Mnozstvi
   ,TPZ.MnozstviDruhove
   ,TPZ.MJEvidence
   ,TDZ.RadaDokladu
   ,TDZ.PoradoveCislo
FROM TabPohybyZbozi AS TPZ
	JOIN TabDokladyZbozi TDZ ON TDZ.ID = TPZ.IDDoklad
	JOIN TabStavSkladu AS TSS ON TPZ.IDZboSklad = TSS.ID AND TSS.IDSklad = N'00100300040104'
	JOIN TabKmenZbozi AS TKZ ON TSS.IDKmenZbozi = TKZ.ID
	LEFT JOIN TabKmenZbozi_EXT AS TKZE ON TKZ.ID = TKZE.ID AND TKZE._HcvInEkoSklProces NOT LIKE '%K%'
WHERE
	TPZ.SkutecneDatReal_X IS NOT NULL
	AND TDZ.RadaDokladu IN (400,430,500,505,510,520)
GO
