USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_Rep_Ukoly_Zamestnanec]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[hvw_Rep_Ukoly_Zamestnanec]
AS
SELECT 
    TU.TerminSplneni_X AS Termin,
    TU.Predmet,
    CASE TU.Stav 
        WHEN 0 THEN 'Nezahájeno'
        WHEN 1 THEN 'Probíhá'
        WHEN 3 THEN 'Čeká se na někoho dalšího'
        ELSE 'Jiný'
    END AS Stav,
    TCO.Firma,
    TCZ.PrijmeniJmeno,
    TKJ.MistoKonani AS Projekt,
    TKJ.Stav AS StavProjektu,
    TKJ.PredpokladCena,
    TKJ.MenaFakturace AS Mena,
    ROW_NUMBER() OVER (
        PARTITION BY TCZ.PrijmeniJmeno 
        ORDER BY TKJ.PredpokladCena DESC
    ) AS RowNum
FROM TabUkoly AS TU
LEFT JOIN TabCisZam TCZ ON TU.Resitel = TCZ.Cislo
LEFT JOIN TabKontaktJednani AS TKJ ON TKJ.ID = TU.IDKontaktJed
LEFT JOIN TabCisOrg TCO ON TKJ.CisloOrg = TCO.CisloOrg
WHERE
    TU.Stav IN (0) 
	AND TKJ.Stav IN ('A','B')
    AND TU.IDKategorie IN (4,5)
    AND TU.TerminSplneni_X BETWEEN GETDATE() - 30 AND GETDATE()
    AND TCO.CisloOrg IS NOT NULL
GO
