USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_VA_VydObj_MinNakCenaZaPolsRok]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[hvw_VA_VydObj_MinNakCenaZaPolsRok]
AS
/* 
   Položky vydané objednávky + sklad + FA přijaté (poslední rok):
   - stav skladu z TabStavSkladu (přes IDZboSklad = ID)
   - souhrn pohybů FA přijatých (množství, počet řádků)
   - nejnižší nákupní cena JCbezDaniKcPoS (po slevách) a k ní organizace a datum pořízení faktury
*/
WITH FA_Souhrn AS
(
    SELECT
        TPZ_FA.IDZboSklad
    FROM TabPohybyZbozi AS TPZ_FA
    INNER JOIN TabDokladyZbozi AS TDZ_FA
        ON TDZ_FA.ID = TPZ_FA.IDDoklad
    WHERE
        TPZ_FA.DruhPohybuZbo = 18
        AND TDZ_FA.DruhPohybuZbo = 18
        AND TDZ_FA.DatPorizeni >= DATEADD(YEAR, -1, CAST(GETDATE() AS date))
    GROUP BY
        TPZ_FA.IDZboSklad
)
SELECT
    -- Identifikace položky VO
    TDZ_VO.ID              AS IdDokladuVydObj
    ,TPZ_VO.ID              AS IdPolozkyVydObj
    ,TPZ_VO.IDZboSklad      AS IDZboSklad
    -- Nejnižší nákupní cena (FA přijaté) + organizace + datum pořízení faktury
    ,FA_MIN.MinJCbezDaniKcPoS AS MinCenaBezDaneKcPoSl
--    ,FA_MIN.CisloOrgFaPrij
    ,TCO_FA.Nazev           AS Firma
    ,FA_MIN.DatPorizeniFaPrij AS DatPorizeni
FROM TabDokladyZbozi AS TDZ_VO
INNER JOIN TabPohybyZbozi AS TPZ_VO
    ON TPZ_VO.IDDoklad = TDZ_VO.ID

LEFT JOIN TabStavSkladu AS TSS
    ON TSS.ID = TPZ_VO.IDZboSklad

LEFT JOIN FA_Souhrn AS FAS
    ON FAS.IDZboSklad = TPZ_VO.IDZboSklad

OUTER APPLY
(
    SELECT TOP (1)
        TPZ_FA.JCbezDaniKcPoS AS MinJCbezDaniKcPoS
        ,TDZ_FA.CisloOrg      AS CisloOrgFaPrij
        ,TDZ_FA.DatPorizeni   AS DatPorizeniFaPrij
    FROM TabPohybyZbozi AS TPZ_FA
    INNER JOIN TabDokladyZbozi AS TDZ_FA
        ON TDZ_FA.ID = TPZ_FA.IDDoklad
    WHERE
        TPZ_FA.DruhPohybuZbo = 18
        AND TDZ_FA.DruhPohybuZbo = 18
        AND TPZ_FA.IDZboSklad = TPZ_VO.IDZboSklad
        AND TDZ_FA.DatPorizeni >= DATEADD(YEAR, -1, CAST(GETDATE() AS date))
    ORDER BY
        TPZ_FA.JCbezDaniKcPoS ASC
        ,TDZ_FA.DatPorizeni DESC
        ,TPZ_FA.ID DESC
) AS FA_MIN

LEFT JOIN TabCisOrg AS TCO_FA
    ON TCO_FA.CisloOrg = FA_MIN.CisloOrgFaPrij
WHERE
    TDZ_VO.DruhPohybuZbo = 6
	AND TPZ_VO.DatPorizeni >= DATEADD(YEAR, -1, CAST(GETDATE() AS date))
	AND ISNULL(FA_MIN.MinJCbezDaniKcPoS,0) != 0;
GO
