USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_ProduktivitaRezie]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[hvw_ProduktivitaRezie]
AS
WITH Naklady AS (
    SELECT
        Rok,
        Mesic,
        ROUND(SUM(
            CASE
                WHEN Skupina IN (N'Cestovné', N'Náklady na reprezentaci',
                                 N'Občerstvení - kuchyňka, kantýna', N'Občerstvení pro obchodní partnery',
                                 N'Služby', N'Poštovné', N'Telefon, internet', N'Software, www stránky',
                                 N'BOZP, PO, revize', N'Nájemné', N'Účetní, dańové poradenství',
                                 N'Patenty, certifikace zařízení', N'Poradenství (právní, dotační)',
                                 N'Likvidace odpadu', N'Úklid budovy', N'Marketing',
                                 N'Propagační předměty (do 500,- Kč/ks)', N'Veletrhy, výstavy',
                                 N'Inzerce', N'Propagace, reklama', N'Osobní náklady', N'Daně a poplatky',
                                 N'Ostatní provozní náklady', N'Pojištění vozidel', N'Pojištění zaměstnanců',
                                 N'Ostatní - nezařazené', N'Odpisy', N'Finanční náklady',
                                 N'Kancelářský materiál', N'Tonery', N'Mycí, čistící, desinfekční prostředky',
                                 N'OOPP + BOZP vybavení', N'Dekorační předměty, údržba zeleně',
                                 N'Drobný HIM - správní budova', N'Ostatní spotřeba - režie',
                                 N'Plyn', N'Voda', N'Opravy a údržba', N'Budova, venkovní prostory',
                                 N'Výrobní stroje', N'Vybavení kanceláří')
                    THEN Skutecnost
                WHEN Skupina = N'Elektrická energie' THEN Skutecnost * 0.20
                ELSE 0
            END
        ), 0) AS FixniNaklady,
        ROUND(SUM(
            CASE
                WHEN Skupina IN (N'Brusivo', N'Svařovací materiál', N'Plyn na svařování',
                                 N'Obalový materiál - krabice, palety', N'Obalový materiál - zámořské balení',
                                 N'Ostatní spotřeba - výroba', N'Drobný HIM - vybavení dílny',
                                 N'Drobný HIM - nářadí', N'Plyn', N'Voda', N'PHM',
                                 N'Opravy a údržba vozidel', N'Služby', N'Doprava',
                                 N'Kooperace I', N'Kooperace II', N'Pronájem plynových lahví',
                                 N'Ostatní služby k zakázce', N'Provize za zprostředkování obchodu')
                    THEN Skutecnost
                WHEN Skupina = N'Elektrická energie' THEN Skutecnost * 0.80
                ELSE 0
            END
        ), 0) AS VariabilniBezMaterialuANedokoncenych,
        ROUND(SUM(CASE WHEN Skupina = N'Výdej materiálu + zboží ze skladu'
                       THEN Skutecnost * -1 ELSE 0 END), 0) AS MaterialoveNaklady,
        ROUND(SUM(CASE WHEN Skupina = N'Kooperace I'
                       THEN Skutecnost ELSE 0 END), 0) AS Kooperace,
        ROUND(SUM(CASE WHEN Skupina IN (N'Rozpracovaná výroba')
                       THEN Skutecnost * -1 ELSE 0 END), 0) AS RozpracovanaVyroba
    FROM hvw_ReportRozpocetPlneni
    WHERE Skupina IN (
        N'Cestovné', N'Náklady na reprezentaci', N'Občerstvení - kuchyňka, kantýna',
        N'Občerstvení pro obchodní partnery', N'Služby', N'Poštovné', N'Telefon, internet',
        N'Software, www stránky', N'BOZP, PO, revize', N'Nájemné', N'Účetní, dańové poradenství',
        N'Patenty, certifikace zařízení', N'Poradenství (právní, dotační)', N'Likvidace odpadu',
        N'Úklid budovy', N'Marketing', N'Propagační předměty (do 500,- Kč/ks)', N'Veletrhy, výstavy',
        N'Inzerce', N'Propagace, reklama', N'Osobní náklady', N'Daně a poplatky',
        N'Ostatní provozní náklady', N'Pojištění vozidel', N'Pojištění zaměstnanců',
        N'Ostatní - nezařazené', N'Odpisy', N'Finanční náklady', N'Kancelářský materiál', N'Tonery',
        N'Mycí, čistící, desinfekční prostředky', N'OOPP + BOZP vybavení',
        N'Dekorační předměty, údržba zeleně', N'Drobný HIM - správní budova',
        N'Ostatní spotřeba - režie', N'Elektrická energie', N'Plyn', N'Voda', N'Opravy a údržba',
        N'Budova, venkovní prostory', N'Výrobní stroje', N'Vybavení kanceláří',
        N'Brusivo', N'Svařovací materiál', N'Plyn na svařování',
        N'Obalový materiál - krabice, palety', N'Obalový materiál - zámořské balení',
        N'Ostatní spotřeba - výroba', N'Drobný HIM - vybavení dílny', N'Drobný HIM - nářadí',
        N'PHM', N'Opravy a údržba vozidel', N'Doprava', N'Kooperace I', N'Kooperace II',
        N'Pronájem plynových lahví', N'Ostatní služby k zakázce', N'Provize za zprostředkování obchodu',
        N'Výdej materiálu + zboží ze skladu', N'Rozpracovaná výroba', N'Nedokončená výroba'
    )
    GROUP BY Rok, Mesic
),
PrimeMzdy AS (
    SELECT 
        TD.DatumPripad_Y AS Rok,
        TD.DatumPripad_M AS Mesic,
        SUM(TD.CastkaMD) AS PrimeMzdy
    FROM TabDenik AS TD
    JOIN TabObdobi AS TOB ON TOB.ID = TD.IdObdobi
    JOIN TabCisUctDef AS TCU ON TD.CisloUcet = TCU.CisloUcet AND TD.IdObdobi = TCU.IdObdobi
    JOIN TabCisUct AS TU ON TCU.CisloUcet = TU.CisloUcet
    LEFT JOIN TabCisUct_EXT TUE ON TU.ID = TUE.ID
    WHERE
        DATEADD(YEAR,-1,GETDATE()) BETWEEN DATEADD(YEAR,-1,TOB.DatumOd) AND TOB.DatumDo
        AND LEFT(TD.CisloUcet, 1) IN (1, 5, 6)
        AND TUE._RepSkupinaUctu = 'Osobní náklady'
        AND TD.Utvar LIKE '00100700%'
    GROUP BY TD.DatumPripad_Y, TD.DatumPripad_M
),
HodinyVyroby AS (
    SELECT
        DATEPART(YEAR, TZE._UkonceniVyrobySkutecnost)  AS Rok,
        DATEPART(MONTH,TZE._UkonceniVyrobySkutecnost) AS Mesic,
        ROUND(SUM(HodPlanPriprava + HodPlanSvarovani + HodPlanMontaz + HodPlanElektro + HodPlanSegmenty),0) AS TotalHodPlan,
        ROUND(SUM(SkutHodPriprava + SkutHodSvarovani + SkutHodMontaz + SkutHodElektro + SkutHodSegmenty),0) AS TotalHodSkut
    FROM hvw_PlneniHodZaSkupPracArchiv A
    JOIN TabZakazka TZ  ON A.CisloZakazky = TZ.CisloZakazky
    JOIN TabZakazka_EXT TZE ON TZ.ID = TZE.ID
    WHERE TZ.Rada = '100'
      AND DATEPART(YEAR,TZE._UkonceniVyrobySkutecnost) >= DATEPART(YEAR, DATEADD(YEAR,-1,GETDATE()))
    GROUP BY DATEPART(YEAR,TZE._UkonceniVyrobySkutecnost),
             DATEPART(MONTH,TZE._UkonceniVyrobySkutecnost)
),
OdpracovanoOperace AS (
    SELECT
        M.DatPorizeni_Y AS Rok,
        M.DatPorizeni_M AS Mesic,
        ROUND(SUM(M.Sk_cas_Obsluhy_H),0) AS Odpracovano
    FROM TabPrikazMzdyAZmetky M
    JOIN TabPrikaz TP ON M.IDPrikaz = TP.ID
    JOIN TabZakazka TZ ON TP.IDZakazka = TZ.ID
    WHERE TZ.CisloZakazky NOT LIKE 'VR%' AND TZ.CisloZakazky NOT LIKE 'SR%'
      AND M.DatPorizeni_Y >= DATEPART(YEAR, DATEADD(YEAR,-1,GETDATE()))
    GROUP BY M.DatPorizeni_Y, M.DatPorizeni_M
),
EvidenceNaZakazky AS (
    SELECT
        M.DatPorizeni_Y AS Rok,
        M.DatPorizeni_M AS Mesic,
        ROUND(SUM(M.Sk_cas_Obsluhy_H),0) AS Odpracovano
    FROM TabPrikazMzdyAZmetky M
    JOIN TabPrikaz TP ON M.IDPrikaz = TP.ID
    JOIN TabZakazka TZ ON TP.IDZakazka = TZ.ID
    WHERE (TZ.CisloZakazky LIKE 'XS%' OR TZ.CisloZakazky LIKE 'XR%' OR TZ.CisloZakazky LIKE 'XI%' OR TZ.CisloZakazky LIKE 'XV%' OR TZ.CisloZakazky LIKE 'SKL%' OR TZ.CisloZakazky LIKE 'PP%')
      AND M.DatPorizeni_Y >= DATEPART(YEAR, DATEADD(YEAR,-1,GETDATE()))
    GROUP BY M.DatPorizeni_Y, M.DatPorizeni_M
),
VyrobniRezie AS (
    SELECT
        M.DatPorizeni_Y AS Rok,
        M.DatPorizeni_M AS Mesic,
        ROUND(SUM(M.Sk_cas_Obsluhy_H),0) AS Odpracovano
    FROM TabPrikazMzdyAZmetky M
    JOIN TabPrikaz TP ON M.IDPrikaz = TP.ID
    JOIN TabZakazka TZ ON TP.IDZakazka = TZ.ID
    WHERE (TZ.CisloZakazky LIKE 'VR%' OR TZ.CisloZakazky LIKE 'SR%')
      AND M.DatPorizeni_Y >= DATEPART(YEAR, DATEADD(YEAR,-1,GETDATE()))
    GROUP BY M.DatPorizeni_Y, M.DatPorizeni_M
),
Dochazka AS (
    SELECT
        DATEPART(YEAR, pk.DATUM)  AS Rok,
        DATEPART(MONTH,pk.DATUM) AS Mesic,
        ROUND(SUM(pk.Odpracovano),0) AS Dochazka
    FROM HcvInEkoOdpracovanoPK pk
    LEFT JOIN TabCisZam tcz ON tcz.Cislo = pk.Cislo
    WHERE DATEPART(YEAR, pk.DATUM) >= DATEPART(YEAR, DATEADD(YEAR,-1,GETDATE()))
      AND tcz.Stredisko LIKE '00100700%'
      AND LEN(tcz.Stredisko) = 11
    GROUP BY DATEPART(YEAR, pk.DATUM),
             DATEPART(MONTH, pk.DATUM)
),
Obdobi AS (
SELECT Rok, Mesic FROM PrimeMzdy
)
SELECT
    O.Rok,
    O.Mesic,
    ISNULL(D.Dochazka, 0)                              AS Dochazka,
    ISNULL(P.Odpracovano, 0)                           AS Odpracovano,
    ISNULL(H.TotalHodPlan, 0)                          AS TotalHodPlan,
    ISNULL(H.TotalHodSkut, 0)                          AS TotalHodSkut,
    -- Součty
    (ISNULL(N.FixniNaklady,0)
     + ISNULL(N.VariabilniBezMaterialuANedokoncenych,0)
     + ISNULL(N.MaterialoveNaklady,0)
     + ISNULL(N.RozpracovanaVyroba,0))                AS CelkoveNaklady,
	--
    ISNULL(N.MaterialoveNaklady, 0)                    AS MaterialoveNaklady,
    ISNULL(N.Kooperace, 0)                             AS Kooperace,
    ISNULL(M.PrimeMzdy, 0)                             AS PrimeMzdy,
    (ISNULL(N.VariabilniBezMaterialuANedokoncenych,0)
     - ISNULL(N.Kooperace,0))                         AS OstatniVariabilniNaklady,
    ISNULL(N.FixniNaklady, 0)                         AS FixniNaklady,
    ISNULL(N.VariabilniBezMaterialuANedokoncenych, 0) AS VariabilniBezMaterialuANedokoncenych,
	ISNULL(N.RozpracovanaVyroba, 0)                    AS RozpracovanaVyroba,
	ISNULL(Z.Odpracovano,0)							AS EvidenceNaZakazky,
	ISNULL(R.Odpracovano,0)							AS VyrobniRezie	
FROM Obdobi O
LEFT JOIN Naklady N            ON N.Rok = O.Rok AND N.Mesic = O.Mesic
LEFT JOIN PrimeMzdy M          ON M.Rok = O.Rok AND M.Mesic = O.Mesic
LEFT JOIN HodinyVyroby H       ON H.Rok = O.Rok AND H.Mesic = O.Mesic
LEFT JOIN OdpracovanoOperace P ON P.Rok = O.Rok AND P.Mesic = O.Mesic
LEFT JOIN Dochazka D           ON D.Rok = O.Rok AND D.Mesic = O.Mesic
LEFT JOIN EvidenceNaZakazky Z  ON Z.Rok = O.Rok AND Z.Mesic = O.Mesic
LEFT JOIN VyrobniRezie R       ON R.Rok = O.Rok AND R.Mesic = O.Mesic
GO
