USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_TrvaniStatusuVeDnech]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[hvw_TrvaniStatusuVeDnech]
AS
WITH LatestLogs AS (
    SELECT 
        L.ZakazkaID,
        MAX(L.Datum) AS MaxDatum
    FROM Tabx_Zakazka_Log L
    GROUP BY L.ZakazkaID
)
SELECT
	Z.ID
   ,Fn.DobaTrvaniDni AS Dni
FROM TabZakazka Z
LEFT JOIN LatestLogs L
	ON Z.ID = L.ZakazkaID
CROSS APPLY dbo.hfx_DateDiffBezVikendu(L.MaxDatum, GETDATE()) AS Fn
WHERE L.MaxDatum IS NOT NULL;
GO
