USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_NulaAzSto]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_NulaAzSto] AS SELECT TOP 101 ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS ID, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1 AS Hodnota FROM sys.all_objects
GO
