USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_NormovaneCasyStroju]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_NormovaneCasyStroju] AS SELECT
   CisloZakazky AS Zakazka
   ,DruhyNazev AS Stroj
   ,Nazev1 AS Nazev
   ,Operace
   ,nazev AS NazevOperace
   ,NazevPracoviste
   ,Vstup_TAC AS 'Čas'
   ,CASE Vstup_TAC_T
		WHEN 0 THEN 'sec.'
		WHEN 1 THEN 'min.'
		WHEN 2 THEN 'hod.'
		ELSE ''
	END AS Jednotka
   ,Vstup_TAC_KC AS Mzda
FROM Tabx_NormovaneCasyStroju
GO
