USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_Rep_PohledavkyPoSplatnosti]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[hvw_Rep_PohledavkyPoSplatnosti]
AS
SELECT
	TabDokladyZbozi.RadaDokladu
	,TabDokladyZbozi.PoradoveCislo
	,TCO.Firma
	,TCZ.PrijmeniJmeno
	,TabDokladyZbozi.DatPorizeni_X
	,TabDokladyZbozi.Splatnost_X
	,TabDokladyZbozi.SumaKcPoZaoDPoh AS SumaCZK
	,TabDokladyZbozi.SumaValPoZaoDPoh AS SumaVAL
	,TabDokladyZbozi.Saldo AS SaldoVAL
	,TabDokladyZbozi.SumaUhrad AS UhrazenoVAL
	,(CASE
		WHEN (EXISTS (SELECT
					*
				FROM TabUhrady u
				WHERE u.IDFak = TabDokladyZbozi.ID
				AND u.CastkaPoBance <> 0
				AND u.Puvod NOT IN (9, 16)
				AND u.RealUhradaVHM IS NULL) OR
			EXISTS (SELECT
					*
				FROM TabHGlob
				WHERE FaktZapoctyGenerKurzRozdilyPriUhrade = 0)
			) THEN NULL
		ELSE (CONVERT(NUMERIC(19, 6), (CASE
				WHEN ((TabDokladyZbozi.DruhPohybuZbo = 14 OR
					TabDokladyZbozi.DruhPohybuZbo = 19)) THEN -1
				ELSE 1
			END) * (SELECT
					ISNULL(TabDokladyZbozi.SumaKcPoZao - (ISNULL((SELECT
							SUM(CASE
								WHEN ((u.Puvod = 10) AND
									(u.CastkaPoBance = 0) AND
									(ISNULL(u.RealUhradaVHM, 0) <> 0)) THEN u.RealUhradaVHM
								WHEN ((u.CastkaPoBance = 0) AND
									(u.Puvod NOT IN (9, 16))) THEN 0
								ELSE ISNULL(u.RealUhradaVHMvcKR, u.RealUhradaVHM)
							END)
						FROM TabUhrady u
						WHERE u.IdFak = TabDokladyZbozi.Id
						AND u.VPriprave = 0)
					, 0)), 0))
			))
	END) AS SaldoCZK
	,TabDokladyZbozi.Mena
	,TabDokladyZbozi.DnuProdleniNazapl
   ,(CASE
		WHEN TabDokladyZbozi.DruhPohybuZbo = 13 THEN (SELECT TOP 1
					u.Vystaveno_X
				FROM TabUpom u
				JOIN TabUpomVazba v
					ON v.IdUpominka = u.Id
				JOIN TabUpomHlavicka h
					ON h.Id = v.IdHlavicka
				WHERE h.NeplatnyDoklad = 0
				AND u.IdFaktura = TabDokladyZbozi.Id
				ORDER BY u.Vystaveno DESC)
		ELSE NULL
	END) AS DatumPosledniUpominky
   ,(CASE
		WHEN TabDokladyZbozi.DruhPohybuZbo = 13 THEN (SELECT
					SUM(cnt)
				FROM (SELECT
						COUNT(*) AS cnt
					FROM TabUpom u
					JOIN TabUpomVazba v
						ON v.IdUpominka = u.Id
					JOIN TabUpomHlavicka h
						ON h.Id = v.IdHlavicka
					WHERE h.NeplatnyDoklad = 0
					AND u.IdFaktura = TabDokladyZbozi.Id
					UNION
					SELECT
						COUNT(*) AS cnt
					FROM TabDenik d
					JOIN TabVDenikSaldo vs
						ON vs.IdDenik = d.Id
					JOIN TabSaldo s
						ON s.Id = vs.IdSaldo
					JOIN TabUpom u
						ON u.CisloSalSk = s.CisloSalSk
						AND u.CisloZakazky = s.CisloZakazky
						AND u.Utvar = s.Utvar
						AND u.CisloOrg = s.CisloOrg
						AND u.ParovaciZnak = s.ParovaciZnak
						AND u.CisloZam = s.CisloZam
						AND u.ICOOrg = s.ICO
						AND u.DICOrg = s.DIC
						AND ISNULL(u.DatumParovani, 0) = CASE
							WHEN s.ParovaniDatumu = 1 THEN ISNULL(s.DatumSplatno, '19000101')
							ELSE ISNULL(s.DatumParovani, '19000101')
						END
					JOIN TabUpomVazba vu
						ON vu.IdUpominka = u.Id
					WHERE d.IdDokladyZbozi IN (TabDokladyZbozi.Id)) AS t)
		ELSE NULL
	END) AS PocetUpominek
FROM TabDokladyZbozi
LEFT OUTER JOIN TabCisOrg TCO ON TabDokladyZbozi.CisloOrg = TCO.CisloOrg
LEFT OUTER JOIN TabCisZam TCZ ON COALESCE(CisloZam, KontaktZam, TCO.OdpOs) = TCZ.ID
WHERE TabDokladyZbozi.DruhPohybuZbo BETWEEN 13 AND 14
AND TabDokladyZbozi.Saldo > 0
AND (((CASE
	WHEN ((ROUND(TabDokladyZbozi.[SumaVal] - TabDokladyZbozi.[SumaUhrad], TabDokladyZbozi.[ZaokrouhleniFakVal]) > 0.0009)) THEN (CASE
			WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], GETDATE()) < 0) THEN (-9999)
			ELSE (CASE
					WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], GETDATE()) = 0) THEN 0
					ELSE (CASE
							WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], GETDATE()) <= 30) THEN 30
							ELSE (CASE
									WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], GETDATE()) <= 90) THEN 90
									ELSE (CASE
											WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], GETDATE()) <= 120) THEN 120
											ELSE (CASE
													WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], GETDATE()) <= 180) THEN 180
													ELSE (CASE
															WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], GETDATE()) <= 365) THEN 365
															ELSE (CASE
																	WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], GETDATE()) <= 400) THEN 400
																	ELSE ((DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], GETDATE()) + 399) / 400 * 400)
																END)
														END)
												END)
										END)
								END)
						END)
				END)
		END)
	ELSE (CASE
			WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], TabDokladyZbozi.[DatUhrady]) < 0) THEN (-9999)
			ELSE (CASE
					WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], (CASE
							WHEN (ABS(TabDokladyZbozi.[SumaVal]) < 0.0009) THEN TabDokladyZbozi.[Splatnost]
							ELSE TabDokladyZbozi.[DatUhrady]
						END)) = 0) THEN 0
					ELSE (CASE
							WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], TabDokladyZbozi.[DatUhrady]) <= 30) THEN 30
							ELSE (CASE
									WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], TabDokladyZbozi.[DatUhrady]) <= 90) THEN 90
									ELSE (CASE
											WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], TabDokladyZbozi.[DatUhrady]) <= 120) THEN 120
											ELSE (CASE
													WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], TabDokladyZbozi.[DatUhrady]) <= 180) THEN 180
													ELSE (CASE
															WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], TabDokladyZbozi.[DatUhrady]) <= 365) THEN 365
															ELSE (CASE
																	WHEN (DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], TabDokladyZbozi.[DatUhrady]) <= 400) THEN 400
																	ELSE ((DATEDIFF(DAY, TabDokladyZbozi.[Splatnost], TabDokladyZbozi.[DatUhrady]) + 399) / 400 * 400)
																END)
														END)
												END)
										END)
								END)
						END)
				END)
		END)
END)) <> -9999)
AND (TabDokladyZbozi.RadaDokladu NOT LIKE N'%10%')
AND (TabDokladyZbozi.RadaDokladu NOT LIKE N'%191%')
AND (TabDokladyZbozi.RadaDokladu NOT LIKE N'%117%')
AND (TabDokladyZbozi.Realizovano <> 0)

GO
