USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_ReportObchodTydenni]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[hvw_ReportObchodTydenni] AS

WITH CombinedData AS (
    SELECT 
        CisloZam, 
        Rok, 
        Tyden,
        SUM(PocetJednani) AS JednaniCount,
        SUM(AktualizaceCount) AS AktualizaceCount,
        SUM(PocetObjednavek) AS PocetObjednavek, 
        SUM(ObjemObjednavek) AS ObjemObjednavek, 
        SUM(ObjemFakturace) AS ObjemFakturace, 
        SUM(ObjemUhradVcZaloh) AS ObjemUhradVcZaloh, 
        SUM(PocetProjektu) AS PocetProjektu, 
        SUM(PocetNabidek) AS PocetNabidek, 
        SUM(HodnotaProjektu) AS HodnotaProjektu
    FROM (
        SELECT CisloZam, Rok, Tyden, PocetJednani, 0 AS AktualizaceCount, 0 AS PocetObjednavek, 0 AS ObjemObjednavek, 0 AS ObjemFakturace, 0 AS ObjemUhradVcZaloh, 0 AS PocetProjektu, 0 AS PocetNabidek, 0 AS HodnotaProjektu FROM hvw_ReportPocetJednani
        UNION ALL
        SELECT CisloZam, Rok, Tyden, 0, PocetAktualizaci, 0, 0, 0, 0, 0, 0, 0 FROM hvw_ReportPocetAktualizaci
        UNION ALL
        SELECT CisloZam, Rok, Tyden, 0, 0, PocetObjednavek, ObjemObjednavek, 0, 0, 0, 0, 0 FROM hvw_ReportPocetObjednavek
        UNION ALL
        SELECT CisloZam, Rok, Tyden, 0, 0, 0, 0, ObjemFakturace, ObjemUhradVcZaloh, 0, 0, 0 FROM hvw_ReportPocetFaktur
        UNION ALL
        SELECT CisloZam, Rok, Tyden, 0, 0, 0, 0, 0, 0, PocetProjektu, PocetNabidek, HodnotaProjektu FROM hvw_ReportPocetProjektu
    ) AS SourceData
    GROUP BY CisloZam, Rok, Tyden
),
AktualniTyden AS (
    SELECT * FROM CombinedData
    WHERE Rok = YEAR(DATEADD(WEEK, -1, GETDATE())) AND Tyden = dbo.hf_ISOweek(DATEADD(WEEK, -1, GETDATE()))
),
PredchoziTyden AS (
    SELECT * FROM CombinedData
    WHERE Rok = YEAR(DATEADD(WEEK, -2, GETDATE())) AND Tyden = dbo.hf_ISOweek(DATEADD(WEEK, -2, GETDATE()))
),
Trends AS (
    SELECT
        A.CisloZam,
        -- Výpočet trendů pro jednotlivé metriky
        ROUND((CAST(A.JednaniCount AS FLOAT) - CAST(P.JednaniCount AS FLOAT)) / NULLIF(CAST(P.JednaniCount AS FLOAT), 0) * 100, 0) AS JednaniTrend,
        ROUND((CAST(A.AktualizaceCount AS FLOAT) - CAST(P.AktualizaceCount AS FLOAT)) / NULLIF(CAST(P.AktualizaceCount AS FLOAT), 0) * 100, 0) AS AktualizaceTrend,
        ROUND((CAST(A.PocetObjednavek AS FLOAT) - CAST(P.PocetObjednavek AS FLOAT)) / NULLIF(CAST(P.PocetObjednavek AS FLOAT), 0) * 100, 0) AS ObjednavkyTrend,
        ROUND((CAST(A.ObjemObjednavek AS FLOAT) - CAST(P.ObjemObjednavek AS FLOAT)) / NULLIF(CAST(P.ObjemObjednavek AS FLOAT), 0) * 100, 0) AS ObjemObjednavekTrend,
        ROUND((CAST(A.ObjemFakturace AS FLOAT) - CAST(P.ObjemFakturace AS FLOAT)) / NULLIF(CAST(P.ObjemFakturace AS FLOAT), 0) * 100, 0) AS ObjemFakturaceTrend,
        ROUND((CAST(A.ObjemUhradVcZaloh AS FLOAT) - CAST(P.ObjemUhradVcZaloh AS FLOAT)) / NULLIF(CAST(P.ObjemUhradVcZaloh AS FLOAT), 0) * 100, 0) AS ObjemUhradTrend,
        ROUND((CAST(A.PocetProjektu AS FLOAT) - CAST(P.PocetProjektu AS FLOAT)) / NULLIF(CAST(P.PocetProjektu AS FLOAT), 0) * 100, 0) AS ProjektyTrend,
        ROUND((CAST(A.PocetNabidek AS FLOAT) - CAST(P.PocetNabidek AS FLOAT)) / NULLIF(CAST(P.PocetNabidek AS FLOAT), 0) * 100, 0) AS NabidkyTrend
    FROM AktualniTyden A
    LEFT JOIN PredchoziTyden P ON A.CisloZam = P.CisloZam
)
SELECT DISTINCT
    A.*,
    ISNULL(T.JednaniTrend,0) AS JednaniTrend,
    ISNULL(T.AktualizaceTrend,0) AS AktualizaceTrend,
    ISNULL(T.ObjednavkyTrend,0) AS ObjednavkyTrend,
    ISNULL(T.ObjemObjednavekTrend,0) AS ObjemObjednavekTrend,
    ISNULL(T.ObjemFakturaceTrend,0) AS ObjemFakturaceTrend,
    ISNULL(T.ObjemUhradTrend,0) AS ObjemUhradTrend,
    ISNULL(T.ProjektyTrend,0) AS ProjektyTrend,
    ISNULL(T.NabidkyTrend,0) AS NabidkyTrend
FROM AktualniTyden A
LEFT JOIN Trends T ON A.CisloZam = T.CisloZam
UNION ALL
SELECT DISTINCT
    P.*,
    0 AS JednaniTrend,
    0 AS AktualizaceTrend,
    0 AS ObjednavkyTrend,
    0 AS ObjemObjednavekTrend,
    0 AS ObjemFakturaceTrend,
    0 AS ObjemUhradTrend,
    0 AS ProjektyTrend,
    0 AS NabidkyTrend
FROM PredchoziTyden P
GO
