USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_HeO_OstatniNakladyZakazkaDenik]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_HeO_OstatniNakladyZakazkaDenik] AS SELECT
	Z.ID AS IDZakazka,
	Z.CisloZakazky,					 
	TCO.Firma,
	D.Popis,
	D.CisloUcet,
	D.ParovaciZnak,
	D.DatPorizeni_X,
	(ISNULL(D.CastkaMD, 0)) AS 'OstatniNaklady'
FROM TabDenik D 
	JOIN TabCisUctDef AS TCUD ON D.UcetMD = TCUD.CisloUcet AND D.IdObdobi = TCUD.IdObdobi
	JOIN TabZakazka Z ON Z.CisloZakazky = D.CisloZakazky
	LEFT JOIN TabCisOrg AS TCO ON D.CisloOrg = TCO.CisloOrg
	LEFT JOIN TabCisZam AS TCZ ON D.CisloZam = TCZ.Cislo
WHERE D.UcetMD IN ('518018','518019','518025','518025','548001','548097','548097','563000','518007','501021','501013')
GO
