USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_Rep_PrehledPomeruUhrad]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[hvw_Rep_PrehledPomeruUhrad]
AS 
WITH PaymentDetails AS (
    SELECT 
        TCO.Nazev AS Zakaznik,
        TDZ.DatPorizeni_Y AS Obdobi, -- Sloučené časové období
        TDZ.Splatnost_X,
        TU.Datum AS DatumUhrady -- Datum úhrady pro konkrétní fakturu
    FROM TabDokladyZbozi TDZ
    LEFT JOIN TabCisOrg TCO ON TDZ.CisloOrg = TCO.CisloOrg
    LEFT JOIN TabUhrady TU ON TDZ.ID = TU.IDFak -- Spojení úhrad s fakturou
    WHERE 
        TDZ.DruhPohybuZbo = 13 -- Faktury vydané
        AND TDZ.RadaDokladu IN (111, 112, 113) -- Filtr řad dokladů
),
Aggregated AS (
    SELECT 
        Zakaznik,
        Obdobi,
        Splatnost_X,
        MAX(DatumUhrady) AS MaxDatumUhrady
    FROM PaymentDetails
    GROUP BY Zakaznik, Obdobi, Splatnost_X
)
SELECT 
    Zakaznik,
    Obdobi,
    SUM(CASE 
        WHEN DATEDIFF(DAY, Splatnost_X, MaxDatumUhrady) < 0 THEN 1 
        ELSE 0 
    END) AS PocetPredcasnych,
    SUM(CASE 
        WHEN DATEDIFF(DAY, Splatnost_X, MaxDatumUhrady) = 0 THEN 1 
        ELSE 0 
    END) AS PocetVcasnych,
    SUM(CASE 
        WHEN DATEDIFF(DAY, Splatnost_X, MaxDatumUhrady) > 0 THEN 1 
        ELSE 0 
    END) AS PocetZpozdenych
FROM Aggregated
GROUP BY 
    Zakaznik,
    Obdobi

GO
