USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_BilanceNakupuVsVyrobaHeO]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_BilanceNakupuVsVyrobaHeO] AS SELECT * FROM Tabx_BilanceNakupuVyrobnihoMaterialuNaZakazky
GO
