USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_Rep_TrzbyPrehled]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[hvw_Rep_TrzbyPrehled]
AS
SELECT
	dbo.EF_RokPodleData(TDZ.DatPorizeni) AS Obdobi
   ,TDZ.DatPorizeni_Y AS Rok
   ,TDZ.DatPorizeni_M AS Mesic
   ,TDZ.DatPorizeni_Q AS Ctvrtleti
   ,TDZ.DatPorizeni_W AS Tyden
   ,TZ.Nazev AS Zeme
   ,TCO.Nazev AS Zakaznik
   ,TCZ.PrijmeniJmeno AS Zamestnanec
   ,ROUND(SUM(TDZ.SumaKcBezDPH), 0) AS TrzbyCZK
   ,ROUND(SUM(TDZ.SumaValBezDPH), 0) AS TrzbyVAL
   ,TDZ.Mena
FROM TabDokladyZbozi TDZ
LEFT JOIN TabCisOrg TCO
	ON TDZ.CisloOrg = TCO.CisloOrg
LEFT JOIN TabCisZam TCZ
	ON COALESCE(TDZ.CisloZam, TDZ.KontaktZam, TCO.OdpOs) = TCZ.ID
LEFT JOIN TabZeme AS TZ
	ON TCO.IdZeme = TZ.ISOKod
WHERE dbo.EF_RokPodleData(TDZ.DatPorizeni) IS NOT NULL
AND TDZ.DruhPohybuZbo IN (13)
AND TDZ.RadaDokladu IN (111, 112, 113)
GROUP BY dbo.EF_RokPodleData(TDZ.DatPorizeni)
		,TDZ.DatPorizeni_Y
		,TDZ.DatPorizeni_M
		,TDZ.DatPorizeni_Q
		,TDZ.DatPorizeni_W
		,TZ.Nazev
		,TCO.Nazev
		,TCZ.PrijmeniJmeno
		,TDZ.Mena;
GO
