USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_KumulativniInterniOTD]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[hvw_KumulativniInterniOTD]
AS

/*
====================================================================================================
 ÚČEL SKRIPTU: Finální, komplexní OTD report s čistými názvy atributů pro systémovou integraci.
 AUTOR: Aleš Vintrlík
 DATUM VYTVOŘENÍ: 24.06.2025
 VERZE: 11.0 (Systémová - PascalCase názvy bez diakritiky)
====================================================================================================
*/

-- Krok 1: Připravíme si data za delší období a propojíme každou zakázku s jejím fiskálním obdobím
WITH PripravenaData AS (
    SELECT
        ob.Nazev AS NazevObdobi,
        YEAR(Zakazka_EXT._UkonceniVyrobySkutecnost) AS KalendarniRok,
        MONTH(Zakazka_EXT._UkonceniVyrobySkutecnost) AS Mesic,
        CASE
            WHEN MONTH(Zakazka_EXT._UkonceniVyrobySkutecnost) >= 4
            THEN MONTH(Zakazka_EXT._UkonceniVyrobySkutecnost) - 3
            ELSE MONTH(Zakazka_EXT._UkonceniVyrobySkutecnost) + 9
        END AS FiskalniPoradi,
    
        CASE
            WHEN Zakazka_EXT._UkonceniVyrobyPlan IS NULL THEN 'BezPlanu'
            WHEN DATEDIFF(DAY, Zakazka_EXT._UkonceniVyrobyPlan, Zakazka_EXT._UkonceniVyrobySkutecnost) <= 3 THEN 'Vcas'
            ELSE 'Zpozdeno'
        END AS StavOTD

    FROM TabZakazka AS Zakazka
    JOIN TabZakazka_EXT AS Zakazka_EXT ON Zakazka.ID = Zakazka_EXT.ID
    JOIN TabObdobi AS ob ON Zakazka_EXT._UkonceniVyrobySkutecnost BETWEEN ob.DatumOd AND ob.DatumDo
    WHERE
        Zakazka_EXT._UkonceniVyrobySkutecnost >= DATEADD(month, -25, GETDATE())
        AND Zakazka.Rada = '100'
        AND Zakazka.CisloZakazky NOT LIKE 'X%'
        AND Zakazka.CisloZakazky NOT LIKE 'SKL%'
        AND Zakazka.CisloZakazky NOT LIKE 'IN%'
),
-- Krok 2: Měsíční agregace dat
MesicniAgregace AS (
    SELECT
        NazevObdobi, KalendarniRok, Mesic, FiskalniPoradi,
        SUM(CASE WHEN StavOTD IN ('Vcas', 'Zpozdeno') THEN 1 ELSE 0 END) AS PocetMeritelnych,
        SUM(CASE WHEN StavOTD = 'Vcas' THEN 1 ELSE 0 END) AS PocetVcas
    FROM PripravenaData
    GROUP BY NazevObdobi, KalendarniRok, Mesic, FiskalniPoradi
),
-- Krok 3: Spočítáme všechny základní metriky, ze kterých budeme vycházet
VypocetMetrik AS (
    SELECT
        NazevObdobi, KalendarniRok, Mesic, FiskalniPoradi,
        PocetVcas, PocetMeritelnych,
        CAST(PocetVcas AS FLOAT) * 100 / NULLIF(PocetMeritelnych, 0) AS MesicniOTD,
        CAST(SUM(PocetVcas) OVER (PARTITION BY NazevObdobi ORDER BY FiskalniPoradi) AS FLOAT) * 100
            / NULLIF(SUM(PocetMeritelnych) OVER (PARTITION BY NazevObdobi ORDER BY FiskalniPoradi), 0) AS KumulativniOTD,
        LAG(CAST(PocetVcas AS FLOAT) * 100 / NULLIF(PocetMeritelnych, 0), 12) OVER (ORDER BY KalendarniRok, Mesic) AS OTDLoni,
        CAST(SUM(PocetVcas) OVER (ORDER BY KalendarniRok, Mesic ROWS BETWEEN 11 PRECEDING AND CURRENT ROW) AS FLOAT) * 100
            / NULLIF(SUM(PocetMeritelnych) OVER (ORDER BY KalendarniRok, Mesic ROWS BETWEEN 11 PRECEDING AND CURRENT ROW), 0) AS Klouzavy12MOTD
    FROM MesicniAgregace
)
-- Krok 4: Zobrazíme finální report s čistými názvy atributů
SELECT
    KalendarniRok AS Rok,
    Mesic,
    PocetVcas AS PocetVcas,
    PocetMeritelnych AS PocetCelkem,
    
    CAST(MesicniOTD AS DECIMAL(10, 1)) AS MesicniOtdPct,

    CASE 
        WHEN (MesicniOTD - OTDLoni) > 0.1 THEN N'▲ Nárůst'
        WHEN (MesicniOTD - OTDLoni) < -0.1 THEN N'▼ Pokles'
        WHEN OTDLoni IS NOT NULL THEN N'● Stagnace'
        ELSE NULL
    END AS MezirocniTrend,
    
    CAST((MesicniOTD - OTDLoni) AS DECIMAL(10, 1)) AS MezirocniRozdil_pb,
    
    CAST(KumulativniOTD AS DECIMAL(10, 1)) AS KumulativniOtdFiscal_Pct,
    
    CAST(Klouzavy12MOTD AS DECIMAL(10, 1)) AS Klouzavy12mOtd_Pct
    
FROM VypocetMetrik
WHERE (KalendarniRok * 100 + Mesic) > (YEAR(DATEADD(month, -13, GETDATE())) * 100 + MONTH(DATEADD(month, -13, GETDATE())));

GO
