USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_TabPohybyZboziSlouceneMatSklady]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE     VIEW [dbo].[hvw_TabPohybyZboziSlouceneMatSklady] AS 
SELECT TSS.IDKmenZbozi,TSS.IDSklad AS SkladPolozky,TDZ.IDSklad AS SkladDokladu,TPZ.* FROM dbo.TabPohybyZbozi AS TPZ
JOIN dbo.TabStavSkladu AS TSS ON TPZ.IDZboSklad = TSS.ID
JOIN dbo.TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID
WHERE TSS.IDSklad IN (00100300040104,00100300040105)
GO
