USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_TerminyZakazekProPlanovani]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     VIEW [dbo].[hvw_TerminyZakazekProPlanovani]
AS
SELECT TZ.CisloZakazky AS Zakazka
		,ISNULL(TKZ.RegCis,'') AS CisloVyrobku
		,TCO.Nazev AS Firma
		,TZ.DruhyNazev AS Produkt
	--  ,MAX(TP.StavPrikazu) AS Prikaz
		,MIN (ISNULL(TP.kusy_zad,0)) AS MnozstviPozadovane
		,MIN (ISNULL(TP.kusy_zive,0)) AS MnozstviZive
		,MIN (TZ.DatumKonecPlan_X)-5	 AS DatumUkonceni
	--  ,ISNULL(MIN(TP.Plan_ukonceni_X),MIN(COALESCE(TPZ.PotvrzDatDod_X,TDZ.TerminDodavkyDat_X,TPZ.PozadDatDod_X)))-5	 AS DatumUkonceni
		,MIN (TZ.DatumKonecPlan_X) AS DatumExpedice
	--  ,MIN (COALESCE(TPZ.PotvrzDatDod_X,TDZ.TerminDodavkyDat_X,TPZ.PozadDatDod_X)) AS DatumExpedice
	--	,MIN (TP.Plan_ukonceni_X) AS DatumExpedice
		,MIN (TZE._U1Start)	AS PripravaStart
		,MIN (TZE._U1Konec)	AS PripravaKonec
		,MIN (TZE._U4Start)	AS SvarovaniStart
		,MIN (TZE._U4Konec)	AS SvarovaniKonec
		,MIN (TZE._U2Start)	AS MontazStart
		,MIN (TZE._U2Konec)	AS MontazKonec
		,MIN (TZE._U3Start)	AS ElektroStart
		,MIN (TZE._U3Konec)	AS ElektroKonec
		,MIN (TZE._U5Start)	AS SegmentyStart
		,MIN (TZE._U5Konec)	AS SegmentyKonec
		,MIN (TZE._U8Start)	AS KontrolaStart
		,MIN (TZE._U8Konec)	AS KontrolaKonec
		,ISNULL(TZ.Nazev,'') AS Projekt
	FROM
		TabZakazka TZ
		JOIN TabZakazkaRada TZR ON TZ.Rada = TZR.Rada
		LEFT JOIN TabPrikaz TP ON TZ.ID = TP.IDZakazka AND TP.UrovenVnoreni = 0 -- AND TP.StavPrikazu IN (20,30)
		LEFT JOIN TabPohybyZbozi TPZ ON TZ.CisloZakazky = TPZ.CisloZakazky AND TPZ.DruhPohybuZbo = 9 
		LEFT JOIN TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID
		LEFT JOIN TabCisOrg AS TCO ON TZ.Zadavatel = TCO.CisloOrg
		LEFT JOIN TabZakazka_EXT TZE ON TZ.ID = TZE.ID
		LEFT JOIN TabKmenZbozi AS TKZ ON TPZ.SkupZbo = TKZ.SkupZbo AND TPZ.RegCis = TKZ.RegCis -- TKZ.ID = TP.IDTabKmen -- Tady bude asi problém v případě, že ještě neexistuje příkaz
	WHERE
		ISNULL(TZ.Ukonceno,0) = 0
		AND TKZ.SkupZbo LIKE 'V%' 
		AND (TZR.Rada LIKE '100')
		AND LEFT(TZ.CisloZakazky,3) NOT LIKE 'SKL'
	GROUP BY
		TZ.CisloZakazky
		,TKZ.RegCis
		,TCO.Nazev
		,TZ.DruhyNazev
		,ISNULL(TZ.Nazev,'')
	HAVING
		(MIN (ISNULL(TP.kusy_zad,0)) = MIN (ISNULL(TP.kusy_zive,0)))
GO
