USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_Tabx_PropalyPoMesicich]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_Tabx_PropalyPoMesicich] AS SELECT
    CONVERT(VARCHAR, TPPM.Rok) + '-' + RIGHT('0' + CONVERT(VARCHAR, TPPM.Mesic), 2) AS RokMesic,
	EOMONTH(DATEFROMPARTS(TPPM.Rok, TPPM.Mesic, 1)) AS Datum,
	TPPM.Rok,
	TPPM.Mesic,
    TPPM.Plech,
    TPPM.Pozadovano,
    TPPM.Realizovano,
    TPPM.PropalProcento 
FROM
    Tabx_PropalyPoMesicich TPPM
GO
