USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_StavyCiselnik]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_StavyCiselnik] AS SELECT*FROM Tabx_StavyCiselnik
GO
