USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_SeznamKooperaci]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_SeznamKooperaci] AS SELECT DISTINCT
    TCO.Nazev AS Firma
   ,TC.nazev AS Kooperace
   ,TKZ.ID
   ,TKZ.RegCis
   ,TKZ.Nazev1
   ,ISNULL(TKZE._Kooperace,0) AS VzdyKooperace
   ,ISNULL(TKZE._KooperaceVolitelne,0) AS NekdyKooperace
FROM TabPolKoopObj AS TPKO
	JOIN TabKoopObj AS TKO ON TPKO.IDObjednavky = TKO.ID
	JOIN TabCisOrg AS TCO ON TKO.IDOrganizace = TCO.ID
	JOIN TabPrikaz AS TP ON TPKO.IDPrikaz = TP.ID
	JOIN TabKmenZbozi AS TKZ ON TP.IDTabKmen = TKZ.ID
	LEFT JOIN TabKmenZbozi_EXT AS TKZE ON TKZ.ID = TKZE.ID
	JOIN TabCKoop AS TC ON TPKO.IDkooperace = TC.ID
GO
