USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_Rep_Vysledovka]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[hvw_Rep_Vysledovka]
AS
SELECT 
    TD.DatumPripad_Y AS Rok,
    TD.DatumPripad_M AS Mesic,
    CAST(TD.DatumPripad_Y AS VARCHAR(4)) + '-' + RIGHT('0' + CAST(TD.DatumPripad_M AS VARCHAR(2)), 2) AS Obdobi,
    TSU.NazevZjednoduseny,
	TSU.NazevSyntetika,
	TCU.NazevUctu,
    -- Náklady (třída 5)
    ISNULL(ROUND(SUM(CASE WHEN LEFT(TCU.CisloUcet, 1) = '5' THEN -TD.Castka ELSE 0 END), 0), 0) AS Naklady,
    -- Výnosy (třída 6)
    ISNULL(ROUND(SUM(CASE WHEN LEFT(TCU.CisloUcet, 1) = '6' THEN TD.Castka ELSE 0 END), 0), 0) AS Vynosy,
    -- Rozdíl nákladů a výnosů
--    ISNULL(ROUND(SUM(CASE WHEN LEFT(TCU.CisloUcet, 1) = '5' THEN -TD.Castka ELSE TD.Castka END), 0), 0) AS Skutecnost,
	ISNULL(-SUM(TD.CastkaZust),0) AS Skutecnost
FROM
    TabDenik AS TD
JOIN TabObdobi AS TOB ON TOB.ID = TD.IdObdobi
JOIN TabCisUctDef AS TCU ON TD.CisloUcet = TCU.CisloUcet AND TD.IdObdobi = TCU.IdObdobi AND TCU.Vysledovka = 1
LEFT JOIN Tabx_CisSynt AS TSU ON TSU.CisloSynt = LEFT(TCU.CisloUcet, 3)
WHERE
    (GETDATE() BETWEEN TOB.DatumOd AND TOB.DatumDo)
    OR (GETDATE()-365 BETWEEN TOB.DatumOd AND TOB.DatumDo)
GROUP BY
    TD.DatumPripad_Y,
    TD.DatumPripad_M,
	TSU.NazevZjednoduseny,
	TSU.NazevSyntetika,
	TCU.NazevUctu,
    CAST(TD.DatumPripad_Y AS VARCHAR(4)) + '-' + RIGHT('0' + CAST(TD.DatumPripad_M AS VARCHAR(2)), 2)
GO
