USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_HodnoceniZakazek]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_HodnoceniZakazek] AS SELECT Tabx_ASOL_HodnoceniZakazek.* FROM dbo.Tabx_ASOL_HodnoceniZakazek  WHERE Autor=(SELECT @@spid)
GO
