USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_PrehledUbytkuPodleZakazek]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_PrehledUbytkuPodleZakazek] AS SELECT
	CASE WHEN LEFT(TZ.CisloZakazky,8) = TZ.NadrizenaZak THEN TZ.NadrizenaZak ELSE TZ.CisloZakazky END AS CisloZakazky
	,MIN(TPNV.DatPripadu_X) AS DatumOd
	,MAX(TPNV.DatPripadu_X) AS DatumDo
   ,SUM(TPNV.Celkem) AS Ubytek
FROM TabPohybyNV TPNV
	JOIN TabPrikaz TP ON TPNV.IDPrikaz = TP.ID
	JOIN TabZakazka AS TZ ON TP.IDZakazka = TZ.ID
WHERE
	TPNV.DruhPohybu = 23
GROUP BY
	 CASE WHEN LEFT(TZ.CisloZakazky,8) = TZ.NadrizenaZak THEN TZ.NadrizenaZak ELSE TZ.CisloZakazky END
GO
