USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_ReportPocetProjektu]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE         VIEW [dbo].[hvw_ReportPocetProjektu] AS

-- Projekty

WITH CTE_Projekty AS (
    SELECT DISTINCT TCZ.Cislo AS CisloZam 
    FROM TabCisZam AS TCZ
    JOIN TabKontaktJednani AS TKJ ON TCZ.Cislo = TKJ.CisloZam AND TKJ.Kategorie = 'TPV'
),
CTE_HodnotaProjektu AS (
    SELECT TKJ.MistoKonani,
           TKJ.CisloZam,
           ISNULL(TKJ.PredpokladCena, 0) * ISNULL(TKL.Kurz, AVG_Kurz) AS HodnotaProjektu
    FROM TabKontaktJednani TKJ
    OUTER APPLY (
        SELECT TOP 1 Kurz 
        FROM TabKurzList 
        WHERE Mena = TKJ.MenaFakturace 
        AND Datum <= ISNULL(TKJ.DatumJednaniOd, TKJ.DatPorizeni) 
        ORDER BY Datum DESC
    ) TKL
    CROSS APPLY (
        SELECT AVG(Kurz) AS AVG_Kurz 
        FROM TabKurzList 
        WHERE Mena = TKJ.MenaFakturace
    ) AVG_Kurz
    WHERE TKJ.Kategorie LIKE 'TPV' AND TKJ.MenaFakturace IS NOT NULL AND ISNULL(TKJ.DatumJednaniOd, TKJ.DatPorizeni) > GETDATE() - 60
),
CTE_Aggregate AS (
    SELECT TKJ.CisloZam, 
           TKJ.MistoKonani, 
           TKJ.DatumJednaniOd_Y AS Rok, 
           TKJ.DatumJednaniOd_M AS Mesic, 
           dbo.hf_ISOweek(TKJ.DatumJednaniOd) AS Tyden, 
           COUNT(*) AS PocetNabidek
    FROM TabKontaktJednani AS TKJ
    JOIN CTE_Projekty ON CTE_Projekty.CisloZam = TKJ.CisloZam
    WHERE TKJ.MistoKonani NOT IN ('','-','--','---','?') AND TKJ.DatumJednaniOd_Y IS NOT NULL
    GROUP BY TKJ.CisloZam, TKJ.MistoKonani, TKJ.DatumJednaniOd_Y, TKJ.DatumJednaniOd_M, dbo.hf_ISOweek(TKJ.DatumJednaniOd)
),
CTE_ProjectValues AS (
    SELECT MistoKonani, AVG(HodnotaProjektu) AS TotalHodnotaProjektu
    FROM CTE_HodnotaProjektu
    GROUP BY MistoKonani
)
SELECT CTE_Aggregate.CisloZam, 
       CTE_Aggregate.Rok, 
       CTE_Aggregate.Mesic, 
       CTE_Aggregate.Tyden, 
       COUNT(DISTINCT CTE_Aggregate.MistoKonani) AS PocetProjektu, 
       SUM(CTE_Aggregate.PocetNabidek) AS PocetNabidek, 
       SUM(ISNULL(CTE_ProjectValues.TotalHodnotaProjektu, 0)) AS HodnotaProjektu
FROM CTE_Aggregate
JOIN CTE_ProjectValues ON CTE_Aggregate.MistoKonani = CTE_ProjectValues.MistoKonani
GROUP BY CTE_Aggregate.CisloZam, CTE_Aggregate.Rok, CTE_Aggregate.Mesic, CTE_Aggregate.Tyden;
GO
