USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_KapacityProPlanovani]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[hvw_KapacityProPlanovani] AS
SELECT ISNULL(TCE._HcvInEkoSkupina,0) AS Usek
	,TC.Pracoviste
	,TC.Nazev
	,TC.Smennost
	,TC.Vice_lidi
	,TC.Plneni
	,TC.Smennost * TC.Vice_lidi * TC.Plneni / 100 AS DenniKapacita
FROM
	TabCPraco AS TC
	JOIN TabCPraco_EXT AS TCE ON TC.ID = TCE.ID
WHERE
	TC.Blokovano <> 1
	AND TC.Pracoviste IN (SELECT Pracoviste FROM TabCPraco WHERE ID IN (SELECT TP.pracoviste FROM TabPrPostup AS TP))
GO
