USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_PlneniHodZaSkupPrac]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[hvw_PlneniHodZaSkupPrac] 
AS 
SELECT 
    Z.CisloZakazky,Z.Rada,
    (SELECT TOP 1 Z.DatumKonecPlan_X 
     FROM TabPrikaz 
     JOIN TabKmenZbozi ON TabKmenZbozi.ID = TabPrikaz.IDTabKmen 
     WHERE 
        ((Rada LIKE N'100' AND StavPrikazu IN (30,40) AND TabPrikaz.ID = TabPrikaz.IDPrikazRidici AND IDZakazka = Z.ID) OR 
         (Rada NOT LIKE N'100' AND TabPrikaz.ID = TabPrikaz.IDPrikazRidici AND StavPrikazu IN (30) AND RegCis LIKE 'VAA%' AND IDZakazka = Z.ID))) - 5 AS PlanUkonceni,
--  (SELECT TOP 1 BaleniTXT FROM TabPrikaz JOIN TabKmenZbozi ON TabPrikaz.IDTabKmen = TabKmenZbozi.ID WHERE TabPrikaz.ID = IDPrikazRidici AND IDZakazka = Z.ID) AS KodStroje,
	 Z.DruhyNazev AS KodStroje,
	 Z.Nazev AS Projekt,
    ISNULL(ZE._HodSkPrac1, 0) AS HodPlanPriprava,
    ISNULL((SELECT SUM(MZ.Sk_cas_Obsluhy_H) 
            FROM TabPrikazMzdyAZmetky AS MZ 
            LEFT OUTER JOIN TabCPraco AS CP ON MZ.IDPracoviste = CP.ID 
            LEFT OUTER JOIN TabKmenZbozi AS KZ ON MZ.IDTabKmen = KZ.ID 
            LEFT OUTER JOIN TabPrikaz AS P ON P.ID = MZ.IDPrikaz 
            LEFT OUTER JOIN TabZakazka AS Z1 ON Z1.ID = P.IDZakazka 
            LEFT OUTER JOIN TabPrPostup AS PP ON MZ.IDPrikaz = PP.IDPrikaz AND MZ.DokladPrPostup = PP.Doklad AND MZ.AltPrPostup = PP.Alt AND PP.IDOdchylkyDo IS NULL 
            LEFT OUTER JOIN TabCPraco_EXT AS CP_EXT ON CP_EXT.ID = CP.ID 
            WHERE Z1.ID = Z.ID AND CP_EXT._HcvInEkoSkupina = 1), 0) AS SkutHodPriprava,
    ISNULL(ZE._HodSkPrac4, 0) AS HodPlanSvarovani,
    ISNULL((SELECT SUM(MZ.Sk_cas_Obsluhy_H) 
            FROM TabPrikazMzdyAZmetky AS MZ 
            LEFT OUTER JOIN TabCPraco AS CP ON MZ.IDPracoviste = CP.ID 
            LEFT OUTER JOIN TabKmenZbozi AS KZ ON MZ.IDTabKmen = KZ.ID 
            LEFT OUTER JOIN TabPrikaz AS P ON P.ID = MZ.IDPrikaz 
            LEFT OUTER JOIN TabZakazka AS Z1 ON Z1.ID = P.IDZakazka 
            LEFT OUTER JOIN TabPrPostup AS PP ON MZ.IDPrikaz = PP.IDPrikaz AND MZ.DokladPrPostup = PP.Doklad AND MZ.AltPrPostup = PP.Alt AND PP.IDOdchylkyDo IS NULL 
            LEFT OUTER JOIN TabCPraco_EXT AS CP_EXT ON CP_EXT.ID = CP.ID 
            WHERE Z1.ID = Z.ID AND CP_EXT._HcvInEkoSkupina = 4), 0) AS SkutHodSvarovani,
    ISNULL(ZE._HodSkPrac2, 0) AS HodPlanMontaz,
    ISNULL((SELECT SUM(MZ.Sk_cas_Obsluhy_H) 
            FROM TabPrikazMzdyAZmetky AS MZ 
            LEFT OUTER JOIN TabCPraco AS CP ON MZ.IDPracoviste = CP.ID 
            LEFT OUTER JOIN TabKmenZbozi AS KZ ON MZ.IDTabKmen = KZ.ID 
            LEFT OUTER JOIN TabPrikaz AS P ON P.ID = MZ.IDPrikaz 
            LEFT OUTER JOIN TabZakazka AS Z1 ON Z1.ID = P.IDZakazka 
            LEFT OUTER JOIN TabPrPostup AS PP ON MZ.IDPrikaz = PP.IDPrikaz AND MZ.DokladPrPostup = PP.Doklad AND MZ.AltPrPostup = PP.Alt AND PP.IDOdchylkyDo IS NULL 
            LEFT OUTER JOIN TabCPraco_EXT AS CP_EXT ON CP_EXT.ID = CP.ID 
            WHERE Z1.ID = Z.ID AND CP_EXT._HcvInEkoSkupina = 2), 0) AS SkutHodMontaz,
    ISNULL(ZE._HodSkPrac3, 0) AS HodPlanElektro,
    ISNULL((SELECT SUM(MZ.Sk_cas_Obsluhy_H) 
            FROM TabPrikazMzdyAZmetky AS MZ 
            LEFT OUTER JOIN TabCPraco AS CP ON MZ.IDPracoviste = CP.ID 
            LEFT OUTER JOIN TabKmenZbozi AS KZ ON MZ.IDTabKmen = KZ.ID 
            LEFT OUTER JOIN TabPrikaz AS P ON P.ID = MZ.IDPrikaz 
            LEFT OUTER JOIN TabZakazka AS Z1 ON Z1.ID = P.IDZakazka 
            LEFT OUTER JOIN TabPrPostup AS PP ON MZ.IDPrikaz = PP.IDPrikaz AND MZ.DokladPrPostup = PP.Doklad AND MZ.AltPrPostup = PP.Alt AND PP.IDOdchylkyDo IS NULL 
            LEFT OUTER JOIN TabCPraco_EXT AS CP_EXT ON CP_EXT.ID = CP.ID 
            WHERE Z1.ID = Z.ID AND CP_EXT._HcvInEkoSkupina = 3), 0) AS SkutHodElektro,
    ISNULL(ZE._HodSkPrac5, 0) AS HodPlanSegmenty,
    ISNULL((SELECT SUM(MZ.Sk_cas_Obsluhy_H) 
            FROM TabPrikazMzdyAZmetky AS MZ 
            LEFT OUTER JOIN TabCPraco AS CP ON MZ.IDPracoviste = CP.ID 
            LEFT OUTER JOIN TabKmenZbozi AS KZ ON MZ.IDTabKmen = KZ.ID 
            LEFT OUTER JOIN TabPrikaz AS P ON P.ID = MZ.IDPrikaz 
            LEFT OUTER JOIN TabZakazka AS Z1 ON Z1.ID = P.IDZakazka 
            LEFT OUTER JOIN TabPrPostup AS PP ON MZ.IDPrikaz = PP.IDPrikaz AND MZ.DokladPrPostup = PP.Doklad AND MZ.AltPrPostup = PP.Alt AND PP.IDOdchylkyDo IS NULL 
            LEFT OUTER JOIN TabCPraco_EXT AS CP_EXT ON CP_EXT.ID = CP.ID 
            WHERE Z1.ID = Z.ID AND CP_EXT._HcvInEkoSkupina = 5), 0) AS SkutHodSegmenty,
    CAST(
		CASE 
			WHEN EXISTS (
				SELECT 1
				FROM TabPrPostup AS TPP
				JOIN TabCPraco AS TC ON TPP.pracoviste = TC.ID
				JOIN TabCPraco_EXT AS TCE ON TC.ID = TCE.ID
				JOIN TabPrikaz AS TP ON TPP.IDPrikaz = TP.ID
				JOIN TabZakazka AS TZ ON TP.IDZakazka = TZ.ID
				WHERE ISNULL(TCE._HcvInEkoSkupina,0) = 7
				  AND TPP.Prednastaveno = 1
				  AND TZ.CisloZakazky = Z.CisloZakazky
			) THEN 1
			ELSE 0
		END AS BIT
	) AS Rozvadec,
	(SELECT TOP 1 TKO.PozadTerDod
     FROM TabKoopObj AS TKO
     JOIN TabPolKoopObj AS TPKO ON TKO.ID = TPKO.IDObjednavky
     JOIN TabPolKoopObj_EXT AS TPKOE ON TPKO.ID = TPKOE.ID
     WHERE TPKOE._HlavniKooperace = 1 
       AND Z.ID = (SELECT P.IDZakazka FROM TabPrikaz P WHERE P.ID = TPKO.IDPrikaz)) AS UkonceniKooperace,
	ZE._U1Konec AS UkonceniPripravy,
	ZE._U4Konec AS UkonceniSvarovani,
	ZE._U2Konec AS UkonceniMontaze, 
	ZE._U3Konec AS UkonceniElektro, 	 
	ZE._U5Konec AS UkonceniSegmenty, 
	ZE._U8Konec AS UkonceniKontrola,
	ZE._PoznamkaProMistry AS Poznamka
FROM
    TabZakazka AS Z
    LEFT OUTER JOIN TabZakazka_EXT AS ZE ON ZE.ID = Z.ID
WHERE 
	Z.ID IN (SELECT IDZakazka 
               FROM TabPrikaz AS TP 
               JOIN TabKmenZbozi AS TKZ ON TKZ.ID = TP.IDTabKmen 
               WHERE (Rada LIKE N'100' AND TP.ID = TP.IDPrikazRidici AND TP.StavPrikazu IN (30)) OR 
                     (Rada NOT LIKE N'100' AND TP.ID = TP.IDPrikazRidici AND TP.StavPrikazu IN (30) AND TKZ.RegCis LIKE 'VAA%')) 
GO
