USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_StavSkladuPolotovaruMinMaxProObj]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_StavSkladuPolotovaruMinMaxProObj] AS SELECT
    tkz.RegCis,
    tkz.Nazev1 AS Nazev,
    ISNULL(spotreba.PrumernaMesicni, 0) AS PrumernaMesicniSpotreba,
    
    tss.Minimum,
    tss.Maximum,
    tss.Mnozstvi AS AktualniStav,
    CASE 
        WHEN spotreba.PrumernaMesicni > 0 THEN tss.Mnozstvi / spotreba.PrumernaMesicni
ELSE 0
    END AS DobaPokrytiMesice,
    
    -- Označení 1: Blízko maxima (v pásmu 90% - 100%)
    CASE 
        WHEN tss.Maximum > 0
             AND tss.Mnozstvi >= (tss.Maximum * 0.9) -- Je nad 90%
             AND tss.Mnozstvi <= tss.Maximum          -- ALE je pod 100%
        THEN 1 
        ELSE 0 
    END AS JeBlizkoMaxima,
    
    -- Označení 2: Nad maximem (více než 100%)
    CASE
        WHEN tss.Maximum > 0
             AND tss.Mnozstvi > tss.Maximum
        THEN 1
        ELSE 0
    END AS JeNadMaximem,
    
    -- Příznak kooperace
    tkze._kooperace
    
FROM
    -- Master tabulka je TabStavSkladu
    TabStavSkladu AS tss
JOIN
    TabKmenZbozi AS tkz ON tss.IDKmenZbozi = tkz.ID
JOIN
    TabParKmZ AS tpkz ON tkz.ID = tpkz.IDKmenZbozi
LEFT JOIN
    TabKmenZbozi_EXT AS tkze ON tkz.ID = tkze.ID

-- Vypočet spotřeby
OUTER APPLY (
    SELECT
        -- Součet výdejů (4) mínus součet storen (1), děleno 12
        SUM(CASE
            WHEN p.DruhPohybuZbo = 4 THEN p.Mnozstvi
            WHEN p.DruhPohybuZbo = 1 THEN -p.Mnozstvi
            ELSE 0
        END) / 12.0 AS PrumernaMesicni
    FROM
        TabPohybyZbozi AS p
    WHERE
        -- Propojení přes skladovou kartu (tss.ID)
        p.IDZboSklad = tss.ID 
        
        AND p.DatPorizeni_X >= DATEADD(year, -1, GETDATE()) -- Dnes mínus 1 rok
        AND p.DatPorizeni_X <= GETDATE()                 -- Dnešek
        
        AND p.DruhPohybuZbo IN (1, 4) -- Filtrujeme jen relevantní pohyby
) AS spotreba

WHERE
    -- 1. Filtr: Sklad polotovarů
    tss.IDSklad = '00100300040102'
    
    -- 2. Filtr: Vyřazené z generování
    AND tpkz.VyraditZGenerPodrizPrikazu = 1
    
    -- 3. Filtr: Skladový proces "nezadáno"
    AND tkze._HcvInEkoSklProces IS NULL

	-- 4. mají nějaké definovaní Minimum nebo Maximum
	AND tss.Minimum + tss.Maximum > 0
GO
