USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_ReportRozpocetPlneniDetail]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     VIEW [dbo].[hvw_ReportRozpocetPlneniDetail]
AS
SELECT 
		TD.DatumPripad_Y AS Rok
		,TD.DatumPripad_M AS Mesic
--		,CAST(TD.DatumPripad_Y AS VARCHAR(4)) + RIGHT('0' + CAST(TD.DatumPripad_M AS VARCHAR(2)), 2) AS Obdobi
		,TD.DatumPripad_X AS Datum
		,TCO.Firma
		,TCZ.PrijmeniJmeno AS Zamestnanec
		,TUE._RepSkupinaUctu AS SkupinaUctu
		,TCU.NazevUctu AS Nazev
		,TD.CisloUcet AS Ucet
--		,ROUND(ISNULL((CASE WHEN LEFT(TD.Sbornik, 1) LIKE '5' THEN -TD.Castka ELSE TD.Castka END), 0),0) AS Skutecnost
		,TD.CastkaMD
		,TD.CastkaDAL
		,TD.Popis
FROM
	TabDenik AS TD
JOIN TabObdobi AS TOB ON TOB.ID = TD.IdObdobi
JOIN TabCisUctDef AS TCU ON TD.CisloUcet = TCU.CisloUcet AND TD.IdObdobi = TCU.IdObdobi
JOIN TabCisUct AS TU ON TCU.CisloUcet = TU.CisloUcet
LEFT JOIN TabCisUct_EXT TUE ON TU.ID = TUE.ID
LEFT JOIN TabCisZam TCZ ON TD.CisloZam = TCZ.Cislo
LEFT JOIN TabCisOrg TCO ON TD.CisloOrg = TCO.CisloOrg
WHERE
	GETDATE () BETWEEN TOB.DatumOd AND TOB.DatumDo
	AND LEFT (TD.CisloUcet, 1) IN (1, 5, 6)
--	AND TUE._RepSkupinaUctu = 'Osobní náklady'
GO
