USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_HistorieCenyPolozkyEP_HeO]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_HistorieCenyPolozkyEP_HeO] AS SELECT * FROM dbo.hvw_HistorieCenyPolozkyEP
GO
