USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_BilanceNakupuVyrobnihoMaterialuNaZakazky]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: Přehled krytí materiálu na zakázky (FIFO, na ID materiálu)
-- Autor: Aleš Vintrlík + ChatGPT
-- Komentáře u všech atributů, včetně logiky barev, termínu a čísla objednávky

CREATE   VIEW [dbo].[hvw_BilanceNakupuVyrobnihoMaterialuNaZakazky] AS

-- Aktuální stav skladu pro každý materiál (jen vybraný sklad)
WITH StockPerProduct AS (
    SELECT 
        TKZ.ID AS IDKmenZbozi,               -- Unikátní ID materiálu
        TKZ.RegCis,                         -- Katalogové číslo
        TKZ.Nazev1,                         -- Název materiálu
        TKZ.SkupZbo,                        -- Skupina zboží
        TKZ.MJEvidence,                     -- Měrná jednotka
        ISNULL(SUM(TSS.Mnozstvi),0) AS Skladem
    FROM TabStavSkladu TSS WITH (NOLOCK)
        JOIN TabKmenZbozi TKZ ON TKZ.ID = TSS.IDKmenZbozi
		LEFT JOIN TabKmenZbozi_EXT AS TKZE ON TKZ.ID = TKZE.ID
    WHERE TSS.IDSklad = '00100300040104' AND TKZE._HcvInEkoSklProces IS NULL
    GROUP BY TKZ.ID, TKZ.RegCis, TKZ.Nazev1, TKZ.SkupZbo, TKZ.MJEvidence
),
AggregatedZakazky AS (
    SELECT 
        TKZ.ID AS IDKmenZbozi,
        TKZ.RegCis,
        TKZ.Nazev1,
        TKZ.SkupZbo,
        TKZ.MJEvidence,
        TZ.CisloZakazky AS Zakazka,       -- Číslo zakázky
        SUM(TV.mnoz_nevydane) AS Mnozstvi,-- Potřeba pro zakázku
        MIN(TP.Plan_zadani_X) AS DatumVyroby,
        
        -- <<< ZDE JE ZMĚNA: Přidání sloupce Rozvadec
        CAST(
            CASE 
                WHEN EXISTS (
                    SELECT 1
                    FROM TabPrPostup AS TPP WITH (NOLOCK)
                    JOIN TabCPraco AS TC WITH (NOLOCK) ON TPP.pracoviste = TC.ID
                    JOIN TabCPraco_EXT AS TCE WITH (NOLOCK) ON TC.ID = TCE.ID
                    JOIN TabPrikaz AS TP_Sub WITH (NOLOCK) ON TPP.IDPrikaz = TP_Sub.ID
                    JOIN TabZakazka AS TZ_Sub WITH (NOLOCK) ON TP_Sub.IDZakazka = TZ_Sub.ID
                    WHERE ISNULL(TCE._HcvInEkoSkupina,0) = 7
                      AND TPP.Prednastaveno = 1
                      -- Korelace na zakázku z vnějšího dotazu
                      AND TZ_Sub.CisloZakazky = TZ.CisloZakazky
                ) THEN 1
                ELSE 0
            END AS BIT
        ) AS Rozvadec

    FROM TabPrKVazby TV WITH (NOLOCK)
        JOIN TabPrikaz TP WITH (NOLOCK) ON TP.ID = TV.IDPrikaz AND TP.StavPrikazu IN (20,30)
        JOIN TabZakazka TZ WITH (NOLOCK) ON TZ.ID = TP.IDZakazka AND (TZ.Rada LIKE 'XS_' OR TZ.Rada LIKE 'XR_' OR TZ.Rada = '100')
        JOIN TabKmenZbozi TKZ WITH (NOLOCK) ON TKZ.ID = TV.nizsi
        LEFT JOIN TabStavSkladu TSS WITH (NOLOCK) ON TSS.IDKmenZbozi = TV.nizsi AND TSS.IDSklad = '00100300040104'
    WHERE TV.mnoz_Nevydane > 0 AND TKZ.Material = 1 AND TV.Prednastaveno = 1 AND TV.Splneno != 1
    GROUP BY TKZ.ID, TKZ.RegCis, TKZ.Nazev1, TKZ.SkupZbo, TKZ.MJEvidence, TZ.CisloZakazky
),
ObjednavkyPrijem AS (
    SELECT 
        TKZ.ID AS IDKmenZbozi,
        COALESCE(TPZ.PotvrzDatDod_X, TDZ.TerminDodavkyDat_X, TPZ.PozadDatDod_X) AS TerminPrijmu,
        SUM(TPZ.Mnozstvi-TPZ.MnOdebrane-TPZ.MnozstviStorno) AS Objednano,
		SUM(TSS.MnozstviKPrijmu) AS BudePrijato,
		SUM(TSS.MnozstviKVydeji) AS BudeVydano,
        MIN(TDZ.ParovaciZnak) AS CisloObjednavky
    FROM TabPohybyZbozi TPZ WITH (NOLOCK)
        JOIN TabDokladyZbozi TDZ WITH (NOLOCK) ON TPZ.IDDoklad = TDZ.ID AND TDZ.DruhPohybuZbo = 6
        JOIN TabStavSkladu TSS WITH (NOLOCK) ON TPZ.IDZboSklad = TSS.ID
        JOIN TabKmenZbozi TKZ WITH (NOLOCK) ON TSS.IDKmenZbozi = TKZ.ID
    WHERE TPZ.Splneno != 1 AND (TPZ.Mnozstvi-TPZ.MnOdebrane-TPZ.MnozstviStorno) > 0
    GROUP BY TKZ.ID, COALESCE(TPZ.PotvrzDatDod_X, TDZ.TerminDodavkyDat_X, TPZ.PozadDatDod_X)
),
ZakazkyWithCumulative AS (
    SELECT 
        AZ.*,
        SUM(AZ.Mnozstvi) OVER (
            PARTITION BY AZ.IDKmenZbozi
            ORDER BY AZ.DatumVyroby, AZ.Zakazka
            ROWS UNBOUNDED PRECEDING
        ) AS CumulativeMnozstvi
    FROM AggregatedZakazky AZ
),
ZakazkyWithVirtSkladem AS (
    SELECT 
        ZWC.*,
        SP.Skladem,
        (SELECT ISNULL(SUM(Objednano),0) FROM ObjednavkyPrijem OP WHERE OP.IDKmenZbozi = ZWC.IDKmenZbozi AND OP.TerminPrijmu <= ZWC.DatumVyroby) AS ObjednanoDoVyroby,
        (SP.Skladem + (SELECT ISNULL(SUM(Objednano),0) FROM ObjednavkyPrijem OP WHERE OP.IDKmenZbozi = ZWC.IDKmenZbozi AND OP.TerminPrijmu <= ZWC.DatumVyroby)) AS VirtualSklad,
		(SELECT ISNULL(SUM(BudePrijato),0) FROM ObjednavkyPrijem OP WHERE OP.IDKmenZbozi = ZWC.IDKmenZbozi) AS BudePrijato,
		(SELECT ISNULL(SUM(BudeVydano),0) FROM ObjednavkyPrijem OP WHERE OP.IDKmenZbozi = ZWC.IDKmenZbozi) AS BudeVydano,
        (SELECT MIN(t.TerminPrijmu) FROM (SELECT OP2.TerminPrijmu, SUM(OP2S.Objednano) OVER (PARTITION BY OP2.IDKmenZbozi ORDER BY OP2.TerminPrijmu ROWS UNBOUNDED PRECEDING) + SP.Skladem AS PokrytoDoTerminu FROM ObjednavkyPrijem OP2 INNER JOIN ObjednavkyPrijem OP2S ON OP2S.IDKmenZbozi = OP2.IDKmenZbozi AND OP2S.TerminPrijmu <= OP2.TerminPrijmu WHERE OP2.IDKmenZbozi = ZWC.IDKmenZbozi) t WHERE t.PokrytoDoTerminu >= ZWC.CumulativeMnozstvi AND SP.Skladem < ZWC.CumulativeMnozstvi) AS TerminPokrytiObjednavkou,
        (SELECT MIN(t.CisloObjednavky) FROM (SELECT OP2.TerminPrijmu, OP2.CisloObjednavky, SUM(OP2S.Objednano) OVER (PARTITION BY OP2.IDKmenZbozi ORDER BY OP2.TerminPrijmu ROWS UNBOUNDED PRECEDING) + SP.Skladem AS PokrytoDoTerminu FROM ObjednavkyPrijem OP2 INNER JOIN ObjednavkyPrijem OP2S ON OP2S.IDKmenZbozi = OP2.IDKmenZbozi AND OP2S.TerminPrijmu <= OP2.TerminPrijmu WHERE OP2.IDKmenZbozi = ZWC.IDKmenZbozi) t WHERE t.PokrytoDoTerminu >= ZWC.CumulativeMnozstvi AND SP.Skladem < ZWC.CumulativeMnozstvi) AS CisloObjednavkyPokryti
    FROM ZakazkyWithCumulative ZWC
    JOIN StockPerProduct SP ON SP.IDKmenZbozi = ZWC.IDKmenZbozi
)
SELECT 
    IDKmenZbozi,
    RegCis,
    Nazev1,
    SkupZbo,
    MJEvidence,
    Zakazka,
    DatumVyroby,
    Mnozstvi,
    Skladem,
    ObjednanoDoVyroby,
    VirtualSklad,
	BudePrijato, 
	BudeVydano,
    CumulativeMnozstvi,
    TerminPokrytiObjednavkou,
    CisloObjednavkyPokryti,
    Rozvadec, -- <<< ZDE JE ZMĚNA: Přidání sloupce do finálního výstupu
    CASE 
        WHEN CumulativeMnozstvi <= Skladem THEN 'Stavem skladu'
        WHEN CumulativeMnozstvi <= VirtualSklad AND Skladem < CumulativeMnozstvi AND Skladem > 0 THEN 'Skladem a objednávkou'
        WHEN CumulativeMnozstvi <= VirtualSklad THEN 'Objednávkou'
        ELSE 'Není pokryto'
    END AS StavPokrytiZakazky,
    CASE 
        WHEN CumulativeMnozstvi <= Skladem THEN 'green'
        WHEN CumulativeMnozstvi <= VirtualSklad AND Skladem < CumulativeMnozstvi AND Skladem > 0 THEN 'orange'
        WHEN CumulativeMnozstvi <= VirtualSklad THEN 'orange'
        ELSE 'red'
    END AS BarvaPokryti,
    VirtualSklad - CumulativeMnozstvi AS ZbyvaPoZakazce,
    CASE 
        WHEN CumulativeMnozstvi <= Skladem THEN 'Plně pokryto aktuálním skladem.'
        WHEN CumulativeMnozstvi <= VirtualSklad AND Skladem < CumulativeMnozstvi AND Skladem > 0 THEN 'Částečně skladem, zbytek pokryje objednávka.'
        WHEN CumulativeMnozstvi <= VirtualSklad THEN 'Požadavek bude pokryt až po příjmu z vydané objednávky.'
        ELSE 'Požadavek není pokrytý – materiál chybí, urychleně řešit!'
    END AS KomentarPokryti
FROM ZakazkyWithVirtSkladem
WHERE Zakazka IS NOT NULL
GO
