USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_UcetniDenikFakturace]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_UcetniDenikFakturace] AS SELECT 
    CONCAT(TD.DatumPripad_Y, FORMAT(TD.DatumPripad_M, '00')) AS RokMesic,
    SUM(TD.CastkaDAL) AS Castka
FROM
    dbo.TabDenik AS TD
WHERE
    (TD.CisloUcet LIKE '601%' OR TD.CisloUcet LIKE '602%')
    AND TD.CisloUcet NOT IN ('602004', '602001')
GROUP BY
    CONCAT(TD.DatumPripad_Y, FORMAT(TD.DatumPripad_M, '00'))
GO
