USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_ReportRozpocetPlneni]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     VIEW [dbo].[hvw_ReportRozpocetPlneni]
AS
SELECT TD.DatumPripad_Y AS Rok
	  ,TD.DatumPripad_M AS Mesic
	  ,CAST(TD.DatumPripad_Y AS VARCHAR(4)) + RIGHT('0' + CAST(TD.DatumPripad_M AS VARCHAR(2)), 2) AS Obdobi
	  ,TUE._RepSkupinaUctu AS Skupina
	  ,TCU.NazevUctu AS Nazev
	  ,TD.CisloUcet AS Ucet
	  ,CASE 
		WHEN TUE._RepSkupinaUctu LIKE 'Rozpracovaná výroba' 
			THEN SUM(TD.CastkaZust) * -1
		WHEN TUE._RepSkupinaUctu LIKE 'Výdej materiálu + zboží ze skladu' 
			THEN SUM(TD.CastkaZust) * -1
		WHEN TUE._RepSkupinaUctu LIKE 'FVE'
			THEN SUM(TD.CastkaZust) * -1
		WHEN LEFT(TD.CisloUcet, 1) IN (6) AND TUE._RepSkupinaUctu NOT LIKE 'FVE'-- Výnosy
			THEN SUM(TD.CastkaZust) * -1
		ELSE
			--ISNULL(ROUND(SUM(CASE WHEN LEFT(TD.Sbornik, 1) LIKE '5' THEN TD.Castka * - 1 ELSE TD.Castka END), 0), 0) 
			ROUND(SUM(ISNULL(TD.CastkaZust,0)),0)
		END AS Skutecnost
FROM
	TabDenik AS TD
JOIN TabObdobi AS TOB ON TOB.ID = TD.IdObdobi
JOIN TabCisUctDef AS TCU ON TD.CisloUcet = TCU.CisloUcet AND TD.IdObdobi = TCU.IdObdobi
JOIN TabCisUct AS TU ON TCU.CisloUcet = TU.CisloUcet
LEFT JOIN TabCisUct_EXT TUE ON TU.ID = TUE.ID
WHERE
	LEFT(TD.CisloUcet, 1) IN (1, 5, 6)
	AND ((GETDATE() BETWEEN TOB.DatumOd AND TOB.DatumDo) OR (DATEADD(YEAR, -1, GETDATE())) BETWEEN TOB.DatumOd AND TOB.DatumDo) 
GROUP BY
	TD.DatumPripad_Y
   ,TD.DatumPripad_M
   ,CAST(TD.DatumPripad_Y AS VARCHAR(4)) + RIGHT('0' + CAST(TD.DatumPripad_M AS VARCHAR(2)), 2)
   ,TUE._RepSkupinaUctu
   ,TD.CisloUcet
   ,TCU.NazevUctu

GO
