USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_StavyLog]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_StavyLog] AS SELECT 
    Tab.Datum,                             -- Původní sloupec Datum
    Tab.Autor,                             -- Původní sloupec Autor
    Tab.StavPred,                          -- Původní sloupec StavPred
    Tab.Tok,                               -- Původní sloupec Tok
    Tab.StavPo,                            -- Původní sloupec StavPo
    Tab.ZakazkaID,                         -- Původní sloupec ZakazkaID
    Fn.DobaTrvaniSekundy,                 -- Výpočet doby trvání v sekundách bez víkendů a svátků
    Fn.DobaTrvaniMinuty,                  -- Výpočet doby trvání v minutách bez víkendů a svátků
    Fn.DobaTrvaniHodiny,                  -- Výpočet doby trvání v hodinách bez víkendů a svátků
    Fn.DobaTrvaniDni                      -- Výpočet doby trvání v dnech bez víkendů a svátků
FROM (
    SELECT 
        L.Datum,
        ISNULL(Z.PrijmeniJmeno, L.Autor) AS Autor,
        O.Popis AS StavPred,
        CASE WHEN L.NewStatus > L.OldStatus THEN '->' ELSE '<-' END AS Tok,
        N.Popis AS StavPo,
        L.ZakazkaID,
        L.Datum AS DatumPo,
        LAG(L.Datum) OVER (PARTITION BY L.ZakazkaID ORDER BY L.Datum) AS DatumPred
    FROM Tabx_Zakazka_Log L
    JOIN Tabx_StavyCiselnik AS O ON O.IDStatus = L.OldStatus
    JOIN Tabx_StavyCiselnik AS N ON N.IDStatus = L.NewStatus
    LEFT JOIN TabCisZam AS Z ON L.Autor = Z.LoginID
WHERE L.NewStatus >=0
) AS Tab
CROSS APPLY dbo.hfx_DateDiffBezVikendu(Tab.DatumPred, Tab.DatumPo) AS Fn
GO
