USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_PolozkyVydanychObjednavekZakazek]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_PolozkyVydanychObjednavekZakazek] AS (SELECT
--    TPZ.ID,
	LEFT(COALESCE(TDZ.CisloZakazky,TPZ.CisloZakazky),8) AS Zakazka,
	TDZ.RadaDokladu,
    TDZ.PoradoveCislo,
	TPZ.SkupZbo,
	TPZ.RegCis,
	TPZ.Nazev1,
	TPZ.Nazev2,
	TPZ.Nazev3,
	TPZ.Mnozstvi,
--  TPZ.PotvrzDatDod_X AS PotvrzenyTermin,
--  TPZ.PozadDatDod_X AS PozadovanyTermin,
	TPZ.MJ,
	TPZ.JCbezDaniVal AS CenaMJ,
	TPZ.CCbezDaniVal AS CenaCelkem,
	TPZ.Mena,
	TDZ.TerminDodavkyDat_X AS TerminDodani,
    TPZ.CisloZakazky AS ZakazkaPolozky,
    TDZ.CisloZakazky AS ZakazkaHlavicky,
    TDZ.DatPorizeni_X
FROM 
    TabPohybyZbozi TPZ
JOIN 
    TabDokladyZbozi TDZ ON TPZ.IDDoklad = TDZ.ID AND TPZ.DruhPohybuZbo IN (6) -- Vydaná objednávka
)
GO
