USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_ReportPocetJednani]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE     VIEW [dbo].[hvw_ReportPocetJednani] AS

-- Jednání

WITH CTE_Jednani AS (
SELECT DISTINCT TCZ.Cislo AS CisloZam
FROM TabCisZam AS TCZ
JOIN TabKontaktJednani AS TKJ ON TCZ.Cislo = TKJ.CisloZam AND TKJ.Kategorie = '0KJ')

SELECT CTE_Jednani.CisloZam, TKJ.DatumJednaniOd_Y AS Rok, TKJ.DatumJednaniOd_M AS Mesic, dbo.hf_ISOweek (TKJ.DatumJednaniOd) AS Tyden, COUNT(*) AS PocetJednani 
FROM TabKontaktJednani AS TKJ
JOIN CTE_Jednani ON CTE_Jednani.CisloZam = TKJ.CisloZam
WHERE TKJ.Kategorie IN ('0KJ')
GROUP BY CTE_Jednani.CisloZam, TKJ.DatumJednaniOd_Y, TKJ.DatumJednaniOd_M, dbo.hf_ISOweek (TKJ.DatumJednaniOd)
GO
