USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_StavSkladuKDatu]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_StavSkladuKDatu] AS SELECT TSK.ID AS ID_TSK
	  ,TSK.IDCisStavKDatu
	  ,TSK.IDStavSkladu
	  ,TSK.Mnozstvi
	  ,TSK.FinanStav
	  ,TSK.FinanStavUcto
	  ,TSK.SouvisNakl
	  ,TSK.KorekceMnozstvi
	  ,TSK.KorekceStav
	  ,TSK.KorekceSouvis
	  ,TSK.SumaStavNakl
	  ,TSK.SkutecMnozstvi
	  ,TSK.SkutecStav
	  ,TSK.SkutecSouvis
	  ,TSK.SkutecSuma
	  ,TCSK.ID
	  ,TCSK.KeDni
	  ,TCSK.Typ
	  ,TCSK.Popis
	  ,TCSK.KeDni_D
	  ,TCSK.KeDni_M
	  ,TCSK.KeDni_Y
	  ,TCSK.KeDni_Q
	  ,TCSK.KeDni_W
	  ,TCSK.KeDni_X
	  ,TSS.IDKmenZbozi
	  ,TSS.IDSklad
FROM TabStavKDatu AS TSK
JOIN TabCisStavKDatu AS TCSK ON TSK.IDCisStavKDatu = TCSK.ID AND TCSK.KeDni_Y > 2022
JOIN TabStavSkladu AS TSS ON TSK.IDStavSkladu = TSS.ID
WHERE TSK.FinanStav > 0 AND TSK.Mnozstvi > 0
AND TSS.IDSklad IN ('00100300040105','00100300040108')
GO
