USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_PolozkyKoopObjednavkyBezCeny]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_PolozkyKoopObjednavkyBezCeny] AS SELECT TZ.ID
   ,TZ.CisloZakazky
   ,TP.Rada
   ,TP.Prikaz
   ,DILEC.SkupZbo
   ,DILEC.RegCis
   ,DILEC.Nazev1
   ,TC.kod
   ,TC.nazev
   ,TPKO.KusyVKoop
   ,CEILING(ISNULL(TPKO.CenaHM,0)) AS CelkoveOcekavaneNaklady
   ,TKO.Objednavka
   ,TKO.TerminOdeslani_X
   ,TKO.PozadTerDod_X
   ,TKO.PotvrzTerDod_X
   ,TP.Plan_ukonceni
   ,TKO.DatPorizeni_X
FROM dbo.TabPolKoopObj AS TPKO
	LEFT JOIN dbo.TabPrikaz AS TP ON TPKO.IDPrikaz = TP.ID AND TP.StavPrikazu IN (20,30,40)
	LEFT JOIN dbo.TabZakazka AS TZ ON TP.IDZakazka = TZ.ID
	LEFT JOIN dbo.TabKoopObj AS TKO ON TPKO.IDObjednavky = TKO.ID
	LEFT JOIN dbo.TabCKoop AS TC ON TC.ID = TPKO.IDkooperace
	LEFT OUTER JOIN dbo.TabKmenZbozi AS Dilec ON Dilec.ID = (SELECT TPP.Dilec FROM dbo.TabPrPostup TPP WHERE TPP.IDPrikaz = TPKO.IDPrikaz AND TPP.Doklad = TPKO.DokladPrPostup AND TPP.Alt = TPKO.AltPrPostup AND TPP.IDOdchylkyDo IS NULL)
WHERE 
	TPKO.Splneno !=1 AND CEILING(ISNULL(TPKO.CenaHM,0)) = 0 AND TP.IDZakazka IS NOT NULL
GO
