USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_CenikKooperaciHeO]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_CenikKooperaciHeO] AS WITH RankedData AS (
    SELECT
        TPKO.ID,
        TC.kod,
        TC.nazev,
        TKZ.SkupZbo,
        TKZ.RegCis,
        TKZ.Nazev1 AS Dilec,
        CASE 
            WHEN TC.kod = 10 THEN TKZ.Hmotnost * 35
            ELSE TPKO.JCena 
        END AS Cena,
        TPKO.Mena,
        TKZ.Hmotnost,
        TPKO.CelkKoopMnozstvi AS Mnozstvi,
        ROW_NUMBER() OVER (PARTITION BY TC.kod, TKZ.SkupZbo, TKZ.RegCis ORDER BY TPKO.ID DESC) AS rn
    FROM dbo.TabPolKoopObj AS TPKO
        JOIN dbo.TabPrikaz AS TP ON TPKO.IDPrikaz = TP.ID
        JOIN dbo.TabKmenZbozi AS TKZ ON TP.IDTabKmen = TKZ.ID
        JOIN dbo.TabKoopObj AS TKO ON TPKO.IDObjednavky = TKO.ID
        JOIN dbo.TabCKoop AS TC ON TPKO.IDkooperace = TC.ID
    WHERE TPKO.JCena > 0
)
SELECT 
    ID,
    Kod,
    Nazev,
    SkupZbo,
    RegCis,
    Dilec,
    Cena,
    Mena,
    Hmotnost,
    Mnozstvi
FROM RankedData
WHERE rn = 1 AND Cena > 0
GO
