USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_Rep_ReklamaceTrend]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[hvw_Rep_ReklamaceTrend]
AS
WITH UnikatniRoky AS (
    SELECT DISTINCT 
        YEAR(DatPorizeni) AS Rok
    FROM TabZakazka
),
UnikatniFirmy AS (
    SELECT DISTINCT 
        Firma
    FROM TabCisOrg
    WHERE Firma IS NOT NULL
),
Kombinace AS (
    SELECT 
        F.Firma,
        R.Rok
    FROM UnikatniFirmy F
    CROSS JOIN UnikatniRoky R
),
Reklamace AS (
    SELECT 
        TCO.Firma,
        YEAR(TZ.DatPorizeni) AS Rok,
        COUNT(*) AS PocetReklamaci
    FROM TabZakazka AS TZ
    LEFT JOIN TabDokladyZbozi AS TDZ 
        ON TZ.CisloZakazky = TDZ.CisloZakazky 
        AND TDZ.DruhPohybuZbo = 9
    LEFT JOIN TabCisOrg AS TCO 
        ON TDZ.CisloOrg = TCO.CisloOrg
    WHERE 
        TZ.Rada = 'XR0' 
        AND TZ.CisloZakazky LIKE 'XR%'
    GROUP BY 
        TCO.Firma,
        YEAR(TZ.DatPorizeni)
),
DataSNull AS (
    SELECT 
        K.Firma,
        K.Rok,
        ISNULL(R.PocetReklamaci, 0) AS PocetReklamaci
    FROM Kombinace K
    LEFT JOIN Reklamace R 
        ON K.Firma = R.Firma 
        AND K.Rok = R.Rok
)
SELECT *
FROM DataSNull
PIVOT (
    SUM(PocetReklamaci)
    FOR Rok IN ([2022], [2023], [2024])
) AS P;
GO
