USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_PlneniHodZaSkupPracVcProc]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE           VIEW [dbo].[hvw_PlneniHodZaSkupPracVcProc]
AS
SELECT 
    CisloZakazky,
	Projekt,
	PlanUkonceni,
	KodStroje,
    HodPlanPriprava,
    SkutHodPriprava,
    COALESCE(100.0 * SkutHodPriprava / NULLIF(HodPlanPriprava, 0), 0) AS PercPriprava,
    HodPlanSvarovani,
    SkutHodSvarovani,
    COALESCE(100.0 * SkutHodSvarovani / NULLIF(HodPlanSvarovani, 0), 0) AS PercSvarovani,
    HodPlanMontaz,
    SkutHodMontaz,
    COALESCE(100.0 * SkutHodMontaz / NULLIF(HodPlanMontaz, 0), 0) AS PercMontaz,
    HodPlanElektro,
    SkutHodElektro,
    COALESCE(100.0 * SkutHodElektro / NULLIF(HodPlanElektro, 0), 0) AS PercElektro,
    HodPlanSegmenty,
    SkutHodSegmenty,
    COALESCE(100.0 * SkutHodSegmenty / NULLIF(HodPlanSegmenty, 0), 0) AS PercSegmenty,
    (HodPlanPriprava + HodPlanSvarovani + HodPlanMontaz + HodPlanElektro + HodPlanSegmenty) AS TotalHodPlan,
    (SkutHodPriprava + SkutHodSvarovani + SkutHodMontaz + SkutHodElektro + SkutHodSegmenty) AS TotalHodSkut,
	COALESCE(100.0 * (SkutHodPriprava + SkutHodSvarovani + SkutHodMontaz + SkutHodElektro + SkutHodSegmenty) / NULLIF((HodPlanPriprava + HodPlanSvarovani + HodPlanMontaz + HodPlanElektro + HodPlanSegmenty), 0), 0) AS PercCelkem,
    (HodPlanPriprava + HodPlanSvarovani + HodPlanMontaz + HodPlanElektro + HodPlanSegmenty) - 
    (SkutHodPriprava + SkutHodSvarovani + SkutHodMontaz + SkutHodElektro + SkutHodSegmenty) AS HodinyDoBudgetu,
	Rozvadec,
	UkonceniPripravy,
	UkonceniSvarovani,
	UkonceniKooperace,
	UkonceniMontaze,
	UkonceniElektro,
	UkonceniSegmenty,
	UkonceniKontrola,
	Poznamka
FROM 
    hvw_PlneniHodZaSkupPrac
GO
