USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_Rep_Pipeline]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[hvw_Rep_Pipeline] AS
SELECT 
    dbo.EF_RokPodleData(TKJ.DatPorizeni_X) AS Obdobi,
    TKJ.DatPorizeni_Y AS Rok,
    TKJ.DatPorizeni_M AS Mesic,
    TKJ.DatPorizeni_Q AS Ctvrtleti,
    TKJ.DatPorizeni_W AS Tyden,
    TCO.Nazev AS Zakaznik,
	TKJ.MistoKonani AS Projekt,
    TCZ.PrijmeniJmeno AS Zamestnanec,
	TSKJ.Popis AS Stav,
    ROUND(AVG(TKJ.PredpokladCena), 0) AS Hodnota,
	TKJ.MenaFakturace AS Mena	
FROM 
    TabKontaktJednani TKJ
    LEFT JOIN TabCisOrg AS TCO ON TKJ.CisloOrg = TCO.CisloOrg
    LEFT JOIN TabCisZam AS TCZ ON TKJ.CisloZam = TCZ.Cislo
	LEFT JOIN TabZakazka_EXT AS TKJE ON TKJ.ID = TKJE.ID
	LEFT JOIN TabStavKontJed AS TSKJ ON TKJ.Stav=TSKJ.Cislo
WHERE
    dbo.EF_RokPodleData(TKJ.DatPorizeni_X) IS NOT NULL
	AND TKJ.Kategorie = 'TPV'
GROUP BY 
    dbo.EF_RokPodleData(TKJ.DatPorizeni_X),
    TKJ.DatPorizeni_Y,
    TKJ.DatPorizeni_M,
    TKJ.DatPorizeni_Q,
    TKJ.DatPorizeni_W,
	TSKJ.Popis,
    TCO.Nazev,
	TKJ.MistoKonani,
    TCZ.PrijmeniJmeno,
	TKJ.MenaFakturace;
GO
