USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_VychystavaciSeznamProKooperace]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_VychystavaciSeznamProKooperace] AS SELECT TZ.CisloZakazky,TP.Prikaz,TKZV.RegCis AS Vyssi,TKZ.RegCis AS Nizsi,TKZV.Nazev1 AS Nazev,TKZ.Nazev1,TKZ.Dilec,TPO.Nazev AS Operace,SUM(MPV.mnoz_zad) AS Mnozstvi FROM TabPrkVazby MPV
JOIN TabPrikaz TP ON TP.ID = MPV.IDPrikaz
JOIN TabZakazka TZ ON TZ.ID = TP.IDZakazka
JOIN TabKmenZbozi TKZ ON TKZ.ID = MPV.nizsi
JOIN TabKmenZbozi TKZV ON TKZV.ID = MPV.vyssi
LEFT JOIN TabPrPostup TPO ON TP.ID = TPO.IDPrikaz AND TP.StavPrikazu = 30 AND TPO.Kusy_zive > 0 AND typ = 2
WHERE MPV.IDPrikaz IN (SELECT TP.ID FROM TabPrPostup TPO JOIN TabPrikaz TP ON TP.ID = TPO.IDPrikaz AND TP.StavPrikazu = 30 AND TPO.Kusy_zive > 0 AND typ = 2 AND TPO.Nazev LIKE '%svař%') AND TPO.Nazev LIKE '%svař%' AND TKZ.SkupZbo IN ('P01','M01')
GROUP BY TZ.CisloZakazky,TKZV.RegCis,TKZ.RegCis,TKZV.Nazev1,TKZ.Nazev1,TP.Prikaz,TKZ.Dilec,TPO.Nazev
GO
