USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_VyrobniPozadavkyProPlanovani]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE       VIEW [dbo].[hvw_VyrobniPozadavkyProPlanovani]
AS
	SELECT ISNULL(TCE._HcvInEkoSkupina,0)		   AS Usek
		  ,TZ.CisloZakazky	   AS Zakazka
		  ,TKZ.SkupZbo
		  ,TKZ.RegCis
		  ,TKZ.Nazev1		   AS Nazev
		  ,TPP.NAZEV		   AS NazevOperace
		  ,TC.PRACOVISTE	   AS KodPrac
		  ,TC.NAZEV			   AS Pracoviste
		  ,TPP.Poznamka		   AS PoznamkaOperace
		  ,TPP.Kusy_pozadovane
		  ,TPP.ZaevidovaneKusyAll
		  ,TPP.kusy_zive
		  ,TPP.KoopMnozstvi
		  ,TPP.KusyVKoopAll
		  ,TKZ.MJEvidence
		  ,CONVERT (Numeric(19, 6), CASE WHEN TPP.Uzavreno = 1 THEN 0 ELSE (TPP.kusy_zive * TPP.TAC_J_H) END) AS ZbyvajiciCasHod
		  ,CONVERT (Numeric(19, 6), CASE WHEN TPP.Kusy_pozadovane > TPP.kusy_zive THEN 0 ELSE TPP.TBC_H END) AS PripravnyCasHod
		  ,CONVERT (Numeric(19, 6), CASE WHEN TPP.Uzavreno = 1 THEN 0 ELSE (TPP.kusy_zive * TPP.TAC_J_H) END) + CONVERT (Numeric(19, 6), CASE WHEN TPP.Kusy_pozadovane > TPP.kusy_zive THEN 0 ELSE TPP.TBC_H END) AS PotrebnyCasCelkemHod
		  ,TPP.MeziOperCas_H AS MezioperacniCasHod
		  ,TPP.Plan_zadani_Y AS TerminVyrobyRok
		  ,(DATEPART(ISO_WEEK,TPP.Plan_zadani)) AS TerminVyrobyTyden
		  ,TPP.Plan_zadani_X   AS TerminVyrobyOd
		  ,TPP.Plan_ukonceni_X AS TerminVyrobyDo
		  ,TP.Rada
		  ,TP.Prikaz
		  ,CASE WHEN TP.Id = TP.IDPrikazRidici THEN 1 ELSE 0 END AS Final
		  ,TP.StavPrikazu
		  ,TP.Plan_zadani
		  ,TP.Plan_ukonceni
		  ,TP.Poznamka		   AS PoznamkaPrikaz
		  ,TP.Plan_ukonceni_puvodni_X AS PuvodniTerminUkonceni
		  ,TCK.DobaPrepravy_H AS DobaPrepravyHod
		  ,TCK.DobaZpracDavky_H AS DobaZpracDavkyHod
		  ,TCO.NAZEV		   AS Kooperant
		  ,TPP.Id			   AS IDOperace
		  ,TPP.Doklad
		  ,TPP.Poznamka
		  ,ISNULL(TCE._HcvInEkoSkupina,0) AS _SkupinaPracovist
	FROM
		TabPrPostup AS TPP WITH (NOLOCK)
	JOIN TabPrikaz AS TP WITH (NOLOCK) ON TPP.IDPrikaz = TP.Id
	JOIN TabKmenZbozi AS TKZ ON TP.IDTabKmen = TKZ.Id
	LEFT JOIN TabCPraco AS TC ON TPP.PRACOVISTE = TC.Id
	LEFT JOIN TabCPraco_EXT AS TCE ON TPP.PRACOVISTE = TCE.Id
	LEFT JOIN TabCKoop AS TCK ON TPP.IDkooperace = TCK.Id
	LEFT JOIN TabCisOrg AS TCO ON TCK.dodavatel = TCO.Id
	JOIN TabZakazka AS TZ WITH (NOLOCK) ON TP.IDZakazka = TZ.Id
	WHERE
		TP.StavPrikazu IN (20, 30)
		--	AND CAST(ISNULL(TPP.Splneno,0) AS Int) + CAST(ISNULL(TPP.Uzavreno,0) AS Int) = 0
		AND COALESCE (TPP.Splneno, 0) + COALESCE (TPP.Uzavreno, 0) = 0
		AND TPP.Prednastaveno = 1
		AND TPP.typ <> 0
		AND ISNULL (TPP.IDOdchylkyDo, 0) = 0
		AND TZ.CisloZakazky IN (SELECT DISTINCT Zakazka FROM hvw_TerminyZakazekProPlanovani);
GO
