USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_StrukturniKusovnikServis]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[hvw_StrukturniKusovnikServis]
AS
WITH BOM_CTE AS
(
    ---------------------------------------
    -- 1a) kotva A: samotný root (úroveň 0)
    ---------------------------------------
    SELECT
        p.ID                               AS RootID,
        CAST(p.SkupZbo   AS VARCHAR(50))   AS RootSkupZbo,
        CAST(p.RegCis    AS VARCHAR(50))   AS RootRegCis,
        CAST(p.Nazev1    AS VARCHAR(255))  AS RootNazev1,

        -- root jako nadřazený (úroveň 0)
        CAST(p.SkupZbo   AS VARCHAR(50))   AS VyssiSkupZbo,
        CAST(p.RegCis    AS VARCHAR(50))   AS VyssiRegCis,
        CAST(p.Nazev1    AS VARCHAR(255))  AS VyssiNazev1,
        CAST(NULL        AS VARCHAR(50))   AS NizsiSkupZbo,
        CAST(NULL        AS VARCHAR(50))   AS NizsiRegCis,
        CAST(NULL        AS VARCHAR(255))  AS NizsiNazev1,
        CAST(0           AS DECIMAL(18,6)) AS Mnozstvi,
        p.ID                               AS Nizsi,
        0                                  AS Uroven,
        CAST('|' + CAST(p.ID AS VARCHAR(50)) + '|' AS VARCHAR(MAX)) AS Path
    FROM TabKmenZbozi p
    WHERE p.SkupZbo = 'SP1'

    UNION ALL

    ---------------------------------------
    -- 1b) kotva B: přímí potomci root (úroveň 1)
    ---------------------------------------
    SELECT
        p.ID                               AS RootID,
        CAST(p.SkupZbo   AS VARCHAR(50))   AS RootSkupZbo,
        CAST(p.RegCis    AS VARCHAR(50))   AS RootRegCis,
        CAST(p.Nazev1    AS VARCHAR(255))  AS RootNazev1,

        CAST(p.SkupZbo   AS VARCHAR(50))   AS VyssiSkupZbo,
        CAST(p.RegCis    AS VARCHAR(50))   AS VyssiRegCis,
        CAST(p.Nazev1    AS VARCHAR(255))  AS VyssiNazev1,
        CAST(c.SkupZbo   AS VARCHAR(50))   AS NizsiSkupZbo,
        CAST(c.RegCis    AS VARCHAR(50))   AS NizsiRegCis,
        CAST(c.Nazev1    AS VARCHAR(255))  AS NizsiNazev1,
        CAST(rel.Mnozstvi AS DECIMAL(18,6)) AS Mnozstvi,
        rel.Nizsi                           AS Nizsi,
        1                                   AS Uroven,
        CAST(
          '|' + CAST(rel.Vyssi AS VARCHAR(50))
              + '|' + CAST(rel.Nizsi AS VARCHAR(50)) + '|' 
          AS VARCHAR(MAX)
        ) AS Path
    FROM TabKvazby rel
    JOIN TabKmenZbozi p 
      ON p.ID      = rel.Vyssi
     AND p.SkupZbo = 'SP1'
    JOIN TabKmenZbozi c 
      ON c.ID      = rel.Nizsi

    UNION ALL

    ---------------------------------------
    -- 2) rekurze: další úrovně (≥ 2)
    ---------------------------------------
    SELECT
        cte.RootID,
        cte.RootSkupZbo,
        cte.RootRegCis,
        cte.RootNazev1,

        CAST(cte.NizsiSkupZbo AS VARCHAR(50))  AS VyssiSkupZbo,
        CAST(cte.NizsiRegCis  AS VARCHAR(50))  AS VyssiRegCis,
        CAST(cte.NizsiNazev1  AS VARCHAR(255)) AS VyssiNazev1,
        CAST(c2.SkupZbo       AS VARCHAR(50))  AS NizsiSkupZbo,
        CAST(c2.RegCis        AS VARCHAR(50))  AS NizsiRegCis,
        CAST(c2.Nazev1        AS VARCHAR(255)) AS NizsiNazev1,
        CAST(rel2.Mnozstvi    AS DECIMAL(18,6)) AS Mnozstvi,
        rel2.Nizsi                           AS Nizsi,
        cte.Uroven + 1                       AS Uroven,
        CAST(cte.Path 
           + CAST(rel2.Nizsi AS VARCHAR(50)) + '|' 
           AS VARCHAR(MAX)
        ) AS Path
    FROM BOM_CTE cte
    JOIN TabKvazby rel2 
      ON rel2.Vyssi = cte.Nizsi
    JOIN TabKmenZbozi c2 
      ON c2.ID    = rel2.Nizsi
    WHERE 
      cte.Uroven >= 1
      AND cte.Path NOT LIKE '%|' 
          + CAST(rel2.Nizsi AS VARCHAR(50)) + '|%'
      AND cte.Uroven < 10
)
SELECT
    RootID,
    RootSkupZbo,
    RootRegCis,
    RootNazev1,
    NizsiSkupZbo,
    NizsiRegCis,
    NizsiNazev1,
    Mnozstvi,
    Uroven
FROM BOM_CTE
WHERE Uroven > 0
GO
