USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_Nakup_AkutneObjednatProVyrobu]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View: Seznam položek k akutní objednávce (pouze poslední "red" na kartě)
-- Popis: Pro každou kartu/material vypíše pouze tu zakázku, která je "nejpozdější" a není pokrytá ani skladem, ani objednávkou. Výstup = co akutně objednat!

CREATE   VIEW [dbo].[hvw_Nakup_AkutneObjednatProVyrobu] AS
WITH RedCriticals AS (
    SELECT *,
        ROW_NUMBER() OVER (PARTITION BY IDKmenZbozi ORDER BY DatumVyroby DESC, Zakazka DESC) AS rn
    FROM hvw_BilanceNakupuVyrobnihoMaterialuNaZakazky
    WHERE BarvaPokryti = 'red'
)
SELECT 
    IDKmenZbozi,         -- Unikátní ID materiálu
    RegCis,              -- Katalogové číslo
    Nazev1,              -- Název materiálu
    SkupZbo,             -- Skupina zboží
    MJEvidence,          -- Měrná jednotka
    Zakazka,             -- Zakázka, která "definuje" nedostatek
    DatumVyroby,         -- Požadovaný termín spotřeby
    CumulativeMnozstvi,  -- Celkově potřeba do této zakázky
    VirtualSklad,        -- Sklad + příjmy do termínu zakázky
    (CumulativeMnozstvi - VirtualSklad) AS AkutneObjednat, -- Kolik akutně objednat navíc
    TerminPokrytiObjednavkou,  -- (Pro kontrolu - kdy by došlo k pokrytí, pokud bys objednal)
    CisloObjednavkyPokryti,    -- (Pro kontrolu - objednávka, která by to pokryla)
    KomentarPokryti            -- Textový komentář pro reporting/nákup
FROM RedCriticals
WHERE rn = 1 AND (CumulativeMnozstvi - VirtualSklad) > 0
GO
