USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_PropalyBezRozliseniObdobi]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_PropalyBezRozliseniObdobi] AS WITH CleanedData AS (
SELECT 
    ID,
    'Plech' AS Plech,
    -- Extrahování tloušťky
    SUBSTRING(
        Nazev1,
        CHARINDEX('P', Nazev1, CHARINDEX('Plech', Nazev1) + 6),
        CHARINDEX(' ', Nazev1 + ' ', CHARINDEX('P', Nazev1, CHARINDEX('Plech', Nazev1) + 6)) - CHARINDEX('P', Nazev1, CHARINDEX('Plech', Nazev1) + 6)
    ) AS Tloustka,
    -- Extrahování formátu
    CASE
        WHEN PATINDEX('% A[0-9]%', Nazev1) > 0 THEN 
            SUBSTRING(Nazev1, PATINDEX('% A[0-9]%', Nazev1) + 1, 2)
        ELSE ''
    END AS Format
FROM dbo.TabKmenZbozi
WHERE Nazev1 LIKE 'Plech% A%' AND Nazev1 NOT LIKE '%AlMg3%'

)
SELECT 
    Plech + ' ' + Tloustka + ' ' + Format AS Plech,
    SUM(TPK.mnoz_pozadovane) AS Pozadovano,
    SUM(TPK.Mnoz_skut_realizovane) AS Realizovano,
    ((SUM(TPK.Mnoz_skut_realizovane) / NULLIF(SUM(TPK.mnoz_pozadovane), 0)) - 1) * 100 AS PropalProcento
FROM dbo.TabPrKVazby AS TPK
JOIN dbo.TabPrikaz AS TP ON TPK.IDPrikaz = TP.ID AND TP.DatumUzavreni IS NOT NULL
JOIN CleanedData AS CD ON TPK.nizsi = CD.ID AND CD.Format NOT LIKE ''
GROUP BY Plech + ' ' + Tloustka + ' ' + Format
GO
