USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_VA_FakturaceParetoPredchoziMesic]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_VA_FakturaceParetoPredchoziMesic] AS SELECT * FROM 
(SELECT
    TCO.Nazev,
    SUM(TDZ.SumaKcBezDPH) AS ObratCZK,
    SUM(TDZ.SumaValBezDPH) AS ObratVAL,
    TDZ.Mena,
    DATEADD(MONTH, -1, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0)) AS DatumOd,
    DATEADD(DAY, -1, DATEADD(MONTH, 0, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0))) AS DatumDo,
    PERCENT_RANK() OVER (ORDER BY SUM(TDZ.SumaKcBezDPH) DESC) AS PercentRank
FROM TabDokladyZbozi AS TDZ
JOIN TabCisOrg AS TCO ON TDZ.CisloOrg = TCO.CisloOrg
WHERE 
    TDZ.DruhPohybuZbo = 13
    AND TDZ.DatPorizeni >= DATEADD(MONTH, -1, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0))
    AND TDZ.DatPorizeni <= DATEADD(DAY, -1, DATEADD(MONTH, 0, DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0)))
GROUP BY TCO.Nazev, TDZ.Mena) AS TabObrat
WHERE TabObrat.PercentRank <= 0.2
GO
