USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_ReportObchodTydenni_HeO]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_ReportObchodTydenni_HeO] AS SELECT TCZ.Prijmeni,ROT.* FROM hvw_ReportObchodTydenni AS ROT
JOIN TabCisZam AS TCZ ON ROT.CisloZam = TCZ.Cislo
GO
