USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_HistorieCenyPolozkyEP]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[hvw_HistorieCenyPolozkyEP]
AS
SELECT 
	TCO.Firma
	,TPZ.SkupZbo
	,TPZ.RegCis
	,TPZ.Nazev1
	,TPZ.JCbezDaniKcPoS
	,TPZ.JCbezDaniValPoS
	,TPZ.Mena
	,TPZ.DatPorizeni_X
	,TPZ.CisloKarty
FROM TabPohybyZbozi AS TPZ
JOIN TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID AND TDZ.DruhPohybuZbo = 9
JOIN TabCisOrg AS TCO ON TDZ.CisloOrg = TCO.CisloOrg
GO
