USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_Rep_PlatebniMoralka]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[hvw_Rep_PlatebniMoralka]
AS 
WITH PaymentAnalysis AS (
    SELECT 
        TCO.Nazev AS Zakaznik,
        TZ.Nazev AS Zeme,
        TDZ.ID AS CisloFaktury,
        TDZ.DatPorizeni AS DatumVystaveni,
        TDZ.Splatnost_X,
        MAX(TU.Datum) AS DatumUhrady, -- Nejnovější datum úhrady
        DATEDIFF(DAY, TDZ.Splatnost_X, MAX(TU.Datum)) AS ZpozdeniDni,
        TDZ.SumaKcBezDPH AS CastkaFaktury,
        SUM(TU.CastkaUhrady * TU.Kurz) AS CastkaUhrady -- Přepočet na CZK
    FROM TabDokladyZbozi TDZ
    LEFT JOIN TabCisOrg TCO ON TDZ.CisloOrg = TCO.CisloOrg
    LEFT JOIN TabZeme TZ ON TCO.IdZeme = TZ.ISOKod
    LEFT JOIN TabUhrady TU ON TDZ.ID = TU.IDFak -- Spojení úhrad s fakturou
    WHERE 
        TDZ.DruhPohybuZbo = 13 -- Faktury vydané
        AND TDZ.RadaDokladu IN (111, 112, 113) -- Filtr řad dokladů
    GROUP BY 
        TCO.Nazev, 
        TZ.Nazev, 
        TDZ.ID, 
        TDZ.DatPorizeni, 
        TDZ.Splatnost_X, 
        TDZ.SumaKcBezDPH
),
Aggregated AS (
    SELECT 
        Zakaznik,
        Zeme,
        AVG(ZpozdeniDni) AS PrumerneZpozdeniDni,
        COUNT(CisloFaktury) AS PocetFaktur,
        SUM(CASE WHEN ZpozdeniDni > 0 THEN 1 ELSE 0 END) AS PocetZpozdenychFaktur,
        SUM(CastkaFaktury) AS CelkovaCastkaFaktur,
        SUM(CastkaUhrady) AS CelkovaCastkaUhrad
    FROM PaymentAnalysis
    GROUP BY 
        Zakaznik, 
        Zeme
)
SELECT 
    Zakaznik,
    Zeme,
    PrumerneZpozdeniDni,
    PocetFaktur,
    PocetZpozdenychFaktur,
    ROUND(100.0 * PocetZpozdenychFaktur / PocetFaktur, 2) AS PodilZpozdenychFakturProcenta,
    CelkovaCastkaFaktur,
    CelkovaCastkaUhrad
FROM Aggregated
GO
