USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_Rep_VcasnostUhrad]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[hvw_Rep_VcasnostUhrad]
AS 
WITH PaymentAnalysis AS (
    SELECT 
        TCO.Nazev AS Zakaznik,
        TZ.Nazev AS Zeme,
        TDZ.ID AS CisloFaktury,
        FORMAT(TDZ.DatPorizeni, 'yyyy-MM') AS Obdobi, -- Sloučení roku a měsíce
        TDZ.Splatnost_X,
        MAX(TU.Datum) AS DatumUhrady, -- Nejnovější datum úhrady
        DATEDIFF(DAY, TDZ.Splatnost_X, MAX(TU.Datum)) AS ZpozdeniDni,
        TDZ.SumaKcBezDPH AS CastkaFaktury,
        SUM(TU.CastkaUhrady * TU.Kurz) AS CastkaUhrady -- Přepočet na CZK
    FROM TabDokladyZbozi TDZ
    LEFT JOIN TabCisOrg TCO ON TDZ.CisloOrg = TCO.CisloOrg
    LEFT JOIN TabZeme TZ ON TCO.IdZeme = TZ.ISOKod
    LEFT JOIN TabUhrady TU ON TDZ.ID = TU.IDFak -- Spojení úhrad s fakturou
    WHERE 
        TDZ.DruhPohybuZbo = 13 -- Faktury vydané
        AND TDZ.RadaDokladu IN (111, 112, 113) -- Filtr řad dokladů
    GROUP BY 
        TCO.Nazev, 
        TZ.Nazev, 
        TDZ.ID, 
        TDZ.DatPorizeni, 
        TDZ.Splatnost_X, 
        TDZ.SumaKcBezDPH
),
Aggregated AS (
    SELECT 
        Zakaznik,
        Zeme,
        Obdobi,
        AVG(ZpozdeniDni) AS PrumerneZpozdeniDni,
        COUNT(CisloFaktury) AS PocetFaktur
    FROM PaymentAnalysis
    GROUP BY 
        Zakaznik,
        Zeme,
        Obdobi
)
SELECT 
    Zakaznik,
    Zeme,
    Obdobi,
    PrumerneZpozdeniDni,
    PocetFaktur
FROM Aggregated
WHERE PrumerneZpozdeniDni IS NOT NULL

GO
