USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_ObratkaZasobMaterialu]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_ObratkaZasobMaterialu] AS SELECT 
	ObaSklady.SkupZbo
	,ObaSklady.RegCis
	,ObaSklady.Nazev1
	,SUM(ObaSklady.Mnozstvi) AS Mnozstvi
	,SUM(ObaSklady.MnozstviDispo) AS MnozstviDispo
	,SUM(ObaSklady.StavSkladu) AS FinStavSkladu
	,ISNULL(SUM(ObaSklady.OdPoslednihoPrijmuNew),0) AS OdPoslednihoPrijmuNew
	,ISNULL(SUM(ObaSklady.OdPoslednihoVydejeNew),0) AS OdPoslednihoVydejeNew
	,ISNULL(SUM(ObaSklady.OdPoslednihoPrijmuOld),0) AS OdPoslednihoPrijmuOld
	,ISNULL(SUM(ObaSklady.OdPoslednihoVydejeOld),0) AS OdPoslednihoVydejeOld
FROM
	(
	SELECT
	TSS.IDSklad,TKZ.SkupZbo,TKZ.RegCis,TKZ.Nazev1,TSS.Mnozstvi,TSS.MnozstviDispo,TSS.StavSkladu,(SELECT TOP 1 DATEDIFF(DAY,TDZ.DatPorizeni_X,GETDATE()) FROM TabStavSkladu AS TSS1
	JOIN TabPohybyZbozi TPZ ON TPZ.IDZboSklad = TSS.ID AND DruhPohybuZbo IN (0) AND TSS1.ID = TSS.ID
	JOIN TabDokladyZbozi TDZ ON TDZ.ID = TPZ.IDDoklad
	JOIN TabDruhDokZbo TRD ON TRD.RadaDokladu = TDZ.RadaDokladu AND TRD.DruhPohybuZbo = TPZ.DruhPohybuZbo
	JOIN TabDruhDokZbo_EXT TRDE ON TRDE.ID = TRD.ID AND ISNULL(TRDE._ZahrnoutRaduDoVypoctuObratky,0) = 1
	ORDER BY TDZ.DatPorizeni DESC)  AS OdPoslednihoPrijmuNew,(SELECT TOP 1 DATEDIFF(DAY,TDZ.DatPorizeni_X,GETDATE()) FROM TabStavSkladu AS TSS2
	JOIN TabPohybyZbozi TPZ ON TPZ.IDZboSklad = TSS.ID AND DruhPohybuZbo IN (2,4) AND TSS2.ID = TSS.ID
	JOIN TabDokladyZbozi TDZ ON TDZ.ID = TPZ.IDDoklad
	JOIN TabDruhDokZbo TRD ON TRD.RadaDokladu = TDZ.RadaDokladu AND TRD.DruhPohybuZbo = TPZ.DruhPohybuZbo
	JOIN TabDruhDokZbo_EXT TRDE ON TRDE.ID = TRD.ID AND ISNULL(TRDE._ZahrnoutRaduDoVypoctuObratky,0) = 1
	ORDER BY TDZ.DatPorizeni DESC) AS OdPoslednihoVydejeNew, '' AS OdPoslednihoPrijmuOld, '' AS OdPoslednihoVydejeOld
	FROM TabStavSkladu AS TSS
	  LEFT OUTER JOIN TabKmenZbozi TKZ ON TSS.IDKmenZbozi=TKZ.ID
	WHERE
	TSS.IDSklad IN ('00100300040104') AND TKZ.Sluzba <> 1
	UNION
	SELECT
	TSS.IDSklad,TKZ.SkupZbo,TKZ.RegCis,TKZ.Nazev1,TSS.Mnozstvi,TSS.MnozstviDispo,TSS.StavSkladu,
	'' AS OdPoslednihoPrijmuNew,'' AS OdPoslednihoVydejeNew,(SELECT TOP 1 DATEDIFF(DAY,TDZ.DatPorizeni_X,GETDATE()) FROM TabStavSkladu AS TSS1
	JOIN TabPohybyZbozi TPZ ON TPZ.IDZboSklad = TSS.ID AND DruhPohybuZbo IN (0) AND TSS1.ID = TSS.ID
	JOIN TabDokladyZbozi TDZ ON TDZ.ID = TPZ.IDDoklad
	JOIN TabDruhDokZbo TRD ON TRD.RadaDokladu = TDZ.RadaDokladu AND TRD.DruhPohybuZbo = TPZ.DruhPohybuZbo
	JOIN TabDruhDokZbo_EXT TRDE ON TRDE.ID = TRD.ID AND ISNULL(TRDE._ZahrnoutRaduDoVypoctuObratky,0) = 1
	ORDER BY TDZ.DatPorizeni DESC)  AS OdPoslednihoPrijmuOld,(SELECT TOP 1 DATEDIFF(DAY,TDZ.DatPorizeni_X,GETDATE()) FROM TabStavSkladu AS TSS2
	JOIN TabPohybyZbozi TPZ ON TPZ.IDZboSklad = TSS.ID AND DruhPohybuZbo IN (2,4) AND TSS2.ID = TSS.ID
	JOIN TabDokladyZbozi TDZ ON TDZ.ID = TPZ.IDDoklad
	JOIN TabDruhDokZbo TRD ON TRD.RadaDokladu = TDZ.RadaDokladu AND TRD.DruhPohybuZbo = TPZ.DruhPohybuZbo
	JOIN TabDruhDokZbo_EXT TRDE ON TRDE.ID = TRD.ID AND ISNULL(TRDE._ZahrnoutRaduDoVypoctuObratky,0) = 1
	ORDER BY TDZ.DatPorizeni DESC)  AS OdPoslednihoVydejeOld
	FROM TabStavSkladu AS TSS
	  LEFT OUTER JOIN TabKmenZbozi TKZ ON TSS.IDKmenZbozi=TKZ.ID
	WHERE
	TSS.IDSklad IN ('00100300040105') AND TKZ.Sluzba <> 1
	) AS ObaSklady
GROUP BY
 ObaSklady.SkupZbo,ObaSklady.RegCis,ObaSklady.Nazev1
GO
