USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_Rep_Pipeline_TOP10_Tuz]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[hvw_Rep_Pipeline_TOP10_Tuz] AS
SELECT TOP 10
	'Tuzemsko' AS Region,
    TKJ.DatumJednaniDo_Y AS Rok,
    TKJ.DatumJednaniDo_M AS Mesic,
    TCO.Nazev AS Zakaznik,
	TKJ.MistoKonani AS Projekt,
    TCZ.PrijmeniJmeno AS Zamestnanec,
	TSKJ.Popis AS Stav,    
	TKJ.PredpokladCena AS Hodnota,
	TKJ.MenaFakturace AS Mena	
FROM 
    TabKontaktJednani TKJ
    LEFT JOIN TabCisOrg AS TCO ON TKJ.CisloOrg = TCO.CisloOrg
    LEFT JOIN TabCisZam AS TCZ ON TKJ.CisloZam = TCZ.Cislo
	LEFT JOIN TabStavKontJed AS TSKJ ON TKJ.Stav=TSKJ.Cislo
	LEFT JOIN TabKontaktJednani_EXT AS TKJE ON TKJ.ID = TKJE.ID
WHERE
	TKJ.Kategorie = 'TPV' AND TKJ.Stav IN ('A','B')
	AND DatumJednaniDo_X BETWEEN GETDATE() AND GETDATE() + 120
	AND TKJE._VA_PoptavkyTuzemskoZahranici = 'Tuzemská'
ORDER BY
	TKJ.PredpokladCena DESC
GO
