USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_BlokovaneZakazkyLog]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_BlokovaneZakazkyLog] AS SELECT
	TZ.CisloZakazky
   ,TCO.Nazev
   ,ROUND(TPZ.CCbezDaniKcPoS, 0) AS CenaCZK
   ,ROUND(TPZ.CCbezDaniValPoS, 0) AS CenaMena
   ,TPZ.Mena
   ,TL.LogTimestamp
   ,CONVERT(VARCHAR(10), TL.LogTimestamp, 104) AS LogDate
   ,TL.LogLevel
   ,TL.LogMessage
   ,CASE
		WHEN TCZ.PrijmeniJmeno IS NOT NULL THEN TCZ.PrijmeniJmeno
		ELSE TL.LogUser
	END AS Autor
   ,TL.ErrorDetails
   ,CAST(TL.ErrorDetails AS NVARCHAR(255)) AS Popis  
   ,TZ.DatumStartPlan AS PlanovaneZahajeni
   ,TZ.DatumKonecPlan AS PlanovaneUkonceni
   ,COALESCE(TPZ.PotvrzDatDod_X, TDZ.TerminDodavkyDat_X, TPZ.PozadDatDod_X) TerminEP
   ,TZE._Status AS StatusZakazky
   ,TZE._StatusServisHlavni AS StatusServisniZakazky
   ,TZE._BlokovanoProVyrobu
   ,TZE._PovolitVyrobu
   ,CASE
		WHEN CAST(ISNULL(TZE._BlokovanoProVyrobu, 0) AS INT) = 1 AND CAST(ISNULL(TZE._PovolitVyrobu, 0) AS INT) = 0 THEN 'Aktuálně blokovaná'
		ELSE ''
	END AS AktualniStavBlokace
   ,TL.ProcedureName
   ,TZ.ID AS IDZakazky
   ,ROW_NUMBER() OVER (PARTITION BY ZakazkaID ORDER BY TL.LogID) AS IndexZakazky
   ,TDZ.ID AS IDDokladu
   ,TPZ.ID AS IDPohybu
FROM Tabx_BlokovaniVyrobyLog AS TL
JOIN TabZakazka AS TZ
	ON TZ.ID = ZakazkaID
JOIN TabZakazka_EXT AS TZE
	ON TZ.ID = TZE.ID
LEFT JOIN TabPohybyZbozi AS TPZ WITH (NOLOCK)
	ON TZ.CisloZakazky = TPZ.CisloZakazky
		AND TPZ.DruhPohybuZbo = 9
LEFT JOIN TabDokladyZbozi AS TDZ WITH (NOLOCK)
	ON TPZ.IDDoklad = TDZ.ID
LEFT JOIN TabCisOrg AS TCO
	ON TDZ.CisloOrg = TCO.CisloOrg
LEFT JOIN TabCisZam AS TCZ
	ON TCZ.LoginId = TL.LogUser
GO
