USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_KatalogNahradnichDilu]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     VIEW [dbo].[hvw_KatalogNahradnichDilu] AS

SELECT
	ISNULL(TZN.DruhyNazev,TZNE._Zarizeni) AS Zarizeni,
	TCO.Firma, 
	TZ.CisloZakazky AS ZakazkaServis,
	TZN.CisloZakazky AS ZakazkaZarizeni,
	TPZ.SkupZbo, 
	TPZ.RegCis, 
	TPZ.Nazev1 AS NazevDilu,
	TPZ.JCbezDaniKC AS JCCenaCZK, 
	TPZ.JCbezDaniVal AS JCCenaVAL, 
	TPZ.CCbezDaniKc AS CenaCZK, 
	TPZ.CCbezDaniVal AS CenaVAL,
	TPZ.Mena AS Mena,
	TPZ.Mnozstvi,
	TPZ.MJ,
	TPZ.DatPorizeni_X 
FROM TabPohybyZbozi AS TPZ
	JOIN TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID
	JOIN TabZakazka AS TZ ON TDZ.CisloZakazky = TZ.CisloZakazky
	JOIN TabZakazka AS TZN ON TZN.CisloZakazky = TZ.NadrizenaZak
	JOIN TabCisOrg AS TCO ON TDZ.CisloOrg = TCO.CisloOrg
	JOIN TabZakazka_EXT AS TZNE ON TZN.ID = TZNE.ID
WHERE
	TZ.CisloZakazky LIKE 'X%'
	AND TPZ.SkupZbo != N'900'
	AND TPZ.DruhPohybuZbo IN (2)
	AND LEN(ISNULL(TZN.DruhyNazev,TZNE._Zarizeni)) > 0
GO
