USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_Tabx_ZakazkyNakladyZisk]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[hvw_Tabx_ZakazkyNakladyZisk] AS SELECT 
	Z.ZakazkaID
	,Z.Stav
	,Z.CisloZakazky
	,Z.NadrizenaZakazka
	,TCZ.Prijmeni
	,Z.Zarizeni
	,Z.UkonceniVyroby
	,Z.ProdejniCenaCZK
	,Z.PlNaklMat
	,Z.PlNaklMzdy
	,Z.PlNaklKoop
	,Z.PlNaklOst
	,Z.SkNaklMat
	,Z.SkNaklMzdy
	,Z.SkNaklRez
	,Z.SkNaklMzdyVcRez
	,Z.SkNaklKoop
	,Z.SkNaklOst
	,Z.ZbNaklMat
	,Z.ZbNaklKoop
	,Z.UkonceniVyrobyRok
	,Z.UkonceniVyrobyMesic
	,Z.BilanceMat
	,Z.BilanceMzdy
	,Z.BilanceKooperace
	,Z.BilanceCelkem
	,Z.PlNaklCelkem
	,Z.SkNaklCelkem
	,Z.SkNaklCelkemVcSpravniRezie
	,Z.Zisk
	,Z.ZiskProcenta
FROM Tabx_ZakazkyNakladyZisk AS Z
JOIN TabZakazka AS TZ ON Z.ZakazkaID = TZ.ID
LEFT JOIN TabCisZam AS TCZ ON TZ.Zodpovida = TCZ.Cislo
WHERE ISNULL(ProdejniCenaCZK,0) + ISNULL(SkNaklCelkemVcSpravniRezie,0) + ISNULL(PlNaklCelkem,0) > 0 AND Z.CisloZakazky NOT LIKE 'SKL%' AND Z.CisloZakazky NOT LIKE 'X%'
GO
