USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_ReportPocetFaktur]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[hvw_ReportPocetFaktur] AS

-- Faktury

WITH CTE_Faktury AS (
SELECT DISTINCT TCZ.Cislo AS CisloZam
FROM TabCisZam AS TCZ
JOIN TabDokladyZbozi AS TDZ ON TDZ.CisloZam = TCZ.Cislo AND TDZ.DruhPohybuZbo = 13 AND TDZ.RadaDokladu NOT IN (101,102,105,109,190,191) AND TDZ.CisloZakazky LIKE 'IN%')

SELECT CTE_Faktury.CisloZam, TDZ.DatPorizeni_Y AS Rok, TDZ.DatPorizeni_M AS Mesic, dbo.hf_ISOweek (TDZ.DatPorizeni) AS Tyden, SUM(TDZ.SumaKcBezDPH) AS ObjemFakturace, ISNULL(SUM(TU.RealUhradaVHMvcKR),0) + ISNULL(SUM(TZF.Castka),0) AS ObjemUhradVcZaloh
FROM TabDokladyZbozi AS TDZ
JOIN CTE_Faktury ON CTE_Faktury.CisloZam = TDZ.CisloZam
LEFT JOIN TabUhrady AS TU ON TDZ.ID = TU.IDFak AND TU.VPriprave = 0 
LEFT JOIN TabZalFak AS TZF ON TDZ.ID = TZF.IDReal
WHERE TDZ.DruhPohybuZbo = 13 AND TDZ.RadaDokladu NOT IN (101,102,105,109,190,191) AND TDZ.CisloZakazky LIKE 'IN%'
GROUP BY CTE_Faktury.CisloZam, TDZ.DatPorizeni_Y, TDZ.DatPorizeni_M, dbo.hf_ISOweek (TDZ.DatPorizeni)
GO
