USE [iNuvio001]
GO
/****** Object:  View [dbo].[hvw_ReportPocetAktualizaci]    Script Date: 08.01.2026 6:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[hvw_ReportPocetAktualizaci] AS

-- Aktualizace

WITH CTE_Ukoly AS (
SELECT DISTINCT TCZ.Cislo AS CisloZam
FROM TabCisZam AS TCZ
JOIN TabUkoly AS TU ON TU.Resitel = TCZ.Cislo AND TU.Stav = 2)

SELECT CTE_Ukoly.CisloZam, DatumDokonceni_Y AS Rok, DatumDokonceni_M AS Mesic, dbo.hf_ISOweek (DatumDokonceni) AS Tyden, COUNT(*) AS PocetAktualizaci 
FROM dbo.TabUkoly AS TU
JOIN CTE_Ukoly ON CTE_Ukoly.CisloZam = TU.Resitel AND TU.Stav = 2
GROUP BY CTE_Ukoly.CisloZam, DatumDokonceni_Y, DatumDokonceni_M, dbo.hf_ISOweek (DatumDokonceni)
GO
