USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[ep_UzavreniPrikazu]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[ep_UzavreniPrikazu]
  @IDPrikaz int,
  @IDPohybZbozi int=NULL,
  @IDPrevodPolotov int=NULL
AS
BEGIN
    DECLARE @IDZakazka INT;
    DECLARE @CurrentStatus INT;

    -- Načtení parametrů
    SELECT @IDZakazka = IDZakazka 
    FROM TabPrikaz 
    WHERE ID = @IDPrikaz 
      AND IDPrikazRidici = @IDPrikaz;

    -- Zjisti aktuální status zakázky
    SELECT @CurrentStatus = _Status
    FROM TabZakazka_EXT
    WHERE ID = @IDZakazka;

	/*

    IF NOT EXISTS (SELECT 1 FROM Tabx_StavyCiselnik WHERE IDStatus = @CurrentStatus)
    BEGIN
        RAISERROR ('Aktuální stav není definován.', 16, 1);
        RETURN;
    END

    IF @CurrentStatus != 5
    BEGIN
        RAISERROR ('Nelze měnit status zakázky. Zakázka musí být ve stavu Uvolněno do výroby.', 16, 1);
        RETURN;
    END

	*/
    IF @CurrentStatus = 5
    BEGIN
        -- Volání další procedury pro změnu stavu
        EXEC EP_VA_ZmenaStatusuZakazky @NewStatus = 6, @ZakazkaID = @IDZakazka;
    END
END;
GO
