USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_HromadnyPrepocetTerminuVP]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[EP_VA_HromadnyPrepocetTerminuVP]
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; 

    -- 1. Deklarace proměnných
    DECLARE @IDPrikazuKOprave INT;
    DECLARE @CisloZakazky NVARCHAR(50);
    DECLARE @CisloPrikazu NVARCHAR(50); -- Tato proměnná bude držet TP.Prikaz
    DECLARE @DatumKonecPlanZakazky DATETIME;
    DECLARE @PlanUkonceniVP DATETIME;
    DECLARE @ErrIDPlanKalend INT;
    DECLARE @PocetZmen INT = 0;
    DECLARE @RadaPrikazu NVARCHAR(50); 
    DECLARE @IDDilce INT; 
    
    -- 2. Kurzor pro nalezení kandidátů ke změně (UPRAVENO: TP.Prikaz)
    DECLARE crPrikazy CURSOR FAST_FORWARD LOCAL FOR
        SELECT
            TP.ID, TZ.CisloZakazky, 
            TP.Prikaz, -- *** ZMĚNA ZDE: Načítáme TP.Prikaz ***
            TZ.DatumKonecPlan, TP.Plan_ukonceni,
            TP.Rada, TP.IDTabKmen
        FROM 
            dbo.TabPrikaz AS TP
        INNER JOIN 
            dbo.TabZakazka AS TZ ON TP.IDZakazka = TZ.ID
        WHERE
            TP.Plan_ukonceni <> TZ.DatumKonecPlan
            AND TP.Plan_ukonceni IS NOT NULL
            AND TZ.DatumKonecPlan IS NOT NULL
            AND TP.StavPrikazu = 30
            AND TP.IDPrikazVyssi IS NULL 
            AND TP.IDPrikazRidici = TP.ID 
        ORDER BY 
            TP.ID;

    BEGIN TRANSACTION;

    BEGIN TRY
        OPEN crPrikazy;
        FETCH NEXT FROM crPrikazy INTO 
            @IDPrikazuKOprave, @CisloZakazky, @CisloPrikazu, @DatumKonecPlanZakazky, @PlanUkonceniVP,
            @RadaPrikazu, @IDDilce; 

        WHILE @@FETCH_STATUS = 0
        BEGIN
            
            -- Krok 3: Aktualizace data ukončení hlavního příkazu
            UPDATE dbo.TabPrikaz
            SET Plan_ukonceni = @DatumKonecPlanZakazky
            WHERE ID = @IDPrikazuKOprave;

            -- Krok 4: Spuštění kaskádového přeplánování
            SET @ErrIDPlanKalend = NULL; 
            
            EXEC dbo.hp_PrepocetPlanovanychTerminuVyroby
                @IDPrikaz = @IDPrikazuKOprave,
                @VcetnePodrizenychPrikazu = 1, 
                @PlanUkonceni = @DatumKonecPlanZakazky, 
                @ErrIDPlanKalend = @ErrIDPlanKalend OUT; 
            
            -- Krok 5: Logování provedené změny (CisloPrikazu je nyní TP.Prikaz)
            INSERT INTO dbo.Log_PrepocetTerminuVP (
                RadaPrikazu, IDDilce, CisloZakazky, CisloPrikazu, 
                StavPrikazu, PozadovanyTerminZakazky, PuvodniTerminVP, NovyTerminVP
            )
            VALUES (
                @RadaPrikazu, @IDDilce, @CisloZakazky, @CisloPrikazu, 
                30, @DatumKonecPlanZakazky, @PlanUkonceniVP, @DatumKonecPlanZakazky
            );

            SET @PocetZmen = @PocetZmen + 1;
            
            IF @ErrIDPlanKalend IS NOT NULL
            BEGIN
                PRINT N'UPOZORNĚNÍ: Chyba kalendáře u VP ' + @CisloPrikazu + N' (ID: ' + CAST(@ErrIDPlanKalend AS NVARCHAR) + N')';
            END

            FETCH NEXT FROM crPrikazy INTO 
                @IDPrikazuKOprave, @CisloZakazky, @CisloPrikazu, @DatumKonecPlanZakazky, @PlanUkonceniVP,
                @RadaPrikazu, @IDDilce;
        END

        CLOSE crPrikazy;
        DEALLOCATE crPrikazy;
        
        COMMIT TRANSACTION;
        PRINT CONCAT(N'Hromadný přepočet dokončen. Celkem aktualizováno příkazů: ', @PocetZmen);

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        CLOSE crPrikazy;
        DEALLOCATE crPrikazy;
        
        DECLARE @msg nvarchar(4000) = ERROR_MESSAGE();
        PRINT N'CHYBA PŘI HROMADNÉM PŘEPOČTU: ' + @msg;
        THROW; 
    END CATCH
END;
GO
