USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_DoplnZakazkuZHlavickyEPNaPolozky]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[EP_DoplnZakazkuZHlavickyEPNaPolozky]
@ID INT
AS

UPDATE TabPohybyZbozi SET CisloZakazky = TDZ.CisloZakazky 
FROM TabPohybyZbozi TPZ
    JOIN dbo.TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID
WHERE TDZ.DruhPohybuZbo = 9 AND TPZ.Cislozakazky IS NULL AND TDZ.CisloZakazky IS NOT NULL AND TDZ.ID = @ID
GO
