USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_NastavAutomatickyKooperacinaDilci]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Název:       EP_VA_NastavAutomatickyKooperacinaDilci
-- Popis:       Popis procedury
-- Autor:       Aleš Vintrlík
-- Datum:       2025-09-16 08:48:07
-- Verze:       1.0
--
-- Historie změn:
-- ------------------------------------------------------------------------------------------
-- Datum      | Verze | Autor         | Popis změny
-- ------------------------------------------------------------------------------------------
-- 2025-09-16 | 1.0   | Aleš Vintrlík | První verze
---------------------------------------------------------------------------------------------
-- 2025-10-01 | 1.1   | Aleš Vintrlík | Zrušení příznaku VyraditZGenerPodrizPrikazu
---------------------------------------------------------------------------------------------

CREATE     PROCEDURE [dbo].[EP_VA_NastavAutomatickyKooperacinaDilci]
AS
BEGIN
    SET NOCOUNT ON;

    -- Krok 1: Vytvoříme si "whitelist" operací, které jsou VŽDY kooperace.
    -- Najdeme operace (podle názvu), které v celé historii
    -- NIKDY nebyly jiného typu než 2.
    WITH VzdyKooperacniOperace AS (
        SELECT nazev -- nebo IDOperace, pokud je spolehlivější
        FROM TabPrPostup
        GROUP BY nazev
        HAVING
            -- Počet kroků, které NEJSOU kooperace (0, 1, NULL...), je NULA
            COUNT(CASE WHEN typ <> 2 OR typ IS NULL THEN 1 END) = 0
            -- A zároveň má alespoň jeden záznam typu 2 (aby se nepočítaly operace bez historie)
            AND COUNT(CASE WHEN typ = 2 THEN 1 END) > 0
    )
    
    -- Krok 2: Samotný MERGE
    MERGE INTO TabKmenZbozi_EXT AS T
    USING (
        -- Zdrojem (S) jsou VŠECHNY dílce s vypočítaným příznakem
        SELECT
            tkz.ID,
            CASE
                WHEN
                    -- Podmínka 1: (tpkz) - Zůstává
                    EXISTS (
                        SELECT 1 FROM TabParKmZ tpkz
                        WHERE tpkz.IDKmenZbozi = tkz.ID
                        --  AND tpkz.VyraditZGenerPodrizPrikazu = 1
                    )
                    -- Podmínka 2: (Nová logika)
                    -- Dílec POUŽÍVÁ ALESPOŇ JEDNU operaci z našeho whitelistu "VzdyKooperacniOperace"
                    AND EXISTS (
                        SELECT 1
                        FROM TabPrikaz tp
                        JOIN TabPrPostup tpp ON tp.ID = tpp.IDPrikaz
                        WHERE tp.IDTabKmen = tkz.ID
                          AND tpp.nazev IN (SELECT nazev FROM VzdyKooperacniOperace)
                    )
                THEN 1 -- Označíme dílec
                ELSE 0 -- Neoznačíme dílec
            END AS VypocitanyPriznak
        FROM
            TabKmenZbozi tkz
    ) AS S
    ON (T.ID = S.ID)

    -- Zbytek MERGE (aktualizace/vložení) je stejný
    WHEN MATCHED 
         AND (T._kooperace IS NULL OR T._kooperace <> S.VypocitanyPriznak)
    THEN
        UPDATE SET T._kooperace = S.VypocitanyPriznak
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (ID, _kooperace) VALUES (S.ID, S.VypocitanyPriznak);
END;
GO
