USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_UpdateTabZakazkaDruhyNazev]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE       PROCEDURE [dbo].[EP_VA_UpdateTabZakazkaDruhyNazev]
AS
BEGIN
    -- Aktualizace hodnoty DruhyNazev v TabZakazka
    UPDATE TZ
    SET TZ.DruhyNazev = SubQuery.BaleniTXT
    FROM dbo.TabZakazka AS TZ
    JOIN (
        SELECT DISTINCT 
            TZ.CisloZakazky,
            TKZ.BaleniTXT
        FROM dbo.TabPohybyZbozi AS TPZ
        JOIN dbo.TabZakazka AS TZ ON TPZ.CisloZakazky = TZ.CisloZakazky
        JOIN dbo.TabStavSkladu AS TSS ON TPZ.IDZboSklad = TSS.ID
        JOIN dbo.TabKmenZbozi AS TKZ ON TSS.IDKmenZbozi = TKZ.ID
        WHERE TPZ.DruhPohybuZbo = 9 AND TKZ.SkupZbo LIKE 'V%'
    ) AS SubQuery
    ON TZ.CisloZakazky = SubQuery.CisloZakazky
    WHERE LEN(TZ.DruhyNazev) = 0 -- AND TZ.DatUzavreni IS NOT NULL
END;

GO
