USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_DoplnTerminyDoAlternativnichKooperaci]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_VA_DoplnTerminyDoAlternativnichKooperaci]
AS
BEGIN
    SET NOCOUNT ON;

    -- Aktualizace dat pro alternativní operace
    UPDATE ALT
    SET ALT.Plan_zadani = PL.Plan_zadani,
        ALT.Plan_ukonceni = PL.Plan_ukonceni
    FROM TabPrPostup ALT
    JOIN TabPrPostup PL 
        ON ALT.IDPrikaz = PL.IDPrikaz 
        AND ALT.Doklad = PL.Doklad  
    JOIN TabPrikaz AS TP 
        ON PL.IDPrikaz = TP.ID 
        AND TP.StavPrikazu = 30
    WHERE ALT.Prednastaveno = 0 
      AND PL.Prednastaveno = 1
      AND ALT.typ = 2 
      AND PL.typ != 2
      AND ALT.Plan_zadani != PL.Plan_zadani
      AND ALT.Plan_ukonceni != PL.Plan_ukonceni
      AND COALESCE(PL.Plan_zadani, PL.Plan_ukonceni) IS NOT NULL;
END;
GO
