USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[ep_OnAfterEMail01]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ep_OnAfterEMail01] @BrowseID INT,
                                           @IDZaznam INT,
                                           @IDTiskForm INT,
                                           @Druh INT
AS
SET NOCOUNT ON


EXECUTE dbo.HCVSPZalogujOdeslanyEmail @BrowseID=@BrowseID,
                                      @IDZaznam=@IDZaznam,
                                      @IDTiskForm=@IDTiskForm,
                                      @Druh=@Druh
GO
