USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[epx_INEKO_GenerujVOBJzRezervaci]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[epx_INEKO_GenerujVOBJzRezervaci]
	@IDSklad nvarchar(30), -- N'00100300040104'
	@VychoziRadaVOBJ nvarchar(3),
	@SkupZboEP nvarchar(3) -- N'V01'
AS
BEGIN

	DECLARE @DPVOBJ int = 6
	DECLARE @DPEP int = 9
	DECLARE @DPRezervace int = 10
	DECLARE @RadaVOBJ nvarchar(3)
	DECLARE @VstupniCena int
	DECLARE @Dodavatel int
	DECLARE @IDVOBJ int
	DECLARE @IDPolVOBJ int
	DECLARE @IDPolRezervace int
	DECLARE @Mena nvarchar(3)
	DECLARE @Mnozstvi numeric(19,6)
	DECLARE @IDZboSklad int
	DECLARE @Kurz numeric(19,6)
	DECLARE @JednotkaMeny int
	DECLARE @KurzEuro numeric(19,6)
	DECLARE @CisloZakazky nvarchar(15)
	DECLARE @PozadDatDod datetime

	DECLARE @TabRezervace table (
		IDPolRezervace int,
		IDZboSklad int,
		Dodavatel int,
		Mnozstvi numeric(19,6),
		CisloZakazky nvarchar(15),
		PozadDatDod datetime
	)
	
	INSERT INTO @TabRezervace (IDPolRezervace, IDZboSklad, Dodavatel, Mnozstvi, CisloZakazky, PozadDatDod)
	SELECT
		pz.ID,
		pz.IDZboSklad,
		kz.Aktualni_Dodavatel AS Dodavatel,
		pz.Mnozstvi,
		ISNULL(pz.CisloZakazky, dz.CisloZakazky),
		DATEADD(DAY, -60, ISNULL((
			SELECT TOP 1 COALESCE(pz_ep.PotvrzDatDod, pz_ep.PozadDatDod, dz_ep.Splatnost)
			FROM dbo.TabPohybyZbozi pz_ep
			JOIN dbo.TabDokladyZbozi dz_ep ON dz_ep.ID = pz_ep.IDDoklad
			WHERE pz_ep.DruhPohybuZbo = @DPEP AND pz_ep.CisloZakazky = ISNULL(pz.CisloZakazky, dz.CisloZakazky) AND pz_ep.SkupZbo = @SkupZboEP
			ORDER BY pz_ep.ID DESC
		), (
			SELECT TOP 1 dz_ep.Splatnost
			FROM dbo.TabDokladyZbozi dz_ep
			WHERE dz_ep.DruhPohybuZbo = @DPEP AND dz_ep.CisloZakazky = ISNULL(pz.CisloZakazky, dz.CisloZakazky)
			ORDER BY dz_ep.ID DESC
		))) AS PozadDatDod
	FROM #TabExtKomID x
	JOIN dbo.TabDokladyZbozi dz ON dz.ID = x.ID
	JOIN dbo.TabPohybyZbozi pz ON pz.IDDoklad = dz.ID
	JOIN dbo.TabStavSkladu ss ON ss.ID = pz.IDZboSklad
	JOIN dbo.TabKmenZbozi kz ON kz.ID = ss.IDKmenZbozi
	WHERE
		dz.DruhPohybuZbo = @DPRezervace AND
		NOT EXISTS (SELECT * FROM dbo.TabPohybyZbozi pzep WHERE pzep.IDOldPolozka = pz.ID AND pzep.DruhPohybuZbo = @DPVOBJ)

	DELETE FROM @TabRezervace
	WHERE PozadDatDod IS NULL

	IF (SELECT COUNT(*) FROM @TabRezervace) = 0
	BEGIN
		RAISERROR (N'Žádná objednávka nebyla vygenerována.', 16, 1)
		RETURN
	END

	DECLARE c_dok CURSOR LOCAL FAST_FORWARD FOR
		SELECT DISTINCT Dodavatel
		FROM @TabRezervace
	OPEN c_dok
	WHILE 1=1
	BEGIN
		FETCH NEXT FROM c_dok
		INTO @Dodavatel

		IF @@FETCH_STATUS <> 0 BREAK

		SET @RadaVOBJ = ISNULL((
			SELECT TOP 1 dz.RadaDokladu
			FROM dbo.TabDokladyZbozi dz
			WHERE dz.DruhPohybuZbo = @DPVOBJ AND dz.CisloOrg = @Dodavatel
			ORDER BY dz.ID DESC
		), @VychoziRadaVOBJ)

		EXEC dbo.hp_InsertHlavickyOZ
			@Ident = @IDVOBJ out,
			@Sklad = @IDSklad,
			@DruhPohybu = @DPVOBJ,
			@RadaDokladu = @RadaVOBJ,
			@CisloOrg = @Dodavatel

		SELECT
			@Mena = dz.Mena,
			@Kurz = dz.Kurz,
			@JednotkaMeny = dz.JednotkaMeny,
			@KurzEuro = dz.KurzEuro,
			@VstupniCena = dz.VstupniCena
		FROM dbo.TabDokladyZbozi dz
		WHERE dz.ID = @IDVOBJ

		DECLARE c_pol CURSOR LOCAL FAST_FORWARD FOR
			SELECT IDPolRezervace, IDZboSklad, Mnozstvi, CisloZakazky, PozadDatDod
			FROM @TabRezervace
			WHERE Dodavatel = @Dodavatel OR (Dodavatel IS NULL AND @Dodavatel IS NULL)
		OPEN c_pol
		WHILE 1=1
		BEGIN
			FETCH NEXT FROM c_pol
			INTO @IDPolRezervace, @IDZboSklad, @Mnozstvi, @CisloZakazky, @PozadDatDod

			IF @@FETCH_STATUS <> 0 BREAK

			EXEC dbo.hp_InsertPolozkyOZ
				@IDENT = @IDPolVOBJ out,
				@IDDoklad = @IDVOBJ,
				@DruhPohybu = @DPVOBJ,
				@CisloOrg = @Dodavatel,
				@IDZboSklad = @IDZboSklad,
				@Mena = @Mena,
				@Kurz = @Kurz,
				@JednotkaMeny = @JednotkaMeny,
				@KurzEuro = @KurzEuro,
				@SazbaSD = 0,
				@SazbaDPH = 0,
				@ZakazanoDPH = 0,
				@VstupniCena = @VstupniCena,
				@PovolitDuplicitu = 1,
				@PovolitBlokovane = 1,
				@Mnozstvi = @Mnozstvi

			UPDATE dbo.TabPohybyZbozi SET
				SplnenoPol = 1
			WHERE ID = @IDPolRezervace

			UPDATE dbo.TabPohybyZbozi SET
				CisloZakazky = @CisloZakazky,
				PozadDatDod = @PozadDatDod,
				IDOldPolozka = @IDPolRezervace
			WHERE ID = @IDPolVOBJ

		END
		CLOSE c_pol
		DEALLOCATE c_pol

		EXEC dbo.hp_VypCenOZPolozek_IDDokladu
			@IDDoklad = @IDVOBJ,
			@AktualizaceSlev = 1

	END
	CLOSE c_dok
	DEALLOCATE c_dok

END
GO
