USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[epx_INEKO_KopieKmenoveKarty_Novy]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[epx_INEKO_KopieKmenoveKarty_Novy]
	@PrvniPruchod bit
AS
BEGIN

	DECLARE @ID int
	DECLARE @Skupina nvarchar(3)
	DECLARE @MaxRegCis nvarchar(30)
	DECLARE @NumberPart nvarchar(27)
	DECLARE @NextNumber int
	DECLARE @NewRegCis nvarchar(30)

	SET @ID = (SELECT TOP 1 ID FROM #TempDefForm_NovaVeta)

	SET @Skupina = (
		SELECT LEFT(kz.RegCis, 3)
		FROM dbo.TabKmenZbozi kz
		WHERE ID = @ID
	)

	SET @MaxRegCis = (
		SELECT MAX(kz.RegCis)
		FROM dbo.TabKmenZbozi kz
		WHERE LEFT(kz.RegCis, 3) = @Skupina
	)

	SET @NumberPart = SUBSTRING(@MaxRegCis, LEN(@Skupina) + 1, LEN(@MaxRegCis) - LEN(@Skupina))
	SET @NextNumber = TRY_CAST(@NumberPart AS int) + 1
	SET @NewRegCis = ISNULL(@Skupina + RIGHT(REPLICATE(N'0', LEN(@NumberPart)) + CAST(@NextNumber AS nvarchar(10)), LEN(@NumberPart)), N'')

	SELECT @NewRegCis AS lci_gen_atr_Sloupec2

END
GO
