USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_ZmenaStatusuZakazkyServisu]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     PROCEDURE [dbo].[EP_VA_ZmenaStatusuZakazkyServisu]    
    @NewStatus INT = NULL, -- Nastavení defaultní hodnoty na NULL
    @ZakazkaID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Získání aktuálního uživatele
    DECLARE @CurrentUser NVARCHAR(128) = SUSER_SNAME();

    -- Vynechej kontrolu práv, pokud je volání z SQL Server Agent
    IF @CurrentUser = 'vintrlik'
    BEGIN
        SET @CurrentUser = 'IN-EKO\martina.urbankova';
    END

    -- Kontrola na řadu zakázky
    IF NOT EXISTS (
        SELECT 1
        FROM TabZakazka
        WHERE ID = @ZakazkaID
          AND Rada LIKE 'X%' AND LEN(CisloZakazky) = 11
    )
    BEGIN
        RAISERROR ('Zakázka nepatří do požadované řady.', 16, 1);
        RETURN;
    END

		-- Kontrola, zda zakázka existuje v EXT
	IF NOT EXISTS (
		SELECT 1 
		FROM TabZakazka_EXT 
		WHERE ID = @ZakazkaID
	)
	BEGIN
		-- Pokud neexistuje, vytvoří nový záznam
		INSERT INTO TabZakazka_EXT (ID)
		VALUES (@ZakazkaID);
	END

    -- Zjisti aktuální stav
    DECLARE @CurrentStatus INT;
    SELECT @CurrentStatus = _Status
    FROM TabZakazka_EXT
    WHERE ID = @ZakazkaID;

--	RAISERROR('Aktuální uživatel: %s', 16, 1, @CurrentUser);
--	RAISERROR('Aktuální stav: %d', 16, 1, @CurrentStatus);
--	RAISERROR('Nový stav: %d', 16, 1, @NewStatus);

    -- Pokud je @CurrentStatus NULL, nastav nový status na 1
    IF @CurrentStatus IS NULL
    BEGIN
        SET @NewStatus = 0;

        -- Aktualizace stavu zakázky
        UPDATE TabZakazka_EXT
        SET _Status = @NewStatus
        WHERE ID = @ZakazkaID;

        -- Ukončení procedury
        RETURN;
    END

    -- Zkontroluj, zda je aktuální stav platný
    IF NOT EXISTS (SELECT 1 FROM Tabx_StavyCiselnikServis WHERE IDStatus = @CurrentStatus)
    BEGIN
        RAISERROR ('Aktuální stav není definován.', 16, 1);
        RETURN;
    END

    -- Pokud @NewStatus není poskytnut, nastav nový stav na aktuální + 1
    IF @NewStatus IS NULL
    BEGIN
        SET @NewStatus = @CurrentStatus + 1;
    END

    -- Zkontroluj, zda je nový stav platný
    IF NOT EXISTS (SELECT 1 FROM Tabx_StavyCiselnikServis WHERE IDStatus = @NewStatus)
    BEGIN
        RAISERROR ('Nový stav není definován.', 16, 1);
        RETURN;
    END

    -- Zkontroluj, zda má uživatel právo nastavit nový stav
    IF NOT EXISTS (
        SELECT 1
        FROM Tabx_StavyPravaServis
        WHERE LoginID = @CurrentUser
            AND IDStatus = @NewStatus
    )
    BEGIN
        RAISERROR ('Uživatel nemá právo nastavit tento stav.', 16, 1);
        RETURN;
    END

    -- Validace, zda je přechod mezi stavy povolen
    IF NOT EXISTS (
        SELECT 1
        FROM Tabx_StavyPrechodyServis
        WHERE Zdroj = @CurrentStatus
          AND Cil = @NewStatus
    )
    BEGIN
        RAISERROR ('Přechod mezi stavy není povolen.', 16, 1);
        RETURN;
    END

    -- Aktualizace stavu zakázky
    UPDATE TabZakazka_EXT
    SET _Status = @NewStatus
    WHERE ID = @ZakazkaID;

END
GO
