USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[ep_OdsouhlaseniTerminuDodani]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ep_OdsouhlaseniTerminuDodani] @ID INT
AS

IF NOT EXISTS (SELECT * FROM dbo.TabPohybyZbozi_EXT WHERE ID = @ID)
    INSERT INTO dbo.TabPohybyZbozi_EXT (ID, _NakupOdsouhlaseniTerminuDoWF) VALUES (@ID, 1)
ELSE
    UPDATE dbo.TabPohybyZbozi_EXT
    SET _NakupOdsouhlaseniTerminuDoWF = CASE WHEN _NakupOdsouhlaseniTerminuDoWF = 1 THEN 0 ELSE 1 END
    WHERE ID = @ID
GO
