USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[epx_INEKO_VytvorZakazkuZVyrCis]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[epx_INEKO_VytvorZakazkuZVyrCis]
	@IDDoklad int
AS
BEGIN

	DECLARE @CisloZakazky nvarchar(15)
	DECLARE @IDPolozka int
	DECLARE @VyrCis nvarchar(100)

	SET @CisloZakazky = (
		SELECT dz.CisloZakazky
		FROM dbo.TabDokladyZbozi dz
		WHERE dz.ID = @IDDoklad
	)

	IF @CisloZakazky IS NULL
	BEGIN
		RAISERROR (N'Chybí zakázka na hlavičce dokladu.', 16, 1)
		RETURN
	END

	IF EXISTS (
		SELECT cs.Nazev1
		FROM dbo.TabPohybyZbozi pz
		LEFT OUTER JOIN dbo.TabVyrCP cp ON cp.IDPolozkaDokladu = pz.ID
		LEFT OUTER JOIN dbo.TabVyrCS cs ON cs.ID = cp.IDVyrCis
		WHERE pz.SkupZbo = 'V01' AND pz.IDDoklad = @IDDoklad AND ISNULL(cs.Nazev1, N'') = N''
	)
	BEGIN
		RAISERROR (N'Chybí výrobní číslo na položce dokladu.', 16, 1)
		RETURN
	END

	IF EXISTS (
		SELECT cs.Nazev1
		FROM dbo.TabPohybyZbozi pz
		LEFT OUTER JOIN dbo.TabVyrCP cp ON cp.IDPolozkaDokladu = pz.ID
		LEFT OUTER JOIN dbo.TabVyrCS cs ON cs.ID = cp.IDVyrCis
		WHERE pz.SkupZbo = 'V01' AND pz.IDDoklad = @IDDoklad AND LEN(cs.Nazev1) > 15
	)
	BEGIN
		RAISERROR (N'Výrobní číslo je delší než 15 znaků. Nelze založit zakázku.', 16, 1)
		RETURN
	END

	DECLARE c CURSOR LOCAL FAST_FORWARD FOR
		SELECT pz.ID, cs.Nazev1
		FROM dbo.TabVyrCP cp
		JOIN dbo.TabPohybyZbozi pz ON pz.ID = cp.IDPolozkaDokladu
		JOIN dbo.TabVyrCS cs ON cs.ID = cp.IDVyrCis
		WHERE pz.IDDoklad = @IDDoklad AND pz.SkupZbo = 'V01'
	OPEN c
	WHILE 1=1
	BEGIN
		FETCH NEXT FROM c
		INTO @IDPolozka, @VyrCis

		IF @@FETCH_STATUS <> 0 BREAK

		IF NOT EXISTS (
			SELECT * FROM dbo.TabZakazka
			WHERE CisloZakazky = @VyrCis
		)
		BEGIN
			INSERT INTO dbo.TabZakazka (CisloZakazky)
			VALUES (@VyrCis)

			IF @CisloZakazky IS NOT NULL
			BEGIN
				UPDATE dbo.TabZakazka SET
					NadrizenaZak = @CisloZakazky
				WHERE CisloZakazky = @VyrCis
			END
		END

		UPDATE dbo.TabPohybyZbozi SET
			CisloZakazky = @VyrCis
		WHERE ID = @IDPolozka

	END
	CLOSE c
	DEALLOCATE c

END
GO
