USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_PlanTerminyVyrobyDoZakazek]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------------------------------------------
-- Název:       EP_VA_EP_PlanTerminyVyrobyDoZakazek
-- Popis:       Popis procedury
-- Autor:       Aleš Vintrlík
-- Datum:       14.07.2024 18:10
-- Verze:       1.0
--
-- Historie změn:
-- ------------------------------------------------------------------------------------------
-- Datum      | Verze | Autor         | Popis změny
-- ------------------------------------------------------------------------------------------
-- 2025-06-11 | 2.0   | Aleš Vintrlík | Změna terminu ukončení pro výpočet plánu ze zakázky
---------------------------------------------------------------------------------------------

CREATE     PROCEDURE [dbo].[EP_PlanTerminyVyrobyDoZakazek]
    @ID INT,               -- Parametr zakázky
    @DatumUkonceni DATE = NULL -- Nepovinný parametr pro začátek plánování
AS
BEGIN TRANSACTION;

-- Kontrola a smazání dočasné tabulky #PocetLidi, pokud již existuje
IF OBJECT_ID('tempdb..#PocetLidi') IS NOT NULL
    DROP TABLE #PocetLidi;

-- Krok 1: Vytvoření dočasné tabulky pro počet lidí ve skupině
CREATE TABLE #PocetLidi (
    Skupina NVARCHAR(50),
    PocetLidi INT
);

-- Naplnění tabulky
INSERT INTO #PocetLidi (Skupina, PocetLidi)
SELECT DISTINCT TCE._HcvInEkoSkupina AS Skupina, TC.Vice_lidi AS PocetLidi
FROM TabCPraco AS TC
JOIN TabCPraco_EXT AS TCE ON TC.ID = TCE.ID;

-- Krok 2: Kontrola na duplicitní záznamy
IF EXISTS (
    SELECT Skupina
    FROM #PocetLidi
    GROUP BY Skupina
    HAVING COUNT(*) > 1
)
BEGIN
    PRINT 'Duplicitní záznam pro atribut Skupina nalezen. Ukončuji transakci.';
    ROLLBACK TRANSACTION;
    RETURN;
END

-- Definování proměnných pro počet lidí
DECLARE @PocetLidi1 INT, @PocetLidi2 INT, @PocetLidi3 INT, @PocetLidi4 INT;

-- Inicializace proměnných pro počet lidí ve skupinách
SELECT @PocetLidi1 = MAX(PocetLidi) FROM #PocetLidi WHERE Skupina = 1;
SELECT @PocetLidi2 = MAX(PocetLidi) FROM #PocetLidi WHERE Skupina = 2;
SELECT @PocetLidi3 = MAX(PocetLidi) FROM #PocetLidi WHERE Skupina = 3;
SELECT @PocetLidi4 = MAX(PocetLidi) FROM #PocetLidi WHERE Skupina = 4;

-- Kontrola a smazání dočasné tabulky #ZakazkaPlan, pokud již existuje
IF OBJECT_ID('tempdb..#ZakazkaPlan') IS NOT NULL
    DROP TABLE #ZakazkaPlan;

-- Krok 3: Vytvoření dočasné tabulky a naplnění údaji z dotazu
CREATE TABLE #ZakazkaPlan (
    Zakazka NVARCHAR(50),
    DatumUkonceni DATE,
    DatumExpedice DATE
);

INSERT INTO #ZakazkaPlan (Zakazka, DatumUkonceni, DatumExpedice)
SELECT TZ.CisloZakazky AS Zakazka,
       COALESCE(@DatumUkonceni,MIN(TZ.DatumKonecPlan_X)-5) AS DatumUkonceni,
								  MIN(TZ.DatumKonecPlan_X) AS DatumExpedice
--     ISNULL(MIN(TP.Plan_ukonceni_X), 
--     MIN(COALESCE(TPZ.PotvrzDatDod_X, TDZ.TerminDodavkyDat_X, TPZ.PozadDatDod_X)) - 5)) AS DatumUkonceni,
--     MIN(COALESCE(TPZ.PotvrzDatDod_X, TDZ.TerminDodavkyDat_X, TPZ.PozadDatDod_X)) AS DatumExpedice
FROM TabZakazka TZ
JOIN TabZakazkaRada TZR ON TZ.Rada = TZR.Rada
LEFT JOIN TabPrikaz TP ON TZ.ID = TP.IDZakazka AND TP.StavPrikazu > 10 AND TP.UrovenVnoreni = 0
LEFT JOIN TabPohybyZbozi TPZ ON TZ.CisloZakazky = TPZ.CisloZakazky AND TPZ.DruhPohybuZbo = 9
LEFT JOIN TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID
LEFT JOIN TabZakazka_EXT TZE ON TZ.ID = TZE.ID
WHERE TZ.Ukonceno = 0
  AND TZR.Rada LIKE '100'
  AND LEFT(TZ.CisloZakazky, 3) NOT LIKE 'SKL'
  AND TZ.ID = @ID
GROUP BY TZ.CisloZakazky
HAVING MIN(ISNULL(TP.kusy_zad, 0)) = MIN(ISNULL(TP.kusy_zive, 0));

-- Kontrola a smazání dočasné tabulky #TabSvatek, pokud již existuje
IF OBJECT_ID('tempdb..#TabSvatek') IS NOT NULL
    DROP TABLE #TabSvatek;

-- Krok 4: Vytvoření dočasné tabulky pro svátky a víkendy
CREATE TABLE #TabSvatek (Datum DATE);

-- Vložení pevných svátků
INSERT INTO #TabSvatek (Datum)
SELECT DATEFROMPARTS(YEAR(GETDATE()), Mesic, Den) FROM TabPlanKalendSv WHERE Rok IS NULL;

-- Vložení specifických svátků
INSERT INTO #TabSvatek (Datum)
SELECT DATEFROMPARTS(Rok, Mesic, Den) FROM TabPlanKalendSv WHERE Rok IS NOT NULL;

-- Vygenerování víkendů v rámci určitého období
DECLARE @StartDate DATE = (SELECT DATEADD(yy, DATEDIFF(yy, 0, GETDATE()), 0)) -- První den aktuálního roku
DECLARE @EndDate DATE = (SELECT DATEADD(yy, DATEDIFF(yy, 0, GETDATE()) + 2, -1)) -- Poslední den následujícího roku

WHILE @StartDate <= @EndDate
BEGIN
    IF DATENAME(WEEKDAY, @StartDate) IN ('Saturday', 'Sunday')
    BEGIN
        INSERT INTO #TabSvatek (Datum)
        VALUES (@StartDate);
    END
    SET @StartDate = DATEADD(DAY, 1, @StartDate);
END;

DECLARE @DaysNeeded INT, @DateCount INT, @CurrentDate DATE, @ZakazkaID INT, @U8Start DATE, @U8Konec DATE;
SET @StartDate = (SELECT DATEADD(yy, DATEDIFF(yy, 0, GETDATE()), 0)) -- Opětovné nastavení prvního dne aktuálního roku

-- Krok 5: Nastavení atributů _U8Start a _U8Konec
-- Nastavení počáteční hodnoty

SELECT @CurrentDate = (
    SELECT TOP 1 DatumUkonceni
    FROM #ZakazkaPlan ZP
    WHERE ZP.Zakazka = (SELECT CisloZakazky FROM TabZakazka WHERE ID = @ID)
    ORDER BY ZP.DatumUkonceni DESC
);

-- Smyčka pro snížení data, dokud se nebude jednat o pracovní den
WHILE EXISTS (
    SELECT 1 
    FROM #TabSvatek 
    WHERE Datum = @CurrentDate
) OR DATENAME(WEEKDAY, @CurrentDate) IN ('Saturday', 'Sunday')
BEGIN
    SET @CurrentDate = DATEADD(DAY, -1, @CurrentDate);
END;

-- Aktualizace hodnot v TabZakazka_EXT
UPDATE TZE
SET _U8Start = @CurrentDate,
    _U8Konec = @CurrentDate
FROM TabZakazka_EXT TZE
JOIN TabZakazka TZ ON TZ.ID = TZE.ID
WHERE TZ.ID = @ID;

-- Krok 6: Aktualizace tabulky TabZakazka_EXT pro atributy _U3Start a _U3Konec

-- Aktualizace _U3Konec pro všechny zakázky
DECLARE cur3Konec CURSOR FOR
SELECT ID, _U8Konec
FROM TabZakazka_EXT
WHERE _U8Konec IS NOT NULL AND _U8Konec BETWEEN @StartDate AND @EndDate
AND ID = @ID;

OPEN cur3Konec;

FETCH NEXT FROM cur3Konec INTO @ZakazkaID, @CurrentDate;

WHILE @@FETCH_STATUS = 0
BEGIN
    -- Najít platný _U3Konec (pracovní den před _U8Konec)
    WHILE EXISTS (SELECT 1 FROM #TabSvatek WHERE Datum = DATEADD(DAY, -1, @CurrentDate)) OR DATENAME(WEEKDAY, DATEADD(DAY, -1, @CurrentDate)) IN ('Saturday', 'Sunday')
    BEGIN
        SET @CurrentDate = DATEADD(DAY, -1, @CurrentDate);
    END

    -- Aktualizace _U3Konec
    UPDATE TabZakazka_EXT
    SET _U3Konec = DATEADD(DAY, -1, @CurrentDate)
    WHERE ID = @ZakazkaID;

    FETCH NEXT FROM cur3Konec INTO @ZakazkaID, @CurrentDate;
END

CLOSE cur3Konec;
DEALLOCATE cur3Konec;

-- Aktualizace _U3Start pro všechny zakázky
DECLARE cur3Start CURSOR FOR
SELECT ID, _U3Konec, _HodSkPrac3
FROM TabZakazka_EXT
WHERE _U3Konec IS NOT NULL AND _U3Konec BETWEEN @StartDate AND @EndDate
AND ID = @ID;

OPEN cur3Start;

FETCH NEXT FROM cur3Start INTO @ZakazkaID, @CurrentDate, @DaysNeeded;

WHILE @@FETCH_STATUS = 0
BEGIN
    SET @DaysNeeded = CEILING(ISNULL(@DaysNeeded, 0) / 8.0 / @PocetLidi3);
    SET @DateCount = 0;

    -- Smyčka pro nalezení platného _U3Start
    WHILE @DaysNeeded > 0
    BEGIN
        IF @DaysNeeded = 1
        BEGIN
            SET @CurrentDate = @CurrentDate;
        END
        ELSE
        BEGIN
            SET @CurrentDate = DATEADD(DAY, -1, @CurrentDate);
        END
        
        IF NOT EXISTS (SELECT 1 FROM #TabSvatek WHERE Datum = @CurrentDate) AND DATENAME(WEEKDAY, @CurrentDate) NOT IN ('Saturday', 'Sunday')
        BEGIN
            SET @DaysNeeded = @DaysNeeded - 1;
        END
        
        SET @DateCount = @DateCount + 1;
    END

    -- Aktualizace _U3Start
    UPDATE TabZakazka_EXT
    SET _U3Start = @CurrentDate
    WHERE ID = @ZakazkaID;

    FETCH NEXT FROM cur3Start INTO @ZakazkaID, @CurrentDate, @DaysNeeded;
END

CLOSE cur3Start;
DEALLOCATE cur3Start;

-- Aktualizace _U2Konec pro všechny zakázky
DECLARE cur2Konec CURSOR FOR
SELECT ID, _U3Start
FROM TabZakazka_EXT
WHERE _U3Start IS NOT NULL AND _U3Start BETWEEN @StartDate AND @EndDate
AND ID = @ID;

OPEN cur2Konec;

FETCH NEXT FROM cur2Konec INTO @ZakazkaID, @CurrentDate;

WHILE @@FETCH_STATUS = 0
BEGIN
    -- Najít platný _U2Konec (pracovní den před _U3Start)
    WHILE EXISTS (SELECT 1 FROM #TabSvatek WHERE Datum = DATEADD(DAY, -1, @CurrentDate)) OR DATENAME(WEEKDAY, DATEADD(DAY, -1, @CurrentDate)) IN ('Saturday', 'Sunday')
    BEGIN
        SET @CurrentDate = DATEADD(DAY, -1, @CurrentDate);
    END

    -- Aktualizace _U2Konec
    UPDATE TabZakazka_EXT
    SET _U2Konec = DATEADD(DAY, -1, @CurrentDate)
    WHERE ID = @ZakazkaID;

    FETCH NEXT FROM cur2Konec INTO @ZakazkaID, @CurrentDate;
END

CLOSE cur2Konec;
DEALLOCATE cur2Konec;

-- Aktualizace _U2Start pro všechny zakázky
DECLARE cur2Start CURSOR FOR
SELECT ID, _U2Konec, _HodSkPrac2
FROM TabZakazka_EXT
WHERE _U2Konec IS NOT NULL AND _U2Konec BETWEEN @StartDate AND @EndDate
AND ID = @ID;

OPEN cur2Start;

FETCH NEXT FROM cur2Start INTO @ZakazkaID, @CurrentDate, @DaysNeeded;

WHILE @@FETCH_STATUS = 0
BEGIN
    SET @DaysNeeded = CEILING(ISNULL(@DaysNeeded, 0) / 8.0 / @PocetLidi2);
    SET @DateCount = 0;

    -- Smyčka pro nalezení platného _U2Start
    WHILE @DaysNeeded > 0
    BEGIN
        IF @DaysNeeded = 1
        BEGIN
            SET @CurrentDate = @CurrentDate;
        END
        ELSE
        BEGIN
            SET @CurrentDate = DATEADD(DAY, -1, @CurrentDate);
        END
        
        IF NOT EXISTS (SELECT 1 FROM #TabSvatek WHERE Datum = @CurrentDate) AND DATENAME(WEEKDAY, @CurrentDate) NOT IN ('Saturday', 'Sunday')
        BEGIN
            SET @DaysNeeded = @DaysNeeded - 1;
        END
        
        SET @DateCount = @DateCount + 1;
    END

    -- Aktualizace _U2Start
    UPDATE TabZakazka_EXT
    SET _U2Start = @CurrentDate
    WHERE ID = @ZakazkaID;

    FETCH NEXT FROM cur2Start INTO @ZakazkaID, @CurrentDate, @DaysNeeded;
END

CLOSE cur2Start;
DEALLOCATE cur2Start;

-- Aktualizace _U4Konec pro všechny zakázky
DECLARE cur4Konec CURSOR FOR
SELECT ID, _U2Start
FROM TabZakazka_EXT
WHERE _U2Start IS NOT NULL AND _U2Start BETWEEN @StartDate AND @EndDate
AND ID = @ID;

OPEN cur4Konec;

FETCH NEXT FROM cur4Konec INTO @ZakazkaID, @CurrentDate;

WHILE @@FETCH_STATUS = 0
BEGIN

    -- Najít platný _U4Konec (pracovní den před _U2Start)
    WHILE EXISTS (SELECT 1 FROM #TabSvatek WHERE Datum = DATEADD(DAY, -1, @CurrentDate)) OR DATENAME(WEEKDAY, DATEADD(DAY, -1, @CurrentDate)) IN ('Saturday', 'Sunday')
    BEGIN
        SET @CurrentDate = DATEADD(DAY, -1, @CurrentDate);
    END

    -- Aktualizace _U4Konec
    UPDATE TabZakazka_EXT
    SET _U4Konec = DATEADD(DAY, -1, @CurrentDate), _U5Konec = DATEADD(DAY, -1, @CurrentDate) 
    WHERE ID = @ZakazkaID;

    FETCH NEXT FROM cur4Konec INTO @ZakazkaID, @CurrentDate;
END

CLOSE cur4Konec;
DEALLOCATE cur4Konec;

-- Aktualizace _U4Start pro všechny zakázky
DECLARE cur4Start CURSOR FOR
SELECT ID, _U4Konec, ISNULL(_HodSkPrac4,0) + ISNULL(_HodKoop,0) AS HodVcKoopeace
FROM TabZakazka_EXT
WHERE _U4Konec IS NOT NULL AND _U4Konec BETWEEN @StartDate AND @EndDate
AND ID = @ID;

OPEN cur4Start;

FETCH NEXT FROM cur4Start INTO @ZakazkaID, @CurrentDate, @DaysNeeded;

WHILE @@FETCH_STATUS = 0
BEGIN
    SET @DaysNeeded = CEILING(ISNULL(@DaysNeeded, 0) / 8.0 / @PocetLidi4);
    SET @DateCount = 0;

    -- Smyčka pro nalezení platného _U4Start
    WHILE @DaysNeeded > 0
    BEGIN
        IF @DaysNeeded = 1
        BEGIN
            SET @CurrentDate = @CurrentDate;
        END
        ELSE
        BEGIN
            SET @CurrentDate = DATEADD(DAY, -1, @CurrentDate);
        END
        
        IF NOT EXISTS (SELECT 1 FROM #TabSvatek WHERE Datum = @CurrentDate) AND DATENAME(WEEKDAY, @CurrentDate) NOT IN ('Saturday', 'Sunday')
        BEGIN
            SET @DaysNeeded = @DaysNeeded - 1;
        END
        
        SET @DateCount = @DateCount + 1;
    END

    -- Aktualizace _U4Start
    UPDATE TabZakazka_EXT
    SET _U4Start = @CurrentDate
    WHERE ID = @ZakazkaID;

    FETCH NEXT FROM cur4Start INTO @ZakazkaID, @CurrentDate, @DaysNeeded;
END

CLOSE cur4Start;
DEALLOCATE cur4Start;

-- Aktualizace _U1Konec pro všechny zakázky
DECLARE cur1Konec CURSOR FOR
SELECT ID, _U4Start
FROM TabZakazka_EXT
WHERE _U4Start IS NOT NULL AND _U4Start BETWEEN @StartDate AND @EndDate
AND ID = @ID;

OPEN cur1Konec;

FETCH NEXT FROM cur1Konec INTO @ZakazkaID, @CurrentDate;

WHILE @@FETCH_STATUS = 0
BEGIN

    -- Najít platný _U1Konec (pracovní den před _U4Start)
    WHILE EXISTS (SELECT 1 FROM #TabSvatek WHERE Datum = DATEADD(DAY, -1, @CurrentDate)) OR DATENAME(WEEKDAY, DATEADD(DAY, -1, @CurrentDate)) IN ('Saturday', 'Sunday')
    BEGIN
        SET @CurrentDate = DATEADD(DAY, -1, @CurrentDate);
    END

    -- Aktualizace _U1Konec
    UPDATE TabZakazka_EXT
    SET _U1Konec = DATEADD(DAY, -1, @CurrentDate)
    WHERE ID = @ZakazkaID;

    FETCH NEXT FROM cur1Konec INTO @ZakazkaID, @CurrentDate;
END

CLOSE cur1Konec;
DEALLOCATE cur1Konec;

-- Aktualizace _U1Start pro všechny zakázky
DECLARE cur1Start CURSOR FOR
SELECT ID, _U1Konec, _HodSkPrac1
FROM TabZakazka_EXT
WHERE _U1Konec IS NOT NULL AND _U1Konec BETWEEN @StartDate AND @EndDate
AND ID = @ID;

OPEN cur1Start;

FETCH NEXT FROM cur1Start INTO @ZakazkaID, @CurrentDate, @DaysNeeded;

WHILE @@FETCH_STATUS = 0
BEGIN
    SET @DaysNeeded = CEILING(ISNULL(@DaysNeeded, 0) / 8.0 / @PocetLidi1);
    SET @DateCount = 0;

    -- Smyčka pro nalezení platného _U4Start
    WHILE @DaysNeeded > 0
    BEGIN
        IF @DaysNeeded = 1
        BEGIN
            SET @CurrentDate = @CurrentDate;
        END
        ELSE
        BEGIN
            SET @CurrentDate = DATEADD(DAY, -1, @CurrentDate);
        END
        
        IF NOT EXISTS (SELECT 1 FROM #TabSvatek WHERE Datum = @CurrentDate) AND DATENAME(WEEKDAY, @CurrentDate) NOT IN ('Saturday', 'Sunday')
        BEGIN
            SET @DaysNeeded = @DaysNeeded - 1;
        END
        
        SET @DateCount = @DateCount + 1;
    END

    -- Aktualizace _U4Start
    UPDATE TabZakazka_EXT
    SET _U1Start = @CurrentDate, _U5Start = @CurrentDate
    WHERE ID = @ZakazkaID;

    FETCH NEXT FROM cur1Start INTO @ZakazkaID, @CurrentDate, @DaysNeeded;
END

CLOSE cur1Start;
DEALLOCATE cur1Start;

-- Smazání dočasných tabulek
DROP TABLE #ZakazkaPlan;
DROP TABLE #TabSvatek;
DROP TABLE #PocetLidi;

COMMIT TRANSACTION;
GO
