USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_AktualizovatZakazkyPolozekEP]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EP_AktualizovatZakazkyPolozekEP]
AS
BEGIN

    -- 1. Vytvoření nové zakázky, pokud ZakazkaVyrobnihoCisla je NULL
    INSERT INTO TabZakazka (
		CisloZakazky,
		Nazev,
		DruhyNazev,
		Ukonceno,
		Stav,
		Priorita,
		Identifikator,
		CisloObjednavky,
		CisloNabidky,
		CisloSmlouvy,
		Upozorneni,
		VynosPlan,
		JeProjekt,
		JeServis,
		VerejnaZakazka,
		Autor,
		DatPorizeni,
		JeNovaVetaEditor
	)
	SELECT DISTINCT
		TVCS.Nazev1,
		'', -- Nazev
		'', -- DruhyNazev
		0,  -- Ukonceno
		'', -- Stav
		'', -- Priorita
		'', -- Identifikator
		'', -- CisloObjednavky
		'', -- CisloNabidky
		'', -- CisloSmlouvy
		'', -- Upozorneni
		0.0, -- VynosPlan
		0,   -- JeProjekt
		0,   -- JeServis
		0,   -- VerejnaZakazka
		suser_sname(), -- Autor
		getdate(),     -- DatPorizeni
		0    -- JeNovaVetaEditor
	FROM TabPohybyZbozi TPZ
        JOIN TabDokladyZbozi TDZ ON TDZ.ID = TPZ.IDDoklad AND TDZ.CisloZakazky LIKE 'IN%'
        LEFT JOIN TabZakazka TZ ON TPZ.CisloZakazky = TZ.CisloZakazky
        JOIN TabVyrCP TVCP ON TVCP.IDPolozkaDokladu = TPZ.ID
        JOIN TabVyrCS TVCS ON TVCS.ID = TVCP.IDVyrCis
        LEFT JOIN TabZakazka TZVC ON TZVC.CisloZakazky = TVCS.Nazev1
    WHERE TPZ.DruhPohybuZbo = 9 AND TVCS.Nazev1 IS NOT NULL AND TPZ.Cislozakazky IS NULL AND TZVC.CisloZakazky IS NULL -- AND NOT EXISTS (SELECT 1 FROM TabZakazka TZ WHERE TZ.CisloZakazky = TVCS.Nazev1)

    -- 2. Naplnění ZakazkaPolozky hodnotou ZakazkaVyrobnihoCisla
    UPDATE TabPohybyZbozi SET CisloZakazky = TVCS.Nazev1
    FROM TabPohybyZbozi TPZ
        JOIN TabVyrCP TVCP ON TVCP.IDPolozkaDokladu = TPZ.ID
        JOIN TabVyrCS TVCS ON TVCS.ID = TVCP.IDVyrCis
    WHERE TPZ.DruhPohybuZbo = 9 AND TVCS.Nazev1 IS NOT NULL AND TPZ.Cislozakazky IS NULL AND EXISTS (SELECT 1 FROM TabZakazka TZ WHERE TZ.CisloZakazky = TVCS.Nazev1)

    -- 3. Naplnění NadrizenaZakazka hodnotou ObchodniZakazkaZDokladu
    UPDATE TabZakazka 
	SET NadrizenaZak = TDZ.CisloZakazky
	FROM TabZakazka TZ
		JOIN TabPohybyZbozi TPZ ON TZ.CisloZakazky = TPZ.CisloZakazky
		JOIN TabDokladyZbozi TDZ ON TDZ.ID = TPZ.IDDoklad AND TDZ.CisloZakazky LIKE 'IN%'
	WHERE TZ.CisloZakazky <> TDZ.CisloZakazky

END;
GO
