USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_UzavreniAktivitNeboUkolu]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Název:       ÉP_VA_UzavreniAktivitNeboUkolu
-- Popis:       Uzavře aktivitu nebo úkoly
-- Autor:       Aleš Vintrlík
-- Datum:       2025-08-28 10:34:05
-- Verze:       1.0
--
-- Historie změn:
-- ------------------------------------------------------------------------------------------
-- Datum      | Verze | Autor         | Popis změny
-- ------------------------------------------------------------------------------------------
-- 2025-08-28 | 1.0   | Aleš Vintrlík | První verze
--------------------------------------------------------------------------------------------

CREATE   PROCEDURE [dbo].[EP_VA_UzavreniAktivitNeboUkolu]
AS
BEGIN
    -- Vypne hlášení o počtu ovlivněných řádků pro zrychlení
    SET NOCOUNT ON;

    -- ====================================================================================
    -- KROK 1: Uzavření nadřazených aktivit (TKJ) podle dokončených úkolů (TU)
    -- ====================================================================================

    -- CTE (Common Table Expression) pro bezpečné určení "posledního" relevantního úkolu,
    -- ze kterého se bude stav a druh výstupu přenášet na aktivitu.
    WITH SourceStatus AS (
        SELECT
            TU.IDKontaktJed,
            TU.StavKonec,
            TU.DruhVystupuKonec, -- Načteme i druh výstupu pro přenos
            ROW_NUMBER() OVER(PARTITION BY TU.IDKontaktJed ORDER BY TU.ID DESC) as rn
        FROM
            TabUkoly TU
        WHERE
            TU.StavKonec IN ('O', 'X')
			AND TU.IDKategorie = 4
            AND TU.Stav = 0 -- Zpracováváme pouze úkoly v otevřeném stavu (Stav = 0)
    )
    UPDATE TKJ
    SET
        TKJ.Stav = Source.StavKonec,
        TKJ.DruhVystupu = Source.DruhVystupuKonec -- Přeneseme i druh výstupu
    FROM
        TabKontaktJednani TKJ
    JOIN
        SourceStatus Source ON TKJ.ID = Source.IDKontaktJed
    WHERE
        Source.rn = 1  -- Zpracujeme pouze jeden (poslední) zdrojový úkol na aktivitu
        AND (TKJ.Stav IS NULL OR TKJ.Stav NOT IN ('O', 'X')) -- Aktualizujeme jen dosud neuzavřené aktivity

    -- ====================================================================================
    -- KROK 2: Uzavření podřízených úkolů (TU) podle již uzavřených aktivit (TKJ)
    -- ====================================================================================
    UPDATE TU
    SET
		TU.DatumDokonceni = GETDATE(),
		TU.Stav = 2,
		TU.HotovoProcent = 100
    FROM
        TabUkoly TU
    JOIN
        TabKontaktJednani TKJ ON TU.IDKontaktJed = TKJ.ID
    WHERE
        TKJ.Stav IN ('O', 'X')          -- Nadřazená aktivita je uzavřená
        AND TU.DatumDokonceni IS NULL   -- Úkol je stále otevřený
        AND TU.Stav = 0                 -- Uzavíráme pouze úkoly ve stavu 0
        AND TU.IDKategorie = 4         -- Pouze pro úkoly kategorie 4

    SET NOCOUNT OFF;
END
GO
