USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_AktualizaceCenPolKoopObj]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE       PROCEDURE [dbo].[EP_VA_AktualizaceCenPolKoopObj]
AS
BEGIN
	WITH RankedData AS (
		SELECT
			TPKO.ID,
			TC.kod AS Kod,
			TC.nazev,
			TKZ.ID AS IDKmenZbozi,
			TKZ.SkupZbo,
			TKZ.RegCis,
			TKZ.Nazev1 AS Dilec,
			TPKO.JCena AS Cena,
			TPKO.Mena,
			TKZ.Hmotnost,
			TPKO.CelkKoopMnozstvi AS Mnozstvi,
			ROW_NUMBER() OVER (PARTITION BY TC.kod, TKZ.ID ORDER BY TPKO.ID DESC) AS rn
		FROM dbo.TabPolKoopObj AS TPKO
			JOIN dbo.TabPrikaz AS TP ON TPKO.IDPrikaz = TP.ID
			JOIN dbo.TabKmenZbozi AS TKZ ON TP.IDTabKmen = TKZ.ID
			JOIN dbo.TabKoopObj AS TKO ON TPKO.IDObjednavky = TKO.ID
			JOIN dbo.TabCKoop AS TC ON TPKO.IDkooperace = TC.ID
		WHERE TPKO.JCena > 0 AND TC.kod != 10
	),
	AktualniCenik AS (
		SELECT 
			Kod,
			IDKmenZbozi,
			Cena,
			Mena
		FROM RankedData
		WHERE rn = 1
	)

	UPDATE TPKO
	SET
		TPKO.JCena = CEILING(AC.Cena),
		TPKO.Cena = CEILING(AC.Cena) * TPKO.CelkKoopMnozstvi,
		TPKO.JCenaHM = CASE WHEN AC.Mena = 'CZK' THEN CEILING(AC.Cena) ELSE TPKO.JCenaHM END,
		TPKO.CenaHM = CASE WHEN AC.Mena = 'CZK' THEN CEILING(AC.Cena) * TPKO.CelkKoopMnozstvi ELSE TPKO.CenaHM END
	FROM dbo.TabPolKoopObj AS TPKO
	INNER JOIN dbo.TabPrikaz AS TP ON TPKO.IDPrikaz = TP.ID
	INNER JOIN dbo.TabKoopObj AS TKO ON TPKO.IDObjednavky = TKO.ID
	INNER JOIN AktualniCenik AS AC ON TP.IDTabKmen = AC.IDKmenZbozi AND TPKO.IDkooperace = AC.Kod
	WHERE
    TPKO.JCena = 0 AND TKO.realizovano = 0;
END;
BEGIN
	UPDATE TPKO
	SET
		TPKO.JCena = CEILING(TKZ.Hmotnost * 35),
		TPKO.Cena = CEILING(TKZ.Hmotnost * 35) * TPKO.CelkKoopMnozstvi,
		TPKO.JCenaHM = CASE WHEN TKO.Mena = 'CZK' THEN CEILING(TKZ.Hmotnost * 35) ELSE TPKO.JCenaHM END,
		TPKO.CenaHM = CASE WHEN TKO.Mena = 'CZK' THEN CEILING(TKZ.Hmotnost * 35) * TPKO.CelkKoopMnozstvi ELSE TPKO.CenaHM END
	FROM dbo.TabPolKoopObj AS TPKO
		JOIN dbo.TabPrikaz AS TP ON TPKO.IDPrikaz = TP.ID
		JOIN dbo.TabPrPostup AS TPP ON TP.ID = TPP.IDPrikaz AND TPKO.DokladPrPostup = TPP.Doklad
		JOIN dbo.TabKmenZbozi AS TKZ ON TPP.dilec = TKZ.ID
		JOIN dbo.TabKoopObj AS TKO ON TPKO.IDObjednavky = TKO.ID
		JOIN dbo.TabCKoop AS TC ON TPKO.IDkooperace = TC.ID AND TC.kod = 10
	WHERE
    TPKO.JCena = 0 AND TKO.realizovano = 0;
END;
GO
