USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_UkonceniProstoje]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE       PROCEDURE [dbo].[EP_VA_UkonceniProstoje]
AS

DECLARE @CasDo DATETIME = GETDATE()

BEGIN
    SET NOCOUNT ON;

    DECLARE @ID INT, @IDSkupiny INT, @IDRodice INT, @IDZam INT, @DatumPor DATETIME, @IDSmeny INT, @IDPrikaz INT, @Doklad INT, @Alt NVARCHAR(10), @IDStroje INT;

    -- Vytvoření a naplnění dočasné tabulky
    CREATE TABLE #AktivniProstoje (
        ID INT,
        IDSkupiny INT,
        IDRodice INT,
        IDZam INT,
        DatumPor DATETIME,
        IDSmeny INT,
        IDPrikaz INT,
        Doklad INT,
        Alt NVARCHAR(10),
        IDStroje INT
    );

    INSERT INTO #AktivniProstoje (ID, IDSkupiny, IDRodice, IDZam, DatumPor, IDSmeny, IDPrikaz, Doklad, Alt, IDStroje)
    SELECT ID, IDSkupiny, IDRodice, IDZam, DatumPor, IDSmeny, IDPrikaz, Doklad, Alt, IDStroje
    FROM GTabSD_OO_Evidence
    WHERE Akce = 20 -- Zahájený prostoj
        AND Prostoj_Zavada = '010'
		AND IDKolegy IS NULL; -- Prostoj není ukončen

    -- Zpracování jednotlivých záznamů
    DECLARE aktivniProstojeCursor CURSOR FOR
    SELECT ID, IDSkupiny, IDRodice, IDZam, DatumPor, IDSmeny, IDPrikaz, Doklad, Alt, IDStroje
    FROM #AktivniProstoje;

    OPEN aktivniProstojeCursor;

    FETCH NEXT FROM aktivniProstojeCursor INTO @ID, @IDSkupiny, @IDRodice, @IDZam, @DatumPor, @IDSmeny, @IDPrikaz, @Doklad, @Alt, @IDStroje;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Ukončení prostoje
        EXEC dbo.GEPSD_OO_UkonceniProstoje 
            @GLastIDAkce = @ID, 
            @KalendarPreruseni = N'Default', 
            @IDSmeny = @IDSmeny, 
            @CasDo = @CasDo,
            @IDSkupiny = @IDSkupiny OUTPUT;

        -- Další záznam
        FETCH NEXT FROM aktivniProstojeCursor INTO @ID, @IDSkupiny, @IDRodice, @IDZam, @DatumPor, @IDSmeny, @IDPrikaz, @Doklad, @Alt, @IDStroje;
    END;

    CLOSE aktivniProstojeCursor;
    DEALLOCATE aktivniProstojeCursor;

    -- Smazání dočasné tabulky
    DROP TABLE #AktivniProstoje;
END;
GO
