USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_NapoctiMnozstviProServisniZakazky]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[EP_VA_NapoctiMnozstviProServisniZakazky]
AS

UPDATE TZE
SET 
    _MnozstviExpedicniPrikaz = ISNULL(ep.MnozstviExpedicniPrikaz, 0),
    _MnozstviNaVydejce       = ISNULL(ep.MnozstviNaVydejce, 0),
    _MnozstviNaFakture       = ISNULL(fa.MnozstviNaFakture, 0),
    _MnozstviStavSkladu      = ISNULL(sk.MnozstviSkladem, 0)
FROM TabZakazka_EXT AS TZE
JOIN TabZakazka AS TZ ON TZE.ID = TZ.ID
LEFT JOIN (
    -- Součty z EP a výdejek
    SELECT 
         TZ.CisloZakazky,
         SUM(TPZE.Mnozstvi) AS MnozstviExpedicniPrikaz,
         SUM(TPZV.MnozstviReal) AS MnozstviNaVydejce -- Realizované
    FROM TabZakazka AS TZ
    LEFT JOIN TabPohybyZbozi AS TPZE 
         ON TZ.CisloZakazky = TPZE.CisloZakazky AND TPZE.DruhPohybuZbo = 9
    LEFT JOIN TabPohybyZbozi AS TPZV 
         ON TZ.CisloZakazky = TPZV.CisloZakazky AND TPZV.DruhPohybuZbo = 2
    WHERE LEN(TZ.CisloZakazky) = 11 AND TZ.Ukonceno = 0
    GROUP BY TZ.CisloZakazky
) AS ep ON TZ.CisloZakazky = ep.CisloZakazky
LEFT JOIN (
    -- Součet z faktur
    SELECT 
         TZ.CisloZakazky,
         SUM(TPZ.Mnozstvi) AS MnozstviNaFakture
    FROM TabZakazka AS TZ
    JOIN TabPohybyZbozi AS TPZ 
         ON TZ.CisloZakazky = TPZ.CisloZakazky AND TPZ.DruhPohybuZbo = 13
    JOIN TabDokladyZbozi AS TDZ 
         ON TPZ.IDDoklad = TDZ.ID AND TDZ.RadaDokladu IN ('111','112','113')
    WHERE LEN(TZ.CisloZakazky) = 11 AND TDZ.Realizovano = 1 AND TZ.Ukonceno = 0
    GROUP BY TZ.CisloZakazky
) AS fa ON TZ.CisloZakazky = fa.CisloZakazky
LEFT JOIN (
    -- Součet množství skladem
    SELECT 
         TZ.CisloZakazky,
         SUM(TSS.Mnozstvi) AS MnozstviSkladem
    FROM TabZakazka AS TZ
    JOIN TabPohybyZbozi AS TPZ 
         ON TZ.CisloZakazky = TPZ.CisloZakazky AND TPZ.DruhPohybuZbo = 9
    JOIN TabKmenZbozi AS TKZ 
         ON TKZ.SkupZbo = TPZ.SkupZbo AND TPZ.RegCis = TKZ.RegCis
    JOIN TabStavSkladu AS TSS 
         ON TKZ.ID = TSS.IDKmenZbozi
    WHERE LEN(TZ.CisloZakazky) = 11 AND TZ.Ukonceno = 0
      AND TSS.IDSklad < 00100300040108
    GROUP BY TZ.CisloZakazky
) AS sk ON TZ.CisloZakazky = sk.CisloZakazky
WHERE LEN(TZ.CisloZakazky) = 11
  AND TZ.Ukonceno = 0;
GO
