USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_AktualizujAtributyZakazek]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_VA_AktualizujAtributyZakazek]
AS
BEGIN TRANSACTION

-- Select před aktualizací
SELECT 
       TZ.CisloZakazky AS TZ_Cislo, TZN.CisloZakazky AS TZN_Cislo,
	   TZ.Nazev AS TZ_Nazev, TZN.Nazev AS TZN_Nazev,
       TZ.Zadavatel AS TZ_Zadavatel, TZN.Zadavatel AS TZN_Zadavatel,
       TZ.PrijemceMU AS TZ_PrijemceMU, TZN.PrijemceMU AS TZN_PrijemceMU,
       TZ.Prijemce AS TZ_Prijemce, TZN.Prijemce AS TZN_Prijemce,
       TZ.KontaktOsoba AS TZ_KontaktOsoba, TZN.KontaktOsoba AS TZN_KontaktOsoba,
       TZ.Zodpovida AS TZ_Zodpovida, TZN.Zodpovida AS TZN_Zodpovida,
       TZ.DatumStartReal AS TZ_DatumStartReal, TZN.DatumStartReal AS TZN_DatumStartReal
FROM
    TabZakazka AS TZ
JOIN 
    TabZakazka AS TZN ON TZ.CisloZakazky = TZN.NadrizenaZak
LEFT JOIN 
    TabZakazka_EXT AS TZE ON TZ.ID = TZE.ID
LEFT JOIN 
    TabZakazka_EXT AS TZEN ON TZN.ID = TZEN.ID
WHERE
    TZ.CisloZakazky LIKE 'IN%'
    AND (TZ.Ukonceno + TZN.Ukonceno) < 2
    AND TZ.Rada LIKE 'IN0'
    AND TZN.Rada LIKE '100'

-- Aktualizace výrobních zakázek

UPDATE
	TZN
SET
	TZN.Nazev =
		CASE
			WHEN TZN.Nazev IS NULL OR TZN.Nazev = '' OR TZ.Nazev != TZN.Nazev THEN TZ.Nazev
			ELSE TZN.Nazev
		END
   ,TZN.Zadavatel =
		CASE
			WHEN TZN.Zadavatel IS NULL OR TZN.Zadavatel = '' OR TZ.Zadavatel != TZN.Zadavatel THEN TZ.Zadavatel
			ELSE TZN.Zadavatel
		END
   ,TZN.PrijemceMU =
		CASE
			WHEN TZN.PrijemceMU IS NULL OR TZN.PrijemceMU = '' OR TZ.PrijemceMU != TZN.PrijemceMU THEN TZ.PrijemceMU
			ELSE TZN.PrijemceMU
		END
   ,TZN.Prijemce =
		CASE
			WHEN TZN.Prijemce IS NULL OR TZN.Prijemce = '' OR TZ.Prijemce != TZN.Prijemce THEN TZ.Prijemce
			ELSE TZN.Prijemce
		END
   ,TZN.KontaktOsoba =
		CASE
			WHEN TZN.KontaktOsoba IS NULL OR TZN.KontaktOsoba = '' OR TZ.KontaktOsoba != TZN.KontaktOsoba THEN TZ.KontaktOsoba
			ELSE TZN.KontaktOsoba
		END
   ,TZN.Zodpovida =
		CASE
			WHEN TZN.Zodpovida IS NULL OR TZN.Zodpovida = '' OR TZ.Zodpovida != TZN.Zodpovida THEN TZ.Zodpovida
			ELSE TZN.Zodpovida
		END
FROM
	TabZakazka AS TZ
JOIN TabZakazka AS TZN ON TZ.CisloZakazky = TZN.NadrizenaZak
LEFT JOIN TabZakazka_EXT AS TZE ON TZ.ID = TZE.ID
LEFT JOIN TabZakazka_EXT AS TZEN ON TZN.ID = TZEN.ID
WHERE
	TZ.CisloZakazky LIKE 'IN%'
	AND (TZ.Ukonceno + TZN.Ukonceno) < 2
	AND TZ.Rada LIKE 'IN0'
	AND TZN.Rada LIKE '100';

-- Aktualizace datumu expedice u IN zakázky

UPDATE TZ
SET
    TZ.DatumStartReal = CASE 
                            WHEN TZ.DatumStartReal IS NULL OR TZ.DatumStartReal != TZN.DatumStartReal 
                            THEN TZN.DatumStartReal 
                            ELSE NULL 
                         END
FROM
    TabZakazka AS TZ
JOIN 
    TabZakazka AS TZN ON TZ.CisloZakazky = TZN.NadrizenaZak
LEFT JOIN 
    TabZakazka_EXT AS TZE ON TZ.ID = TZE.ID
LEFT JOIN 
    TabZakazka_EXT AS TZEN ON TZN.ID = TZEN.ID
WHERE
    TZ.CisloZakazky LIKE 'IN%'
    AND (TZ.Ukonceno + TZN.Ukonceno) < 2
    AND TZ.Rada LIKE 'IN0'
    AND TZN.Rada LIKE '100'

-- Select po aktualizaci

SELECT TZ.CisloZakazky	  AS TZ_CISLO
	  ,TZN.CisloZakazky	  AS TZN_CISLO
	  ,TZ.Nazev			  AS TZ_NAZEV
	  ,TZN.Nazev		  AS TZN_NAZEV
	  ,TZ.Zadavatel		  AS TZ_ZADAVATEL
	  ,TZN.Zadavatel	  AS TZN_ZADAVATEL
	  ,TZ.PrijemceMU	  AS TZ_PRIJEMCEMU
	  ,TZN.PrijemceMU	  AS TZN_PRIJEMCEMU
	  ,TZ.Prijemce		  AS TZ_PRIJEMCE
	  ,TZN.Prijemce		  AS TZN_PRIJEMCE
	  ,TZ.KontaktOsoba	  AS TZ_KONTAKTOSOBA
	  ,TZN.KontaktOsoba	  AS TZN_KONTAKTOSOBA
	  ,TZ.Zodpovida		  AS TZ_ZODPOVIDA
	  ,TZN.Zodpovida	  AS TZN_ZODPOVIDA
	  ,TZ.DatumStartReal  AS TZ_DATUMSTARTREAL
	  ,TZN.DatumStartReal AS TZN_DATUMSTARTREAL
FROM
	TabZakazka AS TZ
JOIN TabZakazka AS TZN ON TZ.CisloZakazky = TZN.NadrizenaZak
LEFT JOIN TabZakazka_EXT AS TZE ON TZ.ID = TZE.ID
LEFT JOIN TabZakazka_EXT AS TZEN ON TZN.ID = TZEN.ID
WHERE
	TZ.CisloZakazky LIKE 'IN%'
	AND (TZ.Ukonceno + TZN.Ukonceno) < 2
	AND TZ.Rada LIKE 'IN0'
	AND TZN.Rada LIKE '100';

-- Commit transakce
COMMIT
GO
