USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_ZmenaStatusuZakazky_ZL]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[EP_VA_ZmenaStatusuZakazky_ZL]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IDZakazka INT;

    -- Definice kurzoru
    DECLARE ZakazkaCursor CURSOR FAST_FORWARD FOR

	SELECT DISTINCT 
		TZ.ID
	FROM TabDokumenty AS TD
		JOIN TabDokumStrom AS TDS ON TD.IDDokumStrom = TDS.ID
		JOIN TabDokumVazba AS TDV ON TD.ID = TDV.IdDok
		JOIN TabDokumLog AS TDL ON TD.ID = TDL.IDDok
		JOIN TabZakazka AS TZ ON TDV.IdTab = TZ.ID
		JOIN TabZakazka_EXT AS TZE ON TZ.ID = TZE.ID
	WHERE TD.JmenoACesta LIKE '%.pdf' 
		AND TD.IDDokumStrom IS NOT NULL 
		AND TDS.NazevUrovne LIKE 'ZL' 
		AND TDV.IdentVazby = 2
		AND TZE._Status = 1

    -- Otevření kurzoru
    OPEN ZakazkaCursor;

    -- Načtení prvního záznamu
    FETCH NEXT FROM ZakazkaCursor INTO @IDZakazka;

    -- Smyčka přes všechny záznamy
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Zavolání další procedury pro změnu stavu
        EXEC dbo.EP_VA_ZmenaStatusuZakazky @NewStatus = 2, @ZakazkaID = @IDZakazka;

        -- Načtení dalšího záznamu
        FETCH NEXT FROM ZakazkaCursor INTO @IDZakazka;
    END

    -- Uzavření a uvolnění kurzoru
    CLOSE ZakazkaCursor;
    DEALLOCATE ZakazkaCursor;
END;
GO
