USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_AktualizovatUkonceniVyrobyPlan]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_VA_AktualizovatUkonceniVyrobyPlan]
AS
BEGIN
    SET NOCOUNT ON;

    -- Kontrola existence záznamů v TabZakazka_EXT a vložení chybějících záznamů
    INSERT INTO TabZakazka_EXT (ID)
    SELECT TZ.ID
    FROM TabZakazka AS TZ
    WHERE NOT EXISTS (
        SELECT 1
        FROM TabZakazka_EXT AS TZE
        WHERE TZE.ID = TZ.ID
    )

    -- Aktualizace _UkonceniVyrobyPlan v TabZakazka_EXT
    UPDATE TZE
    SET TZE._UkonceniVyrobyPlan = (
        SELECT MAX(TP.Plan_ukonceni)
        FROM TabPrikaz AS TP
        WHERE TP.IDZakazka = TZE.ID AND TP.IDPrikazVyssi IS NULL
    )
    FROM TabZakazka_EXT AS TZE
    WHERE EXISTS (
        SELECT 1
        FROM TabPrikaz AS TP
        WHERE TP.IDZakazka = TZE.ID
    )
END
GO
