USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_EditorPotencialniOrganizace]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EP_EditorPotencialniOrganizace]
  @PrvniPruchod BIT
AS

-- Deklarace proměnných
DECLARE @Stav INT = 3

SELECT @Stav AS Stav WHERE SUSER_SNAME () NOT IN ('IN-EKO\ivana.hnatova','IN-EKO\eva.tesarova','IN-EKO\martina.urbankova')
GO
