USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_InsertZakazkyNakladyZisk]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE       PROCEDURE [dbo].[EP_VA_InsertZakazkyNakladyZisk] AS
BEGIN
	WITH NakladyMaterial AS (
		SELECT 
			CisloZakazky, 
			SUM(SumaNakladuMaterial) AS SumaNakladuMaterial
		FROM (
			-- První dotaz
			SELECT 
				TPZ.CisloZakazky, 
				SUM(ISNULL(TPZ.CCevidSNDruh, 0) * -1) AS SumaNakladuMaterial
			FROM TabPohybyZbozi TPZ
			JOIN TabDokladyZbozi TDZ ON TPZ.IDDoklad = TDZ.ID
			JOIN TabStavSkladu AS TSS ON TPZ.IDZboSklad = TSS.ID
			JOIN TabKmenZbozi AS TKZ ON TSS.IDKmenZbozi = TKZ.ID AND TKZ.SkupZbo LIKE 'M%'
			WHERE TPZ.DruhPohybuZbo IN (0,4)
				AND TDZ.Realizovano = 1
				AND TDZ.RadaDokladu IN (430,500)
			GROUP BY TPZ.CisloZakazky
    
			UNION ALL 
			-- Druhý dotaz
			SELECT 
				TPZ.CisloZakazky, 
				SUM(ISNULL(TPZ.CCevidSNDruh, 0) * -1) AS SumaNakladuMaterial
			FROM TabPohybyZbozi TPZ
			JOIN TabDokladyZbozi TDZ ON TPZ.IDDoklad = TDZ.ID
			JOIN TabStavSkladu AS TSS ON TPZ.IDZboSklad = TSS.ID AND TDZ.IDSklad = '00100300040102'
			JOIN TabKmenZbozi AS TKZ ON TSS.IDKmenZbozi = TKZ.ID AND TKZ.SkupZbo LIKE 'P%'
			JOIN TabParKmZ AS TPKZ ON TKZ.ID = TPKZ.IDKmenZbozi AND TPKZ.VyraditZGenerPodrizPrikazu = 1
			WHERE TPZ.DruhPohybuZbo IN (0,4)
				AND TDZ.Realizovano = 1
				AND TDZ.RadaDokladu IN (430,500)
				AND TPZ.CisloZakazky NOT LIKE 'IN%'
			    AND TPZ.CisloZakazky NOT LIKE 'X%'
				AND TPZ.CisloZakazky NOT LIKE 'SKL%'
				AND TPZ.CisloZakazky NOT LIKE 'SR%'
				AND TPZ.CisloZakazky NOT LIKE 'VR%'
				AND TPZ.CisloZakazky IS NOT NULL
			GROUP BY TPZ.CisloZakazky
		) AS SubQuery
		GROUP BY CisloZakazky
	),
	NakladyMzdyRezie AS (
	  SELECT
		TP.IDZakazka,
		SUM(ISNULL(PMZ.Mzda, 0)) AS SumaNakladuMzdy,
		SUM(ISNULL(PMZ.RezieS, 0)) AS SumaNakladuRezie
	  FROM TabPrikazMzdyAZmetky PMZ
	  JOIN TabPrikaz TP ON PMZ.IDPrikaz = TP.ID
	  JOIN TabCPraco AS TC ON PMZ.IDPracoviste = TC.ID
	  JOIN TabCPraco_EXT AS TCE ON TC.ID = TCE.ID AND TCE._HcvInEkoSkupina IN (1,2,3,4,5,6)
	  WHERE PMZ.TypMzdy = 1
	  GROUP BY TP.IDZakazka
	),
	NakladyKooperace AS (
	  SELECT
		Z.ID AS IDZakazka,
		SUM(ISNULL(D.CastkaMD, 0)) AS SumaNakladuKooperace
	  FROM TabDenik D 
	  JOIN TabZakazka Z ON Z.CisloZakazky = D.CisloZakazky
	  WHERE D.UcetMD IN ('518012')
	  GROUP BY Z.ID
	),
	NakladyOstatni AS (
	  SELECT
		Z.ID AS IDZakazka,
		SUM(ISNULL(D.CastkaMD, 0)) AS SumaNakladuOstatni
	  FROM TabDenik D 
	  JOIN TabCisUctDef AS TCUD ON D.UcetMD = TCUD.CisloUcet AND D.IdObdobi = TCUD.IdObdobi
	  JOIN TabZakazka Z ON Z.CisloZakazky = D.CisloZakazky
	  WHERE D.UcetMD IN ('518018','518019','518025','518025','548001','548097','548097','563000','518007','501021','501013')
	  GROUP BY Z.ID
	),
	NakladyDoUbytku AS (
    SELECT
        tp.IDZakazka,
        SUM(tpnv.Celkem) AS NakladyDoUbytku
    FROM TabPohybyNV tpnv
    JOIN TabPrikaz tp ON tpnv.IDPrikaz = tp.ID
    WHERE tpnv.DruhPohybu = 23
    GROUP BY tp.IDZakazka
	),
	OcekavaneNakladyMaterial AS (
	  SELECT
		TZ.ID AS IDZakazka,
		SUM(COALESCE(TSS.Prumer, TSS.PrumerZadany) * TPK.mnoz_Nevydane) AS ZbNakladyMaterial
	  FROM TabPrKVazby AS TPK
	  LEFT JOIN TabPrikaz AS TP ON TPK.IDPrikaz = TP.ID AND TP.StavPrikazu IN (20, 30, 40)
	  LEFT JOIN TabZakazka AS TZ ON TP.IDZakazka = TZ.ID
	  LEFT JOIN TabKmenZbozi AS TKZ ON TPK.nizsi = TKZ.ID
	  LEFT JOIN TabStavSkladu AS TSS ON TKZ.ID = TSS.IDKmenZbozi AND TPK.Sklad = TSS.IDSklad
	  WHERE 
		TPK.mnoz_Nevydane > 0 
		AND TPK.IDOdchylkyDo IS NULL
		AND TPK.Prednastaveno = 1 
		AND TPK.ProcSplneni != 100 
		AND TKZ.Material = 1
		AND COALESCE(TSS.Prumer, TSS.PrumerZadany) != 0
	  GROUP BY TZ.ID
	),
	OcekavaneNakladyKooperace AS (
	  SELECT
		TZ.ID AS IDZakazka,
		SUM(ISNULL(TPKO.CenaHM, 0)) AS ZbNakladyKooperace
	  FROM TabPolKoopObj AS TPKO
	  LEFT JOIN TabPrikaz AS TP ON TPKO.IDPrikaz = TP.ID AND TP.StavPrikazu IN (20, 30, 40)
	  LEFT JOIN TabZakazka AS TZ ON TP.IDZakazka = TZ.ID
	  LEFT JOIN TabKoopObj AS TKO ON TPKO.IDObjednavky = TKO.ID
	  LEFT JOIN TabCKoop AS TC ON TC.ID = TPKO.IDkooperace
	  LEFT OUTER JOIN TabKmenZbozi AS Dilec ON Dilec.ID = (
		SELECT TOP 1 TPP.Dilec
		FROM TabPrPostup TPP
		WHERE TPP.IDPrikaz = TPKO.IDPrikaz
		  AND TPP.Doklad = TPKO.DokladPrPostup
		  AND TPP.Alt = TPKO.AltPrPostup
		  AND TPP.IDOdchylkyDo IS NULL
	  )
	  WHERE 
		TPKO.Splneno != 1
	  GROUP BY TZ.ID
	)
	INSERT INTO Tabx_ZakazkyNakladyZisk (ZakazkaID, Stav, CisloZakazky, NadrizenaZakazka, Zarizeni, UkonceniVyroby, ProdejniCenaCZK, PlNaklMat, PlNaklMzdy, PlNaklKoop, PlNaklOst, SkNaklMat, SkNaklMzdy, SkNaklRez, SkNaklMzdyVcRez, SkNaklKoop, SkNaklOst, ZbNaklMat, ZbNaklKoop)

	SELECT
		TZ.ID AS ZakazkaID,
		TZ.Ukonceno,
		TZ.CisloZakazky,
		TZ.NadrizenaZak,
		TZE._Zarizeni AS Zarizeni,
		TZE._UkonceniVyrobySkutecnost AS UkonceniVyroby,
		(SELECT TOP 1 CEILING(ISNULL(JCbezDaniKC,0)) FROM TabPohybyZbozi WHERE CisloZakazky = TZ.CisloZakazky AND DruhPohybuZbo = 9) AS ProdejniCenaCZK,
		CEILING(ISNULL(TZE._NaklMaterialPlan, 0)) AS PlNaklMat,
		CEILING(ISNULL(TZE._NaklMzdyPlan, 0)) AS PlNaklMzdy,
		CEILING(ISNULL(TZE._NaklKooperace, 0)) AS PlNaklKoop,
		CEILING(ISNULL(TZE._NaklOstPlan, 0)) AS PlNaklOst,
		CEILING(ISNULL(NM.SumaNakladuMaterial, 0)) AS SkNaklMat,
		CEILING(ISNULL(NMR.SumaNakladuMzdy, 0)) AS SkNaklMzdy,
		CEILING(ISNULL(NMR.SumaNakladuRezie, 0)) AS SkNaklRez,
		CEILING(ISNULL(NMR.SumaNakladuMzdy, 0)) + CEILING(ISNULL(NMR.SumaNakladuRezie, 0)) AS SkNaklMzdyVcRez,
		CEILING(ISNULL(NK.SumaNakladuKooperace, 0)) AS SkNaklKoop,
		CEILING(ISNULL(NOS.SumaNakladuOstatni, 0)) + CEILING(ISNULL(NUB.NakladyDoUbytku, 0)) AS SkNaklOst,
		CEILING(ISNULL(ONM.ZbNakladyMaterial, 0)) AS ZbNaklMat,
		CEILING(ISNULL(ONK.ZbNakladyKooperace, 0)) AS ZbNaklKoop
	FROM TabZakazka TZ
		JOIN dbo.TabZakazka_EXT AS TZE ON TZ.ID = TZE.ID
		LEFT JOIN NakladyMaterial NM ON TZ.CisloZakazky = NM.CisloZakazky
		LEFT JOIN NakladyMzdyRezie NMR ON TZ.ID = NMR.IDZakazka
		LEFT JOIN NakladyKooperace NK ON TZ.ID = NK.IDZakazka
		LEFT JOIN NakladyOstatni NOS ON TZ.ID = NOS.IDZakazka
		LEFT JOIN NakladyDoUbytku NUB ON TZ.ID = NUB.IDZakazka
		LEFT JOIN OcekavaneNakladyMaterial ONM ON TZ.ID = ONM.IDZakazka
		LEFT JOIN OcekavaneNakladyKooperace ONK ON TZ.ID = ONK.IDZakazka
	WHERE TZ.Rada LIKE '100'
END
GO
