USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_NaplnNormovaneCasyStroju]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************************
 * OBJEKT:     dbo.EP_VA_NaplnNormovaneCasyStroju (v7 - Finální)
 * DATUM:      23.10.2025 14:50
 * AUTOR:      SQL optimalizátor proc & view
 *
 * POPIS:
 * Procedura pro údržbu cílové tabulky 'dbo.Tabx_NormovaneCasyStroju'.
 *
 * PROVEDENÉ ZMĚNY:
 * 1. NALEZENA PŘÍČINA (23.10.2025): Scénář B (ladicí skript funguje,
 * procedura ne) ukazuje na problém s cachováním plánu (Plan Caching).
 * 2. OPRAVA: Na konec příkazu MERGE bylo přidáno `OPTION (RECOMPILE)`.
 * Tím se SQL Server donutí vytvořit nový prováděcí plán při každém
 * spuštění, čímž obejde vadný plán v cache.
 * 3. Přidány standardní hlavičky SET.
 *
 ******************************************************************************/
CREATE     PROCEDURE [dbo].[EP_VA_NaplnNormovaneCasyStroju]
AS
BEGIN
    -- Standardní nastavení pro procedury
    SET NOCOUNT ON;
    SET ANSI_NULLS ON;
    SET QUOTED_IDENTIFIER ON;

    -- Krok 1: Založení cílové tabulky (beze změny)
    IF OBJECT_ID('dbo.Tabx_NormovaneCasyStroju', 'U') IS NULL
    BEGIN
        PRINT N'Vytvářím chybějící tabulku [dbo].[Tabx_NormovaneCasyStroju]...';
        CREATE TABLE [dbo].[Tabx_NormovaneCasyStroju] (
            [IDPostupu]               [int] NOT NULL PRIMARY KEY,
            [Alt]                     [nchar](1) NULL,
            CONSTRAINT [CHK_Tabx_NormovaneCasyStroju_Alt]
                CHECK ([Alt] IS NULL OR ([Alt] >= N'A' AND [Alt] <= N'Z')),
            [CisloZakazky]            [nvarchar](50) NULL,
            [DruhyNazev]              [nvarchar](255) NULL,
            [Nazev1]                  [nvarchar](255) NULL,
            [Operace]                 [nvarchar](50) NULL,
            [nazev]                   [nvarchar](255) NULL,
            [NazevPracoviste]         [nvarchar](255) NULL,
            [Tarif]                   [nvarchar](50) NULL,
            [Vstup_TAC]               [numeric](19, 6) NULL,
            [Vstup_TAC_T]             [int] NULL,
            [Vstup_TAC_KC]            [numeric](19, 6) NULL,
            [vystup_TAC]              [numeric](19, 6) NULL,
            [vystup_TAC_T]            [int] NULL,
            [vystup_TAC_Obsluhy]      [numeric](19, 6) NULL,
            [vystup_TAC_Obsluhy_T]    [int] NULL,
            [vystup_TAC_KC]           [numeric](19, 6) NULL,
            [vystup_tac_J]            [numeric](19, 6) NULL,
            [vystup_tac_J_T]          [int] NULL,
            [vystup_tac_Obsluhy_J]    [numeric](19, 6) NULL,
            [vystup_tac_Obsluhy_J_T]  [int] NULL,
            [vystup_tac_kc_J]         [numeric](19, 6) NULL
        );
    END;

    -- Zahájení transakce pro zajištění atomicity operace MERGE
    BEGIN TRANSACTION;

    BEGIN TRY; -- Středník je zde klíčový kvůli Msg 156

        -- Krok 2: CTE StrojeKOpetreni (definuje rozsah)
        WITH StrojeKOpetreni AS (
            SELECT DISTINCT TZ.DruhyNazev
            FROM TabZakazka AS TZ
            JOIN TabPrikaz AS TP ON TZ.ID = TP.IDZakazka
            JOIN TabPrPostup AS TPP ON TP.ID = TPP.IDPrikaz
            JOIN TabKmenZbozi AS TKZ ON TPP.dilec = TKZ.ID
            JOIN TabCPraco AS TC ON TPP.pracoviste = TC.ID
            WHERE
                TPP.Prednastaveno = 1
                AND TPP.IDOdchylkyDo IS NULL
                AND TKZ.Nazev1 LIKE 'typO%'
        ),

        -- Krok 3: CTE NejnovejsiZakazky (seřadí zakázky)
        NejnovejsiZakazky AS (
            SELECT
                TZ.ID AS IDZakazky,
                TZ.DruhyNazev,
                ROW_NUMBER() OVER(
                    PARTITION BY TZ.DruhyNazev
                    ORDER BY TZ.DatPorizeni DESC, TZ.ID DESC
                ) as rn
            FROM
                TabZakazka AS TZ
            WHERE
                TZ.DruhyNazev IN (SELECT DruhyNazev FROM StrojeKOpetreni)
        ),

        -- Krok 4: CTE ValidaceZakazek (hledá "špatné" zakázky)
        ValidaceZakazek AS (
            SELECT DISTINCT
                TP.IDZakazka,
                1 AS MaChybnaData
            FROM
                TabPrikaz AS TP
                JOIN TabPrPostup AS TPP ON TP.ID = TPP.IDPrikaz
                JOIN TabKmenZbozi AS TKZ ON TPP.dilec = TKZ.ID
                JOIN TabCPraco AS TC ON TPP.pracoviste = TC.ID
            WHERE
--                TPP.Prednastaveno = 1
                TPP.IDOdchylkyDo IS NULL
                AND TKZ.Nazev1 LIKE 'typO%'
                AND TPP.TAC = 1.000000
                AND ISNULL(TPP.TAC_T, -1) = 0
				AND TC.Nazev NOT LIKE 'Kontrola%'
        ),

        -- Krok 5: CTE PlatnaZakazkaProStroj (vybere vítěze)
        PlatnaZakazkaProStroj AS (
            SELECT
                NZ.DruhyNazev,
                NZ.IDZakazky,
                ROW_NUMBER() OVER(
                    PARTITION BY NZ.DruhyNazev
                    ORDER BY NZ.rn ASC
                ) as rn_validni
            FROM
                NejnovejsiZakazky AS NZ
                LEFT JOIN ValidaceZakazek AS VZ ON NZ.IDZakazky = VZ.IDZakazka
            WHERE
                VZ.IDZakazka IS NULL
        ),

        -- Krok 6: CTE ZdrojovaData (finální data pro import)
        ZdrojovaData AS (
            SELECT
                TPP.ID AS IDPostupu, TPP.Alt, TZ.CisloZakazky, TZ.DruhyNazev,
                TKZ.Nazev1, TPP.Operace, TPP.nazev, TC.Nazev AS NazevPracoviste,
                TTH.Tarif, TPP.TAC AS Vstup_TAC, TPP.TAC_T AS Vstup_TAC_T,
                TTP.koef AS Vstup_TAC_KC,
                vystup_TAC = CASE WHEN 1 IN (0, 1) THEN TPP.TAC * CEILING(1.0 / 1.0) * 1.0 / 1.0 ELSE 0.0 END,
                vystup_TAC_T = TPP.TAC_T,
                vystup_TAC_Obsluhy = CASE WHEN 1 IN (0, 1) THEN ISNULL(NULL, TPP.TAC * 1.0 * 1.0) * CEILING(1.0 / 1.0) * 1.0 / 1.0 ELSE 0.0 END,
                vystup_TAC_Obsluhy_T = CASE WHEN NULL IS NULL THEN TPP.TAC_T ELSE NULL END,
                vystup_TAC_KC = CASE WHEN 1 = 1 AND 0 = 0 THEN TTP.koef * CEILING(1.0 / 1.0) * 1.0 / 1.0 ELSE 0.0 END,
                vystup_tac_J = CASE WHEN 1 IN (0, 1) THEN TPP.TAC * 1.0 / (1.0 * 1.0) ELSE 0.0 END,
                vystup_tac_J_T = TPP.TAC_T,
                vystup_tac_Obsluhy_J = CASE WHEN 1 IN (0, 1) THEN ISNULL(NULL, TPP.TAC * 1.0 * 1.0) * 1.0 / (1.0 * 1.0) ELSE 0.0 END,
                vystup_tac_Obsluhy_J_T = CASE WHEN NULL IS NULL THEN TPP.TAC_T ELSE NULL END,
                vystup_tac_kc_J = CASE WHEN 1 = 1 AND 0 = 0 THEN TTP.koef * 1.0 / (1.0 * 1.0) ELSE 0.0 END

            FROM
                TabPrPostup AS TPP
                JOIN TabPrikaz AS TP ON TPP.IDPrikaz = TP.ID
                JOIN TabKmenZbozi AS TKZ ON TPP.dilec = TKZ.ID
                JOIN TabCPraco AS TC ON TPP.pracoviste = TC.ID
                JOIN PlatnaZakazkaProStroj AS PZS ON TP.IDZakazka = PZS.IDZakazky
                JOIN TabZakazka AS TZ ON PZS.IDZakazky = TZ.ID
                LEFT OUTER JOIN TabCOdchylek AS TCO ON TPP.IDOdchylkyOd = TCO.ID
                LEFT OUTER JOIN TabTarH AS TTH ON TPP.tarif = TTH.ID
                LEFT OUTER JOIN TabTarP AS TTP ON TTH.ID = TTP.IDTarif
            WHERE
                PZS.rn_validni = 1
                AND TPP.Prednastaveno = 1
                AND TPP.IDOdchylkyDo IS NULL
                AND TKZ.Nazev1 LIKE 'typO%'
        )

        -- Krok 7: Provedení samotné synchronizace pomocí MERGE
        MERGE INTO dbo.Tabx_NormovaneCasyStroju AS TGT
        USING ZdrojovaData AS SRC
        ON (TGT.IDPostupu = SRC.IDPostupu)

        -- 1. AKCE: Aktualizace
        WHEN MATCHED THEN
            UPDATE SET
                TGT.Alt = SRC.Alt,
                TGT.CisloZakazky = SRC.CisloZakazky,
                TGT.Nazev1 = SRC.Nazev1,
                TGT.Operace = SRC.Operace,
                TGT.nazev = SRC.nazev,
                TGT.NazevPracoviste = SRC.NazevPracoviste,
                TGT.Tarif = SRC.Tarif,
                TGT.Vstup_TAC = SRC.Vstup_TAC,
                TGT.Vstup_TAC_T = SRC.Vstup_TAC_T,
                TGT.Vstup_TAC_KC = SRC.Vstup_TAC_KC,
                TGT.vystup_TAC = SRC.vystup_TAC,
                TGT.vystup_TAC_T = SRC.vystup_TAC_T,
                TGT.vystup_TAC_Obsluhy = SRC.vystup_TAC_Obsluhy,
                TGT.vystup_TAC_Obsluhy_T = SRC.vystup_TAC_Obsluhy_T,
                TGT.vystup_TAC_KC = SRC.vystup_TAC_KC,
                TGT.vystup_tac_J = SRC.vystup_tac_J,
                TGT.vystup_tac_J_T = SRC.vystup_tac_J_T,
                TGT.vystup_tac_Obsluhy_J = SRC.vystup_tac_Obsluhy_J,
                TGT.vystup_tac_Obsluhy_J_T = SRC.vystup_tac_Obsluhy_J_T,
                TGT.vystup_tac_kc_J = SRC.vystup_tac_kc_J

        -- 2. AKCE: Vložení
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (
                IDPostupu, Alt, CisloZakazky, DruhyNazev, Nazev1, Operace, nazev,
                NazevPracoviste, Tarif, Vstup_TAC, Vstup_TAC_T, Vstup_TAC_KC,
                vystup_TAC, vystup_TAC_T, vystup_TAC_Obsluhy, vystup_TAC_Obsluhy_T,
                vystup_TAC_KC, vystup_tac_J, vystup_tac_J_T, vystup_tac_Obsluhy_J,
                vystup_tac_Obsluhy_J_T, vystup_tac_kc_J
            )
            VALUES (
                SRC.IDPostupu, SRC.Alt, SRC.CisloZakazky, SRC.DruhyNazev, SRC.Nazev1, SRC.Operace, SRC.nazev,
                SRC.NazevPracoviste, SRC.Tarif, SRC.Vstup_TAC, SRC.Vstup_TAC_T, SRC.Vstup_TAC_KC,
                SRC.vystup_TAC, SRC.vystup_TAC_T, SRC.vystup_TAC_Obsluhy, SRC.vystup_TAC_Obsluhy_T,
                SRC.vystup_TAC_KC, SRC.vystup_tac_J, SRC.vystup_tac_J_T, SRC.vystup_tac_Obsluhy_J,
                SRC.vystup_tac_Obsluhy_J_T, SRC.vystup_tac_kc_J
            )

        -- 3. AKCE: Smazání
        WHEN NOT MATCHED BY SOURCE
             AND TGT.DruhyNazev IN (SELECT DruhyNazev FROM StrojeKOpetreni)
        THEN
            DELETE
        
        -- ===== ZDE JE FINÁLNÍ OPRAVA =====
        OPTION (RECOMPILE);
        -- ==================================

        -- Potvrzení transakce
        COMMIT TRANSACTION;
        PRINT N'Synchronizace dat strojů [Tabx_NormovaneCasyStroju] byla úspěšně dokončena.';

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        PRINT N'Při synchronizaci dat strojů [Tabx_NormovaneCasyStroju] došlo k chybě.';
        THROW;
    END CATCH
END;
GO
