USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_PlatebniMoralkaTrend]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_VA_PlatebniMoralkaTrend]
AS

DECLARE @currentDate DATE = GETDATE();
DECLARE @currentYear INT = YEAR(@currentDate);
DECLARE @currentMonth INT = MONTH(@currentDate);
DECLARE @currentFiscalYear INT;
DECLARE @previousFiscalYear INT;
DECLARE @rust INT = 55;
DECLARE @pokles INT = 16;
DECLARE @stagnace INT = 313;
DECLARE @new Int = 397;

-- Determine the current and previous fiscal year based on the current date
IF @currentMonth >= 4
BEGIN
    SET @currentFiscalYear = @currentYear;
    SET @previousFiscalYear = @currentYear - 1;
END
ELSE
BEGIN
    SET @currentFiscalYear = @currentYear - 1;
    SET @previousFiscalYear = @currentYear - 2;
END;

-- Define the names for the current and previous fiscal year columns
DECLARE @prProdlCurrentColumn NVARCHAR(255) = 'PrProdl_' + CAST(@currentFiscalYear AS NVARCHAR(4));
DECLARE @minProdlCurrentColumn NVARCHAR(255) = 'MinProdl_' + CAST(@currentFiscalYear AS NVARCHAR(4));
DECLARE @maxProdlCurrentColumn NVARCHAR(255) = 'MaxProdl_' + CAST(@currentFiscalYear AS NVARCHAR(4));
DECLARE @katCurrentColumn NVARCHAR(255) = 'Kat_' + CAST(@currentFiscalYear AS NVARCHAR(4));
DECLARE @prProdlPreviousColumn NVARCHAR(255) = 'PrProdl_' + CAST(@previousFiscalYear AS NVARCHAR(4));
DECLARE @minProdlPreviousColumn NVARCHAR(255) = 'MinProdl_' + CAST(@previousFiscalYear AS NVARCHAR(4));
DECLARE @maxProdlPreviousColumn NVARCHAR(255) = 'MaxProdl_' + CAST(@previousFiscalYear AS NVARCHAR(4));
DECLARE @katPreviousColumn NVARCHAR(255) = 'Kat_' + CAST(@previousFiscalYear AS NVARCHAR(4));

-- Check if the columns for the current fiscal year already exist
IF NOT EXISTS (
    SELECT 1
    FROM INFORMATION_SCHEMA.COLUMNS
    WHERE TABLE_NAME = 'Tabx_PlatebniMoralka'
    AND (COLUMN_NAME = @prProdlCurrentColumn OR COLUMN_NAME = @minProdlCurrentColumn OR COLUMN_NAME = @maxProdlCurrentColumn OR COLUMN_NAME = @katCurrentColumn)
)
BEGIN
    -- Add the new columns for the current fiscal year if they do not exist
    DECLARE @addPrProdlColumnSql NVARCHAR(MAX) = 'ALTER TABLE Tabx_PlatebniMoralka ADD ' + @prProdlCurrentColumn + ' DECIMAL(18, 2) NULL;';
    DECLARE @addMinProdlColumnSql NVARCHAR(MAX) = 'ALTER TABLE Tabx_PlatebniMoralka ADD ' + @minProdlCurrentColumn + ' INT NULL;';
    DECLARE @addMaxProdlColumnSql NVARCHAR(MAX) = 'ALTER TABLE Tabx_PlatebniMoralka ADD ' + @maxProdlCurrentColumn + ' INT NULL;';
    DECLARE @addKatColumnSql NVARCHAR(MAX) = 'ALTER TABLE Tabx_PlatebniMoralka ADD ' + @katCurrentColumn + ' CHAR(1) NULL;';

    EXEC sp_executesql @addPrProdlColumnSql;
    EXEC sp_executesql @addMinProdlColumnSql;
    EXEC sp_executesql @addMaxProdlColumnSql;
    EXEC sp_executesql @addKatColumnSql;

    PRINT 'Columns ' + @prProdlCurrentColumn + ', ' + @minProdlCurrentColumn + ', ' + @maxProdlCurrentColumn + ', and ' + @katCurrentColumn + ' have been added.';
END
ELSE
BEGIN
    PRINT 'Columns for the fiscal year ' + CAST(@currentFiscalYear AS NVARCHAR(4)) + ' already exist.';
END;

-- Update data for the current fiscal year
DECLARE @update_sql NVARCHAR(MAX) = '
WITH FiltrovaneFaktury AS (
    SELECT
        TCO.CisloOrg AS CisloFirmy,
        TCO.Firma,
        CASE
            WHEN MONTH(TDZ.Splatnost_X) >= 4 THEN YEAR(TDZ.Splatnost_X)
            ELSE YEAR(TDZ.Splatnost_X) - 1
        END AS FiskalniRok,
        TDZ.Splatnost_X AS Splatnost,
        TDZ.DatUhrady AS DatumUhrady,
        TDZ.DnuProdleni AS Prodleni
    FROM
        TabDokladyZbozi AS TDZ
    JOIN
        TabCisOrg AS TCO ON TDZ.CisloOrg = TCO.CisloOrg
    WHERE
        TDZ.DruhPohybuZbo IN (13)
        AND TDZ.RadaDokladu IN (111, 112, 113)
        AND TDZ.Splatnost_X BETWEEN DATEADD(YEAR, -1, CAST(CAST(' + CAST(@currentFiscalYear AS NVARCHAR(4)) + ' + 1 AS NVARCHAR(4)) + ''-04-01'' AS DATE))
        AND CAST(CAST(' + CAST(@currentFiscalYear AS NVARCHAR(4)) + ' + 1 AS NVARCHAR(4)) + ''-03-31'' AS DATE)
),
KategorizaceZakazniku AS (
    SELECT
        CisloFirmy,
        Firma,
        FiskalniRok,
        AVG(Prodleni) AS PrProdl,
        MIN(Prodleni) AS MinProdl,
        MAX(Prodleni) AS MaxProdl,
        CASE
            WHEN AVG(Prodleni) <= 0 THEN ''A''
            WHEN AVG(Prodleni) <= 30 THEN ''B''
            ELSE ''C''
        END AS Kategorizace
    FROM
        FiltrovaneFaktury
    GROUP BY
        CisloFirmy,
        Firma,
        FiskalniRok
)
MERGE Tabx_PlatebniMoralka AS target
USING (
    SELECT
        CisloFirmy,
        Firma,
        PrProdl AS PrProdl_Current,
        MinProdl AS MinProdl_Current,
        MaxProdl AS MaxProdl_Current,
        Kategorizace AS Kat_Current
    FROM
        KategorizaceZakazniku
    WHERE FiskalniRok = ' + CAST(@currentFiscalYear AS NVARCHAR(4)) + '
) AS source
ON target.CisloFirmy = source.CisloFirmy
WHEN MATCHED THEN
    UPDATE SET
        target.Firma = source.Firma,
        target.' + @prProdlCurrentColumn + ' = source.PrProdl_Current,
        target.' + @minProdlCurrentColumn + ' = source.MinProdl_Current,
        target.' + @maxProdlCurrentColumn + ' = source.MaxProdl_Current,
        target.' + @katCurrentColumn + ' = source.Kat_Current
WHEN NOT MATCHED THEN
    INSERT (CisloFirmy, Firma, ' + @prProdlCurrentColumn + ', ' + @minProdlCurrentColumn + ', ' + @maxProdlCurrentColumn + ', ' + @katCurrentColumn + ')
    VALUES (source.CisloFirmy, source.Firma, source.PrProdl_Current, source.MinProdl_Current, source.MaxProdl_Current, source.Kat_Current);';

EXEC sp_executesql @update_sql;

-- Update the Trend column
DECLARE @trendUpdateSql NVARCHAR(MAX) = '
UPDATE Tabx_PlatebniMoralka
SET Trend = 
    CASE
        WHEN ' + @katPreviousColumn + ' IS NULL THEN ' + CAST(@new AS NVARCHAR(10)) + '
        WHEN ' + @katCurrentColumn + ' = ''A'' AND ' + @katPreviousColumn + ' = ''B'' THEN ' + CAST(@rust AS NVARCHAR(10)) + '
        WHEN ' + @katCurrentColumn + ' = ''A'' AND ' + @katPreviousColumn + ' = ''C'' THEN ' + CAST(@rust AS NVARCHAR(10)) + '
        WHEN ' + @katCurrentColumn + ' = ''B'' AND ' + @katPreviousColumn + ' = ''C'' THEN ' + CAST(@rust AS NVARCHAR(10)) + '
        WHEN ' + @katCurrentColumn + ' = ' + @katPreviousColumn + ' THEN ' + CAST(@stagnace AS NVARCHAR(10)) + '
        ELSE ' + CAST(@pokles AS NVARCHAR(10)) + '
    END';

EXEC sp_executesql @trendUpdateSql;



GO
