USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_OznacPrikazbezKoopObjednavkyNaKoopDilec]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Název:       EP_VA_OznacPrikazbezKoopObjednavkyNaKoopDilec
-- Popis:       Popis procedury
-- Autor:       Aleš Vintrlík
-- Datum:       2025-09-16 09:32:23
-- Verze:       1.0
--
-- Historie změn:
-- ------------------------------------------------------------------------------------------
-- Datum      | Verze | Autor         | Popis změny
-- ------------------------------------------------------------------------------------------
-- 2025-09-16 | 1.0   | Aleš Vintrlík | První verze
---------------------------------------------------------------------------------------------

CREATE   PROCEDURE [dbo].[EP_VA_OznacPrikazbezKoopObjednavkyNaKoopDilec]
AS
BEGIN
    SET NOCOUNT ON;

    -- Cílem je TabPrikaz_EXT (tpe)
    MERGE INTO TabPrikaz_EXT AS tpe
    USING (
        -- Zdroj dat: Všechny příkazy s vypočítaným příznakem
        SELECT
            tp.ID AS PrikazID,
            
            -- Logika výpočtu příznaku (stejná jako minule)
            CASE
                -- 1. Je stav 30 A (díky LEFT JOIN) existuje tkze._kooperace = 1?
                WHEN tp.StavPrikazu = 30 AND tkze._kooperace = 1 THEN
                    -- 2. Pokud ano, chybí objednávka?
                    CASE
                        WHEN NOT EXISTS (
                            SELECT 1
                            FROM TabPolKoopObj AS tcko
                            WHERE tcko.IDPrikaz = tp.ID
                        )
                        THEN 1 -- Ano, chybí = problém
                        ELSE 0 -- Nechybí = v pořádku
                    END
                -- 1. Jiný stav nebo dílec není kooperační (vč. těch, co nemají tkze)
                ELSE 0 -- Není problém
            END AS VypocitanyPriznak
        FROM
            TabPrikaz AS tp
        JOIN
            TabKmenZbozi AS tkz ON tp.IDTabKmen = tkz.ID
        LEFT JOIN -- DŮLEŽITÁ ZMĚNA: LEFT JOIN zde
            TabKmenZbozi_EXT AS tkze ON tkz.ID = tkze.ID
            
    ) AS S -- Konec zdroje dat (S)
    ON (tpe.ID = S.PrikazID) -- Spojovací podmínka

    -- 1. KDYŽ ZÁZNAM V 'tpe' EXISTUJE
    WHEN MATCHED 
         -- A hodnota se liší (optimalizace proti zbytečným zápisům)
         AND (tpe._NeniKoopObjednavkaNaKoopDilec IS NULL OR tpe._NeniKoopObjednavkaNaKoopDilec <> S.VypocitanyPriznak) 
    THEN
        UPDATE SET
            _NeniKoopObjednavkaNaKoopDilec = S.VypocitanyPriznak

    -- 2. KDYŽ ZÁZNAM V 'tpe' CHYBÍ
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (ID, _NeniKoopObjednavkaNaKoopDilec)
        VALUES (S.PrikazID, S.VypocitanyPriznak);

END;
GO
