USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_ZalozAlternativu]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------------------------------------------
-- Název:       EP_VA_ZalozAlternativu
-- Popis:       Popis procedury
-- Autor:       Aleš Vintrlík
-- Datum:       08.10.2024 10:04
-- Verze:       1.1
--
-- Historie změn:
-- ------------------------------------------------------------------------------------------
-- Datum      | Verze | Autor         | Popis změny
-- ------------------------------------------------------------------------------------------
-- 13.06.2024 | 1.0   | Aleš Vintrlík | První verze
---------------------------------------------------------------------------------------------
-- 08.10.2024 | 1.1   | Aleš Vintrlík | Nastaveno kooperační množství na hodnotu 1
---------------------------------------------------------------------------------------------
-- 07.01.2026 | 1.2   | Aleš Vintrlík | Změna párování z 6 na 08
---------------------------------------------------------------------------------------------

CREATE           PROCEDURE [dbo].[EP_VA_ZalozAlternativu]
AS
BEGIN
    SET NOCOUNT ON;

    -- CTE pro výběr dílců, které nemají alternativu 'B'
    ;WITH NezalozeneAlternativy AS (
        SELECT TP.dilec, TP.Operace, TP.pracoviste, 
            CASE TP.pracoviste
                WHEN 6 THEN '08' -- Původně 13
                WHEN 24 THEN '13'
                WHEN 12 THEN '11'
                WHEN 13 THEN '11'
                WHEN 14 THEN '11'
                WHEN 15 THEN '11'
                WHEN 16 THEN '11'
				WHEN 18 THEN '14'
                WHEN 30 THEN '13'
                WHEN 31 THEN '13'
                WHEN 32 THEN '13'
                WHEN 36 THEN '17'
                WHEN 37 THEN '17'
                WHEN 38 THEN '17'
            END AS kooperace,
            TP.ID1  -- Přidání ID1 pro propojení s TabPostup
        FROM TabPostup TP
        WHERE TP.Alt = 'A'  -- Kontrolujeme, že alternativa A existuje
          AND TP.pracoviste IN (6, 24, 12, 13, 14, 15, 16, 18, 30, 31, 32, 36, 37, 38)  -- Filtr na pracoviště
          AND NOT EXISTS (
            SELECT 1
            FROM TabAltPostup ATP
            WHERE ATP.dilec = TP.dilec
              AND ATP.Alt = 'B'
              AND ATP.pracoviste IN (6, 24, 12, 13, 14, 15, 16, 18, 30, 31, 32, 36, 37, 38)
			  AND ATP.P_ID1 = TP.ID
        )
    )
    -- Vložení nových záznamů do TabAltPostup
    INSERT INTO TabAltPostup (
        P_ID1, dilec, IDZakazModif, IDVarianta, typ, TypOznaceni, IDKoduSdruzeni, ZmenaOd, ZmenaDo, DavkaTPV, priorita, nazev, pracoviste, IDStroje, IDkooperace, tarif,
        TBC, TBC_T, TBC_Obsluhy, TBC_Obsluhy_T, TBC_KC, TEC, TEC_T, TEC_Obsluhy, TEC_Obsluhy_T, TEC_KC, NasobekTAC, TAC_J, TAC_J_T, TAC_Obsluhy_J, TAC_Obsluhy_J_T,
        TAC_KC_J, TAC, TAC_T, TAC_Obsluhy, TAC_Obsluhy_T, TAC_KC, KoopMnozstvi, Koop_KalkulacniDavka, Koop_CenaDavky, Koop_CenaMJ, Koop_MenaKalkulace,
        Koop_ZpracovatelskaDavka, Koop_DobaZpracDavky, Koop_DobaZpracDavky_T, Poznamka, CisloTypOperace, KVO, PocetLidi, PocetKusu, PocetStroju, IDObrazek,
        MeziOperCas, MeziOperCas_T, Konf_TypMzdy, Konf_ZahrnoutDoKapacPlan, ZpusobZaplanovani, PlanDavka, ParKP_ZpusobBlokovaniKapacit, ParKP_ParalelZpracTranDavek,
        ParKP_ParalelZpracTranDavek_MaxPocet, ParKP_PovolitPreruseniTranDavky, ParKP_PovolitPreruseniOperace, ParKP_TranDavka, ParKP_ZpusobPouzitiTBC,
        ParKP_ZpusobPouzitiTEC, ID1, DatPorizeni, Autor, Zmenil, DatZmeny, BlokovaniEditoru, JeNovaVetaEditor
    )
    SELECT 
        NA.ID1,
        TP.dilec, TP.IDZakazModif, TP.IDVarianta, 2,  -- typ = 2 pro kooperaci
        NULL, TP.IDKoduSdruzeni, TP.ZmenaOd, TP.ZmenaDo, TP.DavkaTPV, 
        1, -- Priorita 'B' 
        TP.nazev, NULL /* TP.pracoviste */, NULL /* TP.IDStroje */, NA.kooperace, NULL /* TP.tarif */, TP.TBC, TP.TBC_T, TP.TBC_Obsluhy, TP.TBC_Obsluhy_T, TP.TBC_KC, TP.TEC, TP.TEC_T,
        TP.TEC_Obsluhy, TP.TEC_Obsluhy_T, TP.TEC_KC, TP.NasobekTAC, TP.TAC_J, TP.TAC_J_T, TP.TAC_Obsluhy_J, TP.TAC_Obsluhy_J_T, TP.TAC_KC_J, TP.TAC, TP.TAC_T, 
        TP.TAC_Obsluhy, TP.TAC_Obsluhy_T, TP.TAC_KC, 1, TP.Koop_KalkulacniDavka, TP.Koop_CenaDavky, TP.Koop_CenaMJ, TP.Koop_MenaKalkulace,
        TP.Koop_ZpracovatelskaDavka, TP.Koop_DobaZpracDavky, TP.Koop_DobaZpracDavky_T, TP.Poznamka, TP.CisloTypOperace, TP.KVO, TP.PocetLidi, TP.PocetKusu, 
        TP.PocetStroju, TP.IDObrazek, TP.MeziOperCas, TP.MeziOperCas_T, TP.Konf_TypMzdy, TP.Konf_ZahrnoutDoKapacPlan, TP.ZpusobZaplanovani, TP.PlanDavka, 
        TP.ParKP_ZpusobBlokovaniKapacit, TP.ParKP_ParalelZpracTranDavek, TP.ParKP_ParalelZpracTranDavek_MaxPocet, TP.ParKP_PovolitPreruseniTranDavky, 
        TP.ParKP_PovolitPreruseniOperace, TP.ParKP_TranDavka, TP.ParKP_ZpusobPouzitiTBC, TP.ParKP_ZpusobPouzitiTEC, 0, GETDATE(), SUSER_SNAME(), NULL, NULL, NULL, 0
    FROM NezalozeneAlternativy NA
    JOIN TabPostup TP ON NA.dilec = TP.dilec AND NA.Operace = TP.Operace
	WHERE NOT EXISTS (
		SELECT 1
		FROM TabAltPostup ATP
		WHERE ATP.P_ID1 = NA.ID1
		  AND ATP.priorita = 1
		  AND ATP.ZmenaOd = TP.ZmenaOd);

    SET NOCOUNT OFF;
END
GO
