USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_AktualizujPocetDniOdPosledniZmenyStavu]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EP_VA_AktualizujPocetDniOdPosledniZmenyStavu]
AS
BEGIN
    SET NOCOUNT ON;

    WITH LatestStav AS (
        SELECT
            ZakazkaID,
            MAX(Datum) AS LastDatum
        FROM hvw_StavyLog
        GROUP BY ZakazkaID
    )
    
    UPDATE tz_ext
    SET tz_ext._DniOdPosledniZmenyStavu = ISNULL(DATEDIFF(DAY, CAST(GETDATE() AS DATE), CAST(ls.LastDatum AS DATE)) * -1, 0)
    FROM TabZakazka_EXT tz_ext
    INNER JOIN TabZakazka tz
        ON tz_ext.ID = tz.ID
    LEFT JOIN LatestStav ls
        ON tz_ext.ID = ls.ZakazkaID
    WHERE tz.Ukonceno = 0 
      AND ISNULL(DATEDIFF(DAY, CAST(GETDATE() AS DATE), CAST(ls.LastDatum AS DATE)) * -1, 0) <> ISNULL(tz_ext._DniOdPosledniZmenyStavu, 0);
END
GO
