USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_PrehledKrytiMaterialuNaZakazky]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------------------------------------------
-- Název:       EP_VA_PrehledKrytiMaterialuNaZakazky
-- Popis:       Popis procedury
-- Autor:       Aleš Vintrlík
-- Datum:       2025-05-27 00:26:58
-- Verze:       1.0
--
-- Historie změn:
-- ------------------------------------------------------------------------------------------
-- Datum      | Verze | Autor         | Popis změny
-- ------------------------------------------------------------------------------------------
-- 2025-05-27 | 1.0   | Aleš Vintrlík | První verze
---------------------------------------------------------------------------------------------

CREATE   PROCEDURE [dbo].[EP_VA_PrehledKrytiMaterialuNaZakazky]
    @RegCisl NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Připrav vstupní data: Požadavky a objednávky
    IF OBJECT_ID('tempdb..#Pozadavky') IS NOT NULL DROP TABLE #Pozadavky;
    IF OBJECT_ID('tempdb..#Objednavky') IS NOT NULL DROP TABLE #Objednavky;
    IF OBJECT_ID('tempdb..#FIFO') IS NOT NULL DROP TABLE #FIFO;
    IF OBJECT_ID('tempdb..#Sklady') IS NOT NULL DROP TABLE #Sklady;

    -- Všechny požadavky na materiál
    SELECT
        TZ.CisloZakazky,
        TKZM.RegCis,
        TKZM.Nazev1,
        TP.Plan_zadani_X AS TerminVyroby,
        SUM(TKV.mnoz_Nevydane) AS Potrebne
    INTO #Pozadavky
    FROM TabPrKVazby AS TKV
        JOIN TabPrikaz AS TP ON TP.ID = TKV.IDPrikaz
        JOIN TabZakazka AS TZ ON TP.IDZakazka = TZ.ID 
        JOIN TabKmenZbozi AS TKZV ON TP.IDTabKmen = TKZV.ID
        JOIN TabKmenZbozi AS TKZM ON TKV.nizsi = TKZM.ID
        LEFT JOIN TabStavSkladu AS TSS ON TKZM.ID = TSS.IDKmenZbozi
        LEFT JOIN TabKmenZbozi_EXT AS TKZME ON TKZM.ID = TKZME.ID
        LEFT JOIN TabCPraco AS TC ON TKV.IDPracoviste = TC.ID
        LEFT JOIN TabCPraco_EXT AS TCE ON TC.ID = TCE.ID
    WHERE
        TP.StavPrikazu IN (30,40)
        AND TKV.Prednastaveno = 1
        AND TKZM.SkupZbo = 'M01'
        AND TKV.mnoz_Nevydane > 0
        AND TCE._HcvInEkoSkupina != 7
        AND TKZME._HcvInEkoSklProces IS NULL
        AND ISNULL(TKV.Splneno,0) = 0
    GROUP BY TZ.CisloZakazky, TKZM.RegCis, TKZM.Nazev1, TP.Plan_zadani_X;

    -- Všechny objednávky materiálu včetně potvrzeného data dodání
    SELECT
        TKZ.ID AS IDKmenZbozi,
        TKZ.RegCis,
        COALESCE(TPZ.PotvrzDatDod_X,TDZ.TerminDodavkyDat_X,TPZ.PozadDatDod_X) AS TerminDodani,
        SUM(TPZ.Mnozstvi-TPZ.MnOdebrane-TPZ.MnozstviStorno) AS Objednano
    INTO #Objednavky
    FROM TabPohybyZbozi TPZ
        JOIN TabDokladyZbozi TDZ ON TPZ.IDDoklad = TDZ.ID AND TDZ.DruhPohybuZbo = 6
		JOIN TabStavSkladu AS TSS ON TPZ.IDZboSklad = TSS.ID
        JOIN TabKmenZbozi TKZ ON TSS.IDKmenZbozi = TKZ.ID
    WHERE TPZ.Splneno != 1
		AND TPZ.Mnozstvi-TPZ.MnOdebrane-TPZ.MnozstviStorno > 0
    GROUP BY TKZ.ID, TKZ.RegCis, COALESCE(TPZ.PotvrzDatDod_X,TDZ.TerminDodavkyDat_X,TPZ.PozadDatDod_X);

    -- Základní stav skladu ke dni D (aktuální)
    SELECT
        TSS.IDKmenZbozi,
        TKZ.RegCis,
        TSS.MnozDispoSPrijBezVyd AS SklademVirtualne
    INTO #Sklady
    FROM TabStavSkladu TSS
	JOIN TabKmenZbozi AS TKZ ON TSS.IDKmenZbozi = TKZ.ID
    WHERE TSS.IDSklad = '00100300040104' AND TKZ.SkupZbo = 'M01';

    -- 2. Připrav výslednou FIFO tabulku
    CREATE TABLE #FIFO (
        RegCis NVARCHAR(50),
        Nazev1 NVARCHAR(255),
        CisloZakazky NVARCHAR(30),
        TerminVyroby DATE,
        Potrebne FLOAT,
        SklademPred FLOAT,
        ObjednanoPred FLOAT,
        PrijemVTerminu FLOAT,
        Pokryto FLOAT,
        Chybi FLOAT
    );

    DECLARE @RegCis NVARCHAR(50), @Nazev1 NVARCHAR(255);

    DECLARE cur CURSOR FOR 
        SELECT DISTINCT RegCis, Nazev1 FROM #Pozadavky
        ORDER BY RegCis;

    OPEN cur;
    FETCH NEXT FROM cur INTO @RegCis, @Nazev1;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        DECLARE @Zasoba FLOAT = 0;
        -- Aktuální skladová zásoba
        SELECT @Zasoba = SklademVirtualne FROM #Sklady WHERE RegCis = @RegCis;
        IF @Zasoba IS NULL SET @Zasoba = 0;

        -- Pomocná tabulka s objednávkami a termíny
        DECLARE @PrijemTab TABLE (TerminDodani DATE, Objednano FLOAT);
        INSERT INTO @PrijemTab
            SELECT TerminDodani, Objednano FROM #Objednavky WHERE RegCis = @RegCis;

        -- Průběžný sumář pro každou zakázku podle termínu výroby
        DECLARE pozad CURSOR FOR 
            SELECT CisloZakazky, TerminVyroby, Potrebne FROM #Pozadavky 
            WHERE RegCis = @RegCis ORDER BY TerminVyroby, CisloZakazky;
        OPEN pozad;

        DECLARE @Zakazka NVARCHAR(30), @TermVyroby DATE, @Potrebne FLOAT;
        DECLARE @ZasobaPrac FLOAT, @ObjednanoPrac FLOAT, @PrijemVTerminu FLOAT, @PrijemSum FLOAT, @Pokryto FLOAT, @Chybi FLOAT;

        SET @ZasobaPrac = @Zasoba;
        SET @PrijemSum = 0;

        FETCH NEXT FROM pozad INTO @Zakazka, @TermVyroby, @Potrebne;
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Součet objednávek do termínu této zakázky
            SELECT @PrijemVTerminu = SUM(Objednano) FROM @PrijemTab WHERE TerminDodani <= @TermVyroby;
            IF @PrijemVTerminu IS NULL SET @PrijemVTerminu = 0;
            SET @ObjednanoPrac = @PrijemVTerminu - @PrijemSum;

            -- Kolik lze pokrýt?
            IF @Potrebne <= (@ZasobaPrac + @ObjednanoPrac)
            BEGIN
                SET @Pokryto = @Potrebne;
                SET @Chybi = 0;
            END
            ELSE
            BEGIN
                SET @Pokryto = @ZasobaPrac + @ObjednanoPrac;
                SET @Chybi = @Potrebne - @Pokryto;
            END

            -- Výstup
            INSERT INTO #FIFO
                (RegCis, Nazev1, CisloZakazky, TerminVyroby, Potrebne, SklademPred, ObjednanoPred, PrijemVTerminu, Pokryto, Chybi)
            VALUES
                (@RegCis, @Nazev1, @Zakazka, @TermVyroby, @Potrebne, @ZasobaPrac, @ObjednanoPrac, @PrijemVTerminu, @Pokryto, @Chybi);

            -- Odečti pokrytí od zásoby a objednávek
            IF @Pokryto <= @ZasobaPrac 
                SET @ZasobaPrac = @ZasobaPrac - @Pokryto;
            ELSE 
            BEGIN
                SET @ObjednanoPrac = @ObjednanoPrac - (@Pokryto - @ZasobaPrac);
                SET @ZasobaPrac = 0;
            END
            SET @PrijemSum = @PrijemVTerminu;

            FETCH NEXT FROM pozad INTO @Zakazka, @TermVyroby, @Potrebne;
        END
        CLOSE pozad;
        DEALLOCATE pozad;

        FETCH NEXT FROM cur INTO @RegCis, @Nazev1;
    END
    CLOSE cur;
    DEALLOCATE cur;

	SELECT * FROM #FIFO WHERE RegCis = @RegCisl ORDER BY RegCis, TerminVyroby, CisloZakazky;

    -- Čištění
    DROP TABLE #Pozadavky;
    DROP TABLE #Objednavky;
    DROP TABLE #Sklady;
    DROP TABLE #FIFO;
END
GO
