USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_PriraditNadrizenouZakazkuEP]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_VA_PriraditNadrizenouZakazkuEP]
    @CisloNadrizeneZakazky NVARCHAR(15), 
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @RetryCount INT = 0;
        DECLARE @MaxRetries INT = 3;
        DECLARE @CisloZakazky NVARCHAR(15);
        DECLARE @Uzavreno BIT;
        DECLARE @Uzavrel NVARCHAR(128);
        DECLARE @DatUzavreni DATETIME;

        WHILE @RetryCount < @MaxRetries
        BEGIN
            BEGIN TRY
                -- Zjištění stavu nadrizene zakazky
                SELECT @Uzavreno = Ukonceno, @Uzavrel = Uzavrel, @DatUzavreni = DatUzavreni
                FROM TabZakazka
                WHERE CisloZakazky = @CisloNadrizeneZakazky;

                -- Kontrola, jestli je zakázka uzavřena
                IF @Uzavreno = 1
                BEGIN
                    -- Odblokování zakázky
                    UPDATE TabZakazka
                    SET Ukonceno = 0, Uzavrel = NULL, DatUzavreni = NULL
                    WHERE CisloZakazky = @CisloNadrizeneZakazky;
                END

                -- Získání čísla zakázky z TabPohybyZbozi
                SELECT @CisloZakazky = TDZ.CisloZakazky
                FROM TabDokladyZbozi AS TDZ
                WHERE TDZ.ID = @ID;

                -- Kontrola, zda bylo nalezeno číslo zakázky
                IF @CisloZakazky IS NOT NULL
                BEGIN
                    -- Aktualizace NadrizenaZak v TabZakazka
                    UPDATE TZ
                    SET TZ.NadrizenaZak = @CisloNadrizeneZakazky
                    FROM TabZakazka AS TZ
                    WHERE TZ.CisloZakazky = @CisloZakazky;

                    -- Uzavření zakázky s původními hodnotami (pokud byla předtím uzavřena)
                    IF @Uzavreno = 1
                    BEGIN
                        UPDATE TabZakazka
                        SET Ukonceno = 1, Uzavrel = @Uzavrel, DatUzavreni = @DatUzavreni
                        WHERE CisloZakazky = @CisloNadrizeneZakazky;
                    END

                    -- Úspěch: Ukonečení smyčky
                    BREAK;
                END
                ELSE
                BEGIN
                    -- Chyba: Číslo zakázky nebylo nalezeno
                    RAISERROR ('Expediční příkaz neobsahuje zakázku', 16, 1);
                    BREAK; -- Přerušení smyčky, pokud není co aktualizovat
                END
            END TRY
            BEGIN CATCH
                -- Zpracování chyby, příprava na další pokus
                SET @RetryCount = @RetryCount + 1;
                WAITFOR DELAY '00:00:03'; -- Čeká 2 sekundy před dalším pokusem
            END CATCH
        END

        IF @RetryCount = @MaxRetries
        BEGIN
            RAISERROR ('Nepodařilo se aktualizovat nadrizenou zakázku po maximálním počtu pokusů.', 16, 1);
        END
    END TRY
    BEGIN CATCH
        -- Zpracování chyby mimo smyčku opětovných pokusů
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrMsg, 16, 1);
    END CATCH
END
GO
