USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_InsertZakazkyNakladyZiskServis]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =================================================================================================================================
-- FINÁLNÍ FUNKČNÍ VERZE (v3)
-- Procedura:          [dbo].[EP_VA_InsertZakazkyNakladyZiskServis]
-- Čas opravy:         2025-07-23 14:49:00
-- Autor optimalizace: SQL optimalizátor (Gemini)
--
-- Popis opravy:
-- 1. Opravena syntax T-SQL: Definice CTE (klauzule WITH) je nyní správně umístěna PŘED příkazem INSERT.
-- 2. Přidán středník (;) před WITH jako osvědčený postup pro zamezení syntaktických kolizí.
-- 3. Veškerá předchozí optimalizace logiky a výkonu zůstává zachována.
-- =================================================================================================================================
CREATE       PROCEDURE [dbo].[EP_VA_InsertZakazkyNakladyZiskServis]
AS
BEGIN
    SET NOCOUNT ON;

    -- Nejprve definujeme všechny CTE (Common Table Expressions).
    -- Středník na začátku je best practice pro zajištění správné interpretace.
    ;WITH
    -- Krok 1: Sjednocená CTE, která načte všechny relevantní nákladové pohyby.
    VsechnyPohyby AS (
        SELECT
            LEFT(COALESCE(TPZ.CisloZakazky, TDZ.CisloZakazky), 8) AS CisloZakazkyHlavni,
            CASE WHEN TPZ.CCevidSN = 0 THEN TPZ.CCbezDaniKc ELSE TPZ.CCevidSN END AS CCevidSN,
            TPZ.Mnozstvi,
            TPZ.SkupZbo,
            TKZ.RegCis,
            TC.CenaKC
        FROM
            dbo.TabPohybyZbozi AS TPZ
            JOIN dbo.TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID
            LEFT JOIN dbo.TabStavSkladu AS TSS ON TPZ.IDZboSklad = TSS.ID
            LEFT JOIN dbo.TabKmenZbozi AS TKZ ON TSS.IDKmenZbozi = TKZ.ID
            LEFT JOIN dbo.TabNC AS TC ON TKZ.ID = TC.IDKmenZbozi AND TC.CenovaUroven = 4
        WHERE
            TDZ.Realizovano = 1
            AND TDZ.DruhPohybuZbo = 2
            AND TDZ.RadaDokladu IN (505, 510, 520)
            AND LEFT(COALESCE(TPZ.CisloZakazky, TDZ.CisloZakazky), 2) IN (N'XS', N'XI', N'XR')
    ),
    -- Krok 2: Agregace všech nákladů podle hlavního čísla zakázky.
    AgregovaneNaklady AS (
        SELECT
            VP.CisloZakazkyHlavni,
            SUM(CASE WHEN VP.SkupZbo NOT LIKE '900' THEN ISNULL(VP.CCevidSN, 0) ELSE 0 END) AS SumaNakladuMaterial,
            SUM(CASE WHEN VP.SkupZbo LIKE '900' AND VP.RegCis IN ('00002', '00003') THEN ISNULL(VP.CenaKC, 0) * ISNULL(VP.Mnozstvi, 0) ELSE 0 END) AS SumaNakladuMzdy,
            SUM(CASE WHEN VP.SkupZbo LIKE '900' AND VP.RegCis = '00004' THEN ISNULL(VP.CenaKC, 0) * ISNULL(VP.Mnozstvi, 0) ELSE 0 END) 
			+ SUM(CASE WHEN VP.SkupZbo LIKE '900' AND VP.RegCis NOT IN ('00002', '00003', '00004') THEN ISNULL(VP.CCevidSN, 0) ELSE 0 END) AS SumaNakladuOstatni
        FROM
            VsechnyPohyby AS VP
        GROUP BY
            VP.CisloZakazkyHlavni
    ),
	NakladyDoUbytku AS (
    SELECT
        LEFT(tz.CisloZakazky, 8) AS CisloZakazkyHlavni,
        SUM(tpnv.Celkem) AS NakladyDoUbytku
    FROM TabPohybyNV tpnv
    JOIN TabPrikaz tp ON tpnv.IDPrikaz = tp.ID
	JOIN TabZakazka tz ON tz.ID = tp.IDZakazka
    WHERE tpnv.DruhPohybu = 23
    GROUP BY LEFT(tz.CisloZakazky, 8)
	),
    -- Krok 3: Výpočet výnosů agregovaných dle hlavního čísla zakázky.
    Vynosy AS (
        SELECT
            LEFT(TDZ.CisloZakazky, 8) AS CisloZakazkyHlavni,
            SUM(CASE WHEN TDZ.CisloZakazky LIKE N'XR%' THEN 0 ELSE ISNULL(TDZ.SumaKcBezDPH, 0) END) AS ProdejniCena,
            MAX(TDZ.DatRealizace_X) AS TerminRealizace
        FROM
            dbo.TabDokladyZbozi AS TDZ
        WHERE
            TDZ.Realizovano = 1
            AND TDZ.DruhPohybuZbo = 2
            AND TDZ.RadaDokladu IN (505, 510, 520)
            AND LEFT(TDZ.CisloZakazky, 2) IN (N'XS', N'XI', N'XR')
        GROUP BY
            LEFT(TDZ.CisloZakazky, 8)
    )
    -- Až po definici všech CTE následuje příkaz INSERT, který je použije.
    INSERT INTO Tabx_ZakazkyNakladyZisk (
        ZakazkaID, Stav, CisloZakazky, NadrizenaZakazka, Zarizeni, UkonceniVyroby,
        ProdejniCenaCZK, PlNaklMat, PlNaklMzdy, PlNaklKoop, PlNaklOst,
        SkNaklMat, SkNaklMzdy, SkNaklRez, SkNaklMzdyVcRez, SkNaklKoop, SkNaklOst,
        ZbNaklMat, ZbNaklKoop
    )
    -- Finální sestavení dat pro vložení.
    SELECT
        TZ.ID AS ZakazkaID,
        TZ.Ukonceno AS Stav,
        TZ.CisloZakazky,
        TZ.NadrizenaZak AS NadrizenaZakazka,
        TZE._Zarizeni AS Zarizeni,
        VYN.TerminRealizace AS UkonceniVyroby,
        CEILING(ISNULL(VYN.ProdejniCena, 0)) AS ProdejniCenaCZK,
        0 AS PlNaklMat, 0 AS PlNaklMzdy, 0 AS PlNaklKoop, 0 AS PlNaklOst,
        CEILING(ISNULL(NAKL.SumaNakladuMaterial, 0)) AS SkNaklMat,
        CEILING(ISNULL(NAKL.SumaNakladuMzdy, 0)) AS SkNaklMzdy,
        0 AS SkNaklRez,
        CEILING(ISNULL(NAKL.SumaNakladuMzdy, 0)) AS SkNaklMzdyVcRez,
        0 AS SkNaklKoop,
        CEILING(ISNULL(NAKL.SumaNakladuOstatni, 0)) + CEILING(ISNULL(NUB.NakladyDoUbytku, 0)) AS SkNaklOst,
        0 AS ZbNaklMat, 0 AS ZbNaklKoop
    FROM
        dbo.TabZakazka AS TZ
        JOIN dbo.TabZakazka_EXT AS TZE ON TZ.ID = TZE.ID
        LEFT JOIN AgregovaneNaklady AS NAKL ON TZ.CisloZakazky = NAKL.CisloZakazkyHlavni
        LEFT JOIN Vynosy AS VYN ON TZ.CisloZakazky = VYN.CisloZakazkyHlavni
		LEFT JOIN NakladyDoUbytku NUB ON TZ.CisloZakazky = NUB.CisloZakazkyHlavni
    WHERE
        TZ.Rada LIKE 'X%' AND TZ.Ukonceno = 1;

END;
GO
