USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_VyrobekDilecDoTabDokumenty]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_VA_VyrobekDilecDoTabDokumenty]
AS

BEGIN
    -- Aktualizace existujících záznamů
    UPDATE ext
    SET ext._ExtVyrobek = LEFT(
            CASE
                WHEN CHARINDEX('\ProductFiles\', doc.JmenoACesta) > 0 AND CHARINDEX('\', doc.JmenoACesta, CHARINDEX('\ProductFiles\', doc.JmenoACesta) + LEN('\ProductFiles\')) > CHARINDEX('\ProductFiles\', doc.JmenoACesta) + LEN('\ProductFiles\') THEN
                    SUBSTRING(
                        doc.JmenoACesta,
                        CHARINDEX('\ProductFiles\', doc.JmenoACesta) + LEN('\ProductFiles\'),
                        CHARINDEX('\', doc.JmenoACesta, CHARINDEX('\ProductFiles\', doc.JmenoACesta) + LEN('\ProductFiles\')) - CHARINDEX('\ProductFiles\', doc.JmenoACesta) - LEN('\ProductFiles\')
                    )
                ELSE
                    NULL
            END
        , 30),
        ext._ExtDilec = LEFT(
            CASE
                WHEN CHARINDEX('\PDF\', doc.JmenoACesta) > 0 AND CHARINDEX('.pdf', doc.JmenoACesta) > CHARINDEX('\', doc.JmenoACesta, CHARINDEX('\PDF\', doc.JmenoACesta) + LEN('\PDF\')) + 1 THEN
                    SUBSTRING(
                        doc.JmenoACesta,
                        CHARINDEX('\', doc.JmenoACesta, CHARINDEX('\PDF\', doc.JmenoACesta) + LEN('\PDF\')) + 1,
                        CHARINDEX('.pdf', doc.JmenoACesta) - CHARINDEX('\', doc.JmenoACesta, CHARINDEX('\PDF\', doc.JmenoACesta) + LEN('\PDF\')) - 1
                    )
                ELSE
                    NULL
            END
        , 30)
    FROM TabDokumenty_EXT AS ext
    INNER JOIN TabDokumenty AS doc ON ext.ID = doc.ID
    WHERE doc.JmenoACesta LIKE '%ProductFiles%PDF%'
    AND ext._ExtVyrobek IS NULL
    AND ext._ExtDilec IS NULL
    AND doc.ID IN (
        SELECT TD.ID 
        FROM TabDokumenty AS TD 
        LEFT JOIN TabDokumenty_EXT AS TDE ON TD.ID = TDE.ID 
        WHERE TD.JmenoACesta LIKE '%ProductFiles%PDF%' 
        AND TDE._ExtVyrobek IS NULL 
        AND TDE._ExtDilec IS NULL
    );

    -- Vložení nových záznamů
    INSERT INTO TabDokumenty_EXT (ID, _ExtVyrobek, _ExtDilec)
    SELECT 
        doc.ID, 
        LEFT(
            CASE
                WHEN CHARINDEX('\ProductFiles\', doc.JmenoACesta) > 0 AND CHARINDEX('\', doc.JmenoACesta, CHARINDEX('\ProductFiles\', doc.JmenoACesta) + LEN('\ProductFiles\')) > CHARINDEX('\ProductFiles\', doc.JmenoACesta) + LEN('\ProductFiles\') THEN
                    SUBSTRING(
                        doc.JmenoACesta,
                        CHARINDEX('\ProductFiles\', doc.JmenoACesta) + LEN('\ProductFiles\'),
                        CHARINDEX('\', doc.JmenoACesta, CHARINDEX('\ProductFiles\', doc.JmenoACesta) + LEN('\ProductFiles\')) - CHARINDEX('\ProductFiles\', doc.JmenoACesta) - LEN('\ProductFiles\')
                    )
                ELSE
                    NULL
            END
        , 30),
        LEFT(
            CASE
                WHEN CHARINDEX('\PDF\', doc.JmenoACesta) > 0 AND CHARINDEX('.pdf', doc.JmenoACesta) > CHARINDEX('\', doc.JmenoACesta, CHARINDEX('\PDF\', doc.JmenoACesta) + LEN('\PDF\')) + 1 THEN
                    SUBSTRING(
                        doc.JmenoACesta,
                        CHARINDEX('\', doc.JmenoACesta, CHARINDEX('\PDF\', doc.JmenoACesta) + LEN('\PDF\')) + 1,
                        CHARINDEX('.pdf', doc.JmenoACesta) - CHARINDEX('\', doc.JmenoACesta, CHARINDEX('\PDF\', doc.JmenoACesta) + LEN('\PDF\')) - 1
                    )
                ELSE
                    NULL
            END
        , 30)
    FROM TabDokumenty AS doc
    WHERE doc.JmenoACesta LIKE '%ProductFiles%PDF%'
    AND doc.ID IN (
        SELECT TD.ID 
        FROM TabDokumenty AS TD 
        LEFT JOIN TabDokumenty_EXT AS TDE ON TD.ID = TDE.ID 
        WHERE TD.JmenoACesta LIKE '%ProductFiles%PDF%'
        AND TDE._ExtVyrobek IS NULL 
        AND TDE._ExtDilec IS NULL
        AND TDE.ID IS NULL
    );
END
GO
