USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[epx_INEKO_PrevedeniVOBJProNovySklad]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[epx_INEKO_PrevedeniVOBJProNovySklad]
	@IDSkladZdroj nvarchar(30),
	@IDSkladCil nvarchar(30)
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @DruhPohybuZbo tinyint = 6 -- vydaná objednávka
	DECLARE @RadaDokladu nvarchar(3)
	DECLARE @IDDokladZdroj int
	DECLARE @IDDokladCil int
	DECLARE @Mena nvarchar(3)
	DECLARE @CisloOrg int
	DECLARE @DatPorizeni datetime
	DECLARE @Kurz numeric(19,6)
	DECLARE @JednotkaMeny int
	DECLARE @KurzEuro numeric(19,6)
	DECLARE @VstupniCena tinyint
	DECLARE @IDKmenZbozi int
	DECLARE @IDZboSklad int
	DECLARE @IDPolozkaZdroj int
	DECLARE @IDPolozkaCil int
	DECLARE @Mnozstvi numeric(19,6)
	DECLARE @ParovaciZnak nvarchar(20)

	IF EXISTS (
		SELECT * FROM #TabExtKomID x
		JOIN dbo.TabDokladyZbozi dz ON dz.ID = x.ID
		WHERE dz.IDSklad <> @IDSkladZdroj
	)
	BEGIN
		RAISERROR (N'Nejsou označeny doklady zdrojového skladu.', 16, 1)
		RETURN
	END

	INSERT INTO #TabExtKom (Typ, Poznamka)
	SELECT 3, dz.ParovaciZnak + N': Pro vybraný zdrojový doklad není co generovat.'
	FROM #TabExtKomID x
	JOIN dbo.TabDokladyZbozi dz ON dz.ID = x.ID
	WHERE
		dz.DruhPohybuZbo = @DruhPohybuZbo AND
		NOT (dz.Splneno = 0 OR EXISTS (
			SELECT * FROM dbo.TabPohybyZbozi pz
			WHERE pz.IDDoklad = dz.ID AND ISNULL(pz.Splneno, 0) = 0 AND pz.SkupZbo IN (N'M01', N'M02')
		))

	DECLARE cdok CURSOR LOCAL FAST_FORWARD FOR
		SELECT x.ID, dz.RadaDokladu, dz.Mena, dz.CisloOrg, dz.DatPorizeni, dz.ParovaciZnak
		FROM #TabExtKomID x
		JOIN dbo.TabDokladyZbozi dz ON dz.ID = x.ID
		WHERE
			dz.DruhPohybuZbo = @DruhPohybuZbo AND
			(dz.Splneno = 0 OR EXISTS (
				SELECT * FROM dbo.TabPohybyZbozi pz
				WHERE pz.IDDoklad = dz.ID AND ISNULL(pz.Splneno, 0) = 0 AND pz.SkupZbo IN (N'M01', N'M02')
			))
	OPEN cdok
	WHILE 1=1
	BEGIN
		FETCH NEXT FROM cdok
		INTO @IDDokladZdroj, @RadaDokladu, @Mena, @CisloOrg, @DatPorizeni, @ParovaciZnak

		IF @@FETCH_STATUS <> 0 BREAK

		INSERT INTO #TabExtKom (Typ, Poznamka)
		SELECT 1, @ParovaciZnak + N': Pro vybraný zdrojový doklad založena vydaná objednávka na skladě ' + @IDSkladCil + N'.'

		EXEC dbo.hp_InsertHlavickyOZ
			@Ident = @IDDokladCil out,
			@Sklad = @IDSkladCil,
			@DruhPohybu = @DruhPohybuZbo,
			@RadaDokladu = @RadaDokladu,
			@Mena = @Mena,
			@CisloOrg = @CisloOrg,
			@DatumPorizeni = @DatPorizeni

		UPDATE new SET
			DIC = old.DIC,
			Prijemce = old.Prijemce,
			MistoUrceni = old.MistoUrceni,
			Autor = old.Autor,
			Zmenil = old.Zmenil,
			DatZmeny = old.DatZmeny,
			DatPovinnostiFa = old.DatPovinnostiFa,
			Splatnost = old.Splatnost,
			NavaznaObjednavka = old.NavaznaObjednavka,
			FormaUhrady = old.FormaUhrady,
			FormaDopravy = old.FormaDopravy,
			Poznamka = old.Poznamka,
			CisloZakazky = old.CisloZakazky,
			Kurz = old.Kurz,
			JednotkaMeny = old.JednotkaMeny,
			Nazev = old.Nazev,
			PopisDodavky = old.ParovaciZnak,
			TerminDodavky = old.TerminDodavky,
			IDPrikaz = old.IDPrikaz,
			CisloZam = old.CisloZam,
			TiskovyForm = old.TiskovyForm,
			KontaktZam = old.KontaktZam,
			KontaktOsoba = old.KontaktOsoba,
			VstupniCena = old.VstupniCena
		FROM dbo.TabDokladyZbozi new
		JOIN dbo.TabDokladyZbozi old ON old.ID = @IDDokladZdroj
		WHERE new.ID = @IDDokladCil

		-- připraveno pro přenos externích atributů

		--IF NOT EXISTS (SELECT * FROM dbo.TabDokladyZbozi_EXT WHERE ID = @IDDokladCil)
		--INSERT INTO dbo.TabDokladyZbozi_EXT (ID) VALUES (@IDDokladCil)

		--UPDATE new SET
		--FROM dbo.TabDokladyZbozi_EXT new
		--LEFT OUTER JOIN dbo.TabDokladyZbozi_EXT old ON old.ID = @IDDokladZdroj
		--WHERE new.ID = @IDDokladCil

		SELECT
			@Mena = Mena,
			@Kurz = Kurz,
			@JednotkaMeny = JednotkaMeny,
			@KurzEuro = KurzEuro
		FROM dbo.TabDokladyZbozi
		WHERE ID = @IDDokladCil

		DECLARE cpol CURSOR LOCAL FAST_FORWARD FOR
			SELECT pz.ID, pz.VstupniCena, pz.Mnozstvi, ss.IDKmenZbozi
			FROM dbo.TabPohybyZbozi pz
			JOIN dbo.TabStavSkladu ss ON ss.ID = pz.IDZboSklad
			WHERE pz.IDDoklad = @IDDokladZdroj
		OPEN cpol
		WHILE 1=1
		BEGIN
			FETCH NEXT FROM cpol
			INTO @IDPolozkaZdroj, @VstupniCena, @Mnozstvi, @IDKmenZbozi

			IF @@FETCH_STATUS <> 0 BREAK

			SET @IDZboSklad = (
				SELECT ss.ID
				FROM dbo.TabStavSkladu ss
				WHERE ss.IDKmenZbozi = @IDKmenZbozi AND ss.IDSklad = @IDSkladCil
			)

			IF @IDZboSklad IS NULL
			BEGIN
				INSERT INTO dbo.TabStavSkladu (IDKmenZbozi, IDSklad)
				VALUES (@IDKmenZbozi, @IDSkladCil)
				SET @IDZboSklad = SCOPE_IDENTITY()
			END

			EXEC dbo.hp_InsertPolozkyOZ
				@IDENT = @IDPolozkaCil out,
				@IDDoklad = @IDDokladCil,
				@DruhPohybu = @DruhPohybuZbo,
				@CisloOrg = @CisloOrg,
				@IDZboSklad = @IDZboSklad,
				@Mena = @Mena,
				@Kurz = @Kurz,
				@JednotkaMeny = @JednotkaMeny,
				@KurzEuro = @KurzEuro,
				@SazbaSD = 0,
				@SazbaDPH = 0,
				@ZakazanoDPH = 0,
				@VstupniCena = @VstupniCena,
				@PovolitDuplicitu = 1,
				@PovolitBlokovane = 1

			UPDATE new SET
				JCbezDaniKC = old.JCbezDaniKC,
				JCsDPHKc = old.JCsDPHKc,
				CCbezDaniKc = old.CCbezDaniKc,
				CCsDPHKc = old.CCsDPHKc,
				JCbezDaniVal = old.JCbezDaniVal,
				JCsDPHVal = old.JCsDPHVal,
				CCbezDaniVal = old.CCbezDaniVal,
				CCsDPHVal = old.CCsDPHVal,
				JCsSDKc = old.JCsSDKc,
				CCsSDKc = old.CCsSDKc,
				JCsSDVal = old.JCsSDVal,
				CCsSDVal = old.CCsSDVal,
				VstupniCena = old.VstupniCena
			FROM dbo.TabPohybyZbozi new
			JOIN dbo.TabPohybyZbozi old ON old.ID = @IDPolozkaZdroj
			WHERE new.ID = @IDPolozkaCil

			UPDATE new SET
				IDOldDoklad = old.IDOldDoklad,
				SkupZbo = old.SkupZbo,
				RegCis = old.RegCis,
				Nazev1 = old.Nazev1,
				CisloZakazky = old.CisloZakazky,
				CisloZam = old.CisloZam,
				MJ = old.MJ,
				MJEvidence = old.MJEvidence,
				Mena = old.Mena,
				Kurz = old.Kurz,
				JednotkaMeny = old.JednotkaMeny,
				SazbaDPH = old.SazbaDPH,
				Mnozstvi = (old.Mnozstvi - old.MnOdebrane),
				Poznamka = old.Poznamka,
				Autor = old.Autor,
				DatPorizeni = old.DatPorizeni,
				Zmenil = old.Zmenil,
				DatZmeny = old.DatZmeny,
				IDPrikaz = old.IDPrikaz,
				IDOldPolozka = old.IDOldPolozka,
				CisloOrg = old.CisloOrg,
				PotvrzDatDod = old.PotvrzDatDod,
				PozadDatDod = old.PozadDatDod,
				DokladPrikazu = old.DokladPrikazu,
				Hmotnost = old.Hmotnost
			FROM dbo.TabPohybyZbozi new
			JOIN dbo.TabPohybyZbozi old ON old.ID = @IDPolozkaZdroj
			WHERE new.ID = @IDPolozkaCil

			-- připraveno pro externí atributy
		
			--IF NOT EXISTS (SELECT * FROM dbo.TabPohybyZbozi_EXT WHERE ID = @IDPolozkaCil)
			--INSERT INTO dbo.TabPohybyZbozi_EXT (ID) VALUES (@IDPolozkaCil)

			--UPDATE new SET
			--FROM dbo.TabPohybyZbozi_EXT new
			--LEFT OUTER JOIN dbo.TabPohybyZbozi_EXT old ON old.ID = @IDPolozkaZdroj
			--WHERE new.ID = @IDPolozkaCil

		END
		CLOSE cpol
		DEALLOCATE cpol

		-- zdrojový doklad označíme za splněný

		UPDATE dbo.TabDokladyZbozi SET
			Splneno = 1
		WHERE ID = @IDDokladZdroj

	END
	CLOSE cdok
	DEALLOCATE cdok

	EXEC dbo.hp_VypCenOZPolozek_IDDokladu
		@IDDoklad = @IDDokladCil,
		@AktualizaceSlev = 1

END
GO
