USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_ZalozNotifikaciKontrolaZarizeni]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[EP_VA_ZalozNotifikaciKontrolaZarizeni]
AS
DECLARE @RC int
DECLARE @IdNotif int
DECLARE @Typ SMALLINT = 0
DECLARE @GUIDNotifikator uniqueidentifier
DECLARE @TextShort nvarchar(255)
DECLARE @TextFull nvarchar(max)
DECLARE @LoginName nvarchar(128)
DECLARE @NazevTabulkySys nvarchar(127)
DECLARE @BrowseID_DPSN nvarchar(36)
DECLARE @SystemovePromenne nvarchar(max)
DECLARE @IdZaznamu int

-- Nastavení hodnot parametrů
SET @GUIDNotifikator = 'F7992B38-D263-4554-A0DC-E9721407537B'
SET @TextShort = 'Ověř stav zařízení'
SET @NazevTabulkySys = 'TabZakazka'
SET @BrowseID_DPSN = 59

-- Kurzory pro procházení záznamů
DECLARE cur CURSOR FOR
SELECT
    TZP.ID,
    CONCAT('Prověř stav zařízení ', TZP.CisloZakazky) AS TextFull,
    TCZ.LoginId
FROM TabZakazka AS TZ
JOIN TabZakazka AS TZP ON TZP.NadrizenaZak = TZ.CisloZakazky
JOIN TabDokladyZbozi AS TDZ ON TZP.CisloZakazky = TDZ.CisloZakazky AND TDZ.DruhPohybuZbo = 9 
JOIN TabDokladyZbozi_EXT AS TDZE ON TDZ.ID = TDZE.ID
JOIN TabCisZam AS TCZ ON TDZE._HcvInEkoGarant = TCZ.Cislo
WHERE TZP.DatumStartReal > '20231231'
AND GETDATE() > DATEADD(MONTH, 3, TZP.DatumStartReal);

OPEN cur

FETCH NEXT FROM cur INTO @IdZaznamu, @TextFull, @LoginName

WHILE @@FETCH_STATUS = 0
BEGIN
    -- Zkontroluj, zda záznam již existuje v TabNotifikaceSeznamID
    IF NOT EXISTS (SELECT 1 FROM TabNotifikaceSeznamID WHERE IDDoklad = @IdZaznamu)
    BEGIN
        -- Spuštění uložené procedury
        EXECUTE @RC = [hp_Notifikace_Zalozeni] 
            @IdNotif OUTPUT
            ,@Typ
            ,@GUIDNotifikator
            ,@TextShort
            ,@TextFull
            ,@LoginName
            ,@NazevTabulkySys
            ,@BrowseID_DPSN
            ,@SystemovePromenne
            ,@IdZaznamu;
    END

    FETCH NEXT FROM cur INTO @IdZaznamu, @TextFull, @LoginName
END

CLOSE cur
DEALLOCATE cur
GO
