USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_AktualizujBlokovanoProVyrobu]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     PROCEDURE [dbo].[EP_VA_AktualizujBlokovanoProVyrobu]
AS
BEGIN
    -- Vložení chybějících záznamů do TabZakazka_EXT
    INSERT INTO TabZakazka_EXT (ID, _BlokovanoProVyrobu)
    SELECT TZ.ID, 0
    FROM TabZakazka AS TZ
    WHERE NOT EXISTS (
        SELECT 1
        FROM TabZakazka_EXT AS TZE
        WHERE TZE.ID = TZ.ID
    )
    -- Aktualizace _BlokovanoProVyrobu v TabZakazka_EXT
    UPDATE TZE
    SET TZE._BlokovanoProVyrobu = CASE 
                                      WHEN TCO.Saldo > 0 THEN 1 
                                      ELSE 0 
                                  END
    FROM TabZakazka_EXT AS TZE
    INNER JOIN TabZakazka AS TZ ON TZE.ID = TZ.ID
    INNER JOIN TabPohybyZbozi AS TPZ ON TZ.CisloZakazky = TPZ.CisloZakazky
    INNER JOIN dbo.TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID AND TPZ.DruhPohybuZbo = 9
    INNER JOIN TabCisOrg AS TCO ON TCO.CisloOrg = TDZ.CisloOrg
    WHERE TZ.Ukonceno != 1

END
GO
