USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_UpdatePrikazZdrojOZ]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_VA_UpdatePrikazZdrojOZ]
AS
BEGIN
    -- Vytvoření dočasné tabulky
    IF OBJECT_ID('tempdb..#TempPrikazy', 'U') IS NOT NULL
    BEGIN
        DROP TABLE #TempPrikazy;
    END

    CREATE TABLE #TempPrikazy (
        ID INT,
        IDZakazka INT,
        IDTabKmen INT
    );

    -- Vložení ID z TabPrikaz, které nemají záznam v TabPrikazZdrojOZ, do dočasné tabulky
    INSERT INTO #TempPrikazy (ID, IDZakazka, IDTabKmen) 
    SELECT TP.ID, TP.IDZakazka, TP.IDTabKmen 
    FROM TabPrikaz TP 
    WHERE NOT EXISTS (SELECT 1 
                      FROM TabPrikazZdrojOZ TPZO
					  JOIN TabPohybyZbozi AS TPZE ON TPZE.ID = TPZO.IDRezervace AND TPZE.DruhPohybuZbo = 9 
                      WHERE TP.ID = TPZO.IDPrikaz) 
          AND TP.IDZakazka IS NOT NULL
		  AND TP.StavPrikazu < 60

    -- Kontrola tabulky TabPohybyZbozi a doplnění vazby do TabPrikazZdrojOZ
	INSERT INTO TabPrikazZdrojOZ (IDPrikaz, IDRezervace)
    SELECT TP.ID AS IDPrikaz, TPZ.ID AS IDRezervace
    FROM #TempPrikazy TP
	JOIN TabZakazka TZ ON TP.IDZakazka = TZ.ID AND TZ.CisloZakazky LIKE 'X%' 
    JOIN TabPohybyZbozi TPZ ON TZ.CisloZakazky = TPZ.CisloZakazky 
                           AND TP.IDTabKmen = (SELECT TSS.IDKmenZbozi 
                                               FROM TabStavSkladu TSS 
                                               WHERE TSS.ID = TPZ.IDZboSklad)
    WHERE TPZ.DruhPohybuZbo = 9; -- 9 represents 'Expediční příkaz'

    -- Smazání dočasné tabulky
    DROP TABLE #TempPrikazy;
END;
GO
