USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_ZmenaStatusuZakazkyServisu_AutomatOstatni]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     PROCEDURE [dbo].[EP_VA_ZmenaStatusuZakazkyServisu_AutomatOstatni]
AS

-- Aktualizace _Status na hodnotu 4 (pro zakázky, které jsou ve výrobě)

UPDATE TZE
SET TZE._Status = 4
FROM TabZakazka_EXT AS TZE
JOIN TabZakazka AS TZ ON TZE.ID = TZ.ID
JOIN TabPrikaz AS TP ON TP.IDZakazka = TZ.ID
WHERE TZ.CisloZakazky LIKE 'X%' 
  AND LEN(TZ.CisloZakazky) = 11
  AND TZ.Ukonceno = 0
  AND TZE._Status < 4;

-- Aktualizace _Status na hodnotu 5 
-- (pro případy, kdy v daném skladu je stav, kdy množství na pohybu převyšuje množství skladem)

UPDATE TZE
SET TZE._Status = 5
FROM TabZakazka_EXT AS TZE
JOIN TabZakazka AS TZ ON TZE.ID = TZ.ID
JOIN TabKmenZbozi AS TKZ ON TZ.Identifikator = TKZ.RegCis
JOIN TabStavSkladu AS TSS ON TSS.IDKmenZbozi = TKZ.ID
JOIN TabPohybyZbozi AS TPZ ON TKZ.RegCis = TPZ.RegCis 
                           AND TZ.CisloZakazky = TPZ.CisloZakazky
WHERE TZ.CisloZakazky LIKE 'X%' 
  AND LEN(TZ.CisloZakazky) = 11
  AND TZ.Ukonceno = 0
  AND TSS.IDSklad < 00100300040108 
  AND TPZ.Mnozstvi > TSS.MnozSPrijBezVyd 
  AND TZE._Status < 5;

-- Aktualizace _Status na hodnotu 6 
-- (pro případy, kdy množství na pohybu s DruhPohybuZbo = 9 je menší než množství skladem)

UPDATE TZE
SET TZE._Status = 6
FROM TabZakazka_EXT AS TZE
JOIN TabZakazka AS TZ ON TZE.ID = TZ.ID
JOIN TabKmenZbozi AS TKZ ON TZ.Identifikator = TKZ.RegCis
JOIN TabStavSkladu AS TSS ON TSS.IDKmenZbozi = TKZ.ID
JOIN TabPohybyZbozi AS TPZ ON TKZ.RegCis = TPZ.RegCis 
                           AND TZ.CisloZakazky = TPZ.CisloZakazky 
                           AND TPZ.DruhPohybuZbo = 9
WHERE TZ.CisloZakazky LIKE 'X%' 
  AND LEN(TZ.CisloZakazky) = 11
  AND TZ.Ukonceno = 0
  AND TSS.IDSklad < 00100300040108 
  AND TPZ.Mnozstvi < TSS.MnozSPrijBezVyd
  AND TZE._Status < 6;

-- Aktualizace _Status na 9 (stav "vydáno")

UPDATE TZE
SET TZE._Status = 9
FROM TabZakazka_EXT AS TZE
JOIN TabZakazka AS TZ ON TZE.ID = TZ.ID
WHERE 
    TZ.Rada LIKE 'X%' 
    AND TZE._MnozstviExpedicniPrikaz > 0
    AND LEN(TZ.CisloZakazky) = 11
	AND TZ.Ukonceno = 0
    AND ISNULL(TZE._Status, 0) < 9
    AND TZE._MnozstviNaVydejce = TZE._MnozstviExpedicniPrikaz;

-- Aktualizace _Status na 11 (stav "vyfakturováno")

UPDATE TZE
SET TZE._Status = 11
FROM TabZakazka_EXT AS TZE
JOIN TabZakazka AS TZ ON TZE.ID = TZ.ID
WHERE 
    TZ.Rada LIKE 'X%' 
    AND TZE._MnozstviExpedicniPrikaz > 0
    AND LEN(TZ.CisloZakazky) = 11
	AND TZ.Ukonceno = 0
    AND ISNULL(TZE._Status, 0) < 11
    AND TZE._MnozstviNaFakture = TZE._MnozstviExpedicniPrikaz;
GO
