USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_BlokovatVyrobu]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_VA_BlokovatVyrobu]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CurrentUser NVARCHAR(128) = SUSER_SNAME();

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Vložení chybějícího záznamu do TabZakazka_EXT (pokud neexistuje)
        INSERT INTO TabZakazka_EXT (ID, _BlokovanoProVyrobu)
        SELECT TZ.ID, 0
        FROM TabZakazka AS TZ
        WHERE NOT EXISTS (
            SELECT 1
            FROM TabZakazka_EXT AS TZE
            WHERE TZE.ID = TZ.ID
        )
        AND TZ.ID = @ID;

        -- Aktualizace _PovolitVyrobu a _BlokovanoProVyrobu v TabZakazka_EXT
        UPDATE TZE
        SET TZE._PovolitVyrobu = 0, TZE._BlokovanoProVyrobu = 1
        FROM TabZakazka_EXT AS TZE
        WHERE TZE.ID = @ID;

        -- Zápis úspěšného logu
        INSERT INTO dbo.Tabx_BlokovaniVyrobyLog (ProcedureName, ZakazkaID, LogMessage, LogUser, LogLevel)
        VALUES (N'EP_VA_BlokovatVyrobu', @ID, N'Výroba pro zakázku byla úspěšně zablokována.', @CurrentUser, 'Info');

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        DECLARE @ErrorMessage NVARCHAR(MAX) = ERROR_MESSAGE();
        DECLARE @ErrorNumber INT = ERROR_NUMBER();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        DECLARE @ErrorLine INT = ERROR_LINE();
        DECLARE @ErrorProcedure NVARCHAR(128) = ERROR_PROCEDURE();

        DECLARE @ErrorDetails NVARCHAR(MAX) = FORMATMESSAGE(
            'Error %d, Level %d, State %d, Procedure %s, Line %d, Message: %s',
            @ErrorNumber, @ErrorSeverity, @ErrorState, @ErrorProcedure, @ErrorLine, @ErrorMessage
        );

        INSERT INTO dbo.Tabx_BlokovaniVyrobyLog (ProcedureName, ZakazkaID, LogMessage, LogUser, LogLevel, ErrorDetails)
        VALUES (N'EP_VA_BlokovatVyrobu', @ID, N'Chyba při blokování výroby.', @CurrentUser, 'Error', @ErrorDetails);

        THROW;
    END CATCH;
END
GO
