USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_DoplnitNormyZKatalogu]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[EP_VA_DoplnitNormyZKatalogu]
    @DryRun bit = 1,                -- 1 = náhled, 0 = provést UPDATE
    @ZahrnoutKontrolu bit = 0       -- 0 = vynechat pracoviště „Kontrola%“, 1 = zahrnout
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    ;WITH Kandidati AS (
        SELECT
            TPP.ID                                AS IDPostupu,
            TZ.DruhyNazev,
            TKZ.Nazev1                            AS Nazev1,         -- nový klíč
            TPP.nazev                             AS NazevOperace,
            TC.Nazev                              AS NazevPracoviste,
            TPP.TAC_Obsluhy                               AS TAC_Stare,
            TPP.TAC_Obsluhy_T                             AS TAC_T_Stare
        FROM dbo.TabPrPostup AS TPP
        JOIN dbo.TabPrikaz    AS TP  ON TPP.IDPrikaz   = TP.ID
        JOIN dbo.TabZakazka   AS TZ  ON TP.IDZakazka   = TZ.ID
        JOIN dbo.TabCPraco    AS TC  ON TPP.pracoviste = TC.ID
        JOIN dbo.TabKmenZbozi AS TKZ ON TPP.dilec      = TKZ.ID
        WHERE
            TPP.Prednastaveno = 1
            AND TPP.IDOdchylkyDo IS NULL
            AND ISNULL(TPP.TAC_Obsluhy, 1.0) = 1.0
            AND ISNULL(TPP.TAC_Obsluhy_T, 0) = 0
            AND TP.StavPrikazu < 50                  -- jen aktivní příkazy
            AND TKZ.Nazev1 LIKE N'typO%'             -- jen dílce typO…
            AND (@ZahrnoutKontrolu = 1 OR TC.Nazev NOT LIKE N'Kontrola%')
    ),
    KatalogDedup AS (
        SELECT *
        FROM (
            SELECT
                C.*,
                -- normalizované klíče v katalogu (včetně Nazev1)
                UPPER(LTRIM(RTRIM(ISNULL(C.DruhyNazev, N''))))       AS K_DruhyNazev,
                UPPER(LTRIM(RTRIM(ISNULL(C.Nazev1, N''))))           AS K_Nazev1,
                UPPER(LTRIM(RTRIM(ISNULL(C.nazev, N''))))            AS K_NazevOperace,
                UPPER(LTRIM(RTRIM(ISNULL(C.NazevPracoviste, N''))))  AS K_NazevPracoviste,
                ROW_NUMBER() OVER (
                    PARTITION BY
                        UPPER(LTRIM(RTRIM(ISNULL(C.DruhyNazev, N'')))),
                        UPPER(LTRIM(RTRIM(ISNULL(C.Nazev1, N'')))),
                        UPPER(LTRIM(RTRIM(ISNULL(C.nazev, N'')))),
                        UPPER(LTRIM(RTRIM(ISNULL(C.NazevPracoviste, N''))))
                    ORDER BY
                        C.CisloZakazky DESC,
                        C.IDPostupu   DESC
                ) AS rn
            FROM dbo.Tabx_NormovaneCasyStroju AS C
        ) X
        WHERE X.rn = 1
    ),
    Mapovani AS (
        SELECT
            K.IDPostupu,
            K.DruhyNazev,
            K.Nazev1,
            K.NazevOperace,
            K.NazevPracoviste,
            K.TAC_Stare,
            K.TAC_T_Stare,
            KD.vystup_tac_J   AS TAC_Nove_J,
            KD.vystup_tac_J_T AS TAC_T_Nove_J,
            KD.vystup_TAC     AS TAC_Nove,
            KD.vystup_TAC_T   AS TAC_T_Nove
        FROM Kandidati AS K
        JOIN KatalogDedup AS KD
          ON KD.K_DruhyNazev      = UPPER(LTRIM(RTRIM(ISNULL(K.DruhyNazev, N''))))
--       AND KD.K_Nazev1          = UPPER(LTRIM(RTRIM(ISNULL(K.Nazev1, N''))))
         AND KD.K_NazevOperace    = UPPER(LTRIM(RTRIM(ISNULL(K.NazevOperace, N''))))
         AND KD.K_NazevPracoviste = UPPER(LTRIM(RTRIM(ISNULL(K.NazevPracoviste, N''))))
    ),
    Rozhodnuti AS (
        SELECT
            M.IDPostupu,
            M.DruhyNazev,
            M.Nazev1,
            M.NazevOperace,
            M.NazevPracoviste,
            M.TAC_Stare,
            M.TAC_T_Stare,
            TAC_Novy   = COALESCE(M.TAC_Nove_J, M.TAC_Nove),
            TAC_T_Novy = COALESCE(M.TAC_T_Nove_J, M.TAC_T_Nove, M.TAC_T_Stare)
        FROM Mapovani AS M
        WHERE COALESCE(M.TAC_Nove_J, M.TAC_Nove) IS NOT NULL
    )
    SELECT
        R.IDPostupu,
        R.DruhyNazev,
        R.Nazev1,
        R.NazevOperace,
        R.NazevPracoviste,
        R.TAC_Stare,
        R.TAC_T_Stare,
        R.TAC_Novy,
        R.TAC_T_Novy
    INTO #Zmeny
    FROM Rozhodnuti AS R
    WHERE (R.TAC_Stare <> R.TAC_Novy OR R.TAC_T_Stare <> R.TAC_T_Novy);

    DECLARE @k int = (SELECT COUNT(*) FROM #Zmeny);

    IF @DryRun = 1
    BEGIN
        SELECT *
        FROM #Zmeny
        ORDER BY DruhyNazev, Nazev1, NazevPracoviste, NazevOperace, IDPostupu;

        PRINT CONCAT(N'K opravě: ', CONVERT(varchar(20), @k));
        RETURN;
    END;

    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE TPP
        SET
            TPP.TAC_Obsluhy   = Z.TAC_Novy,
            TPP.TAC_Obsluhy_T = Z.TAC_T_Novy
        FROM dbo.TabPrPostup AS TPP
        JOIN #Zmeny        AS Z ON Z.IDPostupu = TPP.ID;

        DECLARE @cnt int = @@ROWCOUNT;
        COMMIT TRANSACTION;

        SELECT *
        FROM #Zmeny
        ORDER BY DruhyNazev, Nazev1, NazevPracoviste, NazevOperace, IDPostupu;

        PRINT CONCAT(N'Aktualizováno řádků: ', CONVERT(varchar(20), @cnt));
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        DECLARE @msg nvarchar(4000) = ERROR_MESSAGE();
        RAISERROR(N'EP_VA_DoplnitNormyZKatalogu selhala: %s', 16, 1, @msg);
    END CATCH
END
GO
