USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_NapoctiSaldo]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE     PROCEDURE [dbo].[EP_VA_NapoctiSaldo]
AS
BEGIN
  -- Kontrola, zda tabulka Tabx_Saldo existuje

  IF  NOT EXISTS (SELECT
		*
	   FROM INFORMATION_SCHEMA.TABLES
	  WHERE table_name = 'Tabx_Saldo'
	  )

	  -- Vytvoření tabulky Tabx_Saldo, pokud neexistuje

	CREATE TABLE dbo.Tabx_Saldo
	(
		CisloOrg                        INT,
		Firma                           NVARCHAR(255),
		Fakturovano                     DECIMAL(18, 2),
		Uhrazeno                        DECIMAL(18, 2),
		SaldoDokladu                    DECIMAL(18, 2),
		Mena                            NVARCHAR(3),
		SaldoOrganizace                 DECIMAL(18, 2),
		PrumerneProdleni                INT,
		PrumerneProdleniNezaplacenych   INT,
		PrumerneProdleniZaplacenych     INT,
		AktualniProdleni                INT,
		DatumNapoctu                    DATE,
		PovolitVyrobu                   BIT DEFAULT 0,
		ProcentoUhrazeno AS CAST(
			CASE 
				WHEN Fakturovano = 0 THEN 0 
				ELSE (Uhrazeno / Fakturovano) * 100 
			END 
		AS INT)
	)

  -- Smazání stávajících dat
  TRUNCATE TABLE dbo.Tabx_Saldo

  -- Vložení nových dat
  INSERT INTO
	dbo.Tabx_Saldo
	(
	  CisloOrg
	 ,Firma
	 ,Fakturovano
	 ,Uhrazeno
	 ,SaldoDokladu
	 ,Mena
	 ,SaldoOrganizace
	 ,PrumerneProdleni
	 ,PrumerneProdleniNezaplacenych
	 ,PrumerneProdleniZaplacenych
	 ,AktualniProdleni
	 ,DatumNapoctu
	)
  SELECT TCO.CisloOrg
		,TCO.Firma
		,SUM(ISNULL(TDZ.SumaValPoZaoDPoh, 0)) AS Fakturovano
        ,SUM(ISNULL(TDZ.SumaUhrad, 0)) AS Uhrazeno
        ,SUM(ISNULL(TDZ.Saldo, 0)) AS SaldoDokladu
        ,TDZ.Mena
        ,MAX(ISNULL(TCO.Saldo, 0)) AS SaldoOrganizace
        ,ISNULL(AVG(ISNULL(TDZ.DnuProdleni, 0)), 0) AS PrumerneProdleni
        ,ISNULL(AVG(ISNULL(TDZ.DnuProdleniNazapl, 0)), 0) AS PrumerneProdleniNezaplacenych
        ,ISNULL(AVG(ISNULL(TDZ.DnuProdleniZapl, 0)), 0) AS PrumerneProdleniZaplacenych
		,ISNULL (DATEDIFF (DAY, (SELECT
		   MIN (Splatnost_X)
		  FROM dbo.TabDokladyZbozi
		 WHERE DruhPohybuZbo = 13
			 AND RadaDokladu NOT IN (109)
			 AND Splatnost < GETDATE ()
			 AND Saldo > 0
			 AND TabDokladyZbozi.CisloOrg = TCO.CisloOrg
		 ), GETDATE ()), 0)						 AS AktualniProdleni
		,CONVERT (Date, GETDATE ())				 AS DatumNapoctu
  FROM
	  dbo.TabDokladyZbozi AS TDZ
  JOIN dbo.TabCisOrg AS TCO ON TDZ.CisloOrg = TCO.CisloOrg
  WHERE
	  TDZ.DruhPohybuZbo = 13
	  AND TDZ.RadaDokladu NOT IN (109)
	  AND TDZ.Splatnost < GETDATE () - 1
	  AND TDZ.Saldo > 0
  GROUP BY
	  TCO.CisloOrg
	 ,TCO.Firma
	 ,TDZ.Mena

	UPDATE TCO SET TCO.Saldo = TS.SaldoDokladu * ISNULL ((SELECT TOP 1 TK.CelniKurz FROM dbo.TabKurzList AS TK WHERE TK.Mena = TS.Mena ORDER BY TK.Datum DESC), 1) ,TCO.FaAktualizovano = TS.DatumNapoctu 
	FROM dbo.TabCisOrg AS TCO
	INNER JOIN dbo.Tabx_Saldo AS TS ON TCO.CisloOrg = TS.CisloOrg

	-- Aktualizace Saldo na 0 pro organizace, které neexistují v Tabx_Saldo
	UPDATE TCO SET TCO.Saldo = 0, TCO.FaAktualizovano = TS.DatumNapoctu
	FROM dbo.TabCisOrg AS TCO
	LEFT JOIN dbo.Tabx_Saldo AS TS ON TCO.CisloOrg = TS.CisloOrg
	WHERE NOT EXISTS (SELECT 1 FROM dbo.Tabx_Saldo AS TS WHERE TCO.CisloOrg = TS.CisloOrg) AND TCO.Saldo > 0

END

GO
