USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_DoplnPosledniTerminVyrobyNeboNakupu]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------------------------------------------------------------------
-- Název:       EP_VA_DoplnPosledniTerminVyrobyNeboNakupu
-- Popis:       Doplňuje do EXT tabulky zakázky nejzazší termín z pohybů, příkazů a kooperací
-- Autor:       Aleš Vintrlík
-- Datum:       2025-05-26 21:43:29 (Upraveno: Dnešní datum)
-- Verze:       1.1
--
-- Historie změn:
-- ------------------------------------------------------------------------------------------
-- Datum      | Verze | Autor         | Popis změny
-- ------------------------------------------------------------------------------------------
-- 2025-05-26 | 1.0   | Aleš Vintrlík | První verze
-- 2025-12-11 | 1.1   | Aleš Vintrlík | Přidána logika pro termíny kooperací (TabPolKoopObj)
---------------------------------------------------------------------------------------------

CREATE   PROCEDURE [dbo].[EP_VA_DoplnPosledniTerminVyrobyNeboNakupu]
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH ZakazkySeZmenou AS (
        -- Vybere ID všech relevantních zakázek
        SELECT Z.ID, Z.CisloZakazky
        FROM TabZakazka Z
        WHERE Z.Ukonceno = 0 -- AND Z.CisloZakazky LIKE 'XS250350%'
    )
    , TerminPohyby AS (
        SELECT
            Z.ID,
            MAX(COALESCE(TPZ.PotvrzDatDod_X, TDZ.TerminDodavkyDat_X, TPZ.PozadDatDod_X)) AS TerminPohybu
        FROM ZakazkySeZmenou Z
            LEFT JOIN TabPohybyZbozi TPZ ON TPZ.CisloZakazky = Z.CisloZakazky AND TPZ.DruhPohybuZbo IN (6)
            LEFT JOIN TabDokladyZbozi TDZ ON TDZ.CisloZakazky = Z.CisloZakazky AND TDZ.DruhPohybuZbo IN (6)
        GROUP BY Z.ID
    )
    , TerminPrikazy AS (
        SELECT
            Z.ID,
            MAX(TP.Plan_ukonceni_X) AS TerminPrikazu
        FROM ZakazkySeZmenou Z
            JOIN TabPrikaz TP ON TP.IDZakazka = Z.ID
        GROUP BY Z.ID
    )
    -- NOVÁ ČÁST: Logika pro kooperace
    , TerminKooperace AS (
        SELECT
            Z.ID,
            MAX(COALESCE(TPKO.PotvrzTerDod_X, TKO.PotvrzTerDod_X, TPKO.PozadTerDod_X, TKO.PozadTerDod_X)) AS TerminKooperace
        FROM ZakazkySeZmenou Z
            JOIN TabPrikaz TP ON TP.IDZakazka = Z.ID
            JOIN TabPolKoopObj TPKO ON TPKO.IDPrikaz = TP.ID
            JOIN TabKoopObj TKO ON TPKO.IDObjednavky = TKO.ID
        GROUP BY Z.ID
    )
    , NejpozdejsiTerminy AS (
        SELECT
            Z.ID,
            -- Trik s (VALUES) vybere největší datum ze tří sloupců a ignoruje NULLy
            (
                SELECT MAX(Val)
                FROM (VALUES 
                        (P.TerminPohybu), 
                        (R.TerminPrikazu), 
                        (K.TerminKooperace)
                     ) AS Dates(Val)
            ) AS NejpozdejsiTermin
        FROM ZakazkySeZmenou Z
            LEFT JOIN TerminPohyby P ON Z.ID = P.ID
            LEFT JOIN TerminPrikazy R ON Z.ID = R.ID
            LEFT JOIN TerminKooperace K ON Z.ID = K.ID
    )
    -- Update všech zakázek do EXT tabulky
    MERGE TabZakazka_EXT AS ext
    USING NejpozdejsiTerminy AS src
    ON ext.ID = src.ID
    WHEN MATCHED THEN
        UPDATE SET ext._DatumUkonceniVyrobyNeboDodaniMaterialu = src.NejpozdejsiTermin
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (ID, _DatumUkonceniVyrobyNeboDodaniMaterialu)
        VALUES (src.ID, src.NejpozdejsiTermin);

END;
GO
