USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_VytvorPoznamkyProKontroluNabidky]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[EP_VA_VytvorPoznamkyProKontroluNabidky]
AS
BEGIN
    DECLARE @KategorieUkolu INT = 4;

    INSERT INTO TabPoznKontJed (
        IDKontJednani,
        Nazev,
        Poznamka,
        PozadovanaHodnota,
        NaseHodnota,
        Zverejnit,
        Splneno,
        Autor,
        DatPorizeni,
        JeNovaVetaEditor,
        TerminZahajeni,
        TerminSplneni,
        IDZam,
        IDKonOs,
        Zmenil,
        DatZmeny,
        BlokovaniEditoru
    )
    SELECT 
        TKJ.ID AS IDKontJednani,
        'Stav nabídky' AS Nazev,
        TU.Popis AS Poznamka,
        '' AS PozadovanaHodnota,
        '' AS NaseHodnota,
        0 AS Zverejnit,
        0 AS Splneno,
        TU.Autor,
        TU.DatPorizeni,
        0 AS JeNovaVetaEditor,
        NULL AS TerminZahajeni,
        NULL AS TerminSplneni,
        NULL AS IDZam,
        NULL AS IDKonOs,
        '' AS Zmenil,
        NULL AS DatZmeny,
        NULL AS BlokovaniEditoru
    FROM 
        TabUkoly TU
        JOIN TabKontaktJednani TKJ ON TU.IDKontaktJed = TKJ.ID
    WHERE 
        TU.IDKategorie = @KategorieUkolu
        AND TU.DatumDokonceni IS NOT NULL
        AND TU.Popis IS NOT NULL AND LTRIM(RTRIM(CAST(TU.Popis AS NVARCHAR(MAX)))) <> ''
        AND NOT EXISTS (
            SELECT 1
            FROM TabPoznKontJed
            WHERE IDKontJednani = TKJ.ID
            AND Nazev LIKE 'Stav nabídky'
            AND CAST(TU.Popis AS NVARCHAR(MAX)) = CAST(TabPoznKontJed.Poznamka AS NVARCHAR(MAX))
            AND Autor = TU.Autor
            AND DatPorizeni = TU.DatPorizeni
        )
END;
GO
