USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_VytvorUkolyProKontroluNabidekDoRoku2024]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE           PROCEDURE [dbo].[EP_VA_VytvorUkolyProKontroluNabidekDoRoku2024]
AS
BEGIN
    DECLARE @LimitniCastka DECIMAL(18, 2) = 1000000;
    DECLARE @KategorieUkolu INT = 4;
	DECLARE @RokVytvoreniNabidky INT = 2024;

    INSERT INTO TabUkoly (
        Predmet, 
        TerminSplneni, 
        Resitel, 
        IDKategorie,
        IDKontaktJed,
        TerminZahajeni, 
        Popis, 
        Stav, 
        Priorita, 
        HotovoProcent, 
        CelkemHod, 
        HotovoHod, 
        PlneniKc, 
        PlneniKcBezDPH, 
        PlneniVal, 
        PlneniValBezDPH, 
        Generovan, 
        TypStart, 
        StavStart, 
        DruhVystupuStart, 
        TypKonec, 
        StavKonec, 
        DruhVystupuKonec, 
        SearchKey, 
        Synchronizovat, 
        TypCeny, 
        Honorar, 
        LimitCena, 
        ZboziProcenta, 
        ZboziCastka, 
        TypPlneni, 
        Zaplanovano, 
        DatPorizeni, 
        Autor, 
        JeNovaVetaEditor
    )
    SELECT 
        'Prověř stav nabídky', 
        DATEADD(MONTH,6,ISNULL((SELECT MAX(DatumDokonceni) 
                                  FROM TabUkoly 
                                  WHERE IDKontaktJed = TKJ.ID 
                                  AND IDKategorie = @KategorieUkolu 
                                  AND Stav = 2), TKJ.DatumJednaniOd)),
        TKJ.CisloZam, --(SELECT TCZ.Cislo FROM TabCisZam TCZ WHERE TCZ.LoginId LIKE TKJ.Autor),
        @KategorieUkolu,
        TKJ.ID,
        TKJ.DatumJednaniOd,
        NULL,
        0, 
        1, 
        0, 
        0, 
        0, 
        0, 
        0, 
        0, 
        0, 
        0, 
        '', 
        '', 
        '', 
        '', 
        '', 
        '', 
        '', 
        0, 
        0, 
        0, 
        0, 
        0, 
        0, 
        0, 
        0, 
        GETDATE(), 
        TKJ.Autor, 
        0
    FROM 
        TabKontaktJednani TKJ
    OUTER APPLY
        (
         SELECT TOP 1 ISNULL(Kurz, (SELECT AVG(Kurz) FROM TabKurzList WHERE Mena = TKJ.MenaFakturace)) AS Kurz
         FROM TabKurzList
         WHERE Mena = TKJ.MenaFakturace AND Datum <= ISNULL(TKJ.DatumJednaniOd, TKJ.DatPorizeni)
         ORDER BY Datum DESC
        ) K
    WHERE 
        ISNULL(TKJ.PredpokladCena, 0) * ISNULL(K.Kurz, 1) >= @LimitniCastka
        AND TKJ.Kategorie = 'TPV'
        AND TKJ.Stav IN ('A', 'B', 'C')
        AND TKJ.DatumJednaniOd_Y < @RokVytvoreniNabidky
        AND TKJ.CisloZam IS NOT NULL
        AND NOT EXISTS (
            SELECT 1
            FROM TabUkoly
            WHERE IDKontaktJed = TKJ.ID
            AND IDKategorie = @KategorieUkolu
            AND Stav != 2
        )
    GROUP BY 
        TKJ.ID, TKJ.CisloZam, TKJ.Autor, TKJ.DatumJednaniOd;
END
GO
