USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_ZmenaStatusuZakazky_VydejZeSkladu]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_VA_ZmenaStatusuZakazky_VydejZeSkladu]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IDZakazka INT;

    -- Definice kurzoru
    DECLARE ZakazkaCursor CURSOR FAST_FORWARD FOR
        SELECT TZ.ID
        FROM TabPohybyZbozi AS TPZ
        JOIN TabZakazka AS TZ ON TPZ.CisloZakazky = TZ.CisloZakazky
        JOIN TabZakazka_EXT AS TZE ON TZ.ID = TZE.ID
        WHERE TZ.Ukonceno = 0
          AND TPZ.DruhPohybuZbo = 2
		  AND TPZ.SkutecneDatReal IS NOT NULL
          AND TPZ.CisloZakazky IS NOT NULL
          AND TZE._Status = 7;

    -- Otevření kurzoru
    OPEN ZakazkaCursor;

    -- Načtení prvního záznamu
    FETCH NEXT FROM ZakazkaCursor INTO @IDZakazka;

    -- Smyčka přes všechny záznamy
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Zavolání další procedury pro změnu stavu
        EXEC dbo.EP_VA_ZmenaStatusuZakazky @NewStatus = 8, @ZakazkaID = @IDZakazka;

        -- Načtení dalšího záznamu
        FETCH NEXT FROM ZakazkaCursor INTO @IDZakazka;
    END

    -- Uzavření a uvolnění kurzoru
    CLOSE ZakazkaCursor;
    DEALLOCATE ZakazkaCursor;
END;
GO
