USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_NactiBilanciNakupuMaterialu]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----------------------------------------------------------------------------------------------
-- Název:       EP_VA_NactiBilanciNakupuMaterialu
-- Popis:       Popis procedury
-- Autor:       Aleš Vintrlík
-- Datum:       2025-06-10 12:52:22
-- Verze:       1.0
--
-- Historie změn:
-- ------------------------------------------------------------------------------------------
-- Datum      | Verze | Autor         | Popis změny
-- ------------------------------------------------------------------------------------------
-- 2025-06-10 | 1.0   | Aleš Vintrlík | První verze
---------------------------------------------------------------------------------------------
-- 2025-11-02 | 1.5   | Aleš Vintrlík | Rozšíření o nerealizované příjmy a výdeje ve sloupci
---------------------------------------------------------------------------------------------
CREATE   PROCEDURE [dbo].[EP_VA_NactiBilanciNakupuMaterialu]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Krok: Smazání všech stávajících dat
        TRUNCATE TABLE Tabx_BilanceNakupuVyrobnihoMaterialuNaZakazky;

        -- 2. Krok: Vložení čerstvých dat z pohledu.
        -- Nové sloupce 'Rozvadec' a 'DatumNapoctu' jsou záměrně vynechány,
        -- aby se pro ně použily jejich DEFAULT hodnoty (0 a aktuální čas).
        INSERT INTO Tabx_BilanceNakupuVyrobnihoMaterialuNaZakazky (
            IDKmenZbozi,
            RegCis,
            Nazev1,
            SkupZbo,
            MJEvidence,
            Zakazka,
            DatumVyroby,
            Mnozstvi,
            Skladem,
            ObjednanoDoVyroby,
            VirtualSklad,
			BudePrijato,
			BudeVydano,
            CumulativeMnozstvi,
            TerminPokrytiObjednavkou,
            CisloObjednavkyPokryti,
            StavPokrytiZakazky,
            BarvaPokryti,
            ZbyvaPoZakazce,
            KomentarPokryti,
			Rozvadec
        )
        SELECT
            IDKmenZbozi,
            RegCis,
            Nazev1,
            SkupZbo,
            MJEvidence,
            Zakazka,
            DatumVyroby,
            Mnozstvi,
            Skladem,
            ObjednanoDoVyroby,
            VirtualSklad,
			BudePrijato,
			BudeVydano,
            CumulativeMnozstvi,
            TerminPokrytiObjednavkou,
            CisloObjednavkyPokryti,
            StavPokrytiZakazky,
            BarvaPokryti,
            ZbyvaPoZakazce,
            KomentarPokryti,
			Rozvadec
        FROM hvw_BilanceNakupuVyrobnihoMaterialuNaZakazky;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH

    SET NOCOUNT OFF;
END
GO
