USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_ZapisPoznamku]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE       PROCEDURE [dbo].[EP_VA_ZapisPoznamku]    
    @Poznamka NVARCHAR(255) = NULL, -- Nastavení defaultní hodnoty na NULL
	@ZakazkaID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TabZakazka_EXT
    SET _PoznamkaProMistry = @Poznamka
    WHERE ID = @ZakazkaID;
END
GO
