USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_VlozitChybejiciZakazkyDoEXT]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_VA_VlozitChybejiciZakazkyDoEXT]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ID NVARCHAR(15);

    -- Kurzor pro iteraci přes ID, které nejsou v TabZakazka_EXT
    DECLARE curID CURSOR FOR
    SELECT ID FROM TabZakazka
    WHERE ID NOT IN (SELECT ID FROM dbo.TabZakazka_EXT);

    OPEN curID;

    FETCH NEXT FROM curID INTO @ID;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Kontrola existence a vložení pro každé ID
        IF NOT EXISTS(SELECT 0 FROM TabZakazka_EXT WHERE ID = @ID)
        BEGIN
            INSERT INTO TabZakazka_EXT (ID) VALUES (@ID);
        END

        FETCH NEXT FROM curID INTO @ID;
    END

    CLOSE curID;
    DEALLOCATE curID;
END

GO
