USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_UpdatePrumer]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[EP_VA_UpdatePrumer]
AS
BEGIN
    -- Aktualizace PrumerZadany pro materiály skladem
    UPDATE TSS
    SET TSS.PrumerZadany = TSS.Prumer
    FROM TabStavSkladu AS TSS
    WHERE TSS.Prumer IS NOT NULL
    AND TSS.Mnozstvi > 0;

    -- Aktualizace PrumerZadany pro materiály, které nejsou skladem
	UPDATE TSS
	SET TSS.PrumerZadany = LastVydej.JCevidSN
	FROM TabStavSkladu AS TSS
	INNER JOIN (
		SELECT 
			TPZ.IDZboSklad, 
			TPZ.JCevidSN,
			ROW_NUMBER() OVER (PARTITION BY TPZ.IDZboSklad ORDER BY TPZ.DatPorizeni DESC) AS rn
		FROM TabPohybyZbozi AS TPZ
		WHERE TPZ.DruhPohybuZbo = 4 -- 'Výdej v evid. ceně'
	) AS LastVydej ON TSS.ID = LastVydej.IDZboSklad AND LastVydej.rn = 1
	WHERE TSS.Mnozstvi <= 0
	AND LastVydej.JCevidSN IS NOT NULL;
END;
GO
