USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_InsertZakazkyNakladyZiskArchiv]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_VA_InsertZakazkyNakladyZiskArchiv] AS
BEGIN
    INSERT INTO Tabx_ZakazkyNakladyZisk_Archiv (
        ZakazkaID, Stav, CisloZakazky, NadrizenaZakazka, Zarizeni, UkonceniVyroby, ProdejniCenaCZK,
        PlNaklMat, PlNaklMzdy, PlNaklKoop, PlNaklOst, SkNaklMat, SkNaklMzdy, SkNaklRez, SkNaklMzdyVcRez,
        SkNaklKoop, SkNaklOst, ZbNaklMat, ZbNaklKoop, UkonceniVyrobyRok, UkonceniVyrobyMesic,
        BilanceMat, BilanceMzdy, BilanceKooperace, BilanceCelkem, PlNaklCelkem, SkNaklCelkem,
        SkNaklCelkemVcSpravniRezie, Zisk, ZiskProcenta, Datum)
    SELECT 
        ZakazkaID, Stav, CisloZakazky, NadrizenaZakazka, Zarizeni, UkonceniVyroby, ProdejniCenaCZK,
        PlNaklMat, PlNaklMzdy, PlNaklKoop, PlNaklOst, SkNaklMat, SkNaklMzdy, SkNaklRez, SkNaklMzdyVcRez,
        SkNaklKoop, SkNaklOst, ZbNaklMat, ZbNaklKoop, UkonceniVyrobyRok, UkonceniVyrobyMesic,
        BilanceMat, BilanceMzdy, BilanceKooperace, BilanceCelkem, PlNaklCelkem, SkNaklCelkem,
        SkNaklCelkemVcSpravniRezie, Zisk, ZiskProcenta, GETDATE()
    FROM Tabx_ZakazkyNakladyZisk
    WHERE NOT EXISTS (
        SELECT 1
        FROM Tabx_ZakazkyNakladyZisk_Archiv
        WHERE CONVERT(DATE, Datum) = CONVERT(DATE, GETDATE())
    );
END
GO
