USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[VA_KontrolaSlevy]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[VA_KontrolaSlevy]
  @ID INT
AS
BEGIN
    DECLARE @SlevaFaktury AS Numeric(19,6)
    DECLARE @SlevaVydejky AS Numeric(19,6)

    SELECT @SlevaFaktury = ISNULL(SUM(TOC.SlevaCastkaBezDPH),0) 
    FROM TabDokladyZbozi AS TDZ
    JOIN TabOZSumaceCen AS TOC ON TDZ.ID = TOC.IDDoklad
    WHERE TDZ.DruhPohybuZbo IN (13,14) AND TDZ.RadaDokladu IN (111) AND TOC.SlevaCastkaBezDPH > 0 AND TDZ.ID = @ID

    SELECT @SlevaVydejky = ISNULL(SUM(TOC.SlevaCastkaBezDPH),0)
    FROM TabDokladyZbozi AS TDZ
    JOIN TabOZSumaceCen AS TOC ON TDZ.ID = TOC.IDDoklad
    WHERE TDZ.DruhPohybuZbo IN (2,3) AND TDZ.RadaDokladu IN (505) AND TOC.SlevaCastkaBezDPH > 0 AND TDZ.ID IN 
    (
        SELECT DISTINCT IDDoklad FROM TabPohybyZbozi WHERE ID IN (
            SELECT IDOldPolozka FROM TabPohybyZbozi WHERE IDDoklad = @ID AND IDOldPolozka IN 
            (
                SELECT ID FROM TabPohybyZbozi WHERE DruhPohybuZbo IN (2,4)
            )
        )
    )

    IF @SlevaFaktury != @SlevaVydejky
    BEGIN
        DECLARE @Message NVARCHAR(500)
        SET @Message = 'Výše slevy faktury (' + CAST(@SlevaFaktury AS NVARCHAR(30)) + ') neodpovídá výši slevy na výdejce (' + CAST(@SlevaVydejky AS NVARCHAR(30)) + ').'
        RAISERROR (@Message, 16, 1)
    END
END


GO
