USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[epx_INEKO_KopieKmenoveKarty]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     PROCEDURE [dbo].[epx_INEKO_KopieKmenoveKarty]
	@SkupZbo nvarchar(3),
	@RegCis nvarchar(30),
	@Nazev1 nvarchar(100),
	@ZalozitNaSklady tinyint,
	@ZalozitNC bit,
	@ZalozitVC bit,
	@ZalozitUmi bit,
	@ZalozitSle bit,
	@GenerovarVyrCisla bit,
	@ZalozitMJ bit,
	@ZalozitDod bit,
	@ZalozitExt bit,
	@ZalozitDok bit,
	@ZalozitNav bit,
	@ZalozitOba bit,
	@ZalozitDPH bit,
	@KopirovatObrazek bit,
	@ZalozitVK bit,
	@ArchKK bit,
	@ArchSK bit,
	@ID int
AS
BEGIN

	IF OBJECT_ID(N'tempdb..#KopieKmZboResult') IS NOT NULL
	DROP TABLE tempdb..#KopieKmZboResult
	CREATE TABLE tempdb..#KopieKmZboResult (ID int, Chyba bit, eMsg int, Zdroj int)

	DECLARE @AktualniSklad nvarchar(30)
	
	DECLARE @SezAtrKme nvarchar(max) = N'Nazev2,Nazev3,Nazev4,SKP,BodovaHodnota,Upozorneni,BaleniTXT,MJEvidence,MJVstup,MJVystup,MJInventura,ZarukaVstup,TypZarukaVstup,ZarukaVystup,TypZarukaVystup,SazbaDPHVstup,SazbaDPHVystup,DPHPrenesPov,SazbaSDVstup,SazbaSDVystup,KodSD,PrepocetMJSD,MJSD,Poznamka,UKod,DruhSkladu,DruhKarty,Sleva,ZakladniMarze,Aktualni_Dodavatel,Minimum_Dodavatel,Minimum_Baleni_Dodavatel,Minimum_Odberatel,Hmotnost,Objem,Vyska,Sirka,Hloubka,Vykres,KmenoveStredisko,Davka,PrepMnozstvi,DatumOd,DatumDo,OdhadZvysNakupniCeny,Dilec,Montaz,Material,Naradi,RezijniMat,KodKV,IDKodPDP,CelniNomenklatura,DodaciLhuta,TypDodaciLhuty,CLOPopisZbozi,DopKod,CNSPD,CNKod1,CNKod2,SZ,Slevy,UpravaCen,ZadavaniUmisteni,EMJ,PrepMJ_EMJ,PrepMJ_CMJ,ProdCenaTabak,ObvyklaZemePuvodu,ObvyklyKodPreference,ObvyklaCenavCM,ZakladSDvSJ,JCDFaTyp,VychoziMnozstvi,MjPocetEvidVstup,MjPocetEvidVystup,MjPocetVstup,MjPocetVystup,ADRtrida,ADRcislice,ADRpismeno,ADRidLatky,ADRidNebezpecnosti,ADRObal,ADRJednotka,ADRPojmenovani,ADRTechnickyNazev,ADRObchodniNazev,KontrolaVyrC,VCSarze,VedProdukt,KJDatOd,KJDatDo,IdSortiment,Vyrobce,LhutaNaskladneni,VykazLihuObjemVML,VykazLihuProcentoLihu,VykazLihuKoefKEvidMJ,EET_dic_poverujiciho,DruhEET,PocetBaleniVeVrstve,PocetVrstevNaPalete,NCSluzbyVHM,HraniceMarze,PouzitMarzeOdDo,CisloUcetPrijem,CisloUcetVydej,CisloUcetVydejEC,CisloUcetFAPrij,CisloUcetFAVyd,CisloUcetPrijem_DSN,CisloUcetVydej_DSN,CisloUcetVydejEC_DSN,CisloUcetFAPrij_DSN,ZboziSluzba,TypVoucheru,PlatnostVoucheru,ZmenaCenyVoucheru,ADRBezpZnacka,ADROmezMnozstvi,ADRNebezpZP,ADRzvlBezpOpatreni,ADRzvlOpatreni,JeNovaVetaEditor'
	DECLARE @SezAtrNC  nvarchar(max) = N'CenovaUroven,MJ,DatumOd,DatumDo,AltCena,CenaKC,BezDPH,CenaVal1,Mena1,CenaVal2,Mena2,CenaVal3,Mena3,CenaVal4,Mena4,CenaVal5,Mena5,AutAktualizace,BlokovaniEditoru,JeNovaVetaEditor'
	DECLARE @SezAtrVC  nvarchar(max) = N'IDZakazModif,Nazev1,Nazev2,MnozFinReal,ZarukaVstup,TypZarukaVstup,ZarukaVystup,TypZarukaVystup,DatVstup,DatVystup,Poznamka,BlokovaniEditoru,DatExpirace,JeNovaVetaEditor'
	DECLARE @SezAtrUmi nvarchar(max) = N'IDUmisteni,Poznamka,Prednastaveno'
	DECLARE @SezAtrSle nvarchar(max) = N'DruhCU,OdHodnoty,Sleva,DruhSlevy,Autor,DatPorizeni,Zmenil,DatZmeny,BlokovaniEditoru'
	DECLARE @SezAtrMJ  nvarchar(max) = N'KodMJ1,KodMJ2,PocetHlavni,PocetOdvozene,Autor,DatPorizeni,Zmenil,DatZmeny'
	DECLARE @SezAtrDod nvarchar(max) = N'IDCisOrg,Minimum_Dodavatel,DodaciLhuta,TypDodaciLhuty,Poznamka,Autor,DatPorizeni,Zmenil,DatZmeny,BlokovaniEditoru,Minimum_Baleni_Dodavatel,JeNovaVetaEditor'
	DECLARE @SezAtrNav nvarchar(max) = N'IDSoz,Nazev1,Nazev2,Nazev3,Nazev4,BarCode,Sleva,CenovaUroven,CenovaUrovenNakup,UplatnitSlevy,DruhSlevy,DruhSlevyNakup,OdHodnoty,ExpiraceTyp,ExpiraceProcento,ExpiraceHodnota,Autor,DatPorizeni,Zmenil,DatZmeny,BlokovaniEditoru,JeNovaVetaEditor'
	DECLARE @SezAtrOba nvarchar(max) = N'IDObal,Mnozstvi,MnozstviObalu,Prednastaveno,PrijemNaSklad,StornoPrijmu,VydejZeSkladu,StornoVydeje,VydejVEvCene,VydanaObj,ExpPrikaz,Rezervace,Nabidka,FaktVydana,DobropisVydany,FakturaPrijata,DobropisPrijaty,DosleObj,PokladniProdej,Zaokrouhleni,ZalohaObalSK,Poznamka,Autor,DatPorizeni,Zmenil,DatZmeny,BlokovaniEditoru,JeNovaVetaEditor'
	DECLARE @SezAtrDPH nvarchar(max) = N'DruhSazbyDPH,ISOKodZeme,PlatnostOd,PlatnostDo,Prednastaveno,VstupVystup,DPHPrenesPov,Autor,DatPorizeni,Zmenil,DatZmeny,BlokovaniEditoru'
	DECLARE @SezAtrVK  nvarchar(max) = N'IDZakazModif,Nazev2,ZarukaVstup,TypZarukaVstup,ZarukaVystup,TypZarukaVystup,DatVstup,DatVystup,DatExpirace,Datvyroby,VyrCKProvereni,Poznamka,BlokovaniEditoru,JeNovaVetaEditor'

	--IF @KopirovatObrazek = 1 SET @SezAtrKme = @SezAtrKme + N',Obrazek'

	EXEC dbo.hp_OZCopyKmenASklad2
		@Kmen = 1,
		@SrcID = @ID,
		@AktualniSklad = @AktualniSklad,
		@OznacVic = 0,
		@SkupZbo = @SkupZbo,
		@RegCis = @RegCis,
		@Nazev1 = @Nazev1,
		@SezAtrKme = @SezAtrKme,
		@SezAtrNC = @SezAtrNC,
		@SezAtrVC = @SezAtrVC,
		@SezAtrUmi = @SezAtrUmi,
		@SezAtrSle = @SezAtrSle,
		@SezAtrMJ = @SezAtrMJ,
		@SezAtrDod = @SezAtrDod,
		@SezAtrNav = @SezAtrNav,
		@SezAtrOba = @SezAtrOba,
		@SezAtrDPH = @SezAtrDPH,
		@ZalozitNaSklady = @ZalozitNaSklady,
		@ZalozitNC = @ZalozitNC,
		@ZalozitVC = @ZalozitVC,
		@ZalozitUmi = @ZalozitUmi,
		@ZalozitSle = @ZalozitSle,
		@ZalozitMJ = @ZalozitMJ,
		@ZalozitDod = @ZalozitDod,
		@ZalozitExt = @ZalozitExt,
		@ZalozitDok = @ZalozitDok,
		@ZalozitNav = @ZalozitNav,
		@ZalozitOba = @ZalozitOba,
		@ZalozitDPH = @ZalozitDPH,
		@SezAtrVK = @SezAtrVK,
		@ZalozitVK = @ZalozitVK,
		@ArchKK = @ArchKK,
		@ArchSK = @ArchSK

END
GO
