USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_VytvoritZakazkuProServisniPolozky]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     PROCEDURE [dbo].[EP_VA_VytvoritZakazkuProServisniPolozky] @ID INT
AS
BEGIN
    DECLARE @CisloZakazky NVARCHAR(15), @IDPolozky INT, @Poradi INT, @NovaZakazka NVARCHAR(18), @ExistujeZakazka BIT, 
            @Nazev NVARCHAR(100), @DruhyNazev NVARCHAR(100), @Stav NVARCHAR(15), @Priorita NVARCHAR(10),
            @Identifikator NVARCHAR(15), @CisloObjednavky NVARCHAR(50), @CisloNabidky NVARCHAR(50),
            @CisloSmlouvy NVARCHAR(50), @Upozorneni NVARCHAR(255), @VynosPlan NUMERIC(19, 6),
            @JeProjekt BIT, @JeServis BIT, @VerejnaZakazka BIT, @RadaZakazky NVARCHAR(3), @RegistracniCislo NVARCHAR(30), @NazevPolozky NVARCHAR(100);

    -- Check if the provided ID exists in TabDokladyZbozi
    IF NOT EXISTS (SELECT 1 FROM TabDokladyZbozi WHERE ID = @ID AND DruhPohybuZbo IN (9,11) AND RadaDokladu LIKE '_50' AND IDSklad = '00100300040108')
    BEGIN
        PRINT 'Zadaný ID neexistuje nebo se nejedná o relevantní nabídku nebo expediční příkaz';
        RETURN;
    END;

    DECLARE pohyby_cursor CURSOR FOR
    SELECT TDZ.CisloZakazky, TDZ.ID, TPZ.ID, TPZ.Poradi, TZ.Nazev, TZ.DruhyNazev, TZ.Stav, TZ.Priorita, TZ.Identifikator, 
           TZ.CisloObjednavky, TZ.CisloNabidky, TZ.CisloSmlouvy, TZ.Upozorneni, TZ.VynosPlan, TZ.JeProjekt, TZ.JeServis, TZ.VerejnaZakazka, TZ.Rada, TPZ.RegCis, TPZ.Nazev1
    FROM TabPohybyZbozi AS TPZ
    JOIN TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID AND TDZ.DruhPohybuZbo IN (9,11)
    JOIN TabZakazka AS TZ ON TDZ.CisloZakazky = TZ.CisloZakazky
    WHERE TZ.CisloZakazky LIKE 'X%' AND TDZ.ID = @ID;

    OPEN pohyby_cursor;
    FETCH NEXT FROM pohyby_cursor INTO @CisloZakazky, @ID, @IDPolozky, @Poradi, @Nazev, @DruhyNazev, @Stav, @Priorita, @Identifikator, 
                                        @CisloObjednavky, @CisloNabidky, @CisloSmlouvy, @Upozorneni, @VynosPlan, @JeProjekt, @JeServis, @VerejnaZakazka, @RadaZakazky, @RegistracniCislo, @NazevPolozky;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @NovaZakazka = @CisloZakazky + '_' + RIGHT('00' + CAST(@Poradi AS NVARCHAR(2)), 2);

        -- Check if the new project already exists
        SET @ExistujeZakazka = 0;
        IF EXISTS (SELECT 1 FROM TabZakazka WHERE CisloZakazky = @NovaZakazka)
        BEGIN
            SET @ExistujeZakazka = 1;
        END

        -- Insert new project if it doesn't exist
        IF @ExistujeZakazka = 0
        BEGIN
            INSERT INTO TabZakazka (CisloZakazky, Rada, Nazev, DruhyNazev, Stav, Priorita, Identifikator, CisloObjednavky, CisloNabidky, CisloSmlouvy, Upozorneni, VynosPlan, JeProjekt, JeServis, VerejnaZakazka, Autor, DatPorizeni, NadrizenaZak)
            VALUES (@NovaZakazka, @RadaZakazky, @NazevPolozky, @DruhyNazev, @Stav, @Priorita, @RegistracniCislo, @CisloObjednavky, @CisloNabidky, @CisloSmlouvy, @Upozorneni, @VynosPlan, @JeProjekt, @JeServis, @VerejnaZakazka, SYSTEM_USER, GETDATE(), @CisloZakazky);
        
			-- Získání ID nově vloženého záznamu
			DECLARE @NewZakazkaID INT = SCOPE_IDENTITY();

			-- Vložení odpovídajícího záznamu do TabZakazka_EXT
			INSERT INTO TabZakazka_EXT (ID, _Status)
			VALUES (@NewZakazkaID, 1);
		END

        -- Update each item to link to the new or existing project
        UPDATE TabPohybyZbozi
        SET CisloZakazky = @NovaZakazka
        WHERE ID = @IDPolozky;

        FETCH NEXT FROM pohyby_cursor INTO @CisloZakazky, @ID, @IDPolozky, @Poradi, @Nazev, @DruhyNazev, @Stav, @Priorita, @Identifikator, 
                                            @CisloObjednavky, @CisloNabidky, @CisloSmlouvy, @Upozorneni, @VynosPlan, @JeProjekt, @JeServis, @VerejnaZakazka, @RadaZakazky, @RegistracniCislo, @NazevPolozky;
    END;

    CLOSE pohyby_cursor;
    DEALLOCATE pohyby_cursor;
END;
GO
