USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_AktualizaceStatusuServisHlavni]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_VA_AktualizaceStatusuServisHlavni]
AS
BEGIN
    -- Nastavení transakce
    BEGIN TRAN;

    -- Smazání původních hodnot atributu _StatusServisHlavni
    UPDATE TabZakazka_EXT
    SET _StatusServisHlavni = NULL
    WHERE ID IN (
        SELECT DISTINCT TZE.ID
        FROM TabZakazka AS TZ
        JOIN TabZakazka_EXT AS TZE ON TZ.ID = TZE.ID
        WHERE TZ.CisloZakazky LIKE 'X%' AND LEN(TZ.CisloZakazky) = 8 AND TZ.Ukonceno != 1
    );

    -- Aktualizace nových hodnot atributu _StatusServisHlavni
    WITH CTE_OrderedStavy AS (
        SELECT 
            TZ.NadrizenaZak,
            SUBSTRING(TSCS.Popis, CHARINDEX('(', TSCS.Popis) + 1, CHARINDEX(')', TSCS.Popis) - CHARINDEX('(', TSCS.Popis) - 1) AS Stav,
            TSCS.IDstatus,
            ROW_NUMBER() OVER (PARTITION BY TZ.NadrizenaZak, 
                SUBSTRING(TSCS.Popis, CHARINDEX('(', TSCS.Popis) + 1, CHARINDEX(')', TSCS.Popis) - CHARINDEX('(', TSCS.Popis) - 1) 
                ORDER BY TZ.CisloZakazky) AS Rnk
        FROM TabZakazka AS TZ
        JOIN TabZakazka_EXT AS TZE ON TZ.ID = TZE.ID
        JOIN Tabx_StavyCiselnikServis AS TSCS ON TSCS.IDstatus = TZE._Status
        WHERE TZ.CisloZakazky LIKE 'X%' AND TZ.Ukonceno != 1 AND TZ.NadrizenaZak IS NOT NULL
    ),
    Jedinecne_Stavy AS (
        SELECT 
            NadrizenaZak,
            Stav,
            IDstatus
        FROM CTE_OrderedStavy
        WHERE Rnk = 1
    ),
    Finalni_Statusy AS (
        SELECT 
            NadrizenaZak,
            STRING_AGG(Stav, ' ') WITHIN GROUP (ORDER BY IDstatus) AS Stavovy_Vypis
        FROM Jedinecne_Stavy
        GROUP BY NadrizenaZak
    )
    UPDATE TabZakazka_EXT
    SET _StatusServisHlavni = FS.Stavovy_Vypis
    FROM Finalni_Statusy AS FS
    JOIN TabZakazka AS TZ ON FS.NadrizenaZak = TZ.CisloZakazky
    JOIN TabZakazka_EXT AS TZE ON TZ.ID = TZE.ID;

    -- Potvrzení transakce
    COMMIT TRAN;
END;
GO
