USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[ep_DoplnTerminOperacePodleUseku]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Aleš Vintrlík
-- Create date: 25.8.2024
-- Change date: 
-- Description:	Doplní termíny do odpovídajících 
--              operací podle úseků.
-- =============================================
CREATE   PROCEDURE [dbo].[ep_DoplnTerminOperacePodleUseku]
@ID INT
AS
 
DECLARE 
	@U1Start datetime, 
	@U1Konec datetime,
	@U2Start datetime, 
	@U2Konec datetime,
	@U3Start datetime, 
	@U3Konec datetime,
	@U4Start datetime, 
	@U4Konec datetime,
	@U5Start datetime,
	@U5Konec DATETIME,
	@U8Start datetime,
	@U8Konec DateTime

SELECT 
	 @U1Start = _U1Start
	,@U1Konec = _U1Konec
	,@U2Start = _U2Start
	,@U2Konec = _U2Konec
	,@U3Start = _U3Start
	,@U3Konec = _U3Konec
	,@U4Start = _U4Start
	,@U4Konec = _U4Konec
	,@U5Start = _U5Start
	,@U5Konec = _U5Konec
	,@U8Start = _U8Start
	,@U8Konec = _U8Konec
FROM TabZakazka_EXT WHERE ID = @ID


-- Naplnění termínů operací úseku Příprava
				
UPDATE TabPrPostup 
	SET Plan_zadani   = @U1Start
	  , Plan_ukonceni = @U1Konec
	WHERE ID IN (SELECT OP.ID FROM TabPrPostup OP LEFT JOIN TabPrikaz TP ON TP.ID = OP.IDPrikaz LEFT JOIN TabCPraco PR ON PR.ID = OP.pracoviste LEFT JOIN TabCPraco_EXT PRe ON PRe.ID = PR.ID LEFT JOIN TabPrPostup_EXT OPe ON OPe.ID = OP.ID
				WHERE IDZakazka = @ID AND PRe._HcvInEkoSkupina = 1 AND ISNULL(OPe._Zamknuto,0) = 0)

-- Naplnění termínů operací úseku Montáž
				
UPDATE TabPrPostup 
	SET Plan_zadani   = @U2Start
	  , Plan_ukonceni = @U2Konec
	WHERE ID IN (SELECT OP.ID FROM TabPrPostup OP LEFT JOIN TabPrikaz TP ON TP.ID = OP.IDPrikaz LEFT JOIN TabCPraco PR ON PR.ID = OP.pracoviste LEFT JOIN TabCPraco_EXT PRe ON PRe.ID = PR.ID LEFT JOIN TabPrPostup_EXT OPe ON OPe.ID = OP.ID
				WHERE IDZakazka = @ID AND PRe._HcvInEkoSkupina = 2 AND ISNULL(OPe._Zamknuto,0) = 0)

-- Naplnění termínů operací úseku Elektro
				
UPDATE TabPrPostup 
	SET Plan_zadani   = @U3Start
	  , Plan_ukonceni = @U3Konec
	WHERE ID IN (SELECT OP.ID FROM TabPrPostup OP LEFT JOIN TabPrikaz TP ON TP.ID = OP.IDPrikaz LEFT JOIN TabCPraco PR ON PR.ID = OP.pracoviste LEFT JOIN TabCPraco_EXT PRe ON PRe.ID = PR.ID LEFT JOIN TabPrPostup_EXT OPe ON OPe.ID = OP.ID
				WHERE IDZakazka = @ID AND PRe._HcvInEkoSkupina = 3 AND ISNULL(OPe._Zamknuto,0) = 0)

-- Naplnění termínů operací úseku Svařování

UPDATE TabPrPostup 
	SET Plan_zadani   = @U4Start
	  , Plan_ukonceni = @U4Konec
	WHERE ID IN (SELECT OP.ID FROM TabPrPostup OP LEFT JOIN TabPrikaz TP ON TP.ID = OP.IDPrikaz LEFT JOIN TabCPraco PR ON PR.ID = OP.pracoviste LEFT JOIN TabCPraco_EXT PRe ON PRe.ID = PR.ID LEFT JOIN TabPrPostup_EXT OPe ON OPe.ID = OP.ID
 				WHERE IDZakazka = @ID AND PRe._HcvInEkoSkupina = 4 AND ISNULL(OPe._Zamknuto,0) = 0)

-- Naplnění termínů operací úseku Segmenty

UPDATE TabPrPostup 
	SET Plan_zadani   = @U5Start
	  , Plan_ukonceni = @U5Konec
	WHERE ID IN (SELECT OP.ID FROM TabPrPostup OP LEFT JOIN TabPrikaz TP ON TP.ID = OP.IDPrikaz LEFT JOIN TabCPraco PR ON PR.ID = OP.pracoviste LEFT JOIN TabCPraco_EXT PRe ON PRe.ID = PR.ID LEFT JOIN TabPrPostup_EXT OPe ON OPe.ID = OP.ID
 				WHERE IDZakazka = @ID AND PRe._HcvInEkoSkupina = 5 AND ISNULL(OPe._Zamknuto,0) = 0)

-- Naplnění termínů operací úseku Kontrola

UPDATE TabPrPostup 
	SET Plan_zadani   = @U8Start
	  , Plan_ukonceni = @U8Konec
	WHERE ID IN (SELECT OP.ID FROM TabPrPostup OP LEFT JOIN TabPrikaz TP ON TP.ID = OP.IDPrikaz LEFT JOIN TabCPraco PR ON PR.ID = OP.pracoviste LEFT JOIN TabCPraco_EXT PRe ON PRe.ID = PR.ID LEFT JOIN TabPrPostup_EXT OPe ON OPe.ID = OP.ID
 				WHERE IDZakazka = @ID AND PRe._HcvInEkoSkupina = 8 AND ISNULL(OPe._Zamknuto,0) = 0)

UPDATE TabPrikaz
	SET Plan_zadani = @U1Start
	WHERE ID IN (SELECT ID FROM TabPrikaz WHERE IDZakazka = @ID)

GO
