USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_ZapisZiskZakazek]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     PROCEDURE [dbo].[EP_VA_ZapisZiskZakazek]
AS
BEGIN
    DECLARE @CisloZakazky NVARCHAR(15);
    DECLARE @ZiskCZK DECIMAL(18,2);
    DECLARE @ZiskProc DECIMAL(18,2);
	DECLARE @IDZakazka INT;
	DECLARE @JeEP INT;

    -- Kurzor pro iteraci přes všechny zakázky, které potřebují aktualizaci
    DECLARE ZakazkyCursor CURSOR FOR
    SELECT CisloZakazky FROM TabZakazka WHERE ID IN (
		SELECT ID
		FROM TabZakazka_EXT
		WHERE (_ZiskCZK IS NULL OR _ZiskProc IS NULL) AND TabZakazka_EXT._UkonceniVyrobySkutecnost > GETDATE() - 20);
    OPEN ZakazkyCursor;

    FETCH NEXT FROM ZakazkyCursor INTO @CisloZakazky;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Výpočet zisku pro aktuální zakázku
        SELECT
            @ZiskCZK = ISNULL(SUM(TPZ.JCbezDaniKC), 0) - (ISNULL((SELECT SUM(TD.CastkaMD) FROM TabDenik AS TD 
				JOIN TabCisUctDef AS TCUD ON TD.UcetMD = TCUD.CisloUcet AND TD.IdObdobi = TCUD.IdObdobi 
				WHERE TD.UcetMD IN ('518018','518019','518025','518025','548001','548097','548097','563000','518007','501021','501013') 
				AND TD.CisloZakazky = @CisloZakazky),0) 
				+ ISNULL((SELECT SUM(TD.CastkaMD) FROM TabDenik AS TD 
				JOIN TabCisUctDef AS TCUD ON TD.UcetMD = TCUD.CisloUcet AND TD.IdObdobi = TCUD.IdObdobi 
				WHERE TD.UcetMD IN ('518012') AND TD.CisloZakazky = @CisloZakazky),0) 
				+ ISNULL((SELECT SUM(EcCelkemDokl) + SUM(ISNULL(SNCelkemDokl, 0)) FROM TabDokladyZbozi AS TDZ 
				WHERE TDZ.CisloZakazky = @CisloZakazky AND TDZ.DruhPohybuZbo IN (4) AND TDZ.Realizovano = 1 AND TDZ.RadaDokladu IN (500)),0) 
				+ ISNULL((SELECT SUM(Mzda) + SUM(TPMZ.RezieS) FROM TabPrikazMzdyAZmetky TPMZ 
				JOIN TabPrikaz TP ON TPMZ.IDPrikaz = TP.ID 
				WHERE TPMZ.TypMzdy = 1 AND TP.IDZakazka = (SELECT ID FROM TabZakazka WHERE CisloZakazky LIKE @CisloZakazky)),0)),
            @ZiskProc =     (((ISNULL(SUM(TPZ.JCbezDaniKC), 0) - (ISNULL((SELECT SUM(TD.CastkaMD) FROM TabDenik AS TD 
				JOIN TabCisUctDef AS TCUD ON TD.UcetMD = TCUD.CisloUcet AND TD.IdObdobi = TCUD.IdObdobi 
				WHERE TD.UcetMD IN ('518018','518019','518025','518025','548001','548097','548097','563000','518007','501021','501013') 
				AND TD.CisloZakazky = @CisloZakazky),0) 
				+ ISNULL((SELECT SUM(TD.CastkaMD) FROM TabDenik AS TD 
				JOIN TabCisUctDef AS TCUD ON TD.UcetMD = TCUD.CisloUcet AND TD.IdObdobi = TCUD.IdObdobi 
				WHERE TD.UcetMD IN ('518012') AND TD.CisloZakazky = @CisloZakazky),0) 
				+ ISNULL((SELECT SUM(EcCelkemDokl) + SUM(ISNULL(SNCelkemDokl, 0)) FROM TabDokladyZbozi AS TDZ 
				WHERE TDZ.CisloZakazky = @CisloZakazky AND TDZ.DruhPohybuZbo IN (4) AND TDZ.Realizovano = 1 AND TDZ.RadaDokladu IN (500)),0) 
				+ ISNULL((SELECT SUM(Mzda) + SUM(TPMZ.RezieS) FROM TabPrikazMzdyAZmetky TPMZ 
				JOIN TabPrikaz TP ON TPMZ.IDPrikaz = TP.ID 
				WHERE TPMZ.TypMzdy = 1 AND TP.IDZakazka = (SELECT ID FROM TabZakazka WHERE CisloZakazky LIKE @CisloZakazky)),0))) / NULLIF(SUM(TPZ.JCbezDaniKC), 0)) * 100)
		FROM
			TabZakazka
			LEFT OUTER JOIN TabZakazka_EXT TZE ON TZE.ID = TabZakazka.ID
			LEFT OUTER JOIN TabPohybyZbozi TPZ ON TabZakazka.CisloZakazky = TPZ.CisloZakazky AND TPZ.DruhPohybuZbo = 9
		WHERE
			TZE._UkonceniVyrobySkutecnost IS NOT NULL AND TabZakazka.CisloZakazky = @CisloZakazky
			AND (SELECT COUNT(*) FROM TabPohybyZbozi WHERE CisloZakazky LIKE @CisloZakazky AND TabPohybyZbozi.DruhPohybuZbo = 9) = 1;

		-- Získání ID zakázky
        SELECT @IDZakazka = ID FROM TabZakazka WHERE CisloZakazky = @CisloZakazky;
		SELECT @JeEP = COUNT(*) FROM TabPohybyZbozi WHERE CisloZakazky LIKE @CisloZakazky AND TabPohybyZbozi.DruhPohybuZbo = 9;

		-- Kontrola, zda existuje pro danou zakázku expediční příkaz
		IF @JeEP = 1
		BEGIN
			-- Kontrola, zda záznam v TabZakazka_EXT existuje
			IF NOT EXISTS (SELECT 1 FROM TabZakazka_EXT WHERE ID = @IDZakazka)
			BEGIN
				-- Založení nového záznamu, pokud neexistuje
				INSERT INTO TabZakazka_EXT (ID, _ZiskCZK, _ZiskProc)
				VALUES (@IDZakazka, @ZiskCZK, @ZiskProc);
			END
			ELSE
			BEGIN
				-- Aktualizace TabZakazka_EXT s novými hodnotami
				UPDATE TabZakazka_EXT
				SET _ZiskCZK = @ZiskCZK, _ZiskProc = @ZiskProc
				WHERE ID = @IDZakazka;
			END
		END

        FETCH NEXT FROM ZakazkyCursor INTO @CisloZakazky;
    END

    CLOSE ZakazkyCursor;
    DEALLOCATE ZakazkyCursor;
END;
GO
