USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_KontrolaZmenyRegCis]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[EP_VA_KontrolaZmenyRegCis]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @StartTime DATETIME, @EndTime DATETIME, @DurationSeconds INT;
    DECLARE @IDDoklad INT, @ErrorMessage NVARCHAR(MAX), @ProcedureName NVARCHAR(100);

    SET @StartTime = GETDATE();

    -- 1️⃣ Přidání nových dokladů do kontrolní tabulky, pokud tam ještě nejsou
    INSERT INTO Tabx_DokladyProKontroluTransformaceVAA (IDDoklad)
    SELECT TPZ.IDDoklad
    FROM TabPohybyZbozi AS TPZ
    JOIN TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID
    WHERE TPZ.DruhPohybuZbo = 9 
      AND TDZ.RadaDokladu LIKE '60%' 
      AND TPZ.SkupZbo LIKE 'KV%' 
      AND TPZ.DatPorizeni_Y > 2023
      AND NOT EXISTS (
        SELECT 1 FROM Tabx_DokladyProKontroluTransformaceVAA WHERE IDDoklad = TPZ.IDDoklad
      );

    -- 2️⃣ Logování přidání nových dokladů do `Tabx_DokladyProKontroluTransformaceVAA`
    INSERT INTO dbo.Tabx_Log_Joby (JobName, ProcedureName, StartTime, EndTime, DurationSeconds, Status, ErrorMessage)
    SELECT 'EP_VA_KontrolaZmenyRegCis', 
           LEFT('INSERT INTO Tabx_DokladyProKontroluTransformaceVAA - IDDoklad: ' + CAST(IDDoklad AS NVARCHAR(20)), 100), 
           @StartTime, 
           NULL, -- EndTime zatím není relevantní
           NULL, -- DurationSeconds nepočítáme
           'OK', 
           NULL
    FROM Tabx_DokladyProKontroluTransformaceVAA
    WHERE NOT EXISTS (
        SELECT 1 FROM dbo.Tabx_Log_Joby
        WHERE ProcedureName = LEFT('INSERT INTO Tabx_DokladyProKontroluTransformaceVAA - IDDoklad: ' + CAST(IDDoklad AS NVARCHAR(20)), 100)
    );

    -- 3️⃣ Kontrola dokladů, které už podmínce nevyhovují
    DECLARE doklady_cursor CURSOR LOCAL FAST_FORWARD FOR
    SELECT IDDoklad
    FROM Tabx_DokladyProKontroluTransformaceVAA
    WHERE IDDoklad NOT IN (
        SELECT TPZ.IDDoklad
        FROM TabPohybyZbozi AS TPZ
        JOIN TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID
        WHERE TPZ.DruhPohybuZbo = 9 
          AND TDZ.RadaDokladu LIKE '60%' 
          AND TPZ.SkupZbo LIKE 'KV%' 
          AND TPZ.DatPorizeni_Y > 2023
    );

    OPEN doklady_cursor;
    FETCH NEXT FROM doklady_cursor INTO @IDDoklad;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            -- 4️⃣ Spuštění procedury pro vytvoření zakázky
            SET @StartTime = GETDATE();
            EXEC epx_INEKO_VytvorZakazkuZVyrCis @IDDoklad;
            SET @EndTime = GETDATE();
            SET @DurationSeconds = DATEDIFF(SECOND, @StartTime, @EndTime);

            SET @ProcedureName = LEFT('epx_INEKO_VytvorZakazkuZVyrCis - IDDoklad: ' + CAST(@IDDoklad AS NVARCHAR(20)), 100);

            -- 5️⃣ Logování úspěchu spuštění `epx_INEKO_VytvorZakazkuZVyrCis`
            INSERT INTO dbo.Tabx_Log_Joby (JobName, ProcedureName, StartTime, EndTime, DurationSeconds, Status, ErrorMessage)
            VALUES ('EP_VA_KontrolaZmenyRegCis', 
                    @ProcedureName, 
                    @StartTime, 
                    @EndTime, 
                    @DurationSeconds, 
                    'OK', 
                    NULL);

            -- 6️⃣ Pokud procedura proběhne úspěšně, smažeme doklad z kontrolní tabulky
            DELETE FROM Tabx_DokladyProKontroluTransformaceVAA WHERE IDDoklad = @IDDoklad;
        END TRY
        BEGIN CATCH
            -- 7️⃣ Logování chyby
            SET @EndTime = GETDATE();
            SET @DurationSeconds = DATEDIFF(SECOND, @StartTime, @EndTime);
            SET @ErrorMessage = ERROR_MESSAGE();

            SET @ProcedureName = LEFT('epx_INEKO_VytvorZakazkuZVyrCis - IDDoklad: ' + CAST(@IDDoklad AS NVARCHAR(20)), 100);

            INSERT INTO dbo.Tabx_Log_Joby (JobName, ProcedureName, StartTime, EndTime, DurationSeconds, Status, ErrorMessage)
            VALUES ('EP_VA_KontrolaZmenyRegCis', 
                    @ProcedureName, 
                    @StartTime, 
                    @EndTime, 
                    @DurationSeconds, 
                    'ERROR', 
                    @ErrorMessage);
        END CATCH

        FETCH NEXT FROM doklady_cursor INTO @IDDoklad;
    END

    CLOSE doklady_cursor;
    DEALLOCATE doklady_cursor;
END;
GO
