USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_NastavDatumKonecZakazkyPlanPodleEP]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_NastavDatumKonecZakazkyPlanPodleEP]
AS
BEGIN
	UPDATE TZ
	SET TZ.DatumKonecPlan = EP.Termin
	FROM dbo.TabZakazka AS TZ
	JOIN (
		SELECT COALESCE(TPZ.CisloZakazky, TDZ.CisloZakazky) AS Zakazka, 
			   COALESCE(TPZ.PotvrzDatDod, TPZ.PozadDatDod, TDZ.TerminDodavkyDat) AS Termin
		FROM TabPohybyZbozi AS TPZ
		JOIN dbo.TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID AND TDZ.DruhPohybuZbo = 9 AND COALESCE(TPZ.PotvrzDatDod, TPZ.PozadDatDod, TDZ.TerminDodavkyDat) IS NOT NULL
	) AS EP ON TZ.CisloZakazky = EP.Zakazka
	WHERE TZ.DatumKonecPlan IS NULL
	AND EP.Termin IS NOT NULL
END

GO
