USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_PropalyPoMesicich]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_VA_PropalyPoMesicich]
AS
BEGIN
    ;WITH NoveHodnoty AS (
        SELECT
            TP.DatumUzavreni_Y AS Rok,
            TP.DatumUzavreni_M AS Mesic,
            LEFT(TKZ.Nazev1, CHARINDEX(',', TKZ.Nazev1, LEN(TKZ.Nazev1) - LEN(REPLACE(TKZ.Nazev1, ',', ''))) - 1) AS Plech,
            SUM(TPK.Mnoz_pozadovane) AS Pozadovano,
            SUM(TPK.Mnoz_skut_realizovane) AS Realizovano,
            ((SUM(TPK.Mnoz_skut_realizovane) / NULLIF(SUM(TPK.Mnoz_pozadovane), 0)) - 1) * 100 AS PropalProcento
        FROM
            TabPrKVazby AS TPK
            JOIN TabPrikaz AS TP ON TPK.IDPrikaz = TP.ID AND TP.DatumUzavreni IS NOT NULL
            JOIN TabKmenZbozi AS TKZ ON TPK.Nizsi = TKZ.ID AND TKZ.Nazev1 LIKE 'Plech_P%A%,%' AND TKZ.Nazev1 NOT LIKE '%zbytek%'
        GROUP BY
            TP.DatumUzavreni_Y,
            TP.DatumUzavreni_M,
            LEFT(TKZ.Nazev1, CHARINDEX(',', TKZ.Nazev1, LEN(TKZ.Nazev1) - LEN(REPLACE(TKZ.Nazev1, ',', ''))) - 1)
    )
    MERGE INTO Tabx_PropalyPoMesicich AS TPPM
    USING NoveHodnoty AS NH
    ON TPPM.Rok = NH.Rok AND TPPM.Mesic = NH.Mesic AND TPPM.Plech = NH.Plech
    WHEN MATCHED AND (TPPM.Pozadovano <> NH.Pozadovano OR TPPM.Realizovano <> NH.Realizovano) THEN
        UPDATE SET TPPM.Pozadovano = NH.Pozadovano, TPPM.Realizovano = NH.Realizovano, TPPM.PropalProcento = NH.PropalProcento
    WHEN NOT MATCHED THEN
        INSERT (Rok, Mesic, Plech, Pozadovano, Realizovano, PropalProcento)
        VALUES (NH.Rok, NH.Mesic, NH.Plech, NH.Pozadovano, NH.Realizovano, NH.PropalProcento);
END;
GO
