USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_ZmenaStatusuZakazkyServisu_AutomatDoklady]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[EP_VA_ZmenaStatusuZakazkyServisu_AutomatDoklady]
AS
;WITH CTE_DokladyIndexyStatusy AS
(
    SELECT 
        TZ.ID AS IDZakazky, 
        TPZ.ID AS IDPohybu, 
        TPZ.SkupZbo, 
        TZE._Status AS OldStatus, 
        TZ.CisloZakazky, 
        TZN.DatPorizeni_X AS Datum, 
        TPZ.DruhPohybuZbo, 
        TDZ.RadaDokladu,
        CASE TPZ.DruhPohybuZbo
            WHEN 9  THEN 0
            WHEN 6  THEN 1
            WHEN 0  THEN 2
            WHEN 4  THEN 3
            WHEN 2  THEN 4
            WHEN 13 THEN 5
            ELSE NULL
        END AS [Index]
    FROM TabPohybyZbozi AS TPZ
    JOIN TabDokladyZbozi AS TDZ ON TPZ.IDDoklad = TDZ.ID
    JOIN TabZakazka AS TZ ON TPZ.CisloZakazky = TZ.CisloZakazky
    JOIN Tabzakazka AS TZN ON TZN.CisloZakazky = TZ.NadrizenaZak
    JOIN TabZakazka_EXT AS TZE ON TZ.ID = TZE.ID
    WHERE
    (
         (TDZ.Realizovano = 1 AND TPZ.DruhPohybuZbo = 13 AND TDZ.RadaDokladu IN ('111','112','113'))
      OR (TDZ.Realizovano = 1 AND TPZ.DruhPohybuZbo = 0  AND TDZ.RadaDokladu IN ('400','410','430'))
      OR (TDZ.Realizovano = 1 AND TPZ.DruhPohybuZbo = 2  AND TDZ.RadaDokladu IN ('505','510','520'))
      OR (TDZ.Realizovano = 1 AND TPZ.DruhPohybuZbo = 4  AND TDZ.RadaDokladu IN ('530'))
      OR (TDZ.Realizovano = 1 AND TPZ.DruhPohybuZbo = 6  AND TDZ.RadaDokladu IN ('500','502','504','506'))
      OR (TPZ.DruhPohybuZbo = 9  AND TDZ.RadaDokladu IN ('650'))
    )
    AND LEN(TZ.CisloZakazky) = 11
	AND TZ.CisloZakazky LIKE 'X%'
	AND TZ.Ukonceno = 0
),
CTE_Max AS
(
    SELECT 
        *,
        ROW_NUMBER() OVER(PARTITION BY IDZakazky ORDER BY [Index] DESC) AS rn
    FROM CTE_DokladyIndexyStatusy
),
CTE_Result AS
(
    SELECT 
         IDZakazky,
         [Index],
         Datum,
         IDPohybu,
         SkupZbo,
         CisloZakazky,
         DruhPohybuZbo,
         RadaDokladu,
         OldStatus,
         CASE CONCAT(
                  [Index],
                  CASE [Index] 
                        WHEN 0 THEN CASE SkupZbo WHEN '900' THEN 100 ELSE NULL END 
                        WHEN 2 THEN RadaDokladu 
                        ELSE NULL 
                  END
             )
             WHEN '0100' THEN 7    -- Službové položky: převod na sklad servis
             WHEN '1'    THEN 3
             WHEN '2400' THEN 5    -- Příjemky v řadě 400 (částečně přijato)
             WHEN '2410' THEN 7    -- Příjemky v řadě 410 (na sklad servisu)
             WHEN '2430' THEN 7    -- Příjemky v řadě 430 (z výroby)
             WHEN '3'    THEN 7
             WHEN '4'    THEN 8    -- Částečně vydáno
             WHEN '5'    THEN 10   -- Částečně fakturováno
             ELSE 1
         END AS NewStatus
    FROM CTE_Max
    WHERE rn = 1
)
UPDATE TZE
SET _Status = r.NewStatus
FROM TabZakazka_EXT AS TZE
JOIN CTE_Result AS r ON TZE.ID = r.IDZakazky
WHERE r.NewStatus > r.OldStatus;

GO
