USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_ZahajeniProstoje]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------------------------------------------------------------------------------
-- Název:       EP_VA_ZahajeniProstoje
-- Popis:       
-- Autor:       Aleš Vintrlík
-- Datum:       2024-11-18
-- Verze:       1.0
--
-- Historie změn:
-- ------------------------------------------------------------------------------------------------------------------------------
-- Datum      | Verze | Autor         | Popis změny
-- ------------------------------------------------------------------------------------------------------------------------------
-- 2025-03-26 | 1.1   | Aleš Vintrlík | Přidána kontrola, zda daná operace stále nebyla zpracována, kvůli zabránění v duplicitách
---------------------------------------------------------------------------------------------------------------------------------
-- 2025-03-28 | 1.2   | Aleš Vintrlík | Protože se vyskytuje u několika uživatelů několik živých operací bereme pouze tu poslední
---------------------------------------------------------------------------------------------------------------------------------

CREATE     PROCEDURE [dbo].[EP_VA_ZahajeniProstoje]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Prostoj NVARCHAR(15) = '010'; -- Typ prostoje
    DECLARE @CasOd DATETIME = GETDATE();

    -- Vytvoření dočasné tabulky pro nezpracované operace
    CREATE TABLE #ZiveOperace (
         ID INT PRIMARY KEY,
         IDSkupiny INT,
         IDZam INT,
         DatumPor DATETIME,
         IDSmeny INT,
         IDPrikaz INT,
         Doklad INT,
         Alt NVARCHAR(10),
         IDStroje INT
    );

    INSERT INTO #ZiveOperace (ID, IDSkupiny, IDZam, DatumPor, IDSmeny, IDPrikaz, Doklad, Alt, IDStroje)

	SELECT ID, IDSkupiny, IDZam, DatumPor, IDSmeny, IDPrikaz, Doklad, Alt, IDStroje
		FROM (
			SELECT 
				ID, 
				IDSkupiny, 
				IDZam, 
				DatumPor, 
				IDSmeny, 
				IDPrikaz, 
				Doklad, 
				Alt, 
				IDStroje,
				ROW_NUMBER() OVER (PARTITION BY IDZam ORDER BY DatumPor DESC) AS rn
			FROM GTabSD_OO_Evidence
			WHERE Akce = 10 AND IDKolegy IS NULL
		) t
	WHERE t.rn = 1;

    DECLARE 
        @ID INT,
        @IDSkupiny INT,
        @IDZam INT,
        @DatumPor DATETIME,
        @IDSmeny INT,
        @IDPrikaz INT,
        @Doklad INT,
        @Alt NVARCHAR(10),
        @IDStroje INT;

    DECLARE cur_ZiveOperace CURSOR LOCAL FAST_FORWARD FOR --v1.1 (LOCAL FAST_FORWARD)
        SELECT ID, IDSkupiny, IDZam, DatumPor, IDSmeny, IDPrikaz, Doklad, Alt, IDStroje
        FROM #ZiveOperace;

    OPEN cur_ZiveOperace;

    FETCH NEXT FROM cur_ZiveOperace INTO @ID, @IDSkupiny, @IDZam, @DatumPor, @IDSmeny, @IDPrikaz, @Doklad, @Alt, @IDStroje;
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Kontrola, zda daná operace stále nebyla zpracována
        IF EXISTS (SELECT 1 FROM GTabSD_OO_Evidence WHERE ID = @ID AND IDKolegy IS NULL) -- v1.1
        BEGIN
            EXEC dbo.GEPSD_OO_ZahajeniProstoje 
                @IDZam = @IDZam, 
                @GLastIDAkce = @ID, 
                @Prostoj = @Prostoj, 
                @IDSmeny = @IDSmeny, 
                @CasOd = @CasOd,
                @IDSkupiny = @IDSkupiny OUTPUT;
        END;

        FETCH NEXT FROM cur_ZiveOperace INTO @ID, @IDSkupiny, @IDZam, @DatumPor, @IDSmeny, @IDPrikaz, @Doklad, @Alt, @IDStroje;
    END;

    CLOSE cur_ZiveOperace;
    DEALLOCATE cur_ZiveOperace;

    DROP TABLE #ZiveOperace;
END;
GO
