USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_AktualizujServisniZakazku]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------------------------------------------
-- Název:       EP_VA_AktualizujServisniZakazku
-- Popis:       Aktualizuje atributy zakázky (Prijemce, PrijemceMU, DatumKonecPlan) z EP
-- Autor:       Aleš Vintrlík
-- Datum:       2025-05-06 20:41:02
-- Verze:       1.0
--
-- Historie změn:
-- ------------------------------------------------------------------------------------------
-- Datum      | Verze | Autor         | Popis změny
-- ------------------------------------------------------------------------------------------
-- 2025-05-06 | 1.0   | Aleš Vintrlík | První verze
---------------------------------------------------------------------------------------------

CREATE   PROCEDURE [dbo].[EP_VA_AktualizujServisniZakazku]
AS
BEGIN
    SET NOCOUNT ON;
    
	BEGIN TRANSACTION;

    UPDATE TZ
    SET 
        TZ.Prijemce = CASE WHEN TZ.Prijemce IS NULL THEN TDZ.CisloOrg ELSE TZ.Prijemce END,
        TZ.PrijemceMU = CASE WHEN TZ.PrijemceMU IS NULL THEN TDZ.MistoUrceni ELSE TZ.PrijemceMU END,
        TZ.DatumKonecPlan = CASE WHEN TZ.DatumKonecPlan IS NULL THEN TDZ.Splatnost ELSE TZ.DatumKonecPlan END
    FROM TabZakazka AS TZ
    JOIN TabDokladyZbozi AS TDZ ON TDZ.CisloZakazky = TZ.CisloZakazky
    WHERE 
        TDZ.DruhPohybuZbo IN (9) 
        AND TZ.CisloZakazky LIKE 'X%'
        AND (TZ.Prijemce IS NULL OR TZ.PrijemceMU IS NULL OR TZ.DatumKonecPlan IS NULL);

    COMMIT;   
END;
GO
