USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP2_ZadaniPrikazuDoVyroby1]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     PROCEDURE [dbo].[EP2_ZadaniPrikazuDoVyroby1]
AS
BEGIN
    -- Zapnutí SET NOCOUNT ON zamezí vracení počtu ovlivněných řádků. Je to osvědčený postup pro uložené procedury.
    SET NOCOUNT ON;

    -- ==========================================================================================
    -- ČÁST 1: DEKLARACE PROMĚNNÝCH A NAČTENÍ VSTUPNÍCH PARAMETRŮ
    -- ==========================================================================================

    -- Deklarace všech potřebných proměnných z obou původních procedur.
    DECLARE @IDPrikaz INT;
    DECLARE @OnlyPredzpracovani BIT;
    DECLARE @ProcesAktualizace BIT;
    DECLARE @IDZakazka INT;
    DECLARE @CurrentStatus INT;
    DECLARE @BlokovanoProVyrobu BIT;
    DECLARE @PovolitVyrobu BIT;
    DECLARE @CisloZakazky NVARCHAR(30);
    DECLARE @ErrorMessage NVARCHAR(255);

    -- Načtení vstupních parametrů z dočasné tabulky.
    -- Předpokládá se, že v tabulce #TabParEP2_ZadaniPrikazuDoVyroby1 je vždy právě jeden záznam pro dané volání.
    SELECT
        @IDPrikaz = IDPrikaz,
        @OnlyPredzpracovani = OnlyPredzpracovani,
        @ProcesAktualizace = ProcesAktualizace
    FROM #TabParEP2_ZadaniPrikazuDoVyroby1;

    -- Kontrola, zda byl parametr @IDPrikaz úspěšně načten.
    IF @IDPrikaz IS NULL
    BEGIN
        RAISERROR(N'Nebylo možné načíst ID příkazu z dočasné tabulky #TabParEP2_ZadaniPrikazuDoVyroby1.', 16, 1);
        RETURN 1; -- Návratová hodnota 1 značí chybu.
    END

    -- ==========================================================================================
    -- ČÁST 2: NAČTENÍ DAT O ZAKÁZCE A ŘÍDÍCÍM PŘÍKAZU
    -- ==========================================================================================

    -- Zajistíme hodnoty pro změnu stavu příkazu.

    SELECT TOP 1
        @CisloZakazky = TZ.CisloZakazky,
        @BlokovanoProVyrobu = ISNULL(TZE._BlokovanoProVyrobu, 0),
        @PovolitVyrobu = ISNULL(TZE._PovolitVyrobu, 0)
    FROM dbo.TabPrikaz AS TP
    INNER JOIN dbo.TabZakazka AS TZ ON TP.IDZakazka = TZ.ID
    LEFT JOIN dbo.TabZakazka_EXT AS TZE ON TZ.ID = TZE.ID
    WHERE TP.ID = @IDPrikaz;

	-- Zajistíme hodnoty pro změnu stavu zakázky (tady nás zajímají pouze řídící přikazy).

	SELECT TOP 1
        @IDZakazka = TP.IDZakazka,
        @CurrentStatus = TZE._Status
    FROM dbo.TabPrikaz AS TP
    INNER JOIN dbo.TabZakazka AS TZ ON TP.IDZakazka = TZ.ID
    LEFT JOIN dbo.TabZakazka_EXT AS TZE ON TZ.ID = TZE.ID
    WHERE TP.ID = @IDPrikaz AND TP.IDPrikazRidici = @IDPrikaz;

    -- ==========================================================================================
    -- ČÁST 3: KONTROLA BLOKACE VÝROBY
    -- ==========================================================================================

    -- Pokud je zakázka blokovaná pro výrobu a současně nemá explicitní povolení,
    -- vyvoláme chybu a ukončíme proceduru.
    IF @BlokovanoProVyrobu = 1 AND @PovolitVyrobu = 0
    BEGIN
        -- Sestavení chybové zprávy a její vyvolání.
        SET @ErrorMessage = FORMATMESSAGE(N'Zakázka s číslem %s je blokovaná pro výrobu a její povolení k výrobě není aktivní. Změna stavu na předzpracováno nebo zadáno není povolena.', @CisloZakazky);
        RAISERROR(@ErrorMessage, 16, 1);
        RETURN 1; -- Návratová hodnota 1 značí chybu.
    END

    -- ==========================================================================================
    -- ČÁST 4: ZMĚNA STAVU ZAKÁZKY
    -- ==========================================================================================

    -- Pokud je aktuální stav zakázky '4', změníme ho na '5'.

    IF @CurrentStatus = 4
    BEGIN
        -- Volání externí procedury, která se stará o samotnou změnu stavu.
        -- Předpokládá se existence procedury EP_VA_ZmenaStatusuZakazky.
        EXEC dbo.EP_VA_ZmenaStatusuZakazky @NewStatus = 5, @ZakazkaID = @IDZakazka;
    END

    -- ==========================================================================================
    -- ČÁST 5: ÚSPĚŠNÉ DOKONČENÍ
    -- ==========================================================================================

    -- Pokud procedura došla až sem, všechny kontroly a operace proběhly úspěšně.
    RETURN 0; -- Návratová hodnota 0 značí úspěch.

END;
GO
