USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_DoplnVAADoCislaSmlouvyZakazky]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==============================================================================
-- Author:		Aleš Vintrlík
-- Create date: 15.10.2024
-- Description:	Doplní do čísla smlouvy u zakázky číslo VAA z položky expedičního 
--				příkazu, která má přiřazenu tuto zakázku
-- ==============================================================================

CREATE PROCEDURE [dbo].[EP_VA_DoplnVAADoCislaSmlouvyZakazky] 
AS
BEGIN
	;WITH CTE AS (
		SELECT 
			TZ.ID,
			TPZ.RegCis,
			ROW_NUMBER() OVER (PARTITION BY TZ.CisloZakazky ORDER BY TPZ.ID DESC) AS rn
		FROM TabZakazka TZ
		JOIN TabPohybyZbozi TPZ ON TZ.CisloZakazky = TPZ.CisloZakazky
		WHERE TPZ.DruhPohybuZbo = 9
			AND TZ.Rada = '100'
			AND (TZ.CisloSmlouvy IS NULL OR LEN(TZ.CisloSmlouvy) = 0)
			AND TPZ.RegCis LIKE 'VAA%'
	)
	UPDATE TZ
	SET TZ.CisloSmlouvy = CTE.RegCis
	FROM TabZakazka TZ
	JOIN CTE ON TZ.ID = CTE.ID
	WHERE CTE.rn = 1;
END
GO
