USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP2_ZadaniPrikazuDoVyroby]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EP2_ZadaniPrikazuDoVyroby] 
AS
/*
Aktivuje se při předzpracování, zadání a aktualizaci výrobního příkazu.
Vsuvka je vložena na konec celého procesu, kdy jsou všechny návazné údaje již napočteny.
Vyvoláním chyby se akce vrátí zpět.
Předzpracování a zadání neběží ve skutečné transakci - transakce se simuluje. 
Aktualizace již je zapouzdřena v transakci.
*/
DECLARE @ID INT, @IDPrikaz INT, @RetVal INT = 0, @OnlyPredzpracovani BIT, @ProcesAktualizace BIT, @RetStav INT = 0, @Rada NVARCHAR(10), @ProcZtrat NUMERIC(19,6) = 0, @Ret INT, @KusyZad NUMERIC(19,6), @Vyssi INT

-- načtení parametrů
SELECT @IDPrikaz = IDPrikaz, @OnlyPredzpracovani = OnlyPredzpracovani, @ProcesAktualizace = ProcesAktualizace 
  FROM #TabParEP2_ZadaniPrikazuDoVyroby

-- jen pokud vyráběný dílec (TPV) výrobního příkazu neobsahuje blokovanou položku - kmenovou kartu
IF NOT EXISTS (SELECT * FROM TabKmenZbozi WHERE ID IN (SELECT nizsi FROM TabKvazby WHERE vyssi = (SELECT IDTabKmen FROM TabPrikaz WHERE ID = @IDPrikaz) AND Blokovano = 1))
BEGIN

  -- rozkopíruje dokumenty
  INSERT INTO TabDokumVazba (IdentVazby, IDTab, IDDok)
  SELECT 21, tp.ID, tdv.IdDok
    FROM TabPrikaz tp
    LEFT JOIN TabDokumVazba tdv ON tdv.IdentVazby = 8 AND tdv.IdTab = tp.IDTabKmen
    WHERE tdv.IdDok IS NOT NULL
      AND tp.ID = @IDPrikaz
      -- AND tp.ID IN (SELECT ID FROM TabPrikaz)
	  AND NOT EXISTS (SELECT ID FROM TabDokumVazba WHERE IdentVazby = 21 AND IDTab = tp.ID AND IdDok = tdv.IdDok)

  -- EXEC @RetVal = dbo.HcvInEkoKanbanGenVydejDoVyroby @IDPrikaz = @IDPrikaz, @RadaDokladu = '500' -- upraveno 14.2.20223 Tomáš Hutyra - Kanbanové položky se nemají automaticky vydávat

  -- 17.6.2025 - navýšení % ztrát --------------------------------------------------------------------------------------
  IF @OnlyPredzpracovani = 0
  BEGIN
    SELECT @ProcZtrat = ISNULL(trpe._HcvInEkoProcZtrat,0)
	  FROM TabRadyPrikazu trp
	  LEFT JOIN TabRadyPrikazu_EXT trpe ON trpe.ID = trp.ID
	  LEFT JOIN TabPrikaz tp ON tp.Rada = trp.Rada
	  WHERE tp.ID = @IDPrikaz

	IF @ProcZtrat > 0
	BEGIN
      DECLARE c CURSOR LOCAL FAST_FORWARD FOR
        SELECT tprkv.ID, tprkv.vyssi, tp.kusy_zad 
          FROM TabPrKVazby tprkv 
	      LEFT JOIN TabPrikaz tp ON tp.ID = tprkv.IDPrikaz
	      LEFT JOIN TabKmenZbozi tkz ON tkz.ID = tprkv.nizsi
          WHERE tp.ID = @IDPrikaz 
	        AND tkz.SkupZbo = 'M02'
	        AND NOT LOWER(tkz.Nazev1) LIKE '%plech%'
      OPEN c
      FETCH NEXT FROM c INTO @ID, @Vyssi, @KusyZad
      WHILE @@fetch_status = 0
      BEGIN
        UPDATE TabPrKVazby 
          SET mnoz_zad = @KusyZad * (mnozstvi * (1.0 + (@ProcZtrat/100))), 
	          ProcZtrat = @ProcZtrat, 
		      mnozstviSeZtratou = mnozstvi * (1.0 + (@ProcZtrat/100)), 
		      DatZmeny = GETDATE()
	      WHERE ID = @ID  
       /* EXEC @Ret = hp_PrepocetSkladuPrKVazby_Prikaz 
          @IDPrikaz = @IDPrikaz, 
	      @JenProDilec = @Vyssi,
	      @JenProDoklad = 1 */
        FETCH NEXT FROM c INTO @ID, @Vyssi, @KusyZad
      END  
      CLOSE c
      DEALLOCATE c
    END
  END

END ELSE BEGIN
  SET @RetVal = 1
  RAISERROR('Vyráběný dílec obsahuje vazbu na blokovanou kartu. Výrobní příkaz nebude zadán do výroby.',16,1)
END

RETURN @RetVal
/*
RAISERROR(N'Error XY', 16, 1) --vrátí chybové hlášení
RETURN 1 --pokud byl příkaz původně předzpracován a provádí se zadání do výroby, tak po chybě zůstane předzpracován
RETURN 2 --pokud byl příkaz původně předzpracován a provádí se zadání do výroby, tak po chybě bude jen pořízen
*/
GO
