USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[ep_OZRealVydPrevGen01]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ep_OZRealVydPrevGen01] @IDSrc INT, @IDDst INT, @Typ TINYINT
AS
/*
dbo.ep_OZRealVydPrevGen01 (Volá se po vygenerování návazného dokladu oběhu zboží. POZOR! Neběží v transakci.)
Parametry:	@IDSrc INT – ID zdrojového dokladu převodu
			@IDDst INT – ID cílového dokladu převodu
			@Typ TINYINT – typ generování návazného dokladu
Parametr @Typ má buď neznámou (NULL) hodnotu nebo nabývá následujících hodnot dle typu generování:
1 = vydejka prevodka - prijemka
2 = generovani faktury s dotahovanim splatnosti a lhuty uhrady
3 = generovani vydejky z EP - skladove mnozstvi
4 = generovani vydejky z EP - skladove mnozstvi k dispozici
5 = generovani vydejky z EP - skladove mnozstvi minus nerealizovane vydejky
6 = generovani vydejky z EP - skladove mnozstvi k dispozici minus ner. vydejky
7 = generovani vydejky z EP - mnozstvi z dokladu bez ohledu na cokoli
8 = generovani vydejky z EP - skladove mnozstvi plus nerealizovane prijemky
9 = generovani vydejky z EP - skladove mnozstvi k dispozici plus nerealizovane prijemky
10 = generovani vydejky z EP - skladove mnozstvi po prijmu a vydeji
11 = generovani vydejky z EP - skladove mnozstvi k dispo po prijmu a vydeji
*/

DECLARE @DruhPohybu INT, @RadaDokladu NVARCHAR(3), @Sklad NVARCHAR(30), @UcetniKod INT

IF @Typ = 1 
  AND EXISTS(SELECT * FROM TabDokladyZbozi WHERE ID = @IDSrc AND DruhPohybuZbo IN (2,4))
  AND EXISTS(SELECT * FROM TabDokladyZbozi WHERE ID = @IDDst AND DruhPohybuZbo IN (0))
BEGIN

  SELECT @DruhPohybu = DruhPohybuZbo, @RadaDokladu = RadaDokladu, @Sklad = IDSklad 
    FROM TabDokladyZbozi
    WHERE ID = @IDDst

  SET @UcetniKod = ISNULL((
    SELECT UcetniKod 
      FROM HcvInEkoDefDokUcto 
      WHERE DruhPohybu = @DruhPohybu
        AND RadaDokladu = @RadaDokladu
        AND Sklad = @Sklad),-1)  

  IF @UcetniKod <> -1
    UPDATE TabDokladyZbozi
    SET UKod = @UcetniKod
    WHERE ID = @IDDst

END

GO
