USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_NastavRucneKooperaciNaDilci]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Název:       EP_VA_NastavRucneKooperaciNaDilci
-- Popis:       Popis procedury
-- Autor:       Aleš Vintrlík
-- Datum:       2025-09-16 12:36:29
-- Verze:       1.0
--
-- Historie změn:
-- ------------------------------------------------------------------------------------------
-- Datum      | Verze | Autor         | Popis změny
-- ------------------------------------------------------------------------------------------
-- 2025-09-16 | 1.0   | Aleš Vintrlík | První verze
---------------------------------------------------------------------------------------------
-- 2025-10-01 | 1.1   | Aleš Vintrlík | Zrušení příznaku VyraditZGenerPodrizPrikazu
---------------------------------------------------------------------------------------------

CREATE   PROCEDURE [dbo].[EP_VA_NastavRucneKooperaciNaDilci]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. Kontrola existence dílce
    IF NOT EXISTS (SELECT 1 FROM TabKmenZbozi WHERE ID = @ID)
    BEGIN
        RAISERROR ('Chyba: Dílec s ID %d v tabulce TabKmenZbozi neexistuje.', 16, 1, @ID);
        RETURN -1;
    END

    -- 2. Použijeme MERGE pro "přepnutí" (Toggle) v TabKmenZbozi_EXT
    MERGE INTO TabKmenZbozi_EXT AS T
    USING (
        -- Zdroj dat je náš parametr
        SELECT @ID AS ID
    ) AS S
    ON (T.ID = S.ID)

    -- 3. KDYŽ ZÁZNAM V 'tkze' EXISTUJE -> Přepneme hodnotu
    WHEN MATCHED THEN
        UPDATE SET
            -- Logika přepínače: (1 -> NULL) a (vše ostatní -> 1)
            T._kooperace = CASE
                WHEN T._kooperace = 1 THEN NULL -- Pokud je 1, nastav NULL (OFF)
                ELSE 1                        -- Jinak (je NULL nebo 0), nastav 1 (ON)
            END

    -- 5. KDYŽ ZÁZNAM V 'tkze' CHYBÍ -> Založíme ho s hodnotou 1 (ON)
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (ID, _kooperace)
        VALUES (S.ID, 1); -- Chybějící záznam = OFF, takže přepneme na ON
        
END;
GO
