USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_ZmenaStatusuZakazky_KonstrOut]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[EP_VA_ZmenaStatusuZakazky_KonstrOut]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IDZakazka INT;

    -- Definice kurzoru
    DECLARE ZakazkaCursor CURSOR FAST_FORWARD FOR

	SELECT
		TZ.ID
	FROM TabZakazka AS TZ
	JOIN TabZakazka_EXT AS TZE
		ON TZ.ID = TZE.ID
	WHERE ISNULL(TZE._DokumentaceVyrobaSk, 0) != 0
	AND TZ.Rada = '100'
	AND TZE._Status = 3
	AND TZE._StatusTPV = 2;

    -- Otevření kurzoru
    OPEN ZakazkaCursor;

    -- Načtení prvního záznamu
    FETCH NEXT FROM ZakazkaCursor INTO @IDZakazka;

    -- Smyčka přes všechny záznamy
    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Zavolání další procedury pro změnu stavu
        EXEC dbo.EP_VA_ZmenaStatusuZakazky @NewStatus = 4, @ZakazkaID = @IDZakazka;

        -- Načtení dalšího záznamu
        FETCH NEXT FROM ZakazkaCursor INTO @IDZakazka;
    END

    -- Uzavření a uvolnění kurzoru
    CLOSE ZakazkaCursor;
    DEALLOCATE ZakazkaCursor;
END;
GO
