USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_SouhrnnyJobOstatni]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE       PROCEDURE [dbo].[EP_VA_SouhrnnyJobOstatni]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @StartTime DATETIME, @EndTime DATETIME, @DurationSeconds INT, @ProcedureName NVARCHAR(100);
    DECLARE @ErrorMessage NVARCHAR(MAX);

    -- Seznam procedur v přesném časovém pořadí
    DECLARE @Procedures TABLE (ProcedureOrder INT, ProcedureName NVARCHAR(100));
    
    INSERT INTO @Procedures (ProcedureOrder, ProcedureName)
    VALUES
        -- 🔴 23:30 - Noční drobné updaty
        (1, 'EP_VA_VyrobekDilecDoTabDokumenty'),
        (2, 'EP_VA_ZalozAlternativu'),
        (3, 'EP_VA_UpdateDokladyZboziSplnenaVO'),
		(4, 'EP_VA_DoplnPosledniTerminVyrobyNeboNakupu'),
		(5, 'EP_VA_NactiBilanciNakupuMaterialu'),

        -- 🟢 04:20 - Obecné nápočty
        (6, 'EP_VA_PropalyPoMesicich'),
		(7, 'EP_VA_NastavitSplnenoEP');

    -- Projdeme všechny procedury v definovaném pořadí a spustíme je postupně
    DECLARE cur CURSOR FOR 
    SELECT ProcedureName FROM @Procedures ORDER BY ProcedureOrder;
    
    OPEN cur;
    
    FETCH NEXT FROM cur INTO @ProcedureName;
    
    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            SET @StartTime = GETDATE();

            -- Dynamické spuštění procedury
            EXEC ('EXEC ' + @ProcedureName);
            
            SET @EndTime = GETDATE();
            SET @DurationSeconds = DATEDIFF(SECOND, @StartTime, @EndTime);
            
            -- Uložení úspěšného záznamu do logovací tabulky
            INSERT INTO dbo.Tabx_Log_Joby (JobName, ProcedureName, StartTime, EndTime, DurationSeconds, Status, ErrorMessage)
            VALUES ('EP_VA_SouhrnnyJobOstatni', @ProcedureName, @StartTime, @EndTime, @DurationSeconds, 'OK', NULL);

        END TRY
        BEGIN CATCH
            -- Pokud dojde k chybě, zapíšeme ji do logu
            SET @EndTime = GETDATE();
            SET @DurationSeconds = DATEDIFF(SECOND, @StartTime, @EndTime);
            SET @ErrorMessage = ERROR_MESSAGE();

            INSERT INTO dbo.Tabx_Log_Joby (JobName, ProcedureName, StartTime, EndTime, DurationSeconds, Status, ErrorMessage)
            VALUES ('EP_VA_SouhrnnyJobOstatni', @ProcedureName, @StartTime, @EndTime, @DurationSeconds, 'ERROR', @ErrorMessage);
        END CATCH

        -- Pokračování na další proceduru
        FETCH NEXT FROM cur INTO @ProcedureName;
    END

    CLOSE cur;
    DEALLOCATE cur;
END;
GO
