USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_PrirazeniZarizeniKZakazce]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- EXEC EP_VA_VytvorPoznamkyProKontroluNabidky

CREATE   PROCEDURE [dbo].[EP_VA_PrirazeniZarizeniKZakazce]
AS
BEGIN
    -- Prochází všechny záznamy, které vyhovují kritériím a zároveň nemají v TabZakazka_EXT vyplněno _Zarizeni
    DECLARE @ID INT, @BaleniTXT NVARCHAR(MAX)
    DECLARE CURSOR_ZAKAZKA CURSOR FOR
        SELECT TP.IDZakazka, LTRIM(RTRIM(TKZ.BaleniTXT))
        FROM TabPrikaz AS TP
        INNER JOIN TabKmenZbozi AS TKZ ON TP.IDTabKmen = TKZ.ID
        LEFT JOIN TabZakazka_EXT AS TZ_EXT ON TP.IDZakazka = TZ_EXT.ID
        WHERE TKZ.SkupZbo LIKE 'V%'
        AND LTRIM(RTRIM(TKZ.BaleniTXT)) <> ''
        AND (TZ_EXT._Zarizeni IS NULL OR TZ_EXT._Zarizeni = '')

    OPEN CURSOR_ZAKAZKA
    FETCH NEXT FROM CURSOR_ZAKAZKA INTO @ID, @BaleniTXT

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Kontrola, zda záznam v TabZakazka_EXT existuje
        IF NOT EXISTS (SELECT 1 FROM TabZakazka_EXT WHERE ID = @ID)
        BEGIN
            -- Založení nového záznamu, pokud neexistuje
            INSERT INTO TabZakazka_EXT (ID, _Zarizeni)
            VALUES (@ID, @BaleniTXT)
        END
        ELSE
        BEGIN
            -- Aktualizace existujícího záznamu, pokud _Zarizeni je prázdné nebo NULL
            UPDATE TabZakazka_EXT
            SET _Zarizeni = @BaleniTXT
            WHERE ID = @ID
            AND (_Zarizeni IS NULL OR _Zarizeni = '')
        END

        FETCH NEXT FROM CURSOR_ZAKAZKA INTO @ID, @BaleniTXT
    END

    CLOSE CURSOR_ZAKAZKA
    DEALLOCATE CURSOR_ZAKAZKA
END
GO
