USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_AktualizovatDatumKonecRealZakazky]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_VA_AktualizovatDatumKonecRealZakazky]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TZ
    SET TZ.DatumKonecReal = MaxPZ.DatumVydeje
    FROM TabZakazka AS TZ
    INNER JOIN (
        SELECT TPZ.CisloZakazky, MAX(TPZ.SkutecneDatReal_X) AS DatumVydeje
        FROM TabPohybyZbozi AS TPZ
        WHERE TPZ.DruhPohybuZbo = 2 AND TPZ.SkutecneDatReal_X IS NOT NULL
        GROUP BY TPZ.CisloZakazky
    ) AS MaxPZ ON TZ.CisloZakazky = MaxPZ.CisloZakazky AND TZ.Rada LIKE N'100' AND TZ.NadrizenaZak IS NOT NULL AND TZ.DatumKonecReal IS NULL
END
GO
