USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_ZapisPoznamkuFAT]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     PROCEDURE [dbo].[EP_VA_ZapisPoznamkuFAT]    
    @Poznamka NVARCHAR(MAX) = NULL, -- Nastavení defaultní hodnoty na NULL
    @FAT INT,
    @FAT_NOK INT,
    @ZakazkaID INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Ověření rozsahu hodnot
    IF (@FAT < 0 OR @FAT > 100)
    BEGIN
        RAISERROR('Hodnota FAT musí být v rozsahu 0–100.', 16, 1);
        RETURN;
    END

    IF (@FAT_NOK < 0 OR @FAT_NOK > 100)
    BEGIN
        RAISERROR('Hodnota FAT_NOK musí být v rozsahu 0–100.', 16, 1);
        RETURN;
    END

    UPDATE TabZakazka_EXT
    SET _PoznamkaVyhodnoceni = @Poznamka, _BodyFAT = @FAT, _BodyFAT_NOK = @FAT_NOK
    WHERE ID = @ZakazkaID;
END
GO
