USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_EditorTuzemsko]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[EP_EditorTuzemsko]
  @ValidaceOK BIT,  -- 1 = tlačítko OK, 0 = tlačítko Storno
  @NovaVeta BIT,    -- 1 = validace nové věty, 0 = validace opravy
  @NovaVetaExt BIT  -- NULL = externí sloupce nejsou, 1 = nová věta externích informací, 0 = oprava
AS

IF @ValidaceOK = 1 -- AND @NovaVeta = 1
BEGIN

	-- Deklarace proměnných
	DECLARE @Tuzemsko NVARCHAR(15) 
	DECLARE @Kontinent NVARCHAR(20) 
	DECLARE @Zeme NVARCHAR(50)
	DECLARE @ID INT

	SET @Kontinent = 'Evropa'
	SET @Zeme = 'Česká republika'

	SET @ID = (SELECT ID FROM #TempDefForm_Validace)
	SET @Tuzemsko = (SELECT _VA_PoptavkyTuzemskoZahranici FROM #TempDefForm_Validace_EXT)
	
	UPDATE TabKontaktJednani_EXT
	SET _VA_PoptavkyKontinent = @Kontinent, _VA_PoptavkyZeme = @Zeme 
	WHERE ID = @ID AND @Tuzemsko = 'Tuzemská'
END 
GO
