USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_KategorizaceZakaznikuTrend]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EP_VA_KategorizaceZakaznikuTrend]
AS

DROP TABLE IF EXISTS #TempZaznamyTrzeb;

DECLARE @currentDate DATE = GETDATE();
DECLARE @currentYear INT = YEAR(@currentDate);
DECLARE @currentMonth INT = MONTH(@currentDate);
DECLARE @currentFiscalYear INT;
DECLARE @previousFiscalYear INT;
DECLARE @rust INT = 55;
DECLARE @pokles INT = 16;
DECLARE @stagnace INT = 313;
DECLARE @new Int = 397;

-- Determine the current and previous fiscal year based on the current date
IF @currentMonth >= 4
BEGIN
    SET @currentFiscalYear = @currentYear;
    SET @previousFiscalYear = @currentYear - 1;
END
ELSE
BEGIN
    SET @currentFiscalYear = @currentYear - 1;
    SET @previousFiscalYear = @currentYear - 2;
END;

-- Define the names for the current and previous fiscal year columns
DECLARE @revenueCurrentColumn NVARCHAR(255) = 'Trzby_' + CAST(@currentFiscalYear AS NVARCHAR(4));
DECLARE @categoryCurrentColumn NVARCHAR(255) = 'Kat_' + CAST(@currentFiscalYear AS NVARCHAR(4));
DECLARE @revenuePreviousColumn NVARCHAR(255) = 'Trzby_' + CAST(@previousFiscalYear AS NVARCHAR(4));
DECLARE @categoryPreviousColumn NVARCHAR(255) = 'Kat_' + CAST(@previousFiscalYear AS NVARCHAR(4));

-- Check if the current fiscal year columns already exist
IF NOT EXISTS (
    SELECT 1
    FROM INFORMATION_SCHEMA.COLUMNS
    WHERE TABLE_NAME = 'Tabx_TrzbyZakazniku'
    AND (COLUMN_NAME = @revenueCurrentColumn OR COLUMN_NAME = @categoryCurrentColumn)
)
BEGIN
    -- Add the new columns for the current fiscal year if they do not exist
    DECLARE @addRevenueCurrentColumnSql NVARCHAR(MAX) = 'ALTER TABLE Tabx_TrzbyZakazniku ADD ' + @revenueCurrentColumn + ' DECIMAL(18, 2) NULL;';
    DECLARE @addCategoryCurrentColumnSql NVARCHAR(MAX) = 'ALTER TABLE Tabx_TrzbyZakazniku ADD ' + @categoryCurrentColumn + ' CHAR(1) NULL;';
    
    EXEC sp_executesql @addRevenueCurrentColumnSql;
    EXEC sp_executesql @addCategoryCurrentColumnSql;

    PRINT 'Columns ' + @revenueCurrentColumn + ' and ' + @categoryCurrentColumn + ' have been added.';
END
ELSE
BEGIN
    PRINT 'Columns for the fiscal year ' + CAST(@currentFiscalYear AS NVARCHAR(4)) + ' already exist.';
END;

-- Update data for the current fiscal year
WITH FiltrovaneFaktury AS (
    SELECT
        TCO.CisloOrg AS CisloFirmy,
        TCO.Firma,
        CASE
            WHEN MONTH(TDZ.DatPorizeni_X) >= 4 THEN YEAR(TDZ.DatPorizeni_X)
            ELSE YEAR(TDZ.DatPorizeni_X) - 1
        END AS FiskalniRok,
        SUM(TDZ.SumaKcBezDPHDruh) AS Trzby
    FROM
        TabDokladyZbozi AS TDZ
    JOIN
        TabCisOrg AS TCO ON TDZ.CisloOrg = TCO.CisloOrg
    WHERE
        TDZ.DruhPohybuZbo IN (13, 14)
        AND TDZ.RadaDokladu IN (111, 112, 113)
        AND TDZ.DatPorizeni_X BETWEEN DATEADD(YEAR, -1, CAST(CAST(@currentFiscalYear + 1 AS NVARCHAR(4)) + '-04-01' AS DATE))
        AND CAST(CAST(@currentFiscalYear + 1 AS NVARCHAR(4)) + '-03-31' AS DATE)
    GROUP BY
        TCO.CisloOrg,
        TCO.Firma,
        CASE
            WHEN MONTH(TDZ.DatPorizeni_X) >= 4 THEN YEAR(TDZ.DatPorizeni_X)
            ELSE YEAR(TDZ.DatPorizeni_X) - 1
        END
),
TrzbyZakazniku AS (
    SELECT
        FiltrovaneFaktury.CisloFirmy,
        FiltrovaneFaktury.Firma,
        FiskalniRok,
        SUM(FiltrovaneFaktury.Trzby) AS CelkoveTrzby,
        SUM(FiltrovaneFaktury.Trzby) / SUM(SUM(FiltrovaneFaktury.Trzby)) OVER (PARTITION BY FiskalniRok) AS ProcentoTrzeb
    FROM
        FiltrovaneFaktury
    GROUP BY
        FiltrovaneFaktury.CisloFirmy,
        FiltrovaneFaktury.Firma,
        FiskalniRok
),
KumulativniTrzby AS (
    SELECT
        CisloFirmy,
        Firma,
        FiskalniRok,
        CelkoveTrzby,
        ProcentoTrzeb,
        SUM(ProcentoTrzeb) OVER (PARTITION BY FiskalniRok ORDER BY CelkoveTrzby DESC) AS KumulativniProcentoTrzeb
    FROM
        TrzbyZakazniku
)
SELECT
    CisloFirmy,
    Firma,
    SUM(CASE WHEN FiskalniRok = @currentFiscalYear THEN CelkoveTrzby ELSE 0 END) AS Trzby_Current_FY,
    MAX(CASE WHEN FiskalniRok = @currentFiscalYear THEN 
        CASE
            WHEN KumulativniProcentoTrzeb <= 0.75 THEN 'A'
            WHEN KumulativniProcentoTrzeb <= 0.95 THEN 'B'
            ELSE 'C'
        END
        ELSE NULL END) AS Kat_Current_FY
INTO #TempZaznamyTrzeb
FROM
    KumulativniTrzby
GROUP BY
    CisloFirmy,
    Firma;

-- Update the table
DECLARE @update_sql NVARCHAR(MAX) = '
MERGE Tabx_TrzbyZakazniku AS target
USING #TempZaznamyTrzeb AS source
ON (target.CisloFirmy = source.CisloFirmy)
WHEN MATCHED THEN
    UPDATE SET
        Firma = source.Firma,
        ' + @revenueCurrentColumn + ' = source.Trzby_Current_FY,
        ' + @categoryCurrentColumn + ' = source.Kat_Current_FY
WHEN NOT MATCHED THEN
    INSERT (CisloFirmy, Firma, ' + @revenueCurrentColumn + ', ' + @categoryCurrentColumn + ')
    VALUES (source.CisloFirmy, source.Firma, source.Trzby_Current_FY, source.Kat_Current_FY);';

EXEC sp_executesql @update_sql;

-- Update the Trend column
DECLARE @trendUpdateSql NVARCHAR(MAX) = '
UPDATE Tabx_TrzbyZakazniku
SET Trend = 
    CASE
        WHEN ' + @categoryPreviousColumn + ' IS NULL THEN ' + CAST(@new AS NVARCHAR(10)) + '
        WHEN ' + @categoryCurrentColumn + ' = ''A'' AND ' + @categoryPreviousColumn + ' = ''B'' THEN ' + CAST(@rust AS NVARCHAR(10)) + '
        WHEN ' + @categoryCurrentColumn + ' = ''A'' AND ' + @categoryPreviousColumn + ' = ''C'' THEN ' + CAST(@rust AS NVARCHAR(10)) + '
        WHEN ' + @categoryCurrentColumn + ' = ''B'' AND ' + @categoryPreviousColumn + ' = ''C'' THEN ' + CAST(@rust AS NVARCHAR(10)) + '
        WHEN ' + @categoryCurrentColumn + ' = ' + @categoryPreviousColumn + ' THEN ' + CAST(@stagnace AS NVARCHAR(10)) + '
        ELSE ' + CAST(@pokles AS NVARCHAR(10)) + '
    END';

EXEC sp_executesql @trendUpdateSql;

GO
