USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_NastavitSplnenoEP]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----------------------------------------------------------------------------------------------
-- Název:       EP_VA_NastavitSplnenoEP
-- Popis:       Popis procedury
-- Autor:       Aleš Vintrlík
-- Datum:       2025-08-19 21:03:33
-- Verze:       1.0
--
-- Historie změn:
-- ------------------------------------------------------------------------------------------
-- Datum      | Verze | Autor         | Popis změny
-- ------------------------------------------------------------------------------------------
-- 2025-08-19 | 1.0   | Aleš Vintrlík | První verze
---------------------------------------------------------------------------------------------

CREATE       PROCEDURE [dbo].[EP_VA_NastavitSplnenoEP]
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TDZ
	SET TDZ.Splneno = 1
	FROM TabDokladyZbozi TDZ
	JOIN TabZakazka TZ ON TZ.CisloZakazky = TDZ.CisloZakazky
	JOIN TabZakazka_EXT TZE ON TZ.ID = TZE.ID
	WHERE TZ.CisloZakazky LIKE 'X%' 
	  AND TZE._StatusServisHlavni IN ('F','U') 
	  AND TDZ.DruhPohybuZbo = 9 
	  AND TDZ.Splneno = 0

END;
GO
