USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_UpdateDokladyZboziSplnenaVO]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE       PROCEDURE [dbo].[EP_VA_UpdateDokladyZboziSplnenaVO]
AS
BEGIN
    -- Tabulka dočasně ukládající výsledky dotazu
    CREATE TABLE #TempDoklady
    (
        IDDoklad INT,
        MaxDatPorizeni DATETIME,
        Zustatek DECIMAL(18, 2)
    )

    -- Vložení výsledků dotazu do dočasné tabulky
    INSERT INTO #TempDoklady (IDDoklad, MaxDatPorizeni, Zustatek)
    SELECT TPZ_OBJ.IDDoklad
          ,MAX(TPZ_PRIJ.DatPorizeni) AS MaxDatPorizeni
          ,SUM(TPZ_OBJ.Mnozstvi - TPZ_OBJ.MnOdebrane - TPZ_OBJ.MnozstviStorno) AS Zustatek
    FROM TabPohybyZbozi AS TPZ_OBJ
    JOIN dbo.TabPohybyZbozi AS TPZ_PRIJ ON TPZ_OBJ.ID = TPZ_PRIJ.IDOldPolozka AND TPZ_PRIJ.DruhPohybuZbo = 0
	JOIN TabDokladyZbozi AS TDZ ON TPZ_OBJ.IDDoklad = TDZ.ID AND ISNULL(TDZ.Splneno,0) = 0 AND TDZ.DatRealizace IS NULL AND StavRezervace = 'X'
    WHERE TPZ_OBJ.DruhPohybuZbo = 6
    GROUP BY TPZ_OBJ.IDDoklad

    -- Aktualizace TabDokladyZbozi na základě výsledků v dočasné tabulce
    UPDATE TDZ
    SET TDZ.Splneno = 1,
        TDZ.DatRealizace = TD.MaxDatPorizeni
    FROM TabDokladyZbozi AS TDZ
    INNER JOIN #TempDoklady TD ON TDZ.ID = TD.IDDoklad
    WHERE TD.Zustatek = 0
      AND TDZ.Splneno != 1
      AND TDZ.DatRealizace IS NULL

    -- Odstranění dočasné tabulky
    DROP TABLE #TempDoklady
END
GO
