USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_ZmenaStatusuZakazkyServisu_AutomatUzavreni]    Script Date: 08.01.2026 6:20:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[EP_VA_ZmenaStatusuZakazkyServisu_AutomatUzavreni]
AS

-- Aktualizace _Status na 13 (stav "uzavřeno")

UPDATE TZE
SET TZE._Status = 13
FROM TabZakazka_EXT AS TZE
JOIN TabZakazka AS TZ ON TZE.ID = TZ.ID
WHERE LEN(TZ.CisloZakazky) = 11
  AND TZ.NadrizenaZak IN (
      SELECT ParentGroup.NadrizenaZak
      FROM TabZakazka AS ParentGroup
      JOIN TabZakazka_EXT AS ParentGroupExt ON ParentGroup.ID = ParentGroupExt.ID
      WHERE LEN(ParentGroup.CisloZakazky) = 11
      GROUP BY ParentGroup.NadrizenaZak
      HAVING MIN(ParentGroupExt._Status) = 11
         AND MAX(ParentGroupExt._Status) = 11
 );

 -- Kompletní uzavření zakázek, včetně nadřízených

;WITH DokonceneZakazky AS (
SELECT Child.NadrizenaZak AS RodicZakazka
FROM TabZakazka AS Child
JOIN TabZakazka_EXT AS ChildExt ON Child.ID = ChildExt.ID
WHERE LEN(Child.CisloZakazky) = 11
GROUP BY Child.NadrizenaZak
HAVING MIN(ChildExt._Status) = 13
    AND MAX(ChildExt._Status) = 13
)
UPDATE TabZakazka
SET Ukonceno = 1
WHERE CisloZakazky IN (SELECT RodicZakazka FROM DokonceneZakazky)
   OR NadrizenaZak IN (SELECT RodicZakazka FROM DokonceneZakazky);

GO
