USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_EditorKopieKarty]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EP_EditorKopieKarty]
  @PrvniPruchod BIT
AS

-- Deklarace proměnných
DECLARE @ID INT, 
        @Skupina NVARCHAR(3), 
        @MaxRegCis NVARCHAR(30), 
        @NumberPart NVARCHAR(27), 
        @NextNumber INT, 
        @NewRegCis NVARCHAR(30)

-- Získání prvních tří znaků z RegCis pro dané ID
SELECT TOP 1 @Skupina = LEFT(TKZ.RegCis, 3) 
FROM dbo.TabKmenZbozi AS TKZ 
WHERE ID = @ID

-- Získání maximální hodnoty RegCis pro danou skupinu
SELECT @MaxRegCis = MAX(TKZ.RegCis) 
FROM dbo.TabKmenZbozi AS TKZ 
WHERE LEFT(TKZ.RegCis, 3) = @Skupina

-- Oddělení číselné části z MaxRegCis
SET @NumberPart = SUBSTRING(@MaxRegCis, LEN(@Skupina) + 1, LEN(@MaxRegCis) - LEN(@Skupina))

-- Zvýšení číselné části o 1
SET @NextNumber = CAST(@NumberPart AS INT) + 1

-- Složení zpět s původním prefixem
-- Používá se funkce RIGHT pro získání posledních n znaků,
-- kde n je délka číselné části
SET @NewRegCis = @Skupina + RIGHT(REPLICATE('0', LEN(@NumberPart)) + CAST(@NextNumber AS NVARCHAR(10)), LEN(@NumberPart))

SELECT @NewRegCis AS RegCis
GO
