USE [iNuvio001]
GO
/****** Object:  StoredProcedure [dbo].[EP_VA_AktualizaceVazebPredUzavrenimPrikazu]    Script Date: 08.01.2026 6:20:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[EP_VA_AktualizaceVazebPredUzavrenimPrikazu]
    @ID INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION

    BEGIN TRY
        -- Vytvoření dočasné tabulky pro uložení skutečných pohybů materiálů pro daný výrobní příkaz
        CREATE TABLE #ActualMovements (
            Nizsi INT,
            Mnozstvi DECIMAL(18,6),
            MatCena DECIMAL(18,6)
        );

        -- Načtení skutečných pohybů materiálů ze skladu pro daný výrobní příkaz
        INSERT INTO #ActualMovements (Nizsi, Mnozstvi, MatCena)
        SELECT
            TKZ.ID AS Nizsi,
            SUM(Pohyby.MnozstviReal) AS Mnozstvi,
            SUM(Pohyby.CCevidSN) AS MatCena
        FROM
            TabPohybyZbozi Pohyby
            JOIN TabStavSkladu AS TSS ON Pohyby.IDZboSklad = TSS.ID
            JOIN TabKmenZbozi AS TKZ ON TSS.IDKmenZbozi = TKZ.ID
        WHERE
            Pohyby.IDPrikaz = @ID
            AND Pohyby.DruhPohybuZbo = 4  -- Výdej materiálu
        GROUP BY
            TKZ.ID;

        -- Aktualizace TabPrKVazby podle skutečných pohybů
        UPDATE TPKV
        SET
            Mnoz_skut_realizovane = ISNULL(AM.Mnozstvi, 0),
            Mnoz_odv = ISNULL(AM.Mnozstvi, 0),
            Mat_real = ISNULL(AM.MatCena, 0),
            Mat_odv = ISNULL(AM.MatCena, 0)
        FROM
            TabPrKVazby TPKV
            LEFT JOIN #ActualMovements AM ON TPKV.nizsi = AM.Nizsi
        WHERE
            TPKV.Prednastaveno = 1 AND TPKV.IDPrikaz = @ID;

        -- Nastavení množství a nákladů na 0 pro materiály, které nebyly vydány
        UPDATE TabPrKVazby
        SET
            Mnoz_skut_realizovane = 0,
            Mnoz_odv = 0,
            Mat_real = 0,
            Mat_odv = 0
        WHERE
            IDPrikaz = @ID
			AND Prednastaveno = 1
            AND nizsi NOT IN (SELECT Nizsi FROM #ActualMovements);

        -- Kontrola, zda součty v TabPrKVazby odpovídají skutečným pohybům
        DECLARE @TotalMovementsMnozstvi DECIMAL(18,6);
        DECLARE @TotalMovementsCena DECIMAL(18,6);
        DECLARE @TotalTabPrKVazbyMnozstvi DECIMAL(18,6);
        DECLARE @TotalTabPrKVazbyCena DECIMAL(18,6);

        SELECT @TotalMovementsMnozstvi = SUM(Mnozstvi), @TotalMovementsCena = SUM(MatCena) FROM #ActualMovements;

        SELECT @TotalTabPrKVazbyMnozstvi = SUM(Mnoz_odv), @TotalTabPrKVazbyCena = SUM(Mat_odv)
        FROM TabPrKVazby WHERE IDPrikaz = @ID;

        IF @TotalMovementsMnozstvi <> @TotalTabPrKVazbyMnozstvi OR @TotalMovementsCena <> @TotalTabPrKVazbyCena
        BEGIN
            RAISERROR('Nesouhlasí součty množství nebo nákladů mezi pohyby a TabPrKVazby.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        COMMIT TRANSACTION

        PRINT 'Aktualizace odvedení materiálu byla úspěšně provedena.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
        SELECT @ErrMsg = ERROR_MESSAGE(), @ErrSeverity = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END
GO
